.config-name {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  border-bottom: 1px solid #e5e5e5;
  padding: .5rem 1rem;
  color: #666666;
  font-weight: bold;
}

.config-description {
  width: 100%;
  border: none;
  outline: none;
  height: 100px;
  resize: none;
}
