<h5><strong>Set variable by regex group</strong></h5>

<p class="text-muted">
    Set a variable to the value of the nth group in the mth match in the page source.
</p>
<hr>

<div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="vm.action.name" placeholder="The name of the variable" required>
</div>

<div class="form-group">
    <label>Regex</label>
    <input type="text" class="form-control" ng-model="vm.action.regex" placeholder="The regular expression" required>
</div>

<div class="form-group">
    <label>nth Match</label>
    <input type="number" min="1" class="form-control" ng-model="vm.action.nthMatch">
</div>

<div class="form-group">
    <label>mth Group</label>
    <input type="number" min="0" class="form-control" ng-model="vm.action.mthGroup">
</div>
