<div class="modal-header">
  <h4 class="modal-title">Edit the user</h4>
  <a (click)="modal.dismiss()" class="btn btn-icon float-right">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<div class="modal-body">

  <div *ngIf="error != null" class="alert alert-danger">
    <strong class="d-block">Could not update the user!</strong>
    <span>{{error}}</span>
  </div>

  <h5><strong>Email</strong></h5>
  <form (ngSubmit)="changeEmail()" [formGroup]="form">
    <div class="form-group">
      <input
        [class.is-invalid]="isInvalidFormControl(form.controls.email)"
        [formControl]="form.controls.email"
        class="form-control"
        name="mail"
        placeholder="Enter an email address"
        required
        type="email"
      />
      <div class="invalid-feedback">
        Please enter an email address.
      </div>
    </div>
    <button [disabled]="form.invalid" class="btn btn-primary btn-sm">Change email</button>
  </form>

  <hr>
  <h5><strong>Role</strong></h5>
  <div *ngIf="user.role === userRole.ADMIN">
    <p class="text-muted">
      <em>Note: if you take your own admin rights, you will be logged out automatically.</em>
    </p>
    <p>
      <button (click)="demoteUser()" class="btn btn-primary btn-sm">
        Remove admin rights
      </button>
    </p>
  </div>
  <div (click)="promoteUser()" *ngIf="user.role === userRole.REGISTERED">
    <button class="btn btn-primary btn-sm">
      Give admin rights
    </button>
  </div>

  <hr>
  <h5><strong>Account</strong></h5>
  <button (click)="deleteUser()" class="btn btn-danger btn-sm">
    Delete profile
  </button>

</div>

<div class="modal-footer">
  <button (click)="modal.dismiss()" class="btn btn-default btn-sm">Cancel</button>
</div>
