<h5><strong>Wait for script</strong></h5>

<p class="text-muted">
  Wait until until a script returns <em>true</em>.
</p>
<hr>

<div class="form-group">
  <label>JavaScript</label>

  <div [(ngModel)]="action.script"></div>
</div>

<div class="form-group">
  <label>Script timeout (seconds)</label>
  <input
    [(ngModel)]="action.timeout"
    class="form-control"
    min="0"
    placeholder="The maximum time to wait for a result"
    type="number"
  >
</div>

<div class="form-group">
  <label>Max. wait time (seconds)</label>
  <input
    [(ngModel)]="action.maxWaitTime"
    class="form-control"
    min="0"
    placeholder="The maximum time to wait for a change"
    type="number"
  >
</div>
