<div class="form-group">
    <label>URLs*</label>

    <div class="d-flex mb-1">
        <input class="form-control mr-1" style="width: 100px" type="text" placeholder="Name" ng-model="vm.url.name">
        <input class="form-control mr-1 w-100" type="text" placeholder="The URL of the application" ng-model="vm.url.url">
        <a ng-click="vm.addUrl()" class="btn btn-default btn-sm">
            <i class="fas fa-plus fa-fw"></i>
        </a>
    </div>

    <div class="list-group">
        <div class="list-group-item" ng-repeat="url in vm.project.urls">
            <div class="d-flex flex-row" ng-if="vm.urlUnderEditIndex !== $index">
                <div class="w-100">
                    <strong class="d-block" ng-if="url.name">{{url.name}}</strong>
                    <span class="d-block">{{url.url}}</span>
                    <span class="badge badge-info" ng-if="url.default">Default</span>
                    <span class="badge badge-default cursor-pointer" ng-if="!url.default" ng-click="vm.changeDefaultUrl($index)">Default</span>
                </div>
                <div>
                    <div class="btn-group btn-group-xs" uib-dropdown>
                        <button type="button" class="btn btn-default btn-icon no-caret" uib-dropdown-toggle>
                            <i class="fas fa-bars"></i>
                        </button>
                        <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu">
                            <a class="dropdown-item" href="" ng-click="vm.setUrlUnderEdit($index)">
                                <i class="fas fa-edit fa-fw"></i> Edit
                            </a>
                            <a class="dropdown-item" href="" ng-click="vm.removeUrl($index)">
                                <i class="fas fa-trash fa-fw"></i> Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-0" ng-if="vm.urlUnderEditIndex === $index">
                <div class="card-header">
                    <strong>Update URL</strong>
                </div>
                <div class="card-body">
                    <div class="form-group mb-0">
                        <div class="d-flex mb-1">
                            <input class="form-control mr-1" style="width: 100px" type="text" placeholder="Name" ng-model="vm.urlUnderEdit.name">
                            <input class="form-control w-100" type="url" placeholder="The URL of the application" ng-model="vm.urlUnderEdit.url">
                        </div>
                        <a href class="btn btn-sm btn-primary" ng-click="vm.updateUrl()">Update</a>
                        <a href class="btn btn-sm btn-default" ng-click="vm.cancelUpdate()">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
