<div class="card">
  <div class="card-body">
    <form (ngSubmit)="testAndAddCounterExample()" class="form form-condensed">
      <div class="text-muted">
        <em>Click on the labels of the hypothesis to create a counterexample.</em>
      </div>
      <div *ngIf="counterExample.length > 0">
        <br>
        <div class="list-group list-group-condensed mb-3">
          <div *ngFor="let io of counterExample; let i = index" class="list-group-item counterexample-list-item">
            <i (click)="removeInputOutputAt(i)" class="fas fa-fw fa-times float-right"></i>
            <span class="badge badge-primary">{{io.input}}</span>
            <span class="badge badge-default">{{io.output}}</span>
          </div>
        </div>
        <button class="btn btn-default btn-sm btn-block">Add counterexample</button>
      </div>
    </form>
    <div *ngIf="tmpCounterExamples.length > 0">
      <hr>
      <ul (dragulaModelChange)="tmpCounterExamples = $event" [dragulaModel]="tmpCounterExamples" class="list-group"
          dragula="CE">
        <li *ngFor="let ce of tmpCounterExamples; let i = index" class="list-group-item">
                    <span (click)="removeCounterExampleAt(i)" class="float-right">
                        <i class="fas fa-trash"></i>
                    </span>
          <div class="clearfix" style="margin-right: 32px;">
                        <span *ngFor="let c of ce" class="badge badge-primary float-left" style="margin: 0 3px 3px 0">
                          {{c.input}}
                        </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
