<div class="card">
  <div class="card-body">
    <form (ngSubmit)="testAndAddCounterExample()" class="form form-condensed">
      <div class="text-muted">
        <em>Click on the labels of the hypothesis to create a counterexample.</em>
      </div>
      <div *ngIf="counterexample.length > 0">
        <br>
        <div class="list-group list-group-condensed mb-3">
          <div *ngFor="let io of counterexample; let i = index" class="list-group-item counterexample-list-item">
            <i (click)="removeInputOutputAt(i)" class="fas fa-fw fa-times float-right"></i>
            <span class="badge badge-primary mr-1">{{io.input}}</span>
            <span class="badge badge-secondary">{{io.output}}</span>
          </div>
        </div>
        <button class="btn btn-default btn-sm btn-block" [disabled]="loading">
          <span *ngIf="!loading">Add counterexample</span>
          <span *ngIf="loading"><i class="fas fa-fw fa-circle-notch fa-spin"></i> Testing counterexample</span>
        </button>
      </div>
    </form>
    <div *ngIf="tmpCounterexamples.length > 0">
      <hr>
      <ul
        class="list-group"
        dragula="CE"
        (dragulaModelChange)="tmpCounterexamples = $event"
        [dragulaModel]="tmpCounterexamples"
      >
        <li *ngFor="let ce of tmpCounterexamples; let i = index" class="list-group-item">
          <span (click)="removeCounterExampleAt(i)" class="float-right">
            <i class="fas fa-fw fa-trash"></i>
          </span>
          <div class="clearfix" style="margin-right: 32px;">
            <span *ngFor="let c of ce" class="badge badge-primary float-left" style="margin: 0 3px 3px 0">
              {{c.input}}
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
