<div class="modal-header">

    <a class="btn btn-default btn-icon pull-right" ng-click="close()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Occurrences</h3>
    <span class="text-muted">A list of all occurrences of used variables and counters</span>

</div>

<div class="modal-body">

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Group</th>
                <th>Symbol</th>
                <th>Action No.</th>
            </tr>
        </thead>
        <tbody>
            <tr class="active">
                <td colspan="4"><strong>Counters (#)</strong></td>
            </tr>

            <tr ng-repeat="counter in occurrences.counters">
                <td><em ng-bind="counter.name"></em></td>
                <td ng-bind="counter.group"></td>
                <td ng-bind="counter.symbol"></td>
                <td ng-bind="counter.action"></td>
            </tr>

            <tr class="active">
                <td colspan="4"><strong>Variables ($)</strong></td>
            </tr>

            <tr ng-repeat="variable in occurrences.variables">
                <td><em ng-bind="variable.name"></em></td>
                <td ng-bind="variable.group"></td>
                <td ng-bind="variable.symbol"></td>
                <td ng-bind="variable.action"></td>
            </tr>
        </tbody>
    </table>

</div>

<div class="modal-footer">
    <button class="btn btn-sm btn-primary" ng-click="close()">Ok</button>
</div>