@keyframes fadeIn {
  from {
    opacity: 0.0
  }
}

@keyframes fadeOut {
  from {
    opacity: 1.0
  }
  to {
    opacity: 0.0
  }
}

#load-screen {
  &.ng-leave {
    animation: fadeOut 1s both ease-in;
  }
}