/* default button from bs3. */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  &:focus, &.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }

  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }

  &:active, &.active {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
  }
}
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:active.focus,
.btn-default.active.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}


/* extra small button from bs3. */
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}


/* compat for bs3 collapse menus. */
.collapse[aria-expanded="true"] {
  display: block;
}


/* display dropdown menus. */
.dropdown.open .dropdown-menu {
  display: block;
}


/* like label-default from bs3. */
.badge-default {
  background-color: #777777;
  color: #fff;
}
.badge-default[href]:hover,
.badge-default[href]:focus {
  background-color: #5e5e5e;
  color: #fff;
}


/* display modal dialogs. */
.modal-content {
  margin-top: 70px;
}
.modal.fade.in {
  display: block;
  opacity: 1;
  background: rgba(0,0,0,.75);
}


/* get panel and accordion from bs3 back. */
.panel {
  @extend .card;
}
.panel-heading {
  @extend .card-header;
}
.panel-body {
  @extend .card-body;
}
uib-accordion {
  .panel-title {
    margin: 0;

    a {
      color: #212529;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


/* make active tabs look normal. */
.nav.nav-tabs .nav-item.active .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}


/* display tooltips. */
.tooltip.fade.in {
  display: block;
  opacity: 1;
}