$color-blue-dark: #244061;
$color-blue-darker: darken($color-blue-dark, 5);
$color-blue-darkest: darken($color-blue-dark, 8);

$color-green: #61ba61;

$sidebar-width: 240px;
$sidebar-width-collapsed: 54px;