$color-blue-dark: #29567c;
$color-blue-darker: darken($color-blue-dark, 3);
$color-blue-darkest: darken($color-blue-dark, 8);

$color-green: #61ba61;

$sidebar-width: 200px;
$sidebar-width-collapsed: 54px;