@import "variables";
@import "mixins";
@import "bootstrap";
@import "font-awesome";
@import "compat";

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: .75rem; // 12 px
}

body {
  overflow-x: hidden;
  background: #f2f2f2;
}

.resize {
  background: rgba(0,0,0,0);
  transition: background .4s;
  position: absolute;

  &:hover {
    background: rgba(0,0,0,.5);
  }

  &.resize-x {
    cursor: ew-resize;
    width: 4px;
    top: 0;
    bottom: 0;
  }

  &.resize-y {
    cursor: nw-resize;
    height: 4px;
    left: 0;
    right: 0;
  }
}

.text-black {
  color: #000;

  &:hover {
    color: #000;
  }
}

#toast-container {
  margin-bottom: 2rem;
}

.hr-sm {
  margin: 10px 0;
}

.table.table-hollow {
  background: none;

  tr td {
    border-top: 0;
    padding: 2px;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.text-wrap {
  word-wrap: break-word;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

.cursor-grabbing {
  &:hover {
    cursor: grabbing;
  }
}

.no-border-radius {
  border-radius: 0 !important;
}

.view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.view-body {
  padding: 15px 0;
  flex-grow: 1;
  overflow: auto;
}

#alex {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.no-caret {
  &::after {
    display: none;
  }
}

/* Bootstrap Extensions & Modifications
============================================================================== */

.form-condensed {
  .form-group {
    margin-bottom: 5px;
  }
}

.alert-condensed {
  padding: 5px 15px;
}

.btn {
  &.btn-icon {
    background: none;
    border: 0;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &:active {
      box-shadow: none;
      outline: none;
    }
  }
}

.list-group-condensed {
  .list-group-item {
    padding: 6px 15px;
  }
}

/* Other Stuff
============================================================================== */

.learn-start-wrapper {
  .panel-sidebar {
    display: none;
    max-width: 340px;
    padding: 7px 15px;
    background: #f7f7f7;
    overflow: auto;

    &.show {
      display: block;
    }
  }
}

.table-rest-call-action {
  display: block;
  max-height: 200px;
  overflow: auto;
  width: 100%;

  td, th {
    min-width: 120px;
  }
}
