<div class="modal-header">
  <a class="btn btn-default btn-icon pull-right" ng-click="vm.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
  <h3 class="modal-title">Create a new symbol</h3>
</div>

<form name="vm.form" ng-submit="vm.createSymbol()">

  <div class="modal-body">

    <symbol-form-groups symbol="vm.symbol" form="vm.form"></symbol-form-groups>

    <label>Group</label>
    <div class="panel panel-default">
      <div class="panel-body" style="padding: .5rem; max-height: 240px; overflow: auto">
        <simple-symbol-group-tree
            groups="vm.groups"
            selected-symbol-group="vm.selectedSymbolGroup"
            on-symbol-group-selected="vm.selectSymbolGroup(group)"
        >
        </simple-symbol-group-tree>
      </div>
    </div>

    <div class="alert alert-danger" ng-if="vm.errorMessage" ng-bind="vm.errorMessage"></div>

  </div>

  <div class="modal-footer">
    <a href="" ng-click="vm.createSymbolAndContinue()" class="btn btn-info btn-sm">Create and continue</a>
    <button class="btn btn-primary btn-sm" type="submit">Create</button>
    <a href="" class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</a>
  </div>

</form>
