<div class="modal-header">
    <a class="btn btn-default btn-icon pull-right" ng-click="vm.dismiss()">
        <i class="fa fa-close fa-fw"></i>
    </a>
    <h3 class="modal-title">Create a new symbol</h3>
</div>

<form name="vm.form" ng-submit="vm.createSymbol()">

    <div class="modal-body">

        <symbol-form-groups symbol="vm.symbol" form="vm.form"></symbol-form-groups>

        <div class="form-group">
            <label>Group</label>
            <select class="form-control" ng-model="vm.symbol.group">
                <option ng-repeat="group in vm.groups" ng-value="group.id">{{group.name}}</option>
            </select>
        </div>

        <div class="alert alert-danger" ng-if="vm.errorMessage" ng-bind="vm.errorMessage"></div>

    </div>

    <div class="modal-footer">
        <a href="" ng-click="vm.createSymbolAndContinue()" class="btn btn-info btn-sm">Create and continue</a>
        <button class="btn btn-primary btn-sm" type="submit">Create</button>
    </div>

</form>
