<div class="modal-header">

    <a class="btn btn-default btn-icon pull-right" ng-click="closeModal()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Create Action</h3>
    <span class="text-muted">Create a new action for a symbol</span>
</div>

<form ng-submit="createAction()">

    <div class="modal-body">

        <div class="form-group">
            <select class="form-control" ng-model="selectedActionType"
                    ng-options="k for (k,v) in actionTypes.web"></select>
        </div>

        <div class="form-group">
            <select class="form-control" ng-model="selectedActionType"
                    ng-options="k for (k,v) in actionTypes.rest"></select>
        </div>

        <div class="form-group">
            <select class="form-control" ng-model="selectedActionType"
                    ng-options="k for (k,v) in actionTypes.other"></select>
        </div>

    </div>

    <div class="modal-footer">

    </div>

</form>