<div class="modal-header">

    <a class="btn btn-default btn-icon pull-right" ng-click="closeModal()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Create Action</h3>
    <span class="text-muted">Create a new action for a symbol</span>
</div>

<form ng-submit="createAction()" id="action-create-form">

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-5">

                <accordion close-others="true" class="action-types-accordion">
                    <accordion-group heading="Web" is-open="true">
                        <a href ng-repeat="(k,v) in actionTypes.web" ng-click="selectNewActionType(v)"
                           ng-bind="::(k|formatEnumKey)"></a>
                    </accordion-group>
                    <accordion-group heading="Rest">
                        <a href ng-repeat="(k,v) in actionTypes.rest" ng-click="selectNewActionType(v)"
                           ng-bind="::(k|formatEnumKey)"></a>
                    </accordion-group>
                    <accordion-group heading="Other">
                        <a href ng-repeat="(k,v) in actionTypes.other" ng-click="selectNewActionType(v)"
                           ng-bind="::(k|formatEnumKey)"></a>
                    </accordion-group>
                </accordion>

            </div>
            <div class="col-xs-7">

                <div class="alert alert-info alert-condensed" ng-show="action === null">
                    Please select an action type
                </div>

                <!-- BEGIN: SEARCH_FOR_TEXT -->
                <div ng-if="action.type === actionTypes.web.SEARCH_FOR_TEXT">

                    <h4><strong>Search for Text</strong></h4>

                    <p class="text-muted">
                        Search on a page for a piece of text or a regular expression
                    </p>
                    <hr>

                    <div class="form-group">
                        <label class="control-label">Value</label>
                        <input class="form-control" type="text" placeholder="value" ng-model="action.value">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="action.regexp"> Use Regular Expression
                        </label>
                    </div>
                    <a class="btn btn-default btn-sm" web-element-picker-handle>
                        <i class="fa fa-magic fa-fw"></i>&nbsp; WebPicker
                    </a>

                </div>
                <!-- END: SEARCH_FOR_TEXT -->


                <!-- BEGIN: SEARCH_FOR_NODE -->
                <div ng-if="action.type === actionTypes.web.SEARCH_FOR_NODE">

                    <h4><strong>Search for Node</strong></h4>

                    <p class="text-muted">
                        Search an HTML element in the DOM tree of a page
                    </p>
                    <hr>

                    <div class="form-group">
                        <label class="control-label">CSS selector</label>
                        <input class="form-control" type="text" placeholder="CSS selector" ng-model="action.value">
                    </div>

                    <a class="btn btn-default btn-sm" web-element-picker-handle selector="action.value">
                        <i class="fa fa-magic fa-fw"></i>&nbsp; WebPicker
                    </a>

                </div>
                <!-- END: SEARCH_FOR_NODE -->


                <!-- BEGIN: CLEAR -->
                <div ng-if="action.type === actionTypes.web.CLEAR">

                    <h4><strong>Clear Node</strong></h4>

                    <p class="text-muted">
                        Clear an element (eg. input or contenteditable element)
                    </p>
                    <hr>

                    <div class="form-group">
                        <label class="control-label">CSS selector</label>
                        <input class="form-control" type="text" placeholder="CSS selector" ng-model="action.node">
                    </div>

                    <a class="btn btn-default btn-sm" web-element-picker-handle selector="action.node">
                        <i class="fa fa-magic fa-fw"></i>&nbsp; WebPicker
                    </a>

                </div>
                <!-- END: CLEAR -->


                <!-- BEGIN: CLICK -->
                <div ng-if="action.type === actionTypes.web.CLICK">

                    <h4><strong>Click</strong></h4>

                    <p class="text-muted">
                        Click on an element
                    </p>
                    <hr>

                    <div class="form-group">
                        <label class="control-label">CSS selector</label>
                        <input class="form-control" type="text" placeholder="CSS selector" ng-model="action.node">
                    </div>
                    <a class="btn btn-default btn-sm" web-element-picker-handle selector="action.node">
                        <i class="fa fa-magic fa-fw"></i>&nbsp; WebPicker
                    </a>

                </div>
                <!-- END: CLICK -->


                <!-- BEGIN: FILL -->
                <div ng-if="action.type === actionTypes.web.FILL">

                    <h4><strong>Fill Node</strong></h4>

                    <p class="text-muted">
                        Fill an element with content (eg. input or contenteditable element)
                    </p>
                    <hr>

                    <div class="form-group">
                        <label class="control-label">CSS selector</label>
                        <input class="form-control" type="text" placeholder="CSS selector" ng-model="action.node">
                    </div>
                    <div class="form-group">
                        <label class="control-label">The value to fill the element with</label>
                        <input class="form-control" type="text" placeholder="value" ng-model="action.value">
                    </div>
                    <a class="btn btn-default btn-sm" web-element-picker-handle selector="action.node">
                        <i class="fa fa-magic fa-fw"></i>&nbsp; WebPicker
                    </a>

                </div>
                <!-- END: FILL -->


                <!-- BEGIN: GO_TO -->
                <div ng-if="action.type === actionTypes.web.GO_TO">

                    <h4><strong>Go to URL</strong></h4>

                    <p class="text-muted">
                        Go to a url that is <strong>relative</strong> to your projects' base url
                    </p>
                    <hr>

                    <div class="form-group">
                        <label class="control-label">Url</label>
                        <input class="form-control" type="text" placeholder="url" ng-model="action.url">
                    </div>

                </div>
                <!-- END: GO_TO -->


                <!-- BEGIN: SUBMIT -->
                <div ng-if="action.type === actionTypes.web.SUBMIT">

                    <h4><strong>Submit Form</strong></h4>

                    <p class="text-muted">
                        Submit a form
                    </p>
                    <hr>

                    <div class="form-group">
                        <label class="control-label">CSS selector</label>
                        <input class="form-control" type="text" placeholder="CSS selector" ng-model="action.node">
                    </div>
                    <a class="btn btn-default btn-sm" web-element-picker-handle selector="action.node">
                        <i class="fa fa-magic fa-fw"></i>&nbsp; WebPicker
                    </a>

                </div>
                <!-- END: SUBMIT -->


                <!-- BEGIN: CALL_URL -->
                <div ng-if="action.type === actionTypes.rest.CALL_URL">

                    <h4><strong>Call Url</strong></h4>

                    <p class="text-muted">Make a HTTP request to an URL (relative to your projects base url)</p>
                    <hr>

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="url" ng-model="action.url">
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-options="m for m in ['DELETE', 'GET', 'POST', 'PUT']"
                                ng-model="action.method">
                            <option value="" disabled>Select a Method</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Data</label>

                        <div ng-model="action.data"
                             style="border-radius: 4px; width: 100%; height: 150px; border: 1px solid #ccc"
                             ui-ace="{useWrapMode : true, showGutter: true, theme:'eclipse', mode: 'json'}"></div>
                    </div>

                </div>
                <!-- END: CALL_URL -->


                <!-- BEGIN: CHECK_ATTRIBUTE_EXISTS -->
                <div ng-if="action.type === actionTypes.rest.CHECK_ATTRIBUTE_EXISTS">

                    <h4><strong>Check Attribute Exists</strong></h4>

                    <p class="text-muted">Check if a JSON attribute exists in the response body</p>
                    <hr>

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="json attribute, e.g. myobj.attr[1].obj"
                               ng-model="action.attribute">
                    </div>

                </div>
                <!-- END: CHECK_ATTRIBUTE_EXISTS -->


                <!-- BEGIN: CHECK_ATTRIBUTE_TYPE -->
                <div ng-if="action.type === actionTypes.rest.CHECK_ATTRIBUTE_TYPE">

                    <h4><strong>Check Attribute Type</strong></h4>

                    <p class="text-muted">Check if a JSON attribute in the response body has a specific type</p>
                    <hr>

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="json attribute, e.g. myobj.attr[1].obj"
                               ng-model="action.attribute">
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="action.jsonType"
                                ng-options="t as t for t in ['ARRAY', 'BOOLEAN', 'INTEGER', 'OBJECT', 'NULL', 'STRING']">
                            <option value="" disabled>Choose a JavaScript type</option>
                        </select>
                    </div>

                </div>
                <!-- END: CHECK_ATTRIBUTE_TYPE -->


                <!-- BEGIN: CHECK_ATTRIBUTE_VALUE -->
                <div ng-if="action.type === actionTypes.rest.CHECK_ATTRIBUTE_VALUE">

                    <h4><strong>Check Attribute Value</strong></h4>

                    <p class="text-muted">Check a JSON attribute of the response body to be a specific value</p>
                    <hr>

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="json attribute, e.g. myobj.attr[1].obj"
                               ng-model="action.attribute">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="the attribute value"
                               ng-model="action.value">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="action.regexp"> is regular expression
                        </label>
                    </div>

                </div>
                <!-- END: CHECK_ATTRIBUTE_VALUE -->


                <!-- BEGIN: CHECK_HEADER_FIELD -->
                <div ng-if="action.type === actionTypes.rest.CHECK_HEADER_FIELD">

                    <h4><strong>Check Header Field</strong></h4>

                    <p class="text-muted">Check a HTTP response header field to have a specific value</p>
                    <hr>

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="http header field, e.g. Content-Type"
                               ng-model="action.key">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="http header field value, e.g. application/json" ng-model="action.value">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="action.regexp">is regular expression
                        </label>
                    </div>

                </div>
                <!-- END: CHECK_HEADER_FIELD -->


                <!-- BEGIN: CHECK_HTTP_BODY_TEXT -->
                <div ng-if="action.type === actionTypes.rest.CHECK_HTTP_BODY_TEXT">

                    <h4><strong>Check HTTP Body Text</strong></h4>

                    <p class="text-muted">Search for a string or a regular express in the response body of a request</p>
                    <hr>

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="value to search for"
                               ng-model="action.value">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="action.regexp">
                            is regular expression
                        </label>
                    </div>

                </div>
                <!-- END: CHECK_HTTP_BODY_TEXT -->


                <!-- BEGIN: CHECK_STATUS -->
                <div ng-if="action.type === actionTypes.rest.CHECK_STATUS">

                    <h4><strong>Check Status</strong></h4>

                    <p class="text-muted">Check the HTTP response to have a specific status</p>
                    <hr>

                    <label>HTTP Status</label>

                    <div class="form-group">
                        <input class="form-control" type="number" placeholder="e.g. 200, 404 ..."
                               ng-model="action.status">
                    </div>

                </div>
                <!-- END: CHECK_STATUS -->


                <!-- BEGIN: WAIT -->
                <div ng-if="action.type === actionTypes.other.WAIT">
                    <h4><strong>Wait</strong></h4>

                    <p class="text-muted">
                        Wait for a specified amount of time in ms.
                    </p>
                    <hr>

                    <label>Duration</label>

                    <div class="form-group">
                        <input type="number" class="form-control" min="0" ng-model="action.duration" placeholder="0">
                    </div>
                </div>
                <!-- END: WAIT -->


                <!-- BEGIN: DECLARE_COUNTER -->
                <div ng-if="action.type === actionTypes.other.DECLARE_COUNTER">
                    <h4><strong>Declare Counter</strong></h4>

                    <p class="text-muted">
                        Declare a counter variable that can be used in other actions
                    </p>
                    <hr>
                    <label>Name</label>

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="action.name"
                               placeholder="The name of the counter">
                    </div>
                </div>
                <!-- END: DECLARE_COUNTER -->


                <!-- BEGIN: DECLARE_VARIABLE -->
                <div ng-if="action.type === actionTypes.other.DECLARE_VARIABLE">
                    <h4><strong>Declare Variable</strong></h4>

                    <p class="text-muted">
                        Declare a variable that can be used in other actions
                    </p>
                    <hr>
                    <label>Name</label>

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="action.name"
                               placeholder="The name of the variable">
                    </div>
                </div>
                <!-- END: DECLARE_VARIABLE -->


                <!-- BEGIN: INCREMENT_COUNTER -->
                <div ng-if="action.type === actionTypes.other.INCREMENT_COUNTER">
                    <h4><strong>Increment Counter</strong></h4>

                    <p class="text-muted">
                        Increment an <strong>already declared</strong> counter variable
                    </p>
                    <hr>
                    <label>Name</label>

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="action.name"
                               placeholder="The name of the counter">
                    </div>
                </div>
                <!-- END: INCREMENT_COUNTER -->


                <!-- BEGIN: SET_COUNTER -->
                <div ng-if="action.type === actionTypes.other.SET_COUNTER">
                    <h4><strong>Set Counter</strong></h4>

                    <p class="text-muted">
                        Set the value of an <strong>already declared</strong> counter variable
                    </p>
                    <hr>
                    <label>Name</label>

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="action.name"
                               placeholder="The name of the counter">
                    </div>
                    <label>Value</label>

                    <div class="form-group">
                        <input type="number" class="form-control" ng-model="action.value" placeholder="0">
                    </div>
                </div>
                <!-- END: SET_COUNTER -->


                <!-- BEGIN: SET_VARIABLE -->
                <div ng-if="action.type === actionTypes.other.SET_VARIABLE">
                    <h4><strong>Set Variable</strong></h4>

                    <p class="text-muted">
                        Set the value of an <strong>already declared</strong> variable
                    </p>
                    <hr>
                    <label>Name</label>

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="action.name"
                               placeholder="The name of the variable">
                    </div>
                    <label>Value</label>

                    <div class="form-group">
                        <input class="form-control" ng-model="action.value" placeholder="The value of the variable">
                    </div>
                </div>
                <!-- END: SET_VARIABLE -->


                <!-- BEGIN: SET_VARIABLE_BY_JSON_ATTRIBUTE -->
                <div ng-if="action.type === actionTypes.other.SET_VARIABLE_BY_JSON_ATTRIBUTE">
                    <h4><strong>Set Variable By JSON Attribute</strong></h4>

                    <p class="text-muted">
                        Set the value of an <strong>already declared</strong> variable to the content of a JSON
                        attribute
                    </p>
                    <hr>
                    <label>Name</label>

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="action.name"
                               placeholder="The name of the variable">
                    </div>
                    <label>Attribute</label>

                    <div class="form-group">
                        <input class="form-control" ng-model="action.value" placeholder="The JSON attribute">
                    </div>
                </div>
                <!-- END: SET_VARIABLE_BY_JSON_ATTRIBUTE -->


                <!-- BEGIN: SET_VARIABLE_BY_NODE -->
                <div ng-if="action.type === actionTypes.other.SET_VARIABLE_BY_NODE">
                    <h4><strong>Set Variable By Node Value</strong></h4>

                    <p class="text-muted">
                        Set the value of an <strong>already declared</strong> variable to the content of a HTML element
                    </p>
                    <hr>
                    <label>Name</label>

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="action.name"
                               placeholder="The name of the variable">
                    </div>
                    <label>XPath</label>

                    <div class="form-group">
                        <input class="form-control" ng-model="action.value" placeholder="The CSS3 XPath to the element">
                    </div>
                </div>
                <!-- END: SET_VARIABLE_BY_JSON_ATTRIBUTE -->


                <div ng-if="action !== null">
                    <hr>
                    <p>
                        <a href ng-click="advancedOptions = !advancedOptions"><i class="fa fa-gear fa-fw"></i> Advanced Options</a>
                    </p>
                    <div collapse="!advancedOptions">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="action.negated"> Negate
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="action.ignoreFailure"> Ignore Failure
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit">Create</button>
    </div>

</form>