<h4><strong>Check Node Attribute</strong></h4>

<p class="text-muted">
    Checks the value of a nodes attribute value.
</p>
<hr>

<div class="form-group">
    <label class="control-label">Element</label>
    <input class="form-control" type="text" placeholder="CSS selector" ng-model="vm.action.node" required minlength="1">
</div>

<div class="form-group">
    <a class="btn btn-default btn-sm" html-element-picker-handle model="vm.action.node">
        <i class="fa fa-magic fa-fw"></i>&nbsp; Element Picker
    </a>
</div>

<div class="form-group">
    <label class="control-label">Attribute</label>
    <input class="form-control" type="text" placeholder="Attribute" ng-model="vm.action.attribute" required
           minlength="1">
</div>

<div class="form-group">
    <label class="control-label">Value</label>
    <input class="form-control" type="text" placeholder="Value" ng-model="vm.action.value" required minlength="1">
</div>

<div class="form-group">
    <label class="control-label">Value check method</label>
    <select class="form-control" ng-model="vm.action.checkMethod" required>
        <option ng-repeat="method in vm.checkMethods" value="{{method}}">{{method}}</option>
    </select>
</div>