<div class="modal-header">
  <h4 class="modal-title">Move the symbols into another group</h4>
  <a class="btn btn-default btn-icon float-right" ng-click="vm.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<div class="modal-body">

  <div class="alert alert-danger" ng-if="vm.errorMessage != null">
    {{vm.errorMessage}}
  </div>

  <div class="alert alert-info alert-condensed">
    <span ng-bind="vm.symbols.length"></span> symbols selected
  </div>

  <label>Select a group</label>

  <div class="card">
    <div class="card-body p-2" style="max-height: 240px; overflow: auto">
      <simple-symbol-group-tree
          groups="vm.groups"
          selected-symbol-group="vm.selectedGroup"
          on-symbol-group-selected="vm.selectGroup(group)"
      >
      </simple-symbol-group-tree>
    </div>
  </div>

</div>

<div class="modal-footer">
  <button class="btn btn-sm btn-primary" ng-click="vm.moveSymbols()">Move</button>
  <button class="btn btn-sm btn-default" ng-click="vm.dismiss()">Cancel</button>
</div>

