<div id="web-element-picker-wrapper"></div>

<div id="web-element-picker">

    <nav class="navbar navbar-default" role="navigation">

        <div class="url-bar">
            <form class="navbar-form" ng-submit="loadUrl()">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon" tooltip-placement="right" tooltip="{{project.baseUrl}}">..</div>
                        <input type="text" class="form-control" ng-model="url" placeholder="URL">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Load</button>
                    </span>
                    </div>
                </div>
            </form>
        </div>

        <div class="selection-bar">
            <div class="btn-group">
                <button class="selection-bar-toggle-btn btn btn-default navbar-btn" ng-click="toggleSelection()">
                    <i class="fa" ng-class="isSelectable ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
                </button>
                <button class="selection-bar-selector btn btn-default navbar-btn disabled" ng-show="selector !== null"
                        ng-bind="selector"></button>
                <button class="selection-bar-selector btn btn-default navbar-btn disabled" ng-show="selector === null">
                    Enable Selection
                </button>
            </div>
        </div>

        <div class="button-bar">
            <button class="btn btn-success navbar-btn" ng-show="selector !== null && isSelectable === false"
                    ng-click="ok()">
                <i class="fa fa-check"></i>
            </button>
            <button class="btn btn-default navbar-btn" ng-click="close()">
                <i class="fa fa-close"></i>
            </button>
        </div>

    </nav>

    <div class="iframe-wrapper">
        <iframe fit-parent-dimensions bind-resize="true"></iframe>
    </div>

</div>
