<div class="page-browser">
    <div class=" btn-group btn-group-xs">
        <button class="btn btn-default" ng-click="firstStep()">
            <i class="fa fa-angle-double-left fa-fw"></i>
        </button>
        <button class="btn btn-default" ng-click="previousStep()">
            <i class="fa fa-angle-left fa-fw"></i>
        </button>
        <button class="btn btn-default disabled">
            <span ng-bind="index + 1"></span>/<span ng-bind="length"></span>
        </button>
        <button class="btn btn-default" ng-click="nextStep()">
            <i class="fa fa-angle-right fa-fw"></i>
        </button>
        <button class="btn btn-default" ng-click="lastStep()">
            <i class="fa fa-angle-double-right fa-fw"></i>
        </button>
    </div>
</div>