<div class="form-group">
    <label class="control-label">EQ Oracle</label><br>
    <select class="form-control" ng-model="selectedEqOracle" ng-change="setEqOracle()"
            ng-options="(v|formatEqOracle) for (k,v) in eqOracles">
        <option value="" disabled>select a method</option>
    </select>
</div>

<hr class="separator-small">

<div class="form-horizontal form-condensed" ng-if="learnConfiguration.eqOracle.type == eqOracles.RANDOM">

    <div class="form-group">
        <div class="col-sm-7">
            <input class="form-control" ng-model="learnConfiguration.eqOracle.minLength" type="number">
        </div>
        <label class="col-sm-5 text-left control-label">min length</label>
    </div>
    <div class="form-group">
        <div class="col-sm-7">
            <input class="form-control" ng-model="learnConfiguration.eqOracle.maxLength" type="number">
        </div>
        <label class="col-sm-5 text-left control-label">max length</label>
    </div>
    <div class="form-group">
        <div class="col-sm-7">
            <input class="form-control" ng-model="learnConfiguration.eqOracle.maxNoOfTests" type="number">
        </div>
        <label class="col-sm-5 control-label">random words</label>
    </div>

    <hr class="separator-small">
</div>
<div class="form-horizontal form-condensed" ng-if="learnConfiguration.eqOracle.type == eqOracles.COMPLETE">

    <div class="form-group">
        <div class="col-sm-7">
            <input class="form-control" ng-model="learnConfiguration.eqOracle.minDepth" type="number">
        </div>
        <label class="col-sm-5 control-label">min depth</label>
    </div>
    <div class="form-group">
        <div class="col-sm-7">
            <input class="form-control" ng-model="learnConfiguration.eqOracle.maxDepth" type="number">
        </div>
        <label class="col-sm-5 control-label">max depth</label>
    </div>

    <hr class="separator-small">
</div>

<div class="form-group">
    <label class="control-label">Steps to Learn (0 := never stop)</label>
    <input ng-model="learnConfiguration.maxAmountOfStepsToLearn" class="form-control" type="text" placeholder="0">
</div>