<form class="form form-condensed">

    <div class="form-group">
        <label class="control-label">EQ Oracle</label><br>
        <select class="form-control" ng-model="selectedEqOracle" ng-change="setEqOracle()"
                ng-options="(v|formatEqOracle) for (k,v) in eqOracles">
            <option value="" disabled>select a method</option>
        </select>
    </div>

    <div class="form-group">
        <div ng-if="learnConfiguration.eqOracle.type == eqOracles.RANDOM">
            <p>
                <input class="form-control" ng-model="learnConfiguration.eqOracle.minLength" type="number"
                       style="display: inline; width: auto"> min length
            </p>

            <p>
                <input class="form-control" ng-model="learnConfiguration.eqOracle.maxLength" type="number"
                       style="display: inline; width: auto"> max length
            </p>

            <p>
                <input class="form-control" ng-model="learnConfiguration.eqOracle.maxNoOfTests" type="number"
                       style="display: inline; width: auto"> no of random words
            </p>
        </div>

        <div ng-if="learnConfiguration.eqOracle.type == eqOracles.COMPLETE">
            <p>
                <input class="form-control" ng-model="learnConfiguration.eqOracle.minDepth" type="number"
                       style="display: inline; width: auto"> min depth
            </p>

            <p>
                <input class="form-control" ng-model="learnConfiguration.eqOracle.maxDepth" type="number"
                       style="display: inline; width: auto"> max depth
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Steps to Learn (0 := never stop)</label>
        <input ng-model="learnConfiguration.maxAmountOfStepsToLearn" class="form-control" type="text" placeholder="0">
    </div>

</form>