<div class="symbol-list-item" ng-class="{'selectable': isSelectable}">

    <checkbox selection-model-ignore model="symbol" class="pull-left" ng-if="isSelectable"></checkbox>

    <div class="symbol-list-item-content">
        <div class="pull-right" ng-transclude></div>

        <h4 class="symbol-title" ng-bind="symbol.name"></h4>

        [<span ng-bind="symbol.abbreviation"></span>]<br>

        <a ui-sref="symbolsActions({symbolId:symbol.id})" ng-if="symbol.id && !symbol.hidden">
            <span ng-bind="symbol.countEnabledActions()"></span> Actions &nbsp;<i class="fa fa-edit"></i>
        </a>

        <span class="text-muted" ng-if="!symbol.id || symbol.hidden">
            <span ng-bind="symbol.countEnabledActions()"></span> Actions
        </span>

        <a href="" ng-click="collapsed = !collapsed" selection-model-ignore>
            <i class="fa fa-fw" ng-class="collapsed ? 'fa-chevron-down': 'fa-chevron-right'"></i>
        </a>

        <div uib-collapse="!collapsed">
            <div class="panel panel-default" style="margin-top: 5px;">
                <div class="panel-heading clearfix">
                    <button class="btn btn-xs btn-icon pull-right" ng-click="collapsed = !collapsed">
                        <i class="fa fa-close"></i>
                    </button>
                    <a class="btn btn-xs btn-default" ui-sref="symbolsActions({symbolId:symbol.id})"
                       ng-if="symbol.id">
                        Edit Actions
                    </a>
                </div>
                <ul class="list-group list-group-condensed">
                    <li class="list-group-item" ng-repeat="action in symbol.actions" ng-if="!action.disabled">

                        <span class="label label-info pull-right" ng-if="action.negated">
                            Negate
                        </span>

                        <span class="label label-danger pull-right" ng-if="action.ignoreFailure">
                            Ignore Failure
                        </span>

                        <span ng-bind="action.toString()"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>