<h3>Password</h3>
<form ng-submit="changePassword()">
    <div class="form-group">
        <label>Old password</label>
        <input class="form-control" type="password" ng-model="oldPassword" placeholder="Enter your old password">
    </div>
    <div class="form-group">
        <label>New password</label>
        <input class="form-control" type="password" ng-model="newPassword" placeholder="Enter your new password">
    </div>
    <button class="btn btn-primary btn-sm">Change password</button>
</form>
<hr>

<h3>Email</h3>
<form ng-submit="changeEmail()">
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="text" ng-model="email" placeholder="Enter an email address">
    </div>
    <button class="btn btn-primary btn-sm">Change Email</button>
</form>
<hr>

<div class="text-right">
    <button class="btn btn-sm btn-default" ng-click="deleteUser()">
        <i class="fa fa-fw fa-trash-o"></i> Delete Profile
    </button>
</div>