<div class="modal-header">
    <a class="btn btn-default btn-icon pull-right" ng-click="vm.dismiss()">
        <i class="fa fa-close fa-fw"></i>
    </a>
    <h3 class="modal-title">Add parameter</h3>
</div>

<form ng-submit="vm.addParameter()" name="vm.form">
    <div class="modal-body">
        <div class="alert alert-danger" ng-if="vm.errorMessage != null">
            {{vm.errorMessage}}
        </div>

        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" required ng-model="vm.parameter.name" name="name">

            <div class="help-block" ng-messages="vm.form.name.$error" ng-if="vm.form.name.$touched">
                <div class="alert alert-danger alert-condensed" ng-message="required">
                    The name is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Type</label>
            <select class="form-control" ng-model="vm.parameter.parameterType" required name="type">
                <option disabled>Select a type</option>
                <option ng-repeat="type in vm.types" value="{{type}}">{{type | formatParameterType}}</option>
            </select>

            <div class="help-block" ng-messages="vm.form.name.$error" ng-if="vm.form.name.$touched">
                <div class="alert alert-danger alert-condensed" ng-message="required">
                    The type is required.
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit">Add</button>
        <a href="#" class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</a>
    </div>
</form>
