<div
    class="symbol-group-header d-flex flex-row align-items-center"
    ng-class="{'collapse': vm.collapse}"
>
    <div>
        <i
            class="far fa-fw cursor-pointer"
            ng-class="{'fa-minus-square': !vm.collapse, 'fa-plus-square': vm.collapse}"
            ng-click="vm.collapse = !vm.collapse"
        >
        </i>
    </div>
    <div style="padding-left: .75rem">
        <selectable-checkbox-multiple [items]="vm.group.symbols" [selectable]="vm.selectedSymbols"></selectable-checkbox-multiple>
    </div>
    <div class="w-100 pl-3 py-0">
        <span class="symbol-group-name">{{vm.group.name}}</span>
    </div>
    <div ng-if="vm.group.symbols.length === 0 && vm.group.groups.length === 0" style="margin-right: .75rem">
        <span class="badge badge-default">Empty</span>
    </div>
    <div ng-transclude>
    </div>
</div>
