<div class="view">
  <action-bar>
    <div class="d-flex flex-row align-items-center">
      <selectable-checkbox-multiple [selectable]="selectedTests"></selectable-checkbox-multiple>
      <div class="w-100 ml-3">
        <div class="btn-group btn-group-sm mr-2" ngbDropdown>
          <button class="btn btn-primary" ngbDropdownToggle>
            Create
          </button>
          <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu role="menu">
            <button (click)="createTestSuite()" ngbDropdownItem>
              Test suite
            </button>
            <button (click)="createTestCase()" ngbDropdownItem>
              Test case
            </button>
          </div>
        </div>

        <div class="btn-group btn-group-sm mr-2">
          <button
            (click)="moveSelected()"
            [disabled]="!selectedTests.isAnySelected()"
            class="btn btn-default"
          >
            Move
          </button>
          <button
            (click)="deleteSelected()"
            [disabled]="!selectedTests.isAnySelected()"
            class="btn btn-default"
          >
            Delete
          </button>
        </div>

        <div class="btn-group btn-group-sm mr-2">
          <button (click)="importTests()" class="btn btn-default" ngbTooltip="Import" placement="bottom">
            <i class="fas fa-fw fa-upload"></i>
          </button>
          <button
            [disabled]="!selectedTests.isAnySelected()"
            (click)="exportSelectedTests()"
            class="btn btn-default"
            ngbTooltip="Export"
            placement="bottom"
          >
            <i class="fas fa-fw fa-download"></i>
          </button>
        </div>

        <div class="btn-group btn-group-sm" ngbDropdown>
          <button
            (click)="copyTests()"
            [disabled]="!selectedTests.isAnySelected()"
            class="btn btn-default"
            ngbTooltip="Copy"
            placement="bottom"
          >
            <i class="fas fa-fw fa-copy"></i>
          </button>
          <button
            class="btn btn-default"
            ngbTooltip="Paste"
            placement="bottom"
            (click)="pasteTests()"
            [disabled]="!clipboardService.canPaste(project.id, 'tests')"
          >
            <i class="fas fa-fw fa-paste"></i>
          </button>
        </div>

        <div class="btn-group btn-group-sm float-right ml-2">
          <button (click)="saveTestConfig()" class="btn btn-success" ngbTooltip="Save configuration" placement="left">
            <i class="fas fa-fw fa-save"></i>
          </button>
        </div>

        <div class="btn-group btn-group-sm float-right">
          <button (click)="executeSelected()" class="btn btn-primary" [disabled]="!selectedTests.isAnySelected()">
            Execute
          </button>
          <button (click)="openTestConfigModal()" class="btn btn-primary">
            <i class="fas fa-fw fa-cog"></i>
          </button>
        </div>
      </div>
    </div>
  </action-bar>
  <div class="view-body">
    <div class="container-fluid">

      <div *ngIf="report != null">
        <test-report-progress [report]="report"></test-report-progress>
        <hr>
      </div>

      <div class="d-flex flex-row align-items-center">
        <a
          class="btn btn-sm btn-default mr-2"
          *ngIf="testSuite.parent != null"
          [routerLink]="['/app', 'projects', project.id, 'tests', testSuite.parent]"
        >
          <i class="fas fa-fw fa-level-up-alt mr-1"></i>
        </a>
        <h4 *ngIf="testSuite.name" class="m-0">
          <i class="fas fa-fw fa-folder mr-2"></i> <strong>{{testSuite.name}}</strong>
        </h4>
      </div>

      <hr>

      <div class="row">
        <div class="col-sm-12 col-md-9 mb-4">

          <div class="list-group test-list" *ngIf="testSuite.tests.length > 0">
            <div *ngFor="let test of orderedTests" class="list-group-item test-list-item">

              <div class="d-flex flex-row">
                <div style="padding-right: 12px">
                  <selectable-checkbox [item]="test" [selectable]="selectedTests"></selectable-checkbox>
                </div>
                <div class="test-list-item-content flex-grow-1">
                  <test-tree [results]="results" [root]="test"></test-tree>
                </div>
                <div *ngIf="showInProgressLabel(test)" class="pl-2">
                  <span class="badge badge-info">
                    <i class="fas fa-fw fa-circle-notch fa-spin"></i> In progress
                  </span>
                </div>
                <div class="pl-2">
                  <div class="btn-group btn-group-sm" ngbDropdown placement="bottom-right">
                    <button class="btn btn-icon no-caret" ngbDropdownToggle>
                      <i class="fas fa-fw fa-bars"></i>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu role="menu">
                      <button (click)="editTest(test)" ngbDropdownItem>
                        <i class="fas fa-fw fa-edit"></i> Edit
                      </button>
                      <button (click)="deleteTest(test)" ngbDropdownItem>
                        <i class="fas fa-fw fa-trash"></i> Delete
                      </button>
                      <div *ngIf="test.type === 'case'" class="dropdown-divider"></div>
                      <a
                        ngbDropdownItem
                        [routerLink]="['/app', 'projects', project.id, 'tests', test.id, 'results']"
                        *ngIf="test.type === 'case'"
                      >
                        <i class="fas fa-fw fa-history"></i> Results
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div *ngIf="!testSuite.tests.length" class="alert alert-info">
            You haven't created any tests yet.
          </div>

        </div>
        <div class="col-sm-12 col-md-3">
          <div class="card">
            <div class="card-header">
              <strong>Test configs</strong>
            </div>
            <div class="card-body p-0">
              <test-config-list
                (selected)="selectTestConfig($event)"
                *ngIf="testConfigs.length > 0"
                [configs]="testConfigs"
              >
              </test-config-list>

              <div *ngIf="testConfigs.length === 0" class="alert alert-info no-border-radius mb-0">
                There are no saved configurations yet.
              </div>
            </div>
          </div>

          <div class="card mt-4">
            <div class="card-header">
              <strong>Test runs</strong>
            </div>
            <div class="card-body p-0">
              <test-status></test-status>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
