<div class="modal-header">

  <a class="btn btn-default btn-icon pull-right" ng-click="vm.dismiss()">
    <i class="fa fa-close fa-fw"></i>
  </a>

  <h3 class="modal-title">Edit the action</h3>
</div>

<form ng-submit="vm.updateAction()" id="action-create-form">

  <div class="modal-body">
    <action-form action="vm.action" symbols="vm.symbols" ng-if="vm.action !== null"></action-form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="submit">Update</button>
    <a href="" class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</a>
  </div>

</form>
