<div class="modal-header">
  <h4 class="modal-title">Update the base URL</h4>
  <a class="btn btn-default btn-icon float-right" (click)="modal.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form [formGroup]="form" (ngSubmit)="updateUrl()">

  <div class="modal-body">
    <project-url-form-groups [url]="url" [form]="form"></project-url-form-groups>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="submit">Update</button>
    <button class="btn btn-default btn-sm" (click)="modal.dismiss(); $event.stopPropagation()">Cancel</button>
  </div>

</form>
