<div class="form-group">
  <label>Name</label>
  <input
    class="form-control"
    type="text"
    placeholder="A descriptive name of the formula"
    required
    [formControl]="form.controls.name"
    [class.is-invalid]="isInvalidFormControl(form.controls.name)"
  >
  <div class="invalid-feedback">
    Please provide a name for the formula.
  </div>
</div>

<div class="form-group">
  <label>Formula</label>
  <input
    class="form-control"
    type="text"
    placeholder="The LtsMin formula"
    required
    [formControl]="form.controls.formula"
    [class.is-invalid]="isInvalidFormControl(form.controls.formula)"
  >
  <div class="invalid-feedback">
    Please provide a LTL formula.
  </div>
</div>
