<div class="symbol-list-item d-flex" ng-class="{'selectable': vm.selectable}">

    <div class="mr-1" ng-if="vm.selectable">
        <checkbox selection-model-ignore model="vm.symbol" class="pull-left"></checkbox>
    </div>

    <div class="flex-grow-1 mr-1">
        <div>
            <a ui-sref="symbol({symbolId:vm.symbol.id})" ng-if="vm.symbol.id && !vm.symbol.hidden" style="color: #333">
                <strong>{{vm.symbol.name}}</strong>
            </a>
            <strong ng-if="vm.symbol.id == null || vm.symbol.hidden">{{vm.symbol.name}}</strong>
        </div>

        <span class="text-muted cursor-pointer" ng-click="vm.toggleCollapsed()" selection-model-ignore>
            <span ng-bind="vm.symbol.countEnabledActions()"></span>
            Actions
            <i class="fa fa-chevron-right"></i>
        </span>

        <div uib-collapse="!vm.collapsed">
            <div class="panel panel-default" style="margin-top: 5px;">
                <div class="panel-heading clearfix">
                    <button class="btn btn-xs btn-icon pull-right" ng-click="vm.toggleCollapsed()">
                        <i class="fa fa-close"></i>
                    </button>
                    <a class="btn btn-xs btn-default" ui-sref="symbol({symbolId:vm.symbol.id})"
                       ng-if="vm.symbol.id && !vm.symbol.hidden">
                        Edit actions
                    </a>
                </div>
                <ul class="list-group list-group-condensed">
                    <li class="list-group-item" ng-repeat="action in vm.symbol.actions" ng-if="!action.disabled">

                        <span class="label label-info pull-right" ng-if="action.negated">
                            Negate
                        </span>

                        <span class="label label-danger pull-right" ng-if="action.ignoreFailure">
                            Ignore failure
                        </span>

                        <span ng-bind="action.toString()"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-transclude selection-model-ignore></div>
</div>
