<div class="symbol-list-item d-flex" ng-class="{'selectable': vm.selectable}">

    <div class="mr-1" ng-if="vm.selectable">
        <checkbox selection-model-ignore model="vm.symbol" class="pull-left"></checkbox>
    </div>

    <div class="w-100 mr-1">
        <div>
            <a ui-sref="symbol({projectId: vm.symbol.project, symbolId: vm.symbol.id})"
               ng-if="vm.symbol.id && !vm.symbol.hidden" style="color: #333">
                <strong>{{vm.symbol.name}}</strong>
            </a>
            <strong ng-if="vm.symbol.id == null || vm.symbol.hidden">{{vm.symbol.name}}</strong>
        </div>

        <span class="text-muted" selection-model-ignore>
            <span>{{vm.symbol.countEnabledActions()}} Actions</span>
        </span>
    </div>

    <div ng-transclude selection-model-ignore></div>
</div>
