<div class="modal-header">
  <h4 class="modal-title">Register a webhook</h4>
  <a class="btn btn-default btn-icon float-right" (click)="modal.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form [formGroup]="form" (ngSubmit)="createWebhook()">
  <div class="modal-body">
    <div class="alert alert-danger" *ngIf="errorMessage != null">
      <strong class="d-block">The webhook could not be created.</strong>
      <span>{{errorMessage}}</span>
    </div>

    <webhook-form-groups [webhook]="webhook" [events]="store.events$ | async" [form]="form"></webhook-form-groups>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="submit" [disabled]="form.invalid">Register</button>
    <button class="btn btn-default btn-sm" (click)="modal.dismiss(); $event.stopPropagation()">Cancel</button>
  </div>
</form>
