<div class="form-horizontal form-condensed">
    <div class="form-group">
        <label class="col-sm-3 control-label">Min length</label>
        <div class="col-sm-9">
            <input
                class="form-control"
                name="eq_oracle_random_min_length"
                type="number"
                min="1"
                required
                ng-model="vm.eqOracle.minLength"
                placeholder="1"
            >

            <div
                class="alert alert-danger alert-condensed mb-0"
                ng-show="vm.form.eq_oracle_random_min_length.$dirty && vm.form.eq_oracle_random_min_length.$invalid"
            >
                <small ng-show="vm.form.eq_oracle_random_min_length.$error.required">The field must not be empty.</small>
                <small ng-show="vm.form.eq_oracle_random_min_length.$error.min">The value must be &ge; 1.</small>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Max length</label>
        <div class="col-sm-9">
            <input
                class="form-control"
                name="eq_oracle_random_max_length"
                ng-model="vm.eqOracle.maxLength"
                type="number"
                required
                min="1"
                placeholder="1"
            >

            <div
                class="alert alert-danger alert-condensed mb-0"
                ng-show="vm.form.eq_oracle_random_max_length.$dirty && vm.form.eq_oracle_random_max_length.$invalid"
            >
                <small ng-show="vm.form.eq_oracle_random_max_length.$error.required">The field must not be empty.</small>
                <small ng-show="vm.form.eq_oracle_random_max_length.$error.min">The value must be &ge; 1.</small>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Random words</label>
        <div class="col-sm-9">
            <input
                class="form-control"
                name="eq_oracle_random_no_words"
                ng-model="vm.eqOracle.maxNoOfTests"
                type="number"
                required
                min="1"
                placeholder="1"
            >

            <div
                class="alert alert-danger alert-condensed mb-0"
                ng-show="vm.form.eq_oracle_random_no_words.$dirty && vm.form.eq_oracle_random_no_words.$invalid"
            >
                <small ng-show="vm.form.eq_oracle_random_no_words.$error.required">The field must not be empty.</small>
                <small ng-show="vm.form.eq_oracle_random_no_words.$error.min">TThe value must be &ge; 1.</small>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Seed</label>
        <div class="col-sm-9">
            <input
                class="form-control"
                name="eq_oracle_random_seed"
                ng-model="vm.eqOracle.seed"
                type="number"
                required
            >

            <div
                class="alert alert-danger alert-condensed mb-0"
                ng-show="vm.form.eq_oracle_random_seed.$dirty && vm.form.eq_oracle_random_seed.$invalid"
            >
                <small ng-show="vm.form.eq_oracle_random_seed.$error.required">The field must not be empty.</small>
            </div>
        </div>
    </div>
</div>
