# IntelliJ
.idea
*.iml

# Java
main/logs
target
*.class
hs_err_pid*
backend/logs

# JavaScript
frontend/src/main/javascript/node_modules
frontend/src/main/javascript/dist
frontend/src/main/javascript/tests/coverage
frontend/src/main/javascript/assets/fonts

# Auto Generated Swagger Doc
main/src/main/webapp/restdocs

main/uploads

frontend/src/main/javascript/npm-debug\.log
