# IntelliJ
.idea
*.iml

# Java
target
*.class
hs_err_pid*

# JavaScript
main/src/main/webapp/bower_components
main/src/main/webapp/node_modules
main/src/main/webapp/app/*.js
main/src/main/webapp/tests/coverage

# CSS
main/src/main/webapp/app/*.css

# Auto Generated Swagger Doc
main/src/main/webapp/restdocs/docs

main/uploads
