# IntelliJ
.idea
*.iml

# Java
target
*.class
hs_err_pid*

# JavaScript
main/src/main/webapp/app
main/src/main/webapp/node_modules
main/src/main/webapp/dist
main/src/main/webapp/tests/coverage

# Auto Generated Swagger Doc
main/src/main/webapp/restdocs/docs

main/uploads
