<div class="view">
    <view-header title="Symbol Archive"></view-header>

    <action-bar>
        <div ng-if="vm.symbols.length > 0">
            <selectable-checkbox-multiple selectable="vm.selectedSymbols" class="pull-left"></selectable-checkbox-multiple>

            <div class="pull-left">
                <button class="btn btn-sm btn-primary" ng-click="vm.recoverSelectedSymbols()">
                    <i class="fa fa-rotate-left fa-fw"></i> Recover
                </button>

                <button class="btn btn-sm btn-default" ng-click="vm.deleteSelectedSymbols()">
                    <i class="fa fa-trash fa-fw"></i> Delete
                </button>
            </div>
        </div>
    </action-bar>

    <div class="view-body has-sub-nav">
        <div class="alx-container-fluid">

            <div class="alert alert-info" ng-if="vm.symbols.length === 0">
                There aren't any deleted symbols.
            </div>

            <div class="list-group">
                <div class="list-group-item" ng-repeat="symbol in vm.symbols | orderBy:'-name':true">

                    <symbol-list-item symbol="symbol" selectable="vm.selectedSymbols">
                        <div class="btn-group btn-group-xs" uib-dropdown>
                            <button type="button" class="btn btn-default btn-icon" uib-dropdown-toggle>
                                <i class="fa fa-bars"></i>
                            </button>
                            <ul uib-dropdown-menu class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="" ng-click="vm.editSymbol(symbol)">
                                        <i class="fa fa-edit fa-fw"></i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="vm.recoverSymbol(symbol)">
                                        <i class="fa fa-rotate-left fa-fw"></i> Recover
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="" ng-click="vm.deleteSymbol(symbol)">
                                        <i class="fa fa-trash fa-fw"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </symbol-list-item>
                </div>
            </div>

        </div>
    </div>
</div>
