<div class="view">
    <view-header [title]="'Profile Settings'"></view-header>
    <action-bar>
        <div class="container text-right">
            <button class="btn btn-sm btn-danger" ng-click="vm.deleteProfile()">
                <i class="fas fa-fw fa-trash"></i> Delete Profile
            </button>
        </div>
    </action-bar>

    <div class="view-body">
        <div class="container">

            <user-edit-form user="vm.user" ng-if="vm.user"></user-edit-form>

        </div>
    </div>
</div>
