.simple-symbol-group-tree-item {
  .symbol, .group {
    &:hover {
      cursor: pointer;
      background: #f2f2f2
    }

    &.selected {
      background: #ddd;
      border-radius: 4px;
    }
  }
}
