<div class="modal-header">

    <a class="btn btn-default btn-icon pull-right" ng-click="close()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Hypothesis Layout Settings</h3>
    <span class="text-muted">Edit the settings for the presentation of the hypothesis</span>

</div>

<form ng-submit="update()">

<div class="modal-body">
	
	<div class="form-group">
		<label>Node Separation</label>
		<input type="number" class="form-control" placeholder="nodesep" ng-model="layoutSettings.nodesep">
		<p class="help-block">Number of pixels that separate nodes horizontally in the layout.</p>
	</div>
	
	<div class="form-group">
		<label>Edge Separation</label>
		<input type="number" class="form-control" placeholder="edgesep" ng-model="layoutSettings.edgesep">
		<p class="help-block">Number of pixels that separate edges horizontally in the layout.</p>
	</div>
	
	<div class="form-group">
		<label>Rank Separation</label>
		<input type="number" class="form-control" placeholder="ranksep" ng-model="layoutSettings.ranksep">
		<p class="help-block">Number of pixels between each rank in the layout.</p>
	</div>

</div>

<div class="modal-footer">
	<a href class="btn btn-default btn-sm" ng-click="defaultLayoutSettings()">Default</a>
    <button class="btn btn-primary btn-sm">Update</button>
</div>

</form>