<form class="form form-condensed" ng-submit="addCounterExample()">
    <p class="text-muted">
        <em>Click on the labels of the hypothesis to create a counterexample. Click on an output to toggle it.</em>
    </p>

    <div class="list-group list-group-condensed" ng-sortable="{animation:150}">
        <div class="list-group-item" ng-repeat="io in counterExample">

            <i class="fa fa-fw fa-close pull-right" ng-click="removeInputOutputAt($index)"></i>

            <span class="label label-primary">{{io.input}}</span>
            <span class="label" ng-class="io.output === outputAlphabet.OK ? 'label-success' : 'label-danger'"
                  ng-click="toggleOutputAt($index)">{{io.output}}</span>
        </div>
    </div>

    <div class="form-group" ng-show="counterExample.length > 0">
        <button class="btn btn-primary btn-xs">Add</button>
        <a href class="btn btn-default btn-xs" ng-click="testCounterExample()">Test</a>
        <hr>
    </div>
</form>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="ce in tmpCounterExamples" ng-click="selectCounterExampleAt($index)">
        <span class="btn btn-icon pull-right" ng-click="removeCounterExampleAt($index)">
            <i class="fa fa-trash"></i>
        </span>
        {{ce}}
    </li>
</ul>