<form class="form form-condensed" ng-submit="testAndAddCounterExample()">
    <p class="text-muted">
        <em>Click on the labels of the hypothesis to create a counterexample.</em>
    </p>

    <div class="list-group list-group-condensed" ng-sortable="{animation:150}">
        <div class="list-group-item" ng-repeat="io in counterExample">

            <i class="fa fa-fw fa-close pull-right" ng-click="removeInputOutputAt($index)"></i>

            <span class="label label-primary">{{io.input}}</span>
            <span class="label" ng-class="io.output === 'OK' ? 'label-success' : 'label-danger'">
                {{io.output}}
            </span>
        </div>
    </div>

    <div ng-show="counterExample.length > 0">
        <button class="btn btn-default btn-sm btn-block">Add counterexample</button>
        <hr>
    </div>
</form>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="ce in tmpCounterExamples" ng-click="selectCounterExampleAt($index)">
        <span class="btn btn-icon pull-right" ng-click="removeCounterExampleAt($index)">
            <i class="fa fa-trash"></i>
        </span>
        {{ce}}
    </li>
</ul>