<aside id="sidebar">

    <header id="sidebar-header">
        <span class="sidebar-header-button logo-button">
            <img src="app/images/favicon.png" height="18" width="18"> <strong>LEX</strong>
        </span>

        <a href class="sidebar-header-button toggle-button" layout-toggle-button ng-click="toggleCollapse()"
           tooltip="{{collapsed ? 'Show Sidebar' : 'Hide Sidebar'}}" tooltip-placement="right">
            <i class="fa" ng-class="collapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
        </a>

        <a ui-sref="about" class="sidebar-header-button about-button"
                tooltip="About ALEX" tooltip-placement="left">
            <i class="fa fa-question-circle"></i>
        </a>
    </header>

    <div id="sidebar-body">
        <div class="sidebar-group" ng-if="user">
            <div class="sidebar-group-title">
                <strong>User</strong>
            </div>
            <a ui-sref="users.settings" class="sidebar-group-item" tooltip="Settings" tooltip-placement="right">
                <div class="sidebar-group-item-icon">
                    <i class="fa fa-fw fa-user"></i>
                </div>
                <div class="sidebar-group-item-label">Settings</div>
            </a>
            <a href class="sidebar-group-item" tooltip="Logout" tooltip-placement="right"
                    ng-click="logout()">
                <div class="sidebar-group-item-icon">
                    <i class="fa fa-fw fa-sign-out"></i>
                </div>
                <div class="sidebar-group-item-label">Logout</div>
            </a>
        </div>

        <div class="sidebar-group" ng-if="user.role === 'ADMIN'">
            <div class="sidebar-group-title">
                <strong>Admin</strong>
            </div>
            <a ui-sref="admin.users" class="sidebar-group-item" tooltip="User Management" tooltip-placement="right">
                <div class="sidebar-group-item-icon">
                    <i class="fa fa-fw fa-users"></i>
                </div>
                <div class="sidebar-group-item-label">Manage Users</div>
            </a>
        </div>

        <div ng-if="project && user">
            <div class="sidebar-group">
                <div class="sidebar-group-title">
                    <strong ng-bind="project.name"></strong>
                </div>
                <a ui-sref="project" class="sidebar-group-item" ng-class="{'active':isState('project')}"
                   tooltip="Dashboard" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-dashboard"></i>
                    </div>
                    <div class="sidebar-group-item-label">Dashboard</div>
                </a>
                <a ui-sref="project.settings" class="sidebar-group-item"
                   ng-class="{'active':isState('project.settings')}"
                   tooltip="Project Settings" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-gear"></i>
                    </div>
                    <div class="sidebar-group-item-label">Settings</div>
                </a>
                <a ui-sref="files" class="sidebar-group-item" ng-class="{'active':isState('files')}"
                   tooltip="Files" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-file"></i>
                    </div>
                    <div class="sidebar-group-item-label">Files</div>
                </a>
                <a class="sidebar-group-item" ng-click="closeProject()"
                   tooltip="Close Project" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-sign-out"></i>
                    </div>
                    <div class="sidebar-group-item-label">Close {{project.name}}</div>
                </a>
            </div>

            <div class="sidebar-group">
                <div class="sidebar-group-title">Symbols</div>
                <a ui-sref="symbols" class="sidebar-group-item"
                   ng-class="{'active':isState('symbols', 'symbols.actions', 'symbols.history')}"
                   tooltip="Manage Symbols" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-list-alt"></i>
                    </div>
                    <div class="sidebar-group-item-label">Manage</div>
                </a>
                <a ui-sref="symbols.trash" class="sidebar-group-item" ng-class="{'active':isState('symbols.trash')}"
                   tooltip="Symbols Trash" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-trash"></i>
                    </div>
                    <div class="sidebar-group-item-label">Trash</div>
                </a>
                <a ui-sref="symbols.import" class="sidebar-group-item" ng-class="{'active':isState('symbols.import')}"
                   tooltip="Symbols Import" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-upload"></i>
                    </div>
                    <div class="sidebar-group-item-label">Import</div>
                </a>
            </div>

            <div class="sidebar-group">
                <div class="sidebar-group-title">Learning</div>
                <a ui-sref="learn.setup" class="sidebar-group-item" ng-class="{'active':isState('learn.setup', 'learn.start')}"
                   tooltip="Learn Setup" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-play"></i>
                    </div>
                    <div class="sidebar-group-item-label">Setup</div>
                </a>
                <a ui-sref="learn.results" class="sidebar-group-item"
                   ng-class="{'active':isState('learn.results', 'learn.results.compare')}"
                   tooltip="Learn Results" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-sitemap"></i>
                    </div>
                    <div class="sidebar-group-item-label">Results</div>
                </a>
                <a ui-sref="learn.results.statistics" class="sidebar-group-item"
                   ng-class="{'active':isState('learn.results.statistics')}"
                   tooltip="Statistics" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-bar-chart"></i>
                    </div>
                    <div class="sidebar-group-item-label">Statistics</div>
                </a>
                <a ui-sref="counters" class="sidebar-group-item" ng-class="{'active':isState('counters')}"
                   tooltip="Manage Counters" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-list-ol"></i>
                    </div>
                    <div class="sidebar-group-item-label">Counters</div>
                </a>
            </div>
        </div>
    </div>


    <!--<ul class="nav navbar-nav navbar-right">-->
    <!--<li class="dropdown" dropdown dropdown-navigation>-->
    <!--<a href="#" dropdown-toggle class="dropdown-toggle" data-toggle="dropdown" role="button"-->
    <!--aria-expanded="false">App <span class="caret"></span></a>-->
    <!--<ul class="dropdown-menu" role="menu">-->
    <!--<li><a ui-sref="about">About</a></li>-->
    <!--<li><a ui-sref="help">Help</a></li>-->
    <!--<li class="divider"></li>-->
    <!--<li><a href="/restdocs/index.html" target="_blank">REST API</a></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--</ul>-->


</aside>
