<h5><strong>Set variable by node attribute</strong></h5>

<p class="text-muted">
    Set a variable to the value of an attribute of an HTML element.
</p>
<hr>

<div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="vm.action.name" placeholder="The name of the variable">
</div>

<node-form-group node="vm.action.node"></node-form-group>

<div class="form-group">
    <label>Attribute</label>
    <input class="form-control" ng-model="vm.action.attribute" placeholder="The name of the attribute">
</div>
