<div class="simple-symbol-group-tree-item">
    <div style="padding: .25rem" class="d-flex flex-row">
        <div>
            <i
                class="far fa-fw cursor-pointer"
                ng-class="{'fa-minus-square': !vm.collapse, 'fa-plus-square': vm.collapse}"
                ng-click="vm.collapse = !vm.collapse"
            >
            </i>
        </div>
        <div
            class="group w-100"
            ng-class="{'selected': vm.selectedSymbolGroup != null && vm.selectedSymbolGroup.id === vm.group.id}"
            ng-click="vm.selectSymbolGroup()"
        >
            <i class="fas fa-fw fa-folder" style="margin-left: .5rem"></i>
            <strong style="padding-left: .25rem">
                {{vm.group.name}}
            </strong>
        </div>
    </div>
    <div uib-collapse="vm.collapse" style="margin-left: 1rem; padding-left: .8rem; border-left: 1px solid #ddd">
        <div>
            <simple-symbol-group-tree
                groups="vm.group.groups"
                selected-symbol-group="vm.selectedSymbolGroup"
                selected-symbol="vm.selectedSymbol"
                on-symbol-group-selected="vm.symbolGroupSelected(group)"
                on-symbol-selected="vm.symbolSelected(symbol)"
            >
            </simple-symbol-group-tree>
        </div>
        <div>
            <div ng-repeat="symbol in vm.group.symbols | orderBy:'-name':true" class="d-flex" style="padding: .25rem; margin-left: 1.55rem">
                <div
                    class="symbol"
                    style="flex-shrink: 0"
                    ng-class="{'selected': vm.selectedSymbol != null && vm.selectedSymbol.id === symbol.id}"
                    ng-click="vm.selectSymbol(symbol)"
                >
                    <i class="fas fa-fw fa-file-code" style="margin-left: .5rem"></i>
                    <span style="padding-left: .25rem">
                        {{symbol.name}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
