<div class="view view-test-reports">
    <view-header [title]="'Test Reports'"></view-header>
    <action-bar>
        <div ng-if="vm.reports.length > 0" class="d-flex flex-row align-items-center">
            <selectable-checkbox-multiple [selectable]="vm.selectedReports"></selectable-checkbox-multiple>

            <div class="w-100 ml-3">
                <div class="btn-group btn-group-sm">
                    <button
                        class="btn btn-default"
                        ng-click="vm.deleteSelectedReports()"
                        ng-disabled="!vm.selectedReports.isAnySelected()"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </action-bar>
    <div class="view-body">
        <div class="container-fluid">

            <div class="alert alert-info" ng-if="vm.reports.length === 0">
                There are no reports.
            </div>

            <div ng-if="vm.reports.length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Date</th>
                        <th>Environment</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>Failed</th>
                        <th>Time</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="report in vm.reports | orderBy:'-startDate':false">
                        <th width="1%">
                            <selectable-checkbox [item]="report" [selectable]="vm.selectedReports"></selectable-checkbox>
                        </th>
                        <td width="1%" style="min-width: 140px;">{{report.startDate | date : 'EEE, dd.MM.yyyy, HH:mm'}}</td>
                        <td width="1%">
                            <span class="badge badge-default">{{report.environment.name}}</span>
                        </td>
                        <td width="1%">
                            <span class="badge badge-success" ng-if="report.passed">Passed</span>
                            <span class="badge badge-danger" ng-if="!report.passed">Failed</span>
                        </td>
                        <td width="1%" class="text-center">
                            {{report.numTests}}
                        </td>
                        <td width="1%" class="text-center">
                            {{report.numTestsFailed}}
                        </td>
                        <td width="1%" style="min-width: 80px">
                            {{report.time | formatMilliseconds}}
                        </td>
                        <td width="100%">
                            <a ui-sref="testReport({projectId: report.project, reportId: report.id})">Details</a>
                        </td>
                        <td width="1%">
                            <div class="btn-group btn-group-sm" uib-dropdown>
                                <button type="button" class="btn btn-default btn-icon no-caret" uib-dropdown-toggle>
                                    <i class="fas fa-bars"></i>
                                </button>
                                <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a class="dropdown-item" href ng-click="vm.openReport(report)">
                                        <i class="fas fa-fw fa-search"></i> Details
                                    </a>
                                    <a class="dropdown-item" href ng-click="vm.deleteReport(report)">
                                        <i class="fas fa-fw fa-trash"></i> Delete
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href ng-click="vm.downloadReport(report)">
                                        <i class="fas fa-fw fa-download"></i> Download
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <hr>

                <pagination page="vm.page" on-next="vm.nextPage()" on-previous="vm.previousPage()"></pagination>
            </div>

        </div>
    </div>
</div>
