<div class="view">
    <view-header title="Symbol Archive"></view-header>

    <action-bar>
        <div ng-if="vm.symbols.length > 0" class="d-flex flex-row align-items-center">
            <selectable-checkbox-multiple selectable="vm.selectedSymbols"></selectable-checkbox-multiple>

            <div class="w-100 ml-3">
                <button
                    class="btn btn-sm btn-primary mr-2"
                    ng-click="vm.recoverSelectedSymbols()"
                    ng-disabled="!vm.selectedSymbols.isAnySelected()"
                >
                    <i class="fas fa-undo fa-fw"></i> Recover
                </button>

                <button
                    class="btn btn-sm btn-default"
                    ng-click="vm.deleteSelectedSymbols()"
                    ng-disabled="!vm.selectedSymbols.isAnySelected()"
                >
                    <i class="fas fa-trash fa-fw"></i> Delete
                </button>
            </div>
        </div>
    </action-bar>

    <div class="view-body has-sub-nav">
        <div class="container-fluid">

            <div class="alert alert-info" ng-if="vm.symbols.length === 0">
                There aren't any deleted symbols.
            </div>

            <div class="list-group">
                <div class="list-group-item" ng-repeat="symbol in vm.symbols | orderBy:'-name':true">

                    <symbol-list-item symbol="symbol" selectable="vm.selectedSymbols">
                        <div class="btn-group btn-group-xs" uib-dropdown>
                            <button type="button" class="btn btn-default btn-icon no-caret" uib-dropdown-toggle>
                                <i class="fas fa-bars"></i>
                            </button>
                            <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu">
                                <a class="dropdown-item" href="" ng-click="vm.editSymbol(symbol)">
                                    <i class="fas fa-edit fa-fw"></i> Edit
                                </a>
                                <a class="dropdown-item" href="" ng-click="vm.recoverSymbol(symbol)">
                                    <i class="fas fa-undo fa-fw"></i> Recover
                                </a>
                                <a class="dropdown-item" href="" ng-click="vm.showUsages(symbol)">
                                    <i class="fas fa-search fa-fw"></i> Usages
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" ng-click="vm.deleteSymbol(symbol)">
                                    <i class="fas fa-trash fa-fw"></i> Delete
                                </a>
                            </div>
                        </div>

                    </symbol-list-item>
                </div>
            </div>

        </div>
    </div>
</div>
