<form [formGroup]="form" (ngSubmit)="signUp()" id="user-registration-form" name="form">
  <div class="form-group">
    <label>Username</label>
    <input
      autofocus
      class="form-control"
      placeholder="Username"
      required
      type="text"
      [formControl]="form.controls.username"
      [class.is-invalid]="formUtils.isInvalidFormControl(form.controls.username)"
    >
    <div class="invalid-feedback">
      Please provide an username.
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input
      autofocus
      class="form-control"
      placeholder="Email address"
      required
      type="email"
      [formControl]="form.controls.email"
      [class.is-invalid]="formUtils.isInvalidFormControl(form.controls.email)"
    >
    <div class="invalid-feedback">
      Please provide an email address.
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input
      class="form-control"
      placeholder="Password"
      required
      type="password"
      [formControl]="form.controls.password"
      [class.is-invalid]="formUtils.isInvalidFormControl(form.controls.password)"
    >
    <div class="invalid-feedback">
      Please enter a password.
    </div>
  </div>
  <div *ngIf="settings != null" class="d-flex flex-row">
    <button
      class="btn btn-primary w-100"
      [disabled]="form.invalid"
      *ngIf="settings.allowUserRegistration"
    >
      Sign Up
    </button>
  </div>
</form>
