<widget title="Project details">
    <table class="table mb-0">
        <tbody>
        <tr>
            <td><strong>Name</strong></td>
            <td ng-bind="vm.project.name"></td>
        </tr>
        <tr>
            <td><strong>Default environment</strong></td>
            <td ng-bind="vm.project.getDefaultEnvironment().name"></td>
        </tr>
        <tr>
            <td><strong>Groups</strong></td>
            <td ng-bind="vm.numberOfGroups"></td>
        </tr>
        <tr>
            <td><strong>Symbols</strong></td>
            <td ng-bind="vm.numberOfSymbols"></td>
        </tr>
        <tr>
            <td><strong>Tests</strong></td>
            <td ng-bind="vm.numberOfTests"></td>
        </tr>
        </tbody>
    </table>
</widget>
