<div class="form-horizontal form-condensed">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Min length</label>
    <div class="col-sm-9">
      <input
        [(ngModel)]="eqOracle.minLength"
        class="form-control"
        min="1"
        name="eq_oracle_random_min_length"
        placeholder="1"
        required
        type="number"
      >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Max length</label>
    <div class="col-sm-9">
      <input
        [(ngModel)]="eqOracle.maxLength"
        class="form-control"
        min="1"
        name="eq_oracle_random_max_length"
        placeholder="1"
        required
        type="number"
      >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Random words</label>
    <div class="col-sm-9">
      <input
        [(ngModel)]="eqOracle.maxNoOfTests"
        class="form-control"
        min="1"
        name="eq_oracle_random_no_words"
        placeholder="1"
        required
        type="number"
      >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Seed</label>
    <div class="col-sm-9">
      <input
        [(ngModel)]="eqOracle.seed"
        class="form-control"
        name="eq_oracle_random_seed"
        required
        type="number"
      >
    </div>
  </div>
</div>
