<div class="modal-header">
  <h4 class="modal-title">Create a new action</h4>
  <a class="btn btn-default btn-icon float-right" ng-click="vm.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form ng-submit="vm.createAction()" id="action-create-form">

  <div class="modal-body">
    <div class="row">
      <div class="col-4">

        <action-search-form actions="vm.actions"
                            on-selected="vm.selectNewActionType(type)">
        </action-search-form>

        <div style="margin-top: 36px;"></div>

        <uib-accordion close-others="true" class="action-types-accordion">
          <div uib-accordion-group class="panel-default" is-open="true">
            <uib-accordion-heading>
              <div><strong>Web</strong></div>
            </uib-accordion-heading>

            <div class="list-group list-group-condensed list-group-flush">
              <a href=""
                 class="list-group-item"
                 ng-class="{'active': action.type === vm.action.type}"
                 ng-repeat="action in vm.actions.web"
                 ng-click="vm.selectNewActionType(action.type)"
              >
                {{action.text}}
              </a>
            </div>
          </div>

          <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <div><strong>REST</strong></div>
            </uib-accordion-heading>

            <div class="list-group list-group-condensed list-group-flush">
              <a href=""
                 class="list-group-item"
                 ng-class="{'active': action.type === vm.action.type}"
                 ng-repeat="action in vm.actions.rest"
                 ng-click="vm.selectNewActionType(action.type)"
              >
                {{action.text}}
              </a>
            </div>
          </div>

          <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <div><strong>Misc</strong></div>
            </uib-accordion-heading>

            <div class="list-group list-group-condensed list-group-flush">
              <a href=""
                 class="list-group-item"
                 ng-class="{'active': action.type === vm.action.type}"
                 ng-repeat="action in vm.actions.misc"
                 ng-click="vm.selectNewActionType(action.type)"
              >
                {{action.text}}
              </a>
            </div>
          </div>
        </uib-accordion>

      </div>
      <div class="col-8">

        <div class="alert alert-info alert-condensed" ng-if="vm.action == null">
          Select the action you want to create.
        </div>

        <action-form action="vm.action" symbols="vm.symbols" ng-if="vm.action != null"></action-form>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a href="" class="btn btn-info btn-sm" ng-click="vm.createActionAndContinue()">Create and continue</a>
    <button class="btn btn-primary btn-sm" type="submit">Create</button>
    <a href="" class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</a>
  </div>

</form>
