<div class="view">
    <view-header title="Test Management"></view-header>
    <action-bar>
        <div class="d-flex flex-row align-items-center">
            <selectable-checkbox-multiple selectable="vm.selectedTests"></selectable-checkbox-multiple>
            <div class="w-100 ml-3">
                <div class="btn-group btn-group-sm" uib-dropdown>
                    <button class="btn btn-primary" uib-dropdown-toggle>
                        Create
                    </button>
                    <div uib-dropdown-menu class="dropdown-menu dropdown-menu-left" role="menu">
                        <a class="dropdown-item" href="" ng-click="vm.createTestSuite()">
                            Test suite
                        </a>
                        <a class="dropdown-item" href="" ng-click="vm.createTestCase()">
                            Test case
                        </a>
                    </div>
                </div>

                <div class="btn-group btn-group-sm">
                    <button
                        class="btn btn-default"
                        ng-click="vm.moveSelected()"
                        ng-disabled="!vm.selectedTests.isAnySelected()"
                    >
                        Move
                    </button>
                    <button
                        class="btn btn-default"
                        ng-click="vm.deleteSelected()"
                        ng-disabled="!vm.selectedTests.isAnySelected()"
                    >
                        Delete
                    </button>
                </div>

                <div class="btn-group btn-group-sm">
                    <button class="btn btn-default" uib-tooltip="Import" tooltip-placement="bottom" ng-click="vm.importTests()">
                        <i class="fas fa-fw fa-upload"></i>
                    </button>
                    <div class="btn-group btn-group-sm mr-0" uib-dropdown>
                        <button
                            class="btn btn-default"
                            uib-dropdown-toggle
                            uib-tooltip="Export"
                            tooltip-placement="bottom"
                            ng-disabled="!vm.selectedTests.isAnySelected()"
                        >
                            <i class="fas fa-fw fa-download"></i>
                        </button>
                        <div uib-dropdown-menu class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="" ng-click="vm.exportSelectedTests()">
                                Export for ALEX
                            </a>
                            <a class="dropdown-item" href="" ng-click="vm.exportForSelenium()">
                                Export for Selenium
                            </a>
                        </div>
                    </div>
                </div>

                <div class="btn-group btn-group-sm" uib-dropdown>
                    <button
                        class="btn btn-default"
                        uib-tooltip="Copy"
                        tooltip-placement="bottom"
                        ng-click="vm.copyTests()"
                        ng-disabled="!vm.selectedTests.isAnySelected()"
                    >
                        <i class="fas fa-fw fa-copy"></i>
                    </button>
                    <button class="btn btn-default" uib-tooltip="Paste" tooltip-placement="bottom" ng-click="vm.pasteTests()">
                        <i class="fas fa-fw fa-paste"></i>
                    </button>
                </div>

                <div class="btn-group btn-group-sm float-right">
                    <button class="btn btn-success" uib-tooltip="Save configuration" tooltip-placement="left" ng-click="vm.saveTestConfig()">
                        <i class="fas fa-fw fa-save"></i>
                    </button>
                </div>

                <div class="btn-group btn-group-sm float-right">
                    <button class="btn btn-primary" ng-click="vm.executeSelected()">
                        <span ng-if="!vm.status.active">Execute</span>
                        <span ng-if="vm.status.active">Enqueue</span>
                    </button>
                    <button class="btn btn-primary" ng-click="vm.openTestConfigModal()">
                        <i class="fas fa-fw fa-cog"></i>
                    </button>
                </div>
            </div>
        </div>
    </action-bar>
    <div class="view-body">
        <div class="container-fluid">

            <div ng-if="vm.status.active">
                <div class="alert alert-info d-flex flex-row">
                    <div class="w-100">
                        <i class="fas fa-circle-notch fa-spin"></i>&nbsp;
                        Tests are being executed. There are <strong>{{vm.status.testsInQueue}}</strong> processes in the queue.
                    </div>
                    <div>
                        <button class="btn btn-info btn-xs" ng-click="vm.abortTesting()">Abort</button>
                    </div>
                </div>
                <hr>
            </div>

            <div class="d-flex" style="align-items: center">
                <button class="btn btn-sm btn-default"
                        ui-sref="test({projectId: vm.testSuite.project, testId:vm.testSuite.parent})"
                        ng-if="vm.testSuite.parent !== null"
                        style="margin-right: 12px">
                    <i class="fas fa-fw fa-level-up-alt"></i>
                </button>
                <h4 ng-if="vm.testSuite.name" style="margin: 0;">
                    <strong><i class="fas fa-fw fa-folder"></i> {{vm.testSuite.name}}</strong>
                </h4>
            </div>

            <hr>

            <div class="row" ng-if="vm.testSuite.tests.length > 0">
                <div class="col-sm-12 col-md-9 mb-4">

                    <div class="list-group test-list" >
                        <div class="list-group-item test-list-item" ng-repeat="test in vm.testSuite.tests | sortTests">

                            <div class="d-flex flex-row">
                                <div style="padding-right: 12px">
                                    <selectable-checkbox item="test" selectable="vm.selectedTests"></selectable-checkbox>
                                </div>
                                <div class="test-list-item-content flex-grow-1">
                                    <test-tree root="test" results="vm.results"></test-tree>
                                </div>
                                <div class="pl-2" ng-if="vm.status != null && vm.status.currentTest != null && vm.status.currentTest.id === test.id">
                                    <span class="badge badge-info">
                                        <i class="fas fa-fw fa-circle-notch fa-spin"></i> In progress
                                    </span>
                                </div>
                                <div style="padding-left: 6px">
                                    <div class="btn-group btn-group-xs" uib-dropdown>
                                        <button class="btn btn-icon btn-dropdown no-caret" uib-dropdown-toggle>
                                            <i class="fas fa-fw fa-bars"></i>
                                        </button>
                                        <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu">
                                            <a class="dropdown-item" href="" ng-click="vm.editTest(test)">
                                                <i class="fas fa-fw fa-edit"></i> Edit
                                            </a>
                                            <a class="dropdown-item" href="" ng-click="vm.deleteTest(test)">
                                                <i class="fas fa-fw fa-trash"></i> Delete
                                            </a>
                                            <div class="dropdown-divider" ng-if="test.type === 'case'"></div>
                                            <a class="dropdown-item" ui-sref="testResults({projectId: vm.project.id, testId: test.id})" ng-if="test.type === 'case'">
                                                <i class="fas fa-fw fa-history"></i> Results
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div ng-if="vm.report != null" style="margin-top: 48px">
                        <test-result-report report="vm.report"></test-result-report>
                    </div>

                </div>
                <div class="col-sm-12 col-md-3">
                    <test-config-list
                        configs="vm.testConfigs"
                        on-selected="vm.selectTestConfig(config)"
                        ng-if="vm.testConfigs.length > 0"
                    >
                    </test-config-list>

                    <div class="alert alert-info" ng-if="vm.testConfigs.length === 0">
                        There are no saved configurations yet.
                    </div>
                </div>
            </div>

            <div class="alert alert-info" ng-if="!vm.testSuite.tests.length">
                You haven't created any tests yet.
            </div>

        </div>
    </div>
</div>
