<form name="vm.form" ng-submit="vm.createProject()" id="project-create-form">

    <project-form-groups project="vm.project" form="vm.form"></project-form-groups>

    <div class="form-group">
        <label>URL*</label>
        <input required type="url" class="form-control" ng-model="vm.project.url">
    </div>

    <div class="form-group">
        <button type="submit"
                class="btn btn-sm btn-primary">
            Create Project
        </button>
    </div>

    <hr>
    <div class="text-muted">
        <em>* These fields are required</em>
    </div>
</form>