<div class="view view-test-reports">

  <action-bar>

    <div class="btn-group btn-group-sm mr-2">
      <button (click)="deleteReport()" class="btn btn-default">Delete</button>
    </div>

    <div class="btn-group btn-group-sm">
      <button (click)="downloadReport()" class="btn btn-default">Download</button>
    </div>

  </action-bar>
  <div *ngIf="report != null" class="view-body">
    <div class="container-fluid">

      <h4 class="d-flex">
        <strong>{{report.startDate | date : 'EEE, dd.MM.yyyy, HH:mm'}}</strong>

        <span class="badge badge-secondary ml-auto">
          {{report.environment.name}}
        </span>
      </h4>

      <hr>

      <div class="d-flex justify-content-center">
        <report-charts *ngIf="report != null" [report]="report"></report-charts>
      </div>

      <hr>

      <strong>Description</strong>
      <p>
        {{report.description}}
      </p>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Output</th>
          <th>Message</th>
          <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let result of report.testResults">
          <ng-container *ngIf="result.test.type === 'case'">
            <td width="1%">
              <span *ngIf="result.passed" class="badge badge-success">Passed</span>
              <span *ngIf="!result.passed" class="badge badge-danger">Failed</span>
            </td>
            <td>
              <a [title]="['/app', 'projects', result.project, 'tests', result.test.id]">{{result.test.name}}</a>
            </td>
            <td>
              <report-outputs-column [outputs]="result.outputs" [project]="project"></report-outputs-column>
            </td>
            <td>
              <em *ngIf="result.failureMessage">{{result.failureMessage}}</em>
            </td>
            <td style="min-width: 68px">
              {{result.time | formatMilliseconds}}
            </td>
          </ng-container>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

