<div id="view-about">
    <view-header title="Settings"></view-header>

    <div class="view-body settings">
        <div class="alx-container">

            <form ng-submit="vm.updateSettings()">
                <h3>Driver</h3>
                <p class="text-muted">
                    Configure webdrivers that can be used for learning.
                    As soon as a path has been entered, it will appear in the learn config modal.
                    Make sure the drivers are executable on the system.
                </p>

                <hr>

                <div class="form-group">
                    <label>ChromeDriver path</label>
                    <input class="form-control" type="text" ng-model="vm.settings.driver.chrome"
                           placeholder="Enter the absolute path to the chromedriver executable">

                    <p>
                        You can find the latest ChromeDriver over at the
                        <a href="https://sites.google.com/a/chromium.org/chromedriver/downloads" target="_blank">
                        ChromeDriver Download page</a>.
                    </p>
                </div>

                <div class="form-group">
                    <label>Geckodriver path</label>
                    <input class="form-control" type="text" ng-model="vm.settings.driver.firefox"
                           placeholder="Enter the absolute path to the geckodriver executable">

                    <p>
                        You can find the latest driver over at the
                        <a href="https://github.com/mozilla/geckodriver/releases" target="_blank">Mozilla Geckodriver
                        Github Repository</a>.
                    </p>
                </div>

                <button class="btn btn-sm btn-primary">Save Settings</button>
            </form>

        </div>
    </div>
</div>