<view-header title="About ALEX"></view-header>

<div class="view-body about">
    <div class="alx-container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">

                <div class="content-section">
                    <h2>About ALEX</h2>
                    <hr>

                    <h3>Authors</h3>

                    <p>
                        <strong>Alexander Bainczyk</strong><br>
                        <a href="mailto:alexander.bainczyk@tu-dortmund.de">
                            <i class="fa fa-envelope-o fa-fw"></i>&nbsp;
                            alexander.bainczyk@tu-dortmund.de
                        </a>
                    </p>

                    <p>
                        <strong>Alexander Schieweck</strong><br>
                        <a href="mailto:alexander.schieweck@tu-dortmund.de">
                            <i class="fa fa-envelope-o fa-fw"></i>&nbsp;
                            alexander.schieweck@tu-dortmund.de
                        </a>
                    </p>
                </div>

                <div class="content-section">
                    <h2>Help</h2>
                    <hr>

                    <p>
                        For information on how to use the application or the RESTful API please have a look at the
                        documentation that is provided with Maven Site. If you are a developer, navigate to to root
                        directory and execute <code>mvn site:run</code>.
                    </p>
                </div>


                <div class="content-section">
                    <h2>REST API</h2>
                    <hr>

                    <p>
                        ALEX provides a REST API to enable the manipulation of work objects via an HTTP interface. It is powered by
                        the famous <a href="http://swagger.io/" target="_blank" title="Swagger">Swagger Framework</a>.
                    </p>

                    <a class="btn btn-primary btn-sm" href="/restdocs" target="_blank">View the docs</a>
                </div>
            </div>
        </div>
    </div>
</div>