<div class="alx-container" id="view-home">

    <div class="text-center">
        <img id="logo" src="app/images/logo.png">
    </div>

    <div class="row">
        <div class="col-xs-4 col-xs-push-4">

            <tabset justified="true">
                <tab heading="Login">
                    <br>
                    <user-login-form></user-login-form>
                </tab>
                <tab heading="Create Account">
                    <br>
                    <user-register-form></user-register-form>
                </tab>
            </tabset>

            <hr>

            <div class="text-right">
                <a href="#">Forgot your password?</a>
            </div>

        </div>
    </div>

</div>