<div ng-controller="LearnStartController as vm">
    <view-header title="ALEX is learning"></view-header>

    <div class="learn-start-wrapper" layout-toggle-element>

        <div ng-if="vm.active" class="alx-container learn-loading-indicator">
            <div class="alert alert-info">
                <button class="btn btn-info btn-xs pull-right" ng-click="vm.abort()">
                    <i class="fa fa-close fa-fw"></i> Abort
                </button>
                <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp; Application is learning ...
            </div>
            <hr>
            <h3>Statistics</h3>
            <table class="table table-condensed">
                <col width="120">
                <tr>
                    <td><strong>Time passed</strong></td>
                    <td ng-bind="(vm.duration | formatMilliseconds)"></td>
                </tr>
                <tr>
                    <td><strong>MQs executed</strong></td>
                    <td>
                        <span ng-show="vm.mqsUsed" ng-bind="vm.mqsUsed"></span>
                        <span ng-show="!vm.mqsUsed">Not yet available</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel-sidebar" ng-class="{'show': vm.showSidebar}" ng-if="!vm.active && vm.results.length > 0">
            <learn-resume-settings-widget learn-configuration="_.last(vm.results).configuration">
            </learn-resume-settings-widget>

            <counterexamples-widget
                    ng-if="_.last(vm.results).configuration.eqOracle.type === 'sample'"
                    counterexamples="_.last(vm.results).configuration.eqOracle.counterExamples"
                    learn-result="_.last(vm.results)">
            </counterexamples-widget>
        </div>

        <div learn-result-panel results="vm.results" ng-if="vm.results.length > 0 && !vm.active">
            <div class="btn-group btn-group-sm learn-result-panel-resume-button">
                <button class="btn btn-success" ng-click="vm.resumeLearning()">Resume</button>
                <button class="btn btn-success" ng-click="vm.toggleSidebar()">
                    <i class="fa fa-fw" ng-class="vm.showSidebar ? 'fa-close' : 'fa-gear'"></i>
                </button>
            </div>
        </div>

    </div>

</div>
</div>