<div id="view-learner-setup">
    <view-header title="Learn Process Setup"></view-header>

    <action-bar>
        <div ng-if="vm.allSymbols.length > 0">
            <checkbox-multiple model="vm.allSymbols" class="pull-left"></checkbox-multiple>

            <div class="btn-group btn-group-sm pull-right">
                <button class="btn btn-primary" ng-click="vm.startLearning()">
                    Start Learning
                </button>
                <button class="btn btn-primary" learn-setup-settings-modal-handle
                        learn-configuration="vm.learnConfiguration">
                    <i class="fa fa-gear"></i>
                </button>
            </div>

            <div class="pull-right" style="margin-right: 6px">
                <a ui-sref="learnerStart" class="btn btn-info btn-sm" ng-if="vm.canContinueLearnProcess">
                    Continue
                </a>
            </div>
        </div>
    </action-bar>

    <div class="view-body has-sub-nav">
        <div class="alx-container-fluid">

            <div class="alert alert-info alert-condensed clearfix">

                <p>
                    Using algorithm <strong ng-bind="(vm.learnConfiguration.algorithm | formatAlgorithm)"></strong>
                    with EQ-Oracle <strong ng-bind="(vm.learnConfiguration.eqOracle.type | formatEqOracle)"></strong>
                <span ng-if="vm.learnConfiguration.eqOracle.type === 'complete'">
                    (
                    min-depth: <span ng-bind="vm.learnConfiguration.eqOracle.minDepth"></span>,
                    max-depth: <span ng-bind="vm.learnConfiguration.eqOracle.maxDepth"></span>
                    )
                </span>
                <span ng-if="vm.learnConfiguration.eqOracle.type === 'random_word'">
                    (
                    min-length: <span ng-bind="vm.learnConfiguration.eqOracle.minLength"></span>,
                    max-length: <span ng-bind="vm.learnConfiguration.eqOracle.maxLength"></span>,
                    #words: <span ng-bind="vm.learnConfiguration.eqOracle.maxNoOfTests"></span>
                    )
                </span>
                </p>

                <p ng-if="vm.resetSymbol === null">
                    <em>Please select a reset symbol by clicking on the blue circle</em>
                </p>

                <p ng-if="vm.resetSymbol !== null">
                    Reset symbol is <strong ng-bind="vm.resetSymbol.name"></strong>
                </p>

            </div>
            <hr>

            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <symbol-group-list ng-if="vm.groups.length > 0">
                        <symbol-group-list-item ng-repeat="group in vm.groups | orderBy:'-name':true"
                                                group="group" editable="false">

                            <symbol-list>
                                <symbol-list-item ng-repeat="symbol in group.symbols | orderBy:'-name':true"
                                                  symbol="symbol"
                                                  selection-model selection-model-selected-items="vm.selectedSymbols">

                                    <a href="" class="pull-right" ng-if="vm.resetSymbol !== symbol"
                                       ng-click="vm.setResetSymbol(symbol)"
                                       uib-tooltip="Set as reset symbol" tooltip-placement="left"
                                       selection-model-ignore>
                                        <i class="fa fa-circle-thin"></i>
                                    </a>

                                    <span ng-if="vm.resetSymbol === symbol"
                                          class="label label-primary">Reset Symbol</span>

                                </symbol-list-item>
                            </symbol-list>

                        </symbol-group-list-item>
                    </symbol-group-list>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="list-group list-group-condensed">
                        <a href="" class="list-group-item disabled">
                            Reuse a previous configuration
                        </a>
                        <a href="" class="list-group-item"
                           ng-repeat="result in vm.learnResults | orderBy:'-testNo':false | limitTo:5"
                           ng-click="vm.reuseConfigurationFromResult(result)">
                            <span class="label label-danger pull-right" ng-show="result.error">Failed</span>
                            TestNo <span ng-bind="result.testNo"></span>

                            <div>
                                <i class="text-muted"
                                   ng-bind="(result.statistics.startDate | date : 'EEE, dd.MM.yyyy, HH:mm')"></i>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>