<view-header title="Dashboard of {{project.name}}"></view-header>

<div class="view-body">
    <div class="alx-container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6">
                <widget title="Project details">
                    <project-details-widget></project-details-widget>
                </widget>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <widget title="Learner status">
                    <learner-status-widget></learner-status-widget>
                </widget>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <widget title="Latest learn result">
                    <latest-learn-result-widget></latest-learn-result-widget>
                </widget>
            </div>

        </div>
    </div>
</div>
