<div view-heading
     title="Actions"
     sub-title="Create and manage the actions for symbol: {{symbol.name}}">
    <a class="back-button btn btn-default btn-xs" ui-sref="symbols">
        <i class="fa fa-fw fa-arrow-left"></i>
    </a>
</div>

<div class="sub-nav" fix-on-scroll="{top:115,class:'fixed'}">
    <div class="container">

        <div class="pull-left" style="margin-right: 16px">
            <input type="checkbox" selection-checkbox-all items="symbol.actions">
        </div>

        <div class="pull-left">
            <button class="btn btn-xs btn-primary" action-create-modal-handle on-created="addAction">
                Create
            </button>
            <button class="btn btn-xs btn-default" action-edit-modal-handle action="selectedActions[0]"
                    on-updated="updateAction"
                    ng-class="selectedActions.length !== 1 ? 'disabled': ''">
                Edit
            </button>
            <button class="btn btn-xs btn-default" ng-click="deleteSelectedActions()"
                    ng-class="selectedActions.length === 0 ? 'disabled': ''">
                Delete
            </button>
        </div>

        <div class="pull-right">
            <button class="btn btn-default btn-xs"
                    variables-counters-occurrence-modal-handle>Occurrences
            </button>
            <button class="btn btn-default btn-xs" ng-click="revertChanges()">Reset</button>
            <button class="btn btn-success btn-xs" ng-click="saveChanges()">Save</button>
        </div>

    </div>
</div>

<div class="view-body">
    <div class="container">

        <div class="alert alert-info alert-condensed" ng-show="hasUnsavedChanges">
            <i class="fa fa-fw fa-info"></i> There are unsaved changes made to the symbol
        </div>

        <div ng-if="symbol.actions" as-sortable ng-model="symbol.actions">
            <div class="selectable-list">
                <div ng-repeat="action in symbol.actions"
                     selection-model
                     selection-model-type="checkbox"
                     selection-model-selected-attribute="_selected"
                     selection-model-mode="multiple"
                     selection-model-selected-items="selectedActions"
                     selection-model-cleanup-strategy="deselect"
                     as-sortable-item>

                    <div selectable-list-item>

                        <div class="btn-group btn-group-xs pull-right" dropdown dropdown-hover>
                            <button type="button" class="btn btn-default btn-icon dropdown-toggle" dropdown-toggle>
                                <i class="fa fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu pull-left" role="menu">
                                <li>
                                    <a href action-edit-modal-handle action="action" on-updated="updateAction">
                                        <i class="fa fa-edit fa-fw"></i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a href ng-click="deleteAction(action)">
                                        <i class="fa fa-trash fa-fw"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <span class="text-muted pull-right" as-sortable-item-handle
                              style="margin-right: 15px; padding: 2px;">
                            <i class="fa fa-sort fa-fw"></i>
                        </span>

                        <span ng-bind="action.toString()"></span>

                        <div>
                            <label class="label label-info" ng-show="action.negated">Negate</label>
                            <label class="label label-danger" ng-show="action.ignoreFailure">Ignore Failure</label>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="alert alert-info" ng-show="symbol.actions.length == 0">
            You haven't created any actions for this symbol yet.
        </div>

    </div>
</div>