<div view-heading
     title="Symbols History"
     sub-title="Restore and older version of a symbol">
    <a class="back-button btn btn-default btn-xs" ui-sref="symbols">
        <i class="fa fa-fw fa-arrow-left"></i>
    </a>
</div>

<div class="view-body">
    <div class="container">

        <symbol-list>
            <symbol-list-item ng-repeat="revision in revisions | orderBy:'-name':true"
                              symbol="revision">

                <span class="label label-primary" ng-show="$index === 0">Latest</span>

                <a href class="btn btn-default btn-icon btn-xs" ng-click="restoreRevision(revision)" ng-show="$index > 0">
                    <i class="fa fa-history fa-fw"></i> Restore
                </a>

            </symbol-list-item>
        </symbol-list>

    </div>
</div>