<div view-heading
     title="Symbols Upload"
     sub-title="If you already have a *.json file with symbols, you can import them here to this project">
</div>

<div class="sub-nav" fix-on-scroll="{top:120,class:'fixed'}" ng-if="symbols.length > 0">
    <div class="container">

        <div class="pull-left" style="margin-right: 16px">
            <input type="checkbox" selection-checkbox-all items="symbols">
        </div>

        <div class="pull-left">
            <button class="btn btn-xs btn-primary" ng-click="uploadSelectedSymbols()">
                <i class="fa fa-upload fa-fw"></i> Upload
            </button>
        </div>

    </div>
</div>

<div class="view-body">
    <div class="container">

        <div ng-if="symbols.length === 0">
            <div file-dropzone on-loaded="fileLoaded" class="alert alert-info">
                Drag and drop *.json file here
                <button class="btn btn-xs btn-primary pull-right" file-upload-button on-loaded="fileLoaded">Choose File</button>
            </div>
            <hr>
        </div>

        <div class="alert alert-info alert-condensed" ng-show="symbols.length > 0">
            <i class="fa fa-fw fa-info"></i>
            For symbols with actions that invoke other symbols, please make sure you adjust the references after
            uploading them
        </div>

        <symbol-list>
            <symbol-list-item ng-repeat="symbol in symbols | orderBy:'-name':true"
                              selection-model
                              selection-model-selected-items="selectedSymbols"
                              symbol="symbol">

                <button class="btn btn-xs btn-default btn-icon pull-right"
                        symbol-edit-modal-handle symbol="symbol" on-updated="updateSymbol" update-on-server="false">
                    <i class="fa fa-edit"></i> Edit
                </button>

            </symbol-list-item>
        </symbol-list>

    </div>
</div>