<h5><strong>Make request</strong></h5>

<p class="text-muted">Make a HTTP request to a URL (relative to your projects default URL).</p>
<hr>

<div class="form-group">
    <label>URL</label>
    <input class="form-control" type="text" placeholder="The URL to make the request to" ng-model="vm.action.url">
</div>

<div class="form-group">
    <label>Method</label>
    <select class="form-control" ng-options="m for m in ['DELETE', 'GET', 'POST', 'PUT']"
            ng-model="vm.action.method">
        <option value="" disabled>Select a Method</option>
    </select>
</div>

<div class="form-group">
    <div class="d-flex">
        <div class="w-100">
            <label>Data</label>
        </div>
        <div>
            <select class="form-control" ng-change="vm.setPreset()" ng-model="vm.preset" style="padding: 0; height: auto; width: 80px">
                <option value="JSON" selected>JSON</option>
                <option value="GRAPH_QL">GraphQL</option>
            </select>
        </div>
    </div>
    <div ng-model="vm.action.data" ui-ace="vm.aceOptions"></div>
</div>

<div class="form-group">
    <label>Timeout [ms] <em class="text-muted">(0 - The request does not timeout)</em></label>
    <input class="form-control" type="number" placeholder="Timeout im ms" ng-model="vm.action.timeout" min="0">
</div>

<uib-tabset>
    <uib-tab heading="HTTP Headers">
        <br>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-5 pr-0">
                    <input class="form-control" type="text" ng-model="vm.header.name" placeholder="Header Name">
                </div>
                <div class="col-sm-5 pr-0">
                    <input class="form-control" type="text" ng-model="vm.header.value" placeholder="Header Value">
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-default btn-block" ng-click="vm.addHeader()">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <br>
            <ul class="list-group list-group-condensed">
                <li class="list-group-item" ng-repeat="(key, value) in vm.action.headers">
                    <i class="fas fa-trash fa-fw float-right" ng-click="vm.action.removeHeader(key)"></i>
                    <strong ng-bind="key"></strong>: <span ng-bind="vm.action.headers[key]"></span>
                </li>
            </ul>
        </div>

    </uib-tab>
    <uib-tab heading="Authentication">
        <br>

        <div class="form-group">
            <label class="control-label">Name</label>
            <input class="form-control" type="text" ng-model="vm.action.credentials.name" placeholder="Name">
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input class="form-control" type="text" ng-model="vm.action.credentials.password" placeholder="Password">
        </div>

    </uib-tab>
    <uib-tab heading="Cookies">
        <br>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-5 pr-0">
                    <input class="form-control" type="text" ng-model="vm.cookie.name" placeholder="Cookie Name">
                </div>
                <div class="col-sm-5 pr-0">
                    <input class="form-control" type="text" ng-model="vm.cookie.value" placeholder="Cookie Value">
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-default btn-block ng-click="vm.addCookie()">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <br>
            <ul class="list-group list-group-condensed">
                <li class="list-group-item" ng-repeat="(key, value) in vm.action.cookies">
                    <i class="fas fa-trash fa-fw float-right" ng-click="vm.action.removeCookie(key)"></i>
                    <strong ng-bind="key"></strong>: <span ng-bind="vm.action.cookies[key]"></span>
                </li>
            </ul>
        </div>

    </uib-tab>
</uib-tabset>
