<div id="action-recorder-wrapper">
    <div id="action-recorder">
        <div class="header">

            <div ng-if="vm.corsDisabled !== null && !vm.corsDisabled" style="flex: 1 0; display: flex">
                <div class="header-element" style="flex: 0 0 320px">
                    <form ng-submit="vm.loadUrl()">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon" tooltip-placement="right"
                                     uib-tooltip="{{vm.project.getDefaultUrl().url}}">
                                    ...
                                </div>
                                <input type="text" class="form-control" ng-model="vm.url" placeholder="URL"/>
                                <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">Go!</button>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="header-element" style="flex: 0 0">
                    <div class="btn-group d-flex">
                        <button class="btn btn-default" ng-click="vm.toggleRecording()"
                                uib-tooltip="{{vm.isRecording ? 'Disable selection' : 'Enable selection'}}"
                                tooltip-placement="right">
                            <i class="fa fa-fw" ng-class="vm.isRecording ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
                        </button>
                        <button class="btn btn-default" ng-click="vm.toggleSelectorType()">
                            {{vm.selectorType === 'CSS' ? 'CSS' : 'XPath'}}
                        </button>
                    </div>
                </div>

                <div class="header-element" style="flex: 1 0; overflow: hidden">
                    <div class="btn btn-block btn-default disabled"
                         style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; text-align: left">
                        <span ng-if="vm.selector" ng-bind="vm.selector"></span>
                        <span ng-if="!vm.selector">Enable recording first</span>
                    </div>
                </div>

                <div class="header-element" style="flex: 0 0" ng-if="!vm.isRecording && vm.actions.length > 0">
                    <button class="btn btn-success" ng-click="vm.ok()">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </div>

            <div ng-if="vm.corsDisabled !== null && vm.corsDisabled" style="flex: 1 0; display: flex">
                <div class="header-element" style="flex: 1 0">
                    <div class="alert alert-warning alert-condensed">
                        Your browser has an active <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS"
                                                      target="_blank" rel="nofollow">CORS</a> rule for iframes.
                        Please disable this feature to use the Element Picker.
                    </div>
                </div>
            </div>

            <div ng-if="vm.corsDisabled === null" style="flex: 1 0; display: flex">
                <div class="header-element" style="flex: 1 0">
                    <div class="alert alert-info alert-condensed">
                        <i class="fa fa-spin fa-circle-o-notch"></i> Loading...
                    </div>
                </div>
            </div>

            <div class="header-element" style="flex: 0 0">
                <button class="btn btn-default" ng-click="vm.close()">
                    <i class="fa fa-close"></i>
                </button>
            </div>

        </div>
        <div class="body">
            <div class="sidebar" style="overflow: auto; padding: 14px;" dragula='"actionList2"' dragula-model="vm.actions">
                <div class="alert alert-info" ng-if="vm.actions.length === 0">
                    You haven't recorded any actions yet.
                </div>

                <div class="list-group">
                    <div class="list-group-item d-flex flex-row" ng-repeat="action in vm.actions">
                        <div class="flex-grow-1" style="word-break: break-all;">
                            {{action.toString()}}
                        </div>
                        <div>
                            <div class="btn-group btn-group-sm pull-right" uib-dropdown style="margin-left: 14px">
                                <button class="btn btn-icon btn-dropdown" uib-dropdown-toggle>
                                    <i class="fa fa-fw fa-bars"></i>
                                </button>
                                <ul uib-dropdown-menu class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a href="" action-edit-modal-handle action="action" on-updated="vm.updateAction(action, $index)" window-class="modal-zindex">
                                            <i class="fa fa-fw fa-edit"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="vm.actions.splice($index, 1)">
                                            <i class="fa fa-fw fa-trash"></i> Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="iframe-wrapper">
                <responsive-iframe></responsive-iframe>
            </div>
        </div>
    </div>
</div>
