<h5>
  <strong>Move mouse</strong>
</h5>

<p class="text-muted">
  Move the mouse to an element or a specific position of the page.
</p>
<hr>

<node-form-group [node]="action.node"></node-form-group>

<hr>

<h5>
  <strong>Offset</strong>
</h5>

<p class="text-muted">
  If a selector is specified, the offset is relative to the center of the element.
  Otherwise the mouse is moved relatively to the current position.
</p>

<div class="form-group">
  <label class="control-label">Offset X (px)</label>
  <input [(ngModel)]="action.offsetX" class="form-control" min="0" type="number">
</div>

<div class="form-group">
  <label class="control-label">Offset Y (px)</label>
  <input [(ngModel)]="action.offsetY" class="form-control" min="0" type="number">
</div>
