<div class="view">
  <action-bar>
    <div class="d-flex flex-row align-items-center">

      <div class="mr-3">
        <selectable-checkbox-multiple
          [items]="(store.projects$ | async)"
          [selectable]="store.projectsSelectable"
        >
        </selectable-checkbox-multiple>
      </div>

      <button (click)="store.createProject()" class="btn btn-primary btn-sm mr-2">Create</button>

      <div class="btn-group btn-group-sm mr-2">
        <button
          (click)="store.editProject(store.projectsSelectable.getSelected()[0])"
          [disabled]="store.projectsSelectable.getSelected().length !== 1"
          class="btn btn-default"
        >
          Edit
        </button>
        <button
          (click)="store.deleteSelectedProjects()"
          [disabled]="store.projectsSelectable.getSelected().length === 0"
          class="btn btn-default"
        >
          Delete
        </button>
      </div>
      <div class="btn-group btn-group-sm mr-2">
        <button
          (click)="store.importProject()"
          class="btn btn-default"
          ngbTooltip="Import"
          placement="left"
        >
          <i class="fas fa-upload fa-fw"></i>
        </button>
        <button
          (click)="store.exportProject(store.projectsSelectable.getSelected()[0])"
          [disabled]="store.projectsSelectable.getSelected().length !== 1"
          class="btn btn-default"
          ngbTooltip="Export"
          placement="left"
        >
          <i class="fas fa-download fa-fw"></i>
        </button>
      </div>

    </div>
  </action-bar>

  <div class="view-body">
    <div class="container-fluid">

      <div *ngIf="(store.projects$ | async).length == 0" class="alert alert-info">
        You haven't created a project yet.
      </div>

      <div *ngIf="(store.projects$ | async).length > 0" class="list-group">
        <div *ngFor="let project of store.orderedProjects$ | async" class="list-group-item d-flex flex-row">
          <div class="mr-3">
            <selectable-checkbox [item]="project" [selectable]="store.projectsSelectable"></selectable-checkbox>
          </div>
          <div class="w-100">
            <a [routerLink]="[project.id]">
              <h5 class="list-group-item-heading mb-0">
                <strong>{{project.name}}</strong>
              </h5>
            </a>
            <p class="text-muted mb-0">
              {{project.getDefaultEnvironment().urls[0].url}}
            </p>
          </div>
          <div>
            <div class="d-inline-block" ngbDropdown placement="bottom-right">
              <button class="btn btn-sm btn-icon no-caret" ngbDropdownToggle>
                <i class="fas fa-fw fa-bars"></i>
              </button>
              <div ngbDropdownMenu>
                <a [routerLink]="[project.id]" ngbDropdownItem>
                  <i class="fas fa-fw fa-external-link-alt"></i> Open
                </a>
                <div class="dropdown-divider"></div>
                <button (click)="store.editProject(project)" ngbDropdownItem>
                  <i class="fas fa-edit fa-fw"></i> Edit
                </button>
                <button (click)="store.exportProject(project)" ngbDropdownItem>
                  <i class="fas fa-download fa-fw"></i> Export
                </button>
                <button (click)="store.deleteProject(project)" ngbDropdownItem>
                  <i class="fas fa-trash fa-fw"></i> Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
