<div class="modal-header">
  <h4 class="modal-title">Experiment settings</h4>
  <a (click)="modal.dismiss()" class="btn btn-icon float-right">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form (ngSubmit)="ok()" name="form">
  <div class="modal-body">

    <ngb-tabset>
      <ngb-tab title="Learner">
        <ng-template ngbTabContent>

          <p></p>

          <div class="form-group">
            <label class="control-label">Algorithm</label> <br>
            <select (change)="setLearningAlgorithm()" [(ngModel)]="selectedLearningAlgorithm" class="form-control" name="algorithm">
              <option disabled [value]="null">select an algorithm</option>
              <option
                [value]="i.value"
                *ngFor="let i of learningAlgorithms | keyvalue"
              >
                {{i.key | formatLearningAlgorithm}}
              </option>
            </select>
          </div>

          <eq-oracle-form
              [oracle]="learnConfiguration.eqOracle"
              [form]="form"
              (selected)="setEqOracle($event)"
          >
          </eq-oracle-form>

          <hr>

          <div class="form-group form-check">
            <label class="form-check-label">
              <input [(ngModel)]="learnConfiguration.useMQCache" class="form-check-input" type="checkbox" name="cache">
              Cache membership queries
            </label>
          </div>

          <hr>

          <div class="form-group">
            <label class="control-label">
              Max amount of steps to learn (-1 := learn until no counterexample can be found)
            </label>
            <input
              [(ngModel)]="learnConfiguration.maxAmountOfStepsToLearn"
              class="form-control"
              min="-1"
              name="max_steps"
              placeholder="-1"
              required
              type="number"
            >
          </div>

          <div class="form-group">
            <label>Comment</label>
            <textarea
              [(ngModel)]="learnConfiguration.comment"
              class="form-control"
              placeholder="Enter a short description of the test"
              name="comment"
            >
            </textarea>
          </div>

        </ng-template>
      </ngb-tab>
      <ngb-tab title="WebDriver">
        <ng-template ngbTabContent>
          <p></p>

          <browser-config-form [(config)]="learnConfiguration.driverConfig"></browser-config-form>

        </ng-template>
      </ngb-tab>
      <ngb-tab title="Targets">
        <ng-template ngbTabContent>

          <p></p>

          <p class="text-muted">
            Specify which URL should be used for learning. Select multiple URLs for learning in parallel.
          </p>

          <div class="list-group">
            <div *ngFor="let env of project.environments" class="list-group-item d-flex flex-row align-items-center">
              <div>
                <selectable-checkbox [item]="env" [selectable]="selectedEnvironments"></selectable-checkbox>
              </div>
              <div class="w-100 ml-3">
                <strong>{{env.name}}</strong>
              </div>
            </div>
          </div>

        </ng-template>
      </ngb-tab>
    </ngb-tabset>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" type="submit">Save</button>
    <button (click)="modal.dismiss(); $event.preventDefault()" class="btn btn-default btn-sm">Cancel</button>
  </div>
</form>
