<div class="modal-header">

	<h3 class="modal-title">Create <span ng-bind="(symbol.type|capitalize)"></span> Symbol</h3>
    <span class="text-muted">Create a new <span ng-bind="symbol.type"></span> symbol</span>

</div>

<form name="create_symbol_form" ng-submit="createSymbol()">

	<div class="modal-body">
	
        <div class="form-group">
            <label>Symbol Name</label>
            <input class="form-control" name="name" type="text" placeholder="name" required ng-model="symbol.name">
        </div>
        <div class="alert alert-danger alert-condensed" ng-show="create_symbol_form.name.$dirty && create_symbol_form.name.$invalid">
			<small ng-show="create_symbol_form.name.$error.required"> The field must not be empty. </small>
		</div>
				
        <div class="form-group">
            <label>Symbol Abbreviation</label>
            <input class="form-control" name="abbreviation" type="text" placeholder="abbreviation" required ng-model="symbol.abbreviation">
        </div>
        <div class="alert alert-danger alert-condensed" ng-show="create_symbol_form.abbreviation.$dirty && create_symbol_form.abbreviation.$invalid">
			<small ng-show="create_symbol_form.abbreviation.$error.required"> The field must not be empty. </small>
		</div>
	    		
	</div>
	
	<div class="modal-footer">
	    <button class="btn btn-primary" type="submit">Create</button>
	    <a class="btn btn-default" ng-click="closeModal()">Cancel</a>
	</div>

</form>