<div class="modal-header">
	<h3 class="modal-title">Create <span ng-bind="(symbol.type|capitalize)"></span> Action</h3>
	<span class="text-muted">Create a new action for a <span ng-bind="symbol.type"></span> symbol</span>
</div>

<form name="action_create_form" ng-submit="createAction()">

	<div class="modal-body">
	
	    <div if-is-type-of-web="symbol.type">
	        <select class="form-control" ng-model="action.type" ng-options="k for (k,v) in webActionTypes">
	            <option value="" disabled>Select an action you want to create</option>
	        </select>
	        <div action-form-groups-web action-model="action" ng-if="action.type"></div>
	    </div>
	
	    <div if-is-type-of-rest="symbol.type">
	        <select class="form-control" ng-model="action.type" ng-options="k for (k,v) in restActionTypes">
	            <option value="" disabled>Select an action you want to create</option>
	        </select>
	        <div action-form-groups-rest action-model="action" ng-if="action.type"></div>
	    </div>
	
	</div>
	
	<div class="modal-footer">
	    <button class="btn btn-primary" type="submit">Create</button>
	    <a class="btn btn-warning" ng-click="closeModal()">Cancel</a>
	</div>

</form>