<div class="modal-header">

    <div ng-if="symbol.type == 'web'">
        <h3 class="modal-title">Create Web Action</h3>
        <span class="text-muted">Create a new action for a web symbol</span>
    </div>

    <div ng-if="symbol.type == 'rest'">
        <h3 class="modal-title">Create Rest Action</h3>
        <span class="text-muted">Create a new action for a rest symbol</span>
    </div>

</div>

<div class="modal-body">

    <div ng-if="symbol.type == 'web'">
        <select class="form-control" ng-model="action.type" ng-options="k for (k,v) in webActionTypes">
            <option value="" disabled>Select an action you want to create</option>
        </select>
        <hr>
        <action-form-web action-model="action" ng-if="symbol.type == 'web'"></action-form-web>
    </div>

    <div ng-if="symbol.type == 'rest'">
        <select class="form-control" ng-model="action.type" ng-options="k for (k,v) in restActionTypes">
            <option value="" disabled>Select an action you want to create</option>
        </select>
        <hr>
        <action-form-rest action-model="action" ng-if="symbol.type == 'rest'"></action-form-rest>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="createAction()">Create</button>
    <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
</div>