figure
    display: flex
    margin: 0
    padding: 0
    background: #eef0f3

    &.bordered
        border: 1px solid #cecece

    img
        display: block
        margin: auto

.label
    display: inline-block
    background: red
    width: 1rem
    border-radius: 1rem
    height: 1rem
    line-height: 1rem
    font-size: .75rem
    font-weight: 700
    color: #fff
    padding-left: 4px
    box-sizing: border-box
