<div class="view">

  <action-bar>
    <div class="d-flex">
      <a class="btn btn-sm btn-primary" [routerLink]="['.', 'new']">
        <i class="fas fa-fw fa-plus"></i> New Config
      </a>
    </div>
  </action-bar>

  <div class="view-body">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12 col-md-9 order-2 order-md-1">

          <div class="alert alert-info" *ngIf="testConfigs.length === 0">
            <i class="fas fa-fw fa-info"></i>
            You haven't created any configs yet.
          </div>

          <div class="list-group">
            <div class="list-group-item d-flex flex-column flex-md-row" *ngFor="let config of testConfigs">
              <test-config-table [config]="config" class="w-100 order-2 order-md-1"></test-config-table>
              <div class="ml-md-3 flex-shrink-0 order-1 order-md-2 text-right">
                <div class="btn-group btn-group-sm">
                  <button class="btn btn-success" (click)="runConfig(config)">
                    <i class="fas fa-fw fa-play"></i> Run
                  </button>
                  <div class="btn btn-default" ngbDropdown placement="bottom-right">
                  <span ngbDropdownToggle class="no-caret cursor-pointer">
                    <i class="fas fa-fw fa-bars"></i>
                  </span>
                    <div ngbDropdownMenu>
                      <a ngbDropdownItem [routerLink]="[config.id]">
                        <i class="fas fa-fw fa-edit"></i> Edit
                      </a>
                      <button ngbDropdownItem (click)="deleteConfig(config)">
                        <i class="fas fa-fw fa-trash"></i> Delete
                      </button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem (click)="copyConfig(config)">
                        <i class="fas fa-fw fa-copy"></i> Copy
                      </button>
                    </div>
                  </div>
                </div>
                <hr class="d-block d-md-none">
              </div>
            </div>
          </div>

        </div>
        <div class="col-12 col-md-3 order-1 order-md-2">
            <test-status-widget [flush]="false"></test-status-widget>
        </div>
      </div>

    </div>
  </div>

</div>
