<div class="modal-header">
  <h4 class="modal-title">Import a project</h4>
  <a class="btn btn-default btn-icon float-right" ng-click="vm.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form ng-submit="vm.importProject()">
  <div class="modal-body">

    <div class="alert alert-danger" ng-if="vm.errorMessage != null">{{vm.errorMessage}}</div>

    <file-dropzone on-loaded="vm.fileLoaded.bind(vm)" ng-if="vm.importData == null">
      Drag and drop *.json file here or click to upload
    </file-dropzone>

    <div ng-if="vm.importData != null">
      <div class="alert alert-info">
        <i class="fas fa-fw fa-times float-right cursor-pointer" ng-click="vm.importData = null"></i>
        <span class="badge badge-primary" ng-if="vm.importData.type === 'project'">Project</span>
        <span class="badge badge-default">{{vm.importData.version}}</span>
      </div>

      <div class="form-group">
        <label>Name</label>
        <input class="form-control" required ng-model="vm.name" placeholder="The name of the project">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="submit">Import</button>
    <a href="" class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</a>
  </div>
</form>