<h4><strong>Set counter</strong></h4>

<p class="text-muted">
    Set the value of a counter.
</p>
<hr>

<div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="vm.action.name"
           placeholder="The name of the counter">
</div>

<div class="form-group">
    <label>Value</label>
    <input type="text" class="form-control" ng-model="vm.action.value" placeholder="0">
</div>

<div class="form-group">
    <label>Value type</label>
    <select class="form-control" ng-options="m for m in ['NUMBER', 'VARIABLE']"
            ng-model="vm.action.valueType">
        <option value="" disabled>Select a type</option>
    </select>
</div>
