<div class="modal-header">
  <h4 class="modal-title">Import tests</h4>
  <a class="btn btn-default btn-icon float-right" (click)="modal.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>
<div class="modal-body">
  <div class="alert alert-danger" *ngIf="errorMessage != null">
    {{errorMessage}}
  </div>

  <file-dropzone (loaded)="fileLoaded($event)" *ngIf="importData == null">
    Drag and drop file here or click to select a file
  </file-dropzone>

  <div class="alert alert-info mb-0" *ngIf="importData != null">
    <i class="fas fa-fw fa-times float-right cursor-pointer" (click)="importData = null"></i>
    <span class="badge badge-primary">Tests</span> <br>
    <span class="badge badge-default">{{importData.version}}</span>
  </div>

  <div class="list-group mt-3" *ngIf="importData != null && importData.tests.length">
    <div class="list-group-item d-flex" *ngFor="let test of importData.tests; let i = index">
      <i class="fas fa-fw" [ngClass]="{'fa-file': test.type === 'case', 'fa-folder': test.type === 'suite'}"></i>
      <strong class="d-block flex-grow-1 ml-1 mr-1">{{test.name}}</strong>
      <i class="fas fa-fw fa-times float-right" (click)="importData.tests.splice(i, 1)"></i>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" (click)="importTests()">Import</button>
  <button class="btn btn-default btn-sm" (click)="modal.dismiss()">Cancel</button>
</div>
