<h4><strong>Wait for an element</strong></h4>

<p class="text-muted">
    Wait until the state of an element changes.
</p>
<hr>

<node-form-group node="vm.action.node"></node-form-group>

<label>Wait until the element</label>
<div class="radio mt-0">
    <label>
        <input type="radio" name="waitType" value="VISIBLE" ng-model="vm.action.waitCriterion">
        is visible
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="waitType" value="INVISIBLE" ng-model="vm.action.waitCriterion">
        is invisible
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="waitType" value="ADDED" ng-model="vm.action.waitCriterion">
        is added to the DOM
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="waitType" value="REMOVED" ng-model="vm.action.waitCriterion">
        is removed from the DOM
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="waitType" value="CLICKABLE" ng-model="vm.action.waitCriterion">
        is clickable <em>(visible & enabled)</em>
    </label>
</div>

<div class="form-group">
    <label>Max. wait time (seconds)</label>
    <input class="form-control" type="number" min="0" placeholder="The maximum time to wait for a change"
           ng-model="vm.action.maxWaitTime">
</div>
