<div class="view">
    <view-header title="Statistics Compare">
        <a ui-sref="learnerResults({projectId: vm.project.id})" class="btn btn-sm btn-default btn-icon"
           uib-tooltip="Back to the list" tooltip-placement="right">
            <i class="fa fa-reply"></i>
        </a>
    </view-header>

    <action-bar>
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" ng-click="vm.switchToFinal()"
                    ng-class="{'active': [vm.chartModes.SINGLE_FINAL,vm.chartModes.MULTIPLE_FINAL].indexOf(vm.chartMode) > -1}">
                <i class="fa fa-fw fa-bar-chart"></i> Cumulated
            </button>
            <button class="btn btn-default" ng-click="vm.switchToComplete()"
                    ng-class="{'active': [vm.chartModes.SINGLE_COMPLETE,vm.chartModes.MULTIPLE_COMPLETE].indexOf(vm.chartMode) > -1}">
                <i class="fa fa-fw fa-area-chart"></i> Complete
            </button>
        </div>

        <button style="margin-left: 4px" class="btn btn-sm btn-default" ng-class="{'active':vm.showInColumns}"
                ng-click="vm.toggleShowInColumns()">
            <i class="fa fa-fw fa-columns"></i>
        </button>
    </action-bar>

    <div class="view-body has-sub-nav">
        <div class="alx-container-fluid">

            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Browser</th>
                    <th>Algorithm</th>
                    <th>|&#931;|</th>
                    <th>Equivalence queries</th>
                </tr>
                </thead>
                <tbody ng-if="!vm.chartData.context.length">
                <tr>
                    <td><strong>Test <span ng-bind="vm.chartData.context.testNo"></span></strong></td>
                    <td>
                        {{vm.chartData.context.driverConfig.name | formatWebBrowser}} ({{vm.chartData.context.driverConfig.width}}px x {{vm.chartData.context.driverConfig.height}}px)
                    </td>
                    <td ng-bind="vm.chartData.context.algorithm.name | formatAlgorithm"></td>
                    <td ng-bind="vm.chartData.context.symbols.length"></td>
                    <td ng-bind="vm.chartData.context.statistics.eqsUsed"></td>
                </tr>
                </tbody>
                <tbody ng-if="vm.chartData.context.length">
                <tr ng-repeat="result in vm.chartData.context">
                    <td><strong>Test <span ng-bind="result.testNo"></span></strong></td>
                    <td>
                        {{result.driverConfig.name | formatWebBrowser}} ({{result.driverConfig.width}}px x {{result.driverConfig.height}}px)
                    </td>
                    <td ng-bind="result.algorithm.name | formatAlgorithm"></td>
                    <td ng-bind="result.symbols.length"></td>
                    <td ng-bind="result.statistics.eqsUsed"></td>
                </tr>
                </tbody>
            </table>

            <hr>

            <div class="row" ng-if="vm.chartData.options">
                <div ng-class="vm.showInColumns ? 'col-md-12 col-lg-6' : 'col-xs-12'">

                    <widget title="Membership queries" id="chart-eqs">
                        <div style="width: 100%; height: 450px">
                            <linechart data="vm.chartData.data.mqs" options="vm.chartData.options"></linechart>
                        </div>
                        <hr>
                        <button class="btn btn-xs btn-default pull-right" ng-click="vm.downloadChart('#chart-eqs')">
                            <i class="fa fa-fw fa-download"></i> Download SVG
                        </button>
                    </widget>

                    <widget title="Duration (in ms)" id="chart-duration">
                        <div style="width: 100%; height: 450px">
                            <linechart data="vm.chartData.data.duration" options="vm.chartData.options"></linechart>
                        </div>
                        <hr>
                        <button class="btn btn-xs btn-default pull-right"
                                ng-click="vm.downloadChart('#chart-duration')">
                            <i class="fa fa-fw fa-download"></i> Download SVG
                        </button>
                    </widget>

                </div>
                <div ng-class="vm.showInColumns ? 'col-md-12 col-lg-6' : 'col-xs-12'">

                    <widget title="Symbol calls" id="chart-symbols">
                        <div style="width: 100%; height: 450px">
                            <linechart data="vm.chartData.data.symbols" options="vm.chartData.options"></linechart>
                        </div>
                        <hr>
                        <button class="btn btn-xs btn-default pull-right"
                                ng-click="vm.downloadChart('#chart-symbols')">
                            <i class="fa fa-fw fa-download"></i> Download SVG
                        </button>
                    </widget>

                </div>
            </div>
        </div>

    </div>
</div>
