<widget title="Resume configuration">

    <div class="form-group">
        <label class="control-label">Step from where to continue</label><br>
        <input class="form-control" type="number" min="1" max="{{vm.result.steps.length}}" ng-model="vm.configuration.stepNo">
        </input>
    </div>

    <hr class="separator-small">

    <div class="form-group">
        <label class="control-label">Equivalence oracle</label><br>
        <select class="form-control" ng-model="vm.selectedEqOracle" ng-change="vm.setEqOracle()"
                ng-options="(v|formatEqOracle) for (k,v) in vm.eqOracles">
            <option value="" disabled>select a method</option>
        </select>
    </div>

    <div class="form-horizontal form-condensed" ng-if="vm.configuration.eqOracle.type === vm.eqOracles.RANDOM">

        <div class="form-group">
            <div class="col-sm-7">
                <input class="form-control" ng-model="vm.configuration.eqOracle.minLength" type="number">
            </div>
            <label class="col-sm-5 text-left control-label">min length</label>
        </div>
        <div class="form-group">
            <div class="col-sm-7">
                <input class="form-control" ng-model="vm.configuration.eqOracle.maxLength" type="number">
            </div>
            <label class="col-sm-5 text-left control-label">max length</label>
        </div>
        <div class="form-group">
            <div class="col-sm-7">
                <input class="form-control" ng-model="vm.configuration.eqOracle.maxNoOfTests" type="number">
            </div>
            <label class="col-sm-5 control-label">random words</label>
        </div>
        <div class="form-group">
            <div class="col-sm-7">
                <input class="form-control" ng-model="vm.configuration.eqOracle.seed" type="number">
            </div>
            <label class="col-sm-5 text-left control-label">seed</label>
        </div>

        <hr class="separator-small">
    </div>
    <div class="form-horizontal form-condensed" ng-if="vm.configuration.eqOracle.type === vm.eqOracles.COMPLETE">

        <div class="form-group">
            <div class="col-sm-7">
                <input class="form-control" ng-model="vm.configuration.eqOracle.minDepth" type="number">
            </div>
            <label class="col-sm-5 control-label">min depth</label>
        </div>
        <div class="form-group">
            <div class="col-sm-7">
                <input class="form-control" ng-model="vm.configuration.eqOracle.maxDepth" type="number">
            </div>
            <label class="col-sm-5 control-label">max depth</label>
        </div>

        <hr class="separator-small">
    </div>

    <div class="form-horizontal form-condensed" ng-if="vm.configuration.eqOracle.type === vm.eqOracles.WMETHOD">
        <div class="form-group">
            <div class="col-sm-7">
                <input class="form-control" name="eq_oracle_wmethod_max_depth"
                       ng-model="vm.configuration.eqOracle.maxDepth" type="number"
                       required min="0"
                       placeholder="0">
            </div>
            <label class="col-sm-5 control-label">max depth</label>
        </div>

        <hr class="separator-small">
    </div>

    <div class="form-horizontal form-condensed" ng-if="vm.configuration.eqOracle.type === vm.eqOracles.HYPOTHESIS">
        <file-dropzone on-loaded="vm.loadHypothesis.bind(vm)">
            <span ng-if="!vm.configuration.eqOracle.hypothesis.nodes">
                Drag and drop *.json file here or click to upload
            </span>
            <span ng-if="vm.configuration.eqOracle.hypothesis.nodes">
                Use a Hypothesis with {{ vm.configuration.eqOracle.hypothesis.nodes.length }} states
            </span>
        </file-dropzone>

        <hr class="separator-small">
    </div>

    <div class="form-group">
        <label class="control-label">Steps to learn</label>
        <input ng-model="vm.configuration.maxAmountOfStepsToLearn" class="form-control"
               type="number" required min="-1" placeholder="-1">
        <p class="help-block">(-1 := learn until no counterexample can be found)</p>
    </div>
</widget>