.test-select-tree-header {
  padding: .75rem 1.25rem;
  margin-top: -1px;
  background: #f2f2f2;
  border: 1px solid #ddd;

  .test-select-tree-name {
    color: rgba(0, 0, 0, 0.6);
  }

  &:not(.has-parent) {
    border-radius: 4px;

    &:not(.collapse) {
      border-bottom-right-radius: 0;
    }
  }
}
