<div
  [ngClass]="{'collapse': collapse}"
  class="symbol-group-header d-flex flex-row align-items-center"
>
  <div>
    <i
      (click)="collapse = !collapse"
      [ngClass]="{'fa-minus-square': !collapse, 'fa-plus-square': collapse}"
      class="far fa-fw cursor-pointer"
    >
    </i>
  </div>
  <div class="pl-3">
    <selectable-checkbox-multiple [items]="group.symbols" [selectable]="selectedSymbols"></selectable-checkbox-multiple>
  </div>
  <div class="w-100 pl-3 py-0">
    <span class="symbol-group-name">{{group.name}}</span>
  </div>
  <div *ngIf="group.symbols.length === 0 && group.groups.length === 0" class="mr-3">
    <span class="badge badge-secondary">Empty</span>
  </div>
  <div>
    <ng-content></ng-content>
  </div>
</div>
