<div class="card">
  <div class="card-header">
    <strong>Test status</strong>
  </div>

  <ng-container *ngIf="status != null">

    <div class="card-body" *ngIf="!status.active">
      <div class="alert alert-info mb-0">
        There is no active test run.
      </div>
    </div>

    <div class="list-container" *ngIf="status.active">
      <div class="list-group list-group-flush mb-0">
        <div class="list-group-item d-flex flex-row align-items-center" *ngFor="let testRun of allTestRuns">
          <ng-container *ngIf="testRun != null">
            <a
              [routerLink]="['/app', 'projects', project.id, 'tests', 'reports', testRun.report.id]"
              class="w-100"
            >
              Test Run {{testRun.report.id}}, by: {{testRun.report.executedBy ? testRun.report.executedBy.username : "deleted/unknown user"}}
            </a>

            <span
              class="badge ml-2 p-2"
              [class.badge-success]="testRun.report.status === testReportStatus.FINISHED"
              [class.badge-danger]="testRun.report.status === testReportStatus.ABORTED"
              [class.badge-info]="testRun.report.status === testReportStatus.IN_PROGRESS"
              [class.badge-secondary]="testRun.report.status === testReportStatus.PENDING"
            >
              <i class="fas fa-fw fa-spin fa-circle-notch" *ngIf="testRun.report.status === testReportStatus.IN_PROGRESS"></i>
              {{testRun.report.status | normalizeUpperCase}}
            </span>

            <button class="btn btn-sm btn-default ml-2" *ngIf="canAbort(testRun.report)" (click)="abort(testRun.report)">Abort</button>
          </ng-container>
        </div>
      </div>
    </div>

  </ng-container>
</div>
