<h5><strong>Check attribute type</strong></h5>

<p class="text-muted">Check if a JSON attribute in the response body has a specific type.</p>
<hr>

<div class="form-group">
    <label>Attribute</label>
    <input class="form-control" type="text" placeholder="json attribute, e.g. myobj.attr[1].obj"
           ng-model="vm.action.attribute">
</div>
<div class="form-group">
    <label>Type</label>
    <select class="form-control" ng-model="vm.action.jsonType"
            ng-options="t as t for t in ['ARRAY', 'BOOLEAN', 'INTEGER', 'OBJECT', 'NULL', 'STRING']">
        <option value="" disabled>Choose a JavaScript type</option>
    </select>
</div>
