<div class="card mb-4">
  <div class="card-header">
    <strong>Pre steps</strong>
  </div>
  <div class="card-body p-0 bg-white">
    <test-case-table-pre-post-steps
      (stepsChange)="testCase.preSteps = $event"
      [steps]="testCase.preSteps"
      [symbolMap]="symbolMap"
      [groups]="groups"
      [dropListId]="'test-case-pre-steps-drop-list'"
      [connectedDropListIds]="['test-case-steps-drop-list', 'test-case-post-steps-drop-list']"
    >
    </test-case-table-pre-post-steps>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <strong>Test steps</strong>
  </div>
  <div class="card-body p-0">
    <table class="table mb-0">
      <thead>
      <tr>
        <th width="1">&nbsp;</th>
        <th>Symbol</th>
        <th>Expected output</th>
        <th>Actual output</th>
        <th width="1">&nbsp;</th>
      </tr>
      </thead>
      <tbody
        cdkDropList
        [cdkDropListData]="testCase.steps"
        (cdkDropListDropped)="drop($event)"
        [id]="'test-case-steps-drop-list'"
        [cdkDropListConnectedTo]="['test-case-pre-steps-drop-list', 'test-case-post-steps-drop-list']">
      <ng-container *ngIf="testCase.steps.length > 0">
        <tr
          class="test-case-step-row"
          *ngFor="let step of testCase.steps; let i = index" [class.table-danger]="result && result.failedStep === i"
          [class.disabled]="step.disabled"
          cdkDrag
        >
          <td>
            <div class="pl-2">
              <i class="fas fa-grip-vertical handle text-muted cursor-grabbing" cdkDragHandle></i>
            </div>
          </td>

          <td>
            <test-case-table-symbol-column
              [pSymbol]="step.pSymbol"
              [symbolMap]="symbolMap"
              [groups]="groups"
            >
            </test-case-table-symbol-column>
          </td>
          <td>
            <div class="flex-shrink-0">
              <span
                (click)="step.expectedOutputSuccess = !step.expectedOutputSuccess">{{step.expectedOutputSuccess ? 'Ok' : 'Failed'}}</span>
              <span [ngClass]="{'visibility-hidden': step.expectedOutputMessage === ''}">(</span>
              <input
                [(ngModel)]="step.expectedOutputMessage" style="max-width: 60px; margin: 0; padding: 0; border: 0; background: none; outline: none"
                type="text"
              >
              <span [ngClass]="{'visibility-hidden': step.expectedOutputMessage === ''}">)</span>
            </div>
          </td>
          <td>
            <div *ngIf="result != null && result.outputs[i] != null">
              <div>{{result.outputs[i].output}}</div>
              <output-error-trace [output]="result.outputs[i]" [showFirst]="false"></output-error-trace>
            </div>
          </td>
          <td>
            <div class="pr-2" style="white-space: nowrap">
              <toggle-button
                [enabled]="!step.disabled"
                (toggle)="step.disabled = !$event"
                class="d-inline-block px-3"
              >
              </toggle-button>

              <i (click)="testCase.steps.splice(i, 1)" class="fas fa-times cursor-pointer"></i>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="testCase.steps.length === 0">
        <tr>
          <td colspan="5">
            <div class="alert alert-info mb-0">
              Select a symbol to model the test case.
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <strong>Post steps</strong>
  </div>
  <div class="card-body p-0">
    <test-case-table-pre-post-steps
      (stepsChange)="testCase.postSteps = $event"
      [steps]="testCase.postSteps"
      [symbolMap]="symbolMap"
      [groups]="groups"
      [dropListId]="'test-case-post-steps-drop-list'"
      [connectedDropListIds]="['test-case-steps-drop-list', 'test-case-pre-steps-drop-list']"
    >
    </test-case-table-pre-post-steps>
  </div>
</div>
