<div class="modal-header">
  <h4 class="modal-title">Edit symbol: {{::vm.symbol.name}}</h4>
  <a class="btn btn-default btn-icon float-right" ng-click="vm.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form name="vm.form" ng-submit="vm.updateSymbol()">

  <div class="modal-body">

    <div class="alert alert-danger" ng-if="vm.errorMsg">
      {{vm.errorMsg}}
    </div>

    <symbol-form-groups symbol="vm.symbol" form="vm.form"></symbol-form-groups>

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="submit">Update</button>
    <a href="" class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</a>
  </div>

</form>
