<div class="symbol-select-dropdown">
  <button class="btn {{vm.variant}} flex-shrink-0" ng-click="vm.enableSelection()">Select symbol</button>
  <div style="position: relative">
    <div ng-if="vm.showMenu" style="position: absolute; top: 0; right: 0; width: 300px;
    background: #fff; border: 1px solid #ccc; border-radius: 4px; z-index: 100;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)">
      <div class="text-right" style="padding: .5rem; background: #f5f5f5; border-bottom: 1px solid #ddd">
        <button class="btn btn-xs btn-default" ng-click="vm.showMenu = false">Cancel</button>
      </div>
      <div style="overflow: auto; padding: 1rem; max-height: 280px">
        <simple-symbol-group-tree
          groups="vm.groups"
          on-symbol-selected="vm.handleSymbolSelected(symbol)"
          selected-symbol="vm.selectedSymbol"
        >
        </simple-symbol-group-tree>
      </div>
    </div>
  </div>
</div>
