<div class="modal-header">
  <h4 class="modal-title">Select a symbol</h4>
  <a class="btn btn-default btn-icon float-right" ng-click="vm.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form ng-submit="vm.ok()">
  <div class="modal-body">

    <div style="height: 31px; margin-bottom: 1rem">
      <symbol-search-form
          groups="vm.groups"
          on-selected="vm.selectSymbolAndClose(symbol)"
      >
      </symbol-search-form>
    </div>

    <div class="card mb-0">
      <div class="card-body p-2">
        <simple-symbol-group-tree
            groups="vm.groups"
            on-symbol-selected="vm.selectSymbol(symbol)"
            selected-symbol="vm.selectedSymbol"
        >
        </simple-symbol-group-tree>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="submit">Add</button>
    <a href class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</a>
  </div>
</form>
