<h5>
  <strong>Drag and drop by</strong>
</h5>
<p class="text-muted">
  Drag an element by a defined amount of pixel.
</p>
<hr>

<node-form-group node="vm.action.sourceNode" label="Source node"></node-form-group>

<div class="form-group">
  <label>Offset X (px)</label>
  <input type="number" class="form-control" ng-model="vm.action.offsetX" required>
</div>

<div class="form-group">
  <label>Offset Y (px)</label>
  <input type="number" class="form-control" ng-model="vm.action.offsetY" required>
</div>