<div class="view">
    <view-header title="Manage Users"></view-header>

    <action-bar>
        <div class="d-flex flex-row align-items-center" ng-if="vm.users.length > 0">
            <selectable-checkbox-multiple selectable="vm.selectedUsers"></selectable-checkbox-multiple>

            <div class="w-100 ml-3">
                <button class="btn btn-sm btn-primary mr-2" ng-click="vm.createUser()">
                    Create
                </button>

                <button class="btn btn-sm btn-default"
                        ng-click="vm.deleteSelectedUsers()"
                        ng-disabled="!vm.selectedUsers.isAnySelected()">
                    Delete
                </button>
            </div>
        </div>
    </action-bar>

    <div class="view-body">
        <div class="container-fluid">

            <table class="table">
                <thead>
                <tr>
                    <th width="1">&nbsp;</th>
                    <th width="1">ID</th>
                    <th width="1">Email</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr
                    ng-repeat="user in vm.users"
                    ng-class="{'success': user.id === vm.user.id, 'info': user.role === 'ADMIN' && user.id !== vm.user.id}"
                >
                    <td>
                        <selectable-checkbox
                            item="user"
                            selectable="vm.selectedUsers"
                        >
                        </selectable-checkbox>
                    </td>
                    <td ng-bind="user.id"></td>
                    <td ng-bind="user.email"></td>
                    <td>
                        <span
                            class="badge"
                            ng-class="user.role === 'ADMIN' ? 'badge-danger' : 'badge-primary'"
                            ng-bind="user.role | normalizeUpperCase"
                        >
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs float-right" ng-click="vm.editUser(user)">
                            <i class="fas fa-edit fa-fw"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
