<div class="modal-header">
    <a class="btn btn-default btn-icon pull-right" ng-click="vm.dismiss()">
        <i class="fa fa-close fa-fw"></i>
    </a>
    <h3 class="modal-title">Edit the symbol</h3>
</div>

<form name="vm.form" ng-submit="vm.updateSymbol()">

    <div class="modal-body">

        <div class="form-group">
            <label>Symbol Name</label>
            <input class="form-control"
                   name="name"
                   type="text"
                   placeholder="The name of the symbol"
                   required
                   ng-maxlength="100"
                   ng-model="vm.symbol.name">

            <div class="help-block" ng-messages="vm.form.name.$error" ng-if="vm.form.name.$touched">
                <div class="alert alert-danger alert-condensed" ng-message="required">
                    The name is required
                </div>
                <div class="alert alert-danger alert-condensed" ng-message="maxlength">
                    The name can not be more than 100 characters long
                </div>
            </div>
        </div>

        <div class="alert alert-danger alert-condensed" ng-if="vm.errorMsg" ng-bind="vm.errorMsg"></div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit">Update</button>
    </div>

</form>