<div class="list-group">
    <div
        class="list-group-item d-flex flex-row"
        ng-class="{'active': vm.selectedConfig.id === config.id}"
        ng-repeat="config in vm.configs track by $index"
    >
        <div class="w-100 cursor-pointer text-wrap" ng-click="vm.selectConfig(config)">
            <strong>{{config.driverConfig.name | formatWebBrowser}}</strong><br>
            <span>{{config.url.url}}</span>
        </div>
        <div class="pl-1">
            <i class="fa fa-fw fa-trash cursor-pointer" ng-click="vm.deleteConfig(config)"></i>
        </div>
    </div>
</div>
