<div class="view view-test-reports">
    <view-header title="Test Reports"></view-header>
    <action-bar>
        <checkbox-multiple model="vm.reports" class="pull-left"></checkbox-multiple>

        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" ng-click="vm.deleteSelectedReports()">Delete</button>
        </div>

    </action-bar>
    <div class="view-body">
        <div class="alx-container-fluid">

            <div class="alert alert-info" ng-if="vm.reports.length === 0">
                There are no reports.
            </div>

            <table class="table table-condensed table-striped" ng-if="vm.reports.length > 0">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Start date</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Failed</th>
                    <th>Time [ms]</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="report in vm.reports | orderBy:'-startDate':false">
                    <th width="1%">
                        <checkbox model="report"></checkbox>
                    </th>
                    <td width="1%" style="min-width: 140px;">{{report.startDate | date : 'EEE, dd.MM.yyyy, HH:mm'}}</td>
                    <td width="1%">
                        <span class="label label-success" ng-if="report.passed">Passed</span>
                        <span class="label label-danger" ng-if="!report.passed">Failed</span>
                    </td>
                    <td width="1%" class="text-center">
                        {{report.numTests}}
                    </td>
                    <td width="1%" class="text-center">
                        {{report.numTestsFailed}}
                    </td>
                    <td width="1%" style="min-width: 68px">
                        {{report.time}}
                    </td>
                    <td width="100%">
                        <a ui-sref="testReport({projectId: report.project, reportId: report.id})">Details</a>
                    </td>
                    <td width="1%">
                        <div class="btn-group btn-group-sm" uib-dropdown>
                            <button type="button" class="btn btn-default btn-icon" uib-dropdown-toggle>
                                <i class="fa fa-bars"></i>
                            </button>
                            <ul uib-dropdown-menu class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href ng-click="vm.openReport(report)">
                                        <i class="fa fa-fw fa-search"></i> Details
                                    </a>
                                </li>
                                <li>
                                    <a href ng-click="vm.deleteReport(report)">
                                        <i class="fa fa-fw fa-trash"></i> Delete
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href ng-click="vm.downloadReport(report)">
                                        <i class="fa fa-fw fa-download"></i> Download
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
