<div id="counter-example-builder">
	<div class="wrapper">
	
		<nav class="navbar navbar-default" role="navigation">
	        <div class="container-fluid">
	        
	        	<p class="navbar-text"><strong>Counter Example Builder</strong></p>
	        
	            <button class="btn btn-default navbar-btn pull-right" ng-click="close()"><i
	                    class="fa fa-close"></i></button>
	            <button class="btn btn-primary navbar-btn pull-right" ng-click="ok()" style="margin-right: 7px">ok</button>
	            <button class="btn btn-default navbar-btn pull-right" ng-click="ok()" style="margin-right: 7px">
	            	<i class="fa fa-eye"></i>
	            </button>  
	        </div>
	    </nav>
	    
	    <div class="available-inputs-panel">
	        <ul class="list-group">
	            <li class="list-group-item" ng-repeat="input in inputs" draggable="true" effect-allowed="copy"
	                draggable-type="custom-object" draggable-data="input">{{input}}</li>
	        </ul>
	    </div>
    
    <div class="counter-example-panel">

		<div class="counter-example-list-wrapper">
            <div class="list-group" as-sortable ng-model="ios">
                <div class="list-group-item" ng-repeat="io in counterExample track by $index" as-sortable-item>

                    <span class="text-muted pull-right" ng-click="remove($index)">
                        <i class="fa fa-trash fa-fw"></i>
                    </span>

                    <span class="text-muted pull-right" as-sortable-item-handle style="display: inline-block; margin-right: 5px">
                        <i class="fa fa-sort fa-fw"></i>
                    </span>

                    <div class="container-fluid clearfix" style="margin-right: 50px; padding: 0">

                        <div style="width: 66%; float: left" drop="onDropInput($data, $event, $index)" drop-effect="copy"
                             drop-accept="'json/custom-object'">
                            <div class="counter-example-input">{{io.input}}</div>
                        </div>

                        <div style="width: 34%; float: left">
                            <select class="form-control">
                            	<option>OK</option>
                            	<option>FAILED</option>
                            </select>
                        </div>

                    </div>

                </div>
        	</div>
        	
        	<button class="btn btn-default btn-sm btn-block" ng-click="add()">
	            Add
	        </button>
    	</div>
		
    </div>
				
	</div>
</div>