<form class="form form-condensed" ng-submit="addCounterExample()">
    <p class="text-muted">
        Click on the labels of the hypothesis
    </p>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="input" ng-model="newCounterExample.input">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="output" ng-model="newCounterExample.output">
    </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-xs">Add</button>
        <a href class="btn btn-default btn-xs" ng-click="testCounterExample(counterExample)">Test</a>
    </div>
</form>
<hr>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="ce in counterExamples">
        <span class="btn btn-icon pull-right" ng-click="removeCounterExample(ce, $index)">
            <i class="fa fa-trash"></i>
        </span>
        {{ce.input}}<br>
        {{ce.output}}
    </li>
</ul>