<div class="test-suite-node">
  <div class="header d-flex flex-row">
    <div class="test-icon">
      <i class="fas fa-fw fa-folder"></i>
    </div>
    <a
      class="name d-flex flex-row align-items-center w-100"
      ui-sref="test({projectId: vm.suite.project, testId: vm.suite.id})"
    >
      <div class="w-100">
        <strong>{{vm.suite.name}}</strong>
      </div>
      <div>
        <span class="pull-right" ng-if="vm.result">
          <span class="label label-success" ng-if="vm.result.passed">
            Passed
          </span>
          <span class="label label-danger" ng-if="!vm.result.passed && vm.result.testCasesPassed === 0">
            Failed
          </span>
          <span class="label label-warning" ng-if="!vm.result.passed && vm.result.testCasesPassed > 0">
            {{vm.result.testCasesFailed}}/{{vm.result.testCasesRun}} Failed
          </span>
        </span>
      </div>
    </a>
  </div>
</div>
