
<!-- BEGIN: SEARCH_FOR_TEXT -->
<div ng-if="action.type == types.SEARCH_FOR_TEXT">
    <p class="text-muted">
        Search on a page for a piece of text or a regular expression
    </p>

    <div class="form-group">
        <label class="control-label">Value</label>
        <input class="form-control" type="text" placeholder="value" ng-model="action.value">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="action.regexp"> Use Regular Expression
        </label>
    </div>
    <button class="btn btn-default btn-sm" open-web-element-picker url="action.url" selector="action.value">
        <i class="fa fa-magic fa-fw"></i>&nbsp; WebPicker
    </button>
</div>
<!-- END: SEARCH_FOR_TEXT -->


<!-- BEGIN: SEARCH_FOR_NODE -->
<div ng-if="action.type == types.SEARCH_FOR_NODE">
    <p class="text-muted">
        Search an HTML element in the DOM tree of a page
    </p>

    <div class="form-group">
        <label class="control-label">CSS selector</label>
        <input class="form-control" type="text" placeholder="CSS selector" ng-model="action.value">
    </div>

    <button class="btn btn-default btn-sm" open-web-element-picker url="action.url" selector="action.value">
        <i class="fa fa-magic fa-fw"></i>&nbsp; WebPicker
    </button>
</div>
<!-- END: SEARCH_FOR_NODE -->


<!-- BEGIN: CLEAR -->
<div ng-if="action.type == types.CLEAR">
    <p class="text-muted">
        Clear an element (eg. input or contenteditable element)
    </p>

    <div class="form-group">
        <label class="control-label">CSS selector</label>
        <input class="form-control" type="text" placeholder="CSS selector" ng-model="action.node">
    </div>

    <button class="btn btn-default btn-sm" open-web-element-picker url="action.url" selector="action.node">
        <i class="fa fa-magic fa-fw"></i>&nbsp; WebPicker
    </button>
</div>
<!-- END: CLEAR -->


<!-- BEGIN: CLICK -->
<div ng-if="action.type == types.CLICK">
    <p class="text-muted">
        Click on an element
    </p>

    <div class="form-group">
        <label class="control-label">CSS selector</label>
        <input class="form-control" type="text" placeholder="CSS selector" ng-model="action.node">
    </div>
    <button class="btn btn-default btn-sm" open-web-element-picker url="action.url" selector="action.node">
        <i class="fa fa-magic fa-fw"></i>&nbsp; WebPicker
    </button>
</div>
<!-- END: CLICK -->


<!-- BEGIN: FILL -->
<div ng-if="action.type == types.FILL">
    <p class="text-muted">
        Fill an element with content (eg. input or contenteditable element)
    </p>

    <div class="form-group">
        <label class="control-label">CSS selector</label>
        <input class="form-control" type="text" placeholder="CSS selector" ng-model="action.node">
    </div>
    <div class="form-group">
        <label class="control-label">The value to fill the element with</label>
        <input class="form-control" type="text" placeholder="value" ng-model="action.generator">
    </div>
    <button class="btn btn-default btn-sm" open-web-element-picker url="action.url" selector="action.node">
        <i class="fa fa-magic fa-fw"></i>&nbsp; WebPicker
    </button>
</div>
<!-- END: FILL -->


<!-- BEGIN: GO_TO -->
<div ng-if="action.type == types.GO_TO">
    <p class="text-muted">
        Go to a url that is <strong>relative</strong> to your projects' base url
    </p>

    <div class="form-group">
        <label class="control-label">Url</label>
        <input class="form-control" type="text" placeholder="url" ng-model="action.url">
    </div>
</div>
<!-- END: GO_TO -->


<!-- BEGIN: SUBMIT -->
<div ng-if="action.type == types.SUBMIT">
    <p class="text-muted">
        Submit a form
    </p>

    <div class="form-group">
        <label class="control-label">CSS selector</label>
        <input class="form-control" type="text" placeholder="CSS selector" ng-model="action.node">
    </div>
    <button class="btn btn-default btn-sm" open-web-element-picker url="action.url" selector="action.node">
        <i class="fa fa-magic fa-fw"></i>&nbsp; WebPicker
    </button>
</div>
<!-- END: SUBMIT -->


<!-- BEGIN: WAIT -->
<div ng-if="action.type == types.WAIT">
    <p class="text-muted">
        Wait for a specified amount of time before the next action will be executed
    </p>

    <div class="form-group">
        <label class="control-label">Time to wait (in ms)</label>
        <input class="form-control" type="number" placeholder="time in ms" ng-model="action.duration">
    </div>
</div>
<!-- END: WAIT -->