<div id="alert-list" class="panel panel-default" ng-if="alerts.length > 0">
    <div class="panel-body">
        <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}">
            <strong ng-switch on="alert.type">
                <span ng-switch-when="success">Success! </span>
                <span ng-switch-when="danger">Error! </span>
            </strong>
            <span ng-click="closeAlert(alert)" class="close pull-right">
                <i class="fa fa-close"></i>
            </span>
            <span ng-bind="alert.text"></span>
        </div>
    </div>
</div>