<form id="rest-action-create-form" ng-submit="submitForm()">

    <select class="form-control" ng-model="action.type" ng-options="k for (k,v) in actionTypes">
        <option value="" disabled>Select an action you want to create</option>
    </select>

    <p></p>

    <!-- BEGIN: CALL_URL -->
    <div ng-if="action.type == actionTypes.CALL_URL">
        <p class="text-muted">Make a HTTP request to an URL (relative to your projects base url)</p>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="url" ng-model="action.url">
        </div>
        <div class="form-group">
            <select class="form-control" ng-options="m for m in ['DELETE', 'GET', 'POST', 'PUT']" ng-model="action.method">
                <option value="" disabled>Select a Method</option>
            </select>
        </div>
        <div class="form-group">
            <label>Data</label>
            <div ng-model="action.data" style="border-radius: 4px; width: 100%; height: 150px; border: 1px solid #ccc" ui-ace="{useWrapMode : true, showGutter: true, theme:'eclipse', mode: 'json'}"></div>
        </div>
    </div>
    <!-- END: CALL_URL -->


    <!-- BEGIN: CHECK_ATTRIBUTE_EXISTS -->
    <div ng-if="action.type == actionTypes.CHECK_ATTRIBUTE_EXISTS">
        <p class="text-muted">Check if a JSON attribute exists in the response body</p>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="json attribute, e.g. myobj.attr[1].obj" ng-model="action.attribute">
        </div>
    </div>
    <!-- END: CHECK_ATTRIBUTE_EXISTS -->


    <!-- BEGIN: CHECK_ATTRIBUTE_TYPE -->
    <div ng-if="action.type == actionTypes.CHECK_ATTRIBUTE_TYPE">
        <p class="text-muted">Check if a JSON attribute in the response body has a specific type</p>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="json attribute, e.g. myobj.attr[1].obj" ng-model="action.attribute">
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="action.jsonType" ng-options="t as t for t in ['ARRAY', 'BOOLEAN', 'INTEGER', 'OBJECT', 'NULL', 'STRING']">
                <option value="" disabled>Choose a JavaScript type</option>
            </select>
        </div>
    </div>
    <!-- END: CHECK_ATTRIBUTE_TYPE -->


    <!-- BEGIN: CHECK_ATTRIBUTE_VALUE -->
    <div ng-if="action.type == actionTypes.CHECK_ATTRIBUTE_VALUE">
        <p class="text-muted">Check a JSON attribute of the response body to be a specific value</p>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="json attribute, e.g. myobj.attr[1].obj" ng-model="action.attribute">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="the attribute value" ng-model="action.value">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="action.regexp"> is regular expression
            </label>
        </div>
    </div>
    <!-- END: CHECK_ATTRIBUTE_VALUE -->


    <!-- BEGIN: CHECK_HEADER_FIELD -->
    <div ng-if="action.type == actionTypes.CHECK_HEADER_FIELD">
        <p class="text-muted">Check a HTTP response header field to have a specific value</p>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="http header field, e.g. Content-Type" ng-model="action.key">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="http header field value, e.g. application/json" ng-model="action.value">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="action.regexp">is regular expression
            </label>
        </div>
    </div>
    <!-- END: CHECK_HEADER_FIELD -->


    <!-- BEGIN: CHECK_HTTP_BODY_TEXT -->
    <div ng-if="action.type == actionTypes.CHECK_HTTP_BODY_TEXT">
        <p class="text-muted">Search for a string or a regular express in the response body of a request</p>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="value to search for" ng-model="action.value">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="action.regexp">
                is regular expression
            </label>
        </div>
    </div>
    <!-- END: CHECK_HTTP_BODY_TEXT -->


    <!-- BEGIN: CHECK_STATUS -->
    <div ng-if="action.type == actionTypes.CHECK_STATUS">
        <p class="text-muted">Check the HTTP response to have a specific status</p>
        <div class="form-group">
            <input class="form-control" type="number" placeholder="e.g. 200, 404 ..." ng-model="action.status">
        </div>
    </div>
    <!-- END: CHECK_STATUS -->

    <div ng-if="action.type">
        <hr>
        <button class="btn btn-primary btn-sm" type="submit">Create Action</button>
    </div>

</form>