<div class="modal-header">
  <h4 class="modal-title">Separating word</h4>
  <a class="btn btn-default btn-icon float-right" (click)="modal.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<div class="modal-body" style="overflow: auto; max-height: 420px">
  <table class="table">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Symbol</th>
      <th>Hypothesis 1</th>
      <th>Hypothesis 2</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let symbol of diff.input; let i = index" [ngClass]="{'info': i === diff.input.length - 1}">
      <td style="width: 1px">{{i + 1}}.</td>
      <td>
        <strong>{{symbol}}</strong>
      </td>
      <td>
        <span class="badge badge-default" [ngClass]="{'badge-info': i === diff.input.length - 1}">{{diff.output1[i]}}</span>
      </td>
      <td>
        <span class="badge badge-default" [ngClass]="{'badge-info': i === diff.input.length - 1}">{{diff.output2[i]}}</span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><button class="btn btn-default btn-sm btn-block" (click)="generateTestCase(1)">Generate test case</button></td>
      <td><button class="btn btn-default btn-sm btn-block" (click)="generateTestCase(2)">Generate test case</button></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-sm btn-primary" (click)="modal.dismiss()">Ok</button>
  <button class="btn btn-sm btn-default" (click)="modal.dismiss()">Cancel</button>
</div>
