<div class="modal-header">
  <h4 class="modal-title">Configure the test run</h4>
  <a (click)="modal.dismiss()" class="btn btn-icon float-right">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<div class="modal-body">

  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>WebDriver</a>
      <ng-template ngbNavContent>
        <br>

        <driver-config-form
          *ngIf="configuration.driverConfig != null"
          [(config)]="configuration.driverConfig"
        >
        </driver-config-form>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Targets</a>
      <ng-template ngbNavContent>
        <br>

        <p class="text-muted">
          Select an environment for testing.
        </p>

        <div class="list-group">
          <div
            (click)="this.configuration.environmentId = env.id"
            *ngFor="let env of project.environments"
            [ngClass]="{'active': env.id === this.configuration.environmentId}"
            class="list-group-item cursor-pointer"
          >
            {{env.name}}
          </div>
        </div>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav"></div>

</div>

<div class="modal-footer">
  <button (click)="update()" [disabled]="!validConfig" class="btn btn-success btn-sm">Update</button>
  <button (click)="modal.dismiss(); $event.preventDefault()" class="btn btn-default btn-sm">Cancel</button>
</div>
