<div class="card">
  <div class="card-header">
    <strong>Learner status</strong>
  </div>
  <div class="card-body">

    <div *ngIf="status == null || !status.active" class="alert alert-info mb-0">
      The learner is not active. <a [routerLink]="['learner', 'setup']">Start learning</a> your application!
    </div>

    <div *ngIf="status != null && status.active" class="alert alert-warning mb-0 clearfix">
      The learner is currently learning an application.
      <hr>
      <div>
        <a class="btn btn-xs btn-warning mr-2" [routerLink]="['learner', 'learn']">
          <i class="fas fa-eye fa-fw"></i> Show progress
        </a>
        <button (click)="abort()" class="btn btn-xs btn-warning">
          <i class="fas fa-times fa-fw"></i> Abort
        </button>
      </div>
    </div>

  </div>
</div>
