<div class="modal-header">
  <h4 class="modal-title">Import a project</h4>
  <a (click)="modal.dismiss()" class="btn btn-icon float-right">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form [formGroup]="form" (ngSubmit)="importProject()">
  <div class="modal-body">

    <div *ngIf="errorMessage != null" class="alert alert-danger">{{errorMessage}}</div>

    <file-dropzone (loaded)="fileLoaded($event)" *ngIf="importData == null">
      Drag and drop *.json file here or click to upload
    </file-dropzone>

    <div *ngIf="importData != null">
      <div class="alert alert-info">
        <i (click)="importData = null" class="fas fa-fw fa-times float-right cursor-pointer"></i>
        <span *ngIf="importData.type === 'project'" class="badge badge-primary mr-2">Project</span>
        <span class="badge badge-secondary">{{importData.version}}</span>
      </div>

      <div class="form-group">
        <label>Name</label>
        <input
          class="form-control"
          name="name"
          placeholder="The name of the project"
          required
          [formControl]="form.controls.name"
          [class.is-invalid]="formUtils.isInvalidFormControl(form.controls.name)"
        >
        <div class="invalid-feedback">
          Please enter a name for the project.
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="submit" [disabled]="form.invalid || importData == null">Import</button>
    <button (click)="modal.dismiss(); $event.stopPropagation()" class="btn btn-default btn-sm">Cancel</button>
  </div>
</form>
