<div class="test-suite-tree">
  <div class="d-flex flex-row">
    <div>
      <i
        class="far fa-fw cursor-pointer"
        [ngClass]="{'fa-minus-square': !collapse, 'fa-plus-square': collapse, 'invisible': getTestSuites().length === 0}"
        (click)="collapse = !collapse"
      >
      </i>
    </div>
    <div
      class="header w-100 cursor-pointer"
      (click)="selectTestSuite(testSuite)"
      [ngClass]="{'selected': testSuite === selectedTestSuite}"
    >
      <i class="fas fa-folder fa-fw"></i> <strong>{{testSuite.name}}</strong>
    </div>
  </div>
  <div class="children" style="padding-left: 1.5rem" [ngbCollapse]="collapse">
    <test-suite-tree
      *ngFor="let testSuite of getTestSuites()"
      [testSuite]="testSuite"
      [selectedTestSuite]="selectedTestSuite"
      (selected)="selectTestSuite($event)"
      [level]="level + 1"
    >
    </test-suite-tree>
  </div>
</div>
