<div class="modal-header">
    <h3 class="modal-title">Import tests</h3>
</div>
<div class="modal-body pb-0">
    <div class="alert alert-danger" ng-if="vm.errorMessage !== null">
        {{vm.errorMessage}}
    </div>

    <file-dropzone on-loaded="vm.fileLoaded.bind(vm)" ng-if="vm.importData == null">
        Drag and drop file here or click to select a file
    </file-dropzone>

    <div class="alert alert-info" ng-if="vm.importData != null">
        <i class="fa fa-fw fa-close pull-right cursor-pointer" ng-click="vm.importData = null"></i>
        <span class="label label-primary">Tests</span> <br>
        <span class="label label-default">{{vm.importData.version}}</span>
    </div>

    <div class="list-group" ng-if="vm.importData != null && vm.importData.tests.length">
        <div class="list-group-item d-flex" ng-repeat="test in vm.importData.tests">
            <i class="fa fa-fw" ng-class="{'fa-file-o': test.type === 'case', 'fa-folder-o': test.type === 'suite'}"></i>
            <strong class="d-block flex-grow-1 ml-1 mr-1">{{test.name}}</strong>
            <i class="fa fa-fw fa-close pull-right" ng-click="vm.importData.tests.splice($index, 1)"></i>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="vm.importTests()">Import</button>
    <button class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</button>
</div>
