<div class="modal-header">
  <h4 class="modal-title">Usages of symbol <strong>{{symbol.name}}</strong></h4>
  <a class="btn btn-default btn-icon float-right" (click)="modal.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<div class="modal-body" *ngIf="result != null">
  <div class="alert alert-info mb-0" *ngIf="!result.inUse">
    The symbol is not used anywhere.
  </div>

  <div *ngIf="result.inUse">
    <p>
      <strong>In symbols</strong>
    </p>
    <div class="alert alert-info" *ngIf="result.symbols.length === 0">
      The symbol is not used in other symbols.
    </div>
    <div class="list-group" *ngIf="result.symbols.length > 0">
      <a
        class="list-group-item list-group-item-action"
        *ngFor="let s of result.symbols"
        [href]="'#!/projects/' + s.project + '/symbols/' + s.id"
        (click)="modal.dismiss(); $event.preventDefault()"
      >
        {{s.name}}
      </a>
    </div>

    <div class="mt-3">
      <p>
        <strong>In tests</strong>
      </p>
      <div class="alert alert-info" *ngIf="result.testCases.length === 0">
        The symbol is not used in tests.
      </div>
      <div class="list-group" *ngIf="result.testCases.length > 0">
        <a
          class="list-group-item list-group-item-action"
          *ngFor="let t of result.testCases"
          [href]="'#!/projects/' + t.project + '/tests/' + t.id"
          (click)="modal.dismiss(); $event.preventDefault()"
        >
          {{t.name}}
        </a>
      </div>
    </div>

    <div class="mt-3">
      <p>
        <strong>In learner results</strong>
      </p>
      <div class="alert alert-info" *ngIf="result.learnerResults.length === 0">
        The symbol has not been used for learning.
      </div>
      <div class="list-group" *ngIf="result.learnerResults.length > 0">
        <a
          class="list-group-item list-group-item-action"
          *ngFor="let r of result.learnerResults"
          [href]="'#!/projects/' + r.project + '/learner/results/' + r.testNo"
          (click)="modal.dismiss(); $event.preventDefault()"
        >
          Test No <span>{{r.testNo}}</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary btn-sm" (click)="modal.dismiss()">Ok</button>
</div>
