<div class="view view-webhooks">
    <view-header [title]="'Webhooks'"></view-header>

    <action-bar>
        <div class="d-flex flex-row align-items-center">
            <selectable-checkbox-multiple [selectable]="vm.selectedWebhooks"></selectable-checkbox-multiple>

            <div class="w-100 ml-3">
                <button class="btn btn-sm btn-primary mr-2" ng-click="vm.createWebhook()">
                    Create
                </button>

                <button
                    class="btn btn-sm btn-default"
                    ng-click="vm.deleteSelectedWebhooks()"
                    ng-disabled="!vm.selectedWebhooks.isAnySelected()"
                >
                    Delete
                </button>
            </div>
        </div>
    </action-bar>

    <div class="view-body">
        <div class="container-fluid">

            <div class="list-group" ng-if="vm.webhooks.length > 0">
                <div class="list-group-item d-flex flex-row" ng-repeat="webhook in vm.webhooks | orderBy:'-name':true">
                    <div>
                        <selectable-checkbox [item]="webhook" [selectable]="vm.selectedWebhooks"></selectable-checkbox>
                    </div>

                    <div class="w-100 mx-3">
                        <strong class="d-block">{{webhook.name}}</strong>
                        <em class="text-muted d-block">{{webhook.url}}</em>
                        <hr style="margin: 1rem 0">
                        <div class="d-flex flex-row">
                            <div style="padding-right: .75rem; min-width: 65px; padding-top: .5rem">
                                <label>Listen on:</label>
                            </div>
                            <div class="w-100">
                                <span class="badge badge-success py-2 px-3 mr-2 mb-2 d-inline-block"
                                      ng-repeat="event in webhook.events">
                                    {{event|normalizeUpperCase}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="btn-group btn-group-sm" uib-dropdown>
                            <button class="btn btn-sm btn-icon no-caret" uib-dropdown-toggle>
                                <i class="fas fa-fw fa-bars"></i>
                            </button>
                            <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu">
                                <a class="dropdown-item" href="" ng-click="vm.updateWebhook(webhook)">
                                    <i class="fas fa-fw fa-edit"></i> Edit
                                </a>
                                <a class="dropdown-item" href="" ng-click="vm.deleteWebhook(webhook)">
                                    <i class="fas fa-fw fa-trash"></i> Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-info" ng-if="vm.webhooks.length === 0">
                You haven't registered any webhooks yet.
            </div>

        </div>
    </div>
</div>
