<div class="modal-header">
  <h4 class="modal-title">Register a webhook</h4>
  <a class="btn btn-default btn-icon float-right" ng-click="vm.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<div class="modal-body">
  <div class="alert alert-danger" ng-if="vm.errorMessage != null">
    <strong class="d-block">The webhook could not be created.</strong>
    <span>{{vm.errorMessage}}</span>
  </div>

  <webhook-form webhook="vm.webhook" events="vm.events"></webhook-form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary btn-sm" ng-click="vm.createWebhook()">Register</button>
  <button class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</button>
</div>
