<div class="form-horizontal form-condensed">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Max depth</label>
    <div class="col-sm-9">
      <input
        [(ngModel)]="eqOracle.maxDepth"
        class="form-control"
        min="0"
        name="eq_oracle_wmethod_max_depth"
        placeholder="0"
        required
        type="number"
      >

      <div
        *ngIf="form.eq_oracle_wmethod_max_depth.$dirty && form.eq_oracle_wmethod_max_depth.$invalid"
        class="alert alert-danger alert-condensed mb-0"
      >
        <small *ngIf="form.eq_oracle_wmethod_max_depth.$error.required">The field must not be empty.</small>
        <small *ngIf="form.eq_oracle_wmethod_max_depth.$error.min">The value must be &ge; 0.</small>
      </div>
    </div>
  </div>
</div>
