<div class="symbol-list-item d-flex flex-row align-items-center" ng-class="{'selectable': vm.selectable}">

    <div class="mr-3" ng-if="vm.selectable != null">
        <selectable-checkbox item="vm.symbol" selectable="vm.selectable"></selectable-checkbox>
    </div>

    <div class="w-100 mr-1">
        <a ui-sref="symbol({projectId: vm.symbol.project, symbolId: vm.symbol.id})"
           ng-if="vm.symbol.id && !vm.symbol.hidden" style="color: #333">
            <strong>{{vm.symbol.name}}</strong>
        </a>
        <strong ng-if="vm.symbol.id == null || vm.symbol.hidden">{{vm.symbol.name}}</strong>
    </div>

    <div ng-transclude></div>
</div>
