<div class="view">
  <action-bar>
    <div class="d-flex flex-row align-items-center">
      <selectable-checkbox-multiple [selectable]="store.formulasSelectable"></selectable-checkbox-multiple>
      <div class="w-100 ml-3">
        <button (click)="store.create()" class="btn btn-sm btn-primary mr-2">
          Create
        </button>

        <div class="btn-group btn-group-sm">
          <button
            (click)="store.edit(store.formulasSelectable.getSelected()[0])"
            [disabled]="store.formulasSelectable.getSelected().length !== 1"
            class="btn btn-default"
          >
            Edit
          </button>
          <button
            (click)="store.deleteSelected()"
            [disabled]="!store.formulasSelectable.isAnySelected()"
            class="btn btn-default"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </action-bar>

  <div class="view-body">
    <div class="container-fluid">

      <div *ngIf="(store.formulas$ | async).length > 0" class="list-group">
        <div *ngFor="let formula of store.formulas$ | async" class="list-group-item d-flex flex-row">
          <div class="mr-3">
            <selectable-checkbox [item]="formula" [selectable]="store.formulasSelectable"></selectable-checkbox>
          </div>
          <div class="w-100 mr-3">
            <strong class="mb-0 mt-0">{{formula.name}}</strong>
            <p class="mb-0 mt-0 text-muted">{{formula.formula}}</p>
          </div>
          <div>
            <div class="d-inline-block" ngbDropdown placement="bottom-right">
              <button class="btn btn-sm btn-icon btn-dropdown no-caret" ngbDropdownToggle>
                <i class="fas fa-fw fa-bars"></i>
              </button>
              <div ngbDropdownMenu>
                <button (click)="store.edit(formula)" ngbDropdownItem>
                  <i class="fas fa-fw fa-edit"></i> Edit
                </button>
                <button (click)="store.delete(formula)" ngbDropdownItem>
                  <i class="fas fa-fw fa-trash"></i> Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="(store.formulas$ | async).length === 0" class="alert alert-info">
        There aren't any lts formulas yet.
      </div>
    </div>
  </div>
</div>
