<div class="view">
  <view-header title="ALEX is learning"></view-header>

  <div class="learn-start-wrapper flex-column" ng-if="vm.status != null && !vm.finished">
    <div class="alx-container-fluid learn-loading-indicator">
      <div>
        <div class="alert alert-info">
          <button class="btn btn-info btn-xs pull-right" ng-click="vm.abort()">
            <i class="fa fa-close fa-fw"></i> Abort
          </button>
          <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp; Application is
          <strong ng-if="vm.status.learnerPhase === 'LEARNING'">learning</strong>
          <strong ng-if="vm.status.learnerPhase=== 'EQUIVALENCE_TESTING'">testing for equivalence</strong>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong>Statistics</strong>
            </div>
            <div class="panel-body pb-0">
              <table class="table table-condensed table-striped">
                <thead>
                <tr>
                  <th width="140">&nbsp;</th>
                  <th>Total</th>
                  <th>Learner</th>
                  <th>EQ Oracle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><strong>Time passed</strong></td>
                  <td ng-if="vm.status.result" ng-bind="(vm.status.result.statistics.duration.total | formatMilliseconds)"></td>
                  <td ng-if="vm.status.result" ng-bind="(vm.status.result.statistics.duration.learner | formatMilliseconds)"></td>
                  <td ng-if="vm.status.result" ng-bind="(vm.status.result.statistics.duration.eqOracle | formatMilliseconds)"></td>
                </tr>
                <tr>
                  <td><strong>MQs executed</strong></td>
                  <td ng-bind="vm.status.result.statistics.mqsUsed.total"></td>
                  <td ng-bind="vm.status.result.statistics.mqsUsed.learner"></td>
                  <td ng-bind="vm.status.result.statistics.mqsUsed.eqOracle"></td>
                </tr>
                <tr>
                  <td><strong>Symbols executed</strong></td>
                  <td ng-bind="vm.status.result.statistics.symbolsUsed.total"></td>
                  <td ng-bind="vm.status.result.statistics.symbolsUsed.learner"></td>
                  <td ng-bind="vm.status.result.statistics.symbolsUsed.eqOracle"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong>Queries being processed: {{vm.status.currentQueries.length}}</strong>
            </div>
            <div class="panel-body" style="max-height: 120px; overflow: auto; padding-bottom: 6px">
              <p ng-repeat="query in vm.status.currentQueries">
                {{query.suffix.join(', ')}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 h-100" style="border-top: 1px solid #ddd">
      <view-header title="Current hypothesis"></view-header>
      <learner-result-panel result="vm.status.result"></learner-result-panel>
    </div>
  </div>

  <div class="learn-start-wrapper flex-row" ng-if="vm.finished">
    <learner-result-panel class="w-100" result="vm.finalResult" ng-if="vm.finalResult != null">
      <button class="btn btn-sm btn-success ml-1" ng-click="vm.resumeLearning()">Resume</button>
    </learner-result-panel>

    <div class="panel-sidebar show" style="min-width: 280px"
         ng-if="vm.resumeConfig != null && vm.symbols.length > 0 && vm.finalResult != null">
      <learn-resume-settings-widget
        configuration="vm.resumeConfig"
        result="vm.finalResult"
        symbols="vm.symbols"
        project="vm.project"
      >
      </learn-resume-settings-widget>
    </div>
  </div>
</div>
