<div class="modal-header">

    <a class="btn btn-default btn-icon pull-right" ng-click="vm.dismiss()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Configure the web driver</h3>
</div>

<div class="modal-body">
    <browser-config-form config="vm.configuration" use-config-driver="true" ng-if="vm.configuration !== null"></browser-config-form>
</div>

<div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</button>
    <button class="btn btn-primary btn-sm" ng-click="vm.update()">Update</button>
</div>
