<h4><strong>Assert Variable</strong></h4>

<p class="text-muted">
    Assert the content of a variable to equal or match a specific value
</p>
<hr>
<div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="vm.action.name"
           placeholder="The name of the variable">
</div>
<div class="form-group">
    <label>Value</label>
    <input type="text" class="form-control" ng-model="vm.action.value"
           placeholder="The value to assert against">
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="vm.action.regexp"> Use regular expression
    </label>
</div>
