<div class="view">
  <action-bar>
    <div class="d-flex flex-row align-items-center">
      <selectable-checkbox-multiple [selectable]="store.countersSelectable"></selectable-checkbox-multiple>

      <div class="w-100 ml-3">
        <button (click)="store.createCounter()" class="btn btn-sm btn-primary mr-2">
          Create
        </button>

        <button
          (click)="store.deleteSelectedCounters()"
          [disabled]="!store.countersSelectable.isAnySelected()"
          class="btn btn-sm btn-default"
        >
          Delete
        </button>
      </div>
    </div>
  </action-bar>

  <div class="view-body">
    <div class="container-fluid">

      <table class="table table-striped" *ngIf="(store.counters$ | async).length > 0">
        <thead>
        <tr>
          <th width="1">&nbsp;</th>
          <th style="width: 50%"><strong>Name</strong></th>
          <th style="width: 50%"><strong>Value</strong></th>
          <th width="1">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let counter of store.orderedCounters$ | async">
            <td>
              <selectable-checkbox [selectable]="store.countersSelectable" [item]="counter"></selectable-checkbox>
            </td>
            <td>{{counter.name}}</td>
            <td>
              <form (ngSubmit)="store.updateCounter(counterUnderEdit); resetCounterUnderEdit();" class="d-flex" *ngIf="counter.id === counterUnderEdit.id">
                <div class="form-group flex-grow-1 mb-0" style="margin-right: 8px">
                  <input
                    [(ngModel)]="counterUnderEdit.value"
                    class="form-control"
                    min="0"
                    name="value"
                    placeholder="The value of the counter"
                    type="number"
                  >

                </div>
                <div class="form-group mb-0">
                  <div class="btn-group">
                    <input class="btn btn-primary" type="submit" value="Update">
                    <button (click)="resetCounterUnderEdit(); $event.stopPropagation()" class="btn btn-default">
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
              <span *ngIf="counter.id !== counterUnderEdit.id">{{counter.value}}</span>
            </td>
            <td class="text-right">
              <div class="d-inline-block" ngbDropdown placement="bottom-right">
                <button class="btn btn-sm btn-icon no-caret" ngbDropdownToggle>
                  <i class="fas fa-fw fa-bars"></i>
                </button>
                <div ngbDropdownMenu>
                  <button (click)="counterUnderEdit = counter.copy()" ngbDropdownItem>
                    <i class="fas fa-fw fa-edit"></i> Edit
                  </button>
                  <button (click)="store.deleteCounter(counter)" ngbDropdownItem>
                    <i class="fas fa-fw fa-trash"></i> Delete
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="(store.counters$ | async).length === 0" class="alert alert-info">
        There aren't any counters yet
      </div>

    </div>
  </div>
</div>
