.symbol-input-value,
.symbol-output-mapping {
  position: relative;

  i {
    display: none;
  }

  &:hover {
    i {
      display: block;
      position: absolute;
      top: 2px;
      right: 2px;
    }

    input {
      border-bottom: 1px solid #ddd;
    }
  }

  input {
    padding: 0;
    margin: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    outline: none;
    background: none;

    &:active, &:focus, &:hover {
      box-shadow: none;
      border-bottom: 1px solid #ddd;
    }
  }
}

.head {
  border-bottom: 1px solid #dadada;
}
