<div panel-manager="panels">

    <div panel panel-index="$index" ng-repeat="result in panels">

        <div ng-if="result">
            <hypothesis-slideshow-panel panel-index="{{$index}}" result="result"></hypothesis-slideshow-panel>
        </div>

        <div ng-if="!result" style="padding: 30px">

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="result in finalTestResults"
                    ng-click="fillPanel(result, $parent.$index)">
                    <strong>Test <span ng-bind="result.testNo"></span></strong>
                </li>
            </ul>

        </div>

    </div>

</div>