<div style="position: absolute; width: 100%; top: 50px; bottom: 0; overflow: auto;">

    <div ng-if="active == true" class="container" style="margin-top: 54px">
        <div class="alert alert-info">
            <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp; Application is learning ... <br>
        </div>
        <hr>
        <button class="btn btn-default btn-xs pull-right" ng-click="abort()">
            <i class="fa fa-close fa-fw"></i> Abort Learning
        </button>
    </div>

    <div ng-if="!active && test">
        <div class="sub-nav fixed">
            <div class="container-fluid">

                <div class="pull-left">
                    <button class="btn btn-xs btn-default" open-test-details-modal test="test">
                        <i class="fa fa-info"></i>&nbsp; Details
                    </button>
                </div>

                <div class="pull-right" ng-if="isEqOracleSample">
                    <button class="btn btn-xs btn-success" ng-click="resumeLearning()">
                        Resume
                    </button>
                </div>

            </div>

        </div>

        <div class="panel-sidebar" ng-if="isEqOracleSample">

            <div widget widget-title="Configuration" collapsed="false">
                <div widget-test-resume-settings configuration="test.configuration"></div>
            </div>

            <div widget widget-title="Counter Examples" collapsed="true">
                <div widget-counter-examples counter-examples="test.configuration.eqOracle.counterExamples" counter-example="counterExample"></div>
            </div>

        </div>

        <hypothesis test="test" counter-example="counterExample"></hypothesis>
    </div>

</div>