<div class="container">

    <h2>Create a New Project</h2>

    <p class="text-muted">You can create a new project here</p>
    <hr/>

    <form name="create_form" role="form" ng-submit="createProject()" novalidate>

        <!-- Name -->
        <div class="form-group">
            <label class="control-label">Name*</label>

            <p class="text-muted">The name of your project</p>
            <input name="name" type="text" class="form-control"
                   placeholder="Enter a name for the project" ng-model="project.name" ng-required="true">
        </div>
        <div class="alert alert-danger alert-condensed" ng-show="create_form.submitted">
             <small ng-show="create_form.name.$error">Name must not be empty</small>
        </div>
        <!-- Name -->

        <!-- Base Url -->
        <div class="form-group">
            <label class="control-label">Url*</label>

            <p class="text-muted">The url of your website</p>
            <input name="url" class="form-control" type="text"
                   placeholder="Enter the url of the project" ng-model="project.baseUrl" ng-required="true" ng-pattern="/^(http://|https://).{1,}/">
        </div>
        <div class="alert alert-danger alert-condensed" ng-show="create_form.submitted">
            <small ng-show="create_form.url.$error">
                Url must not be empty. The url has to start with http(s):// and have a host name
            </small>
        </div>
        <!-- /Base Url -->

        <!-- Description -->
        <div class="form-group">
            <label class="control-label">Description</label>

            <p class="text-muted">
                If you want you can describe your new project with a few words
            </p>
            <textarea name="description" ng-model="project.description"
                      placeholder="Enter the description for the project"
                      class="form-control" rows="3"></textarea>
        </div>
        <!-- /Description -->

        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-primary">Create Project</button>
            <a class="btn btn-sm btn-default" ng-click="reset()">Reset</a>
        </div>

    </form>

    <hr>

    <p class="text-muted"><em>* these fields are required in order to create a new project</em></p>

</div>