<div class="container">

    <h2>Symbol Export</h2>
    <p class="text-muted">Export your web and rest symbols as a json file</p>
    <hr>

</div>

<!--
BEGIN: Sub Navigation
contains call to action buttons to create update & delete symbols
-->
<div class="sub-nav" fix-on-scroll="{top:124,class:'fixed'}">
    <div class="container">
        <div class="pull-left" style="margin-right: 16px">
            <input type="checkbox" select-all-items-checkbox items="symbols">
        </div>
        <div class="pull-right">
            <button class="btn btn-xs btn-primary" download-as-json data="getSelectedSymbols">
            	<i class="fa fa-download fa-fw"></i> Download
           	</button>
        </div>
    </div>
</div>
<!-- END: Sub Navigation -->

<div class="container">

    <div selectable-list ng-model="symbols">
    
        <div selectable-list-item ng-repeat="symbol in (symbols | typeOfWeb)">

            <span class="label label-primary pull-right" ng-bind="symbol.type"></span>

            <strong ng-bind="symbol.name"></strong> [<span ng-bind="symbol.abbreviation"></span>]

            <p class="text-muted">
                <span ng-bind="symbol.actions.length"></span> Actions
            </p>

        </div>
        
    </div>

</div>