<div class="modal-header">
  <h4 class="modal-title">Separating word</h4>
  <a class="btn btn-default btn-icon float-right" ng-click="vm.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<div class="modal-body" style="overflow: auto; max-height: 420px">
  <table class="table">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Symbol</th>
      <th>Hypothesis 1</th>
      <th>Hypothesis 2</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="symbol in vm.diff.input track by $index" ng-class="{'info': $last}">
      <td style="width: 1px">{{$index + 1}}.</td>
      <td>
        <strong>{{symbol}}</strong>
      </td>
      <td>
        <span class="badge badge-default" ng-class="{'badge-info': $last}">{{vm.diff.output1[$index]}}</span>
      </td>
      <td>
        <span class="badge badge-default" ng-class="{'badge-info': $last}">{{vm.diff.output2[$index]}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-sm btn-primary" ng-click="vm.dismiss()">Ok</button>
  <a href="" class="btn btn-sm btn-default" ng-click="vm.dismiss()">Cancel</a>
</div>
