<div class="modal-header">
  <h4 class="modal-title">About ALEX</h4>
  <a (click)="modal.dismiss()" class="btn btn-icon float-right">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<div class="modal-body">
  <table class="table">
    <tbody>
    <tr>
      <td><strong>Version</strong></td>
      <td>{{version}}</td>
    </tr>
    </tbody>
  </table>

  <div class="section">
    <h5>Maintainers</h5>
    <hr>

    <p>
      <strong>Alexander Bainczyk</strong><br>
      <a href="mailto:alexander.bainczyk@tu-dortmund.de">
        alexander.bainczyk@tu-dortmund.de
      </a>
    </p>
  </div>

  <div class="section">
    <h5>Related links</h5>
    <hr>

    <ul>
      <li>
        <a href="https://learnlib.github.io/alex/">Homepage</a>
      </li>
      <li>
        <a href="https://learnlib.github.io/alex/book/1.7.0/index.html">Documentation</a>
      </li>
      <li>
        <a href="https://github.com/LearnLib/alex">ALEX @ GitHub</a>
      </li>
    </ul>
  </div>

  <div class="section">
    <h5>Copyright</h5>
    <hr>

    <p>
      This project is open source and licensed under the
      <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2 license</a>.
    </p>
    <p>
      Copyright 2015 - 2020 TU Dortmund
    </p>
  </div>
</div>
