<div class="modal-header">
  <h4 class="modal-title">Export symbols</h4>
  <a (click)="modal.dismiss()" class="btn btn-icon float-right">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form [formGroup]="form" (ngSubmit)="export()">

  <div class="modal-body">
    <div class="form-group">
      <label>Filename</label>
      <input
        class="form-control"
        required
        type="text"
        [class.is-invalid]="formUtils.isInvalidFormControl(form.controls.filename)"
        [formControl]="form.controls.filename"
      >
      <div class="invalid-feedback">
        Enter a name for the file.
      </div>
    </div>

    <div class="form-group form-check">
      <label class="form-check-label">
        <input [formControl]="form.controls.exportSymbolsOnly" class="form-check-input" type="checkbox">
        Export symbols only
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" type="submit" [disabled]="form.invalid">Export</button>
    <button (click)="modal.dismiss(); $event.stopPropagation()" class="btn btn-default btn-sm">Cancel</button>
  </div>

</form>
