<div class="modal-header">
  <h4 class="modal-title">Export symbols</h4>
  <a (click)="modal.dismiss()" class="btn btn-default btn-icon float-right">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form (ngSubmit)="export()">

  <div class="modal-body">
    <div class="form-group">
      <label>Filename</label>
      <input [(ngModel)]="filename" class="form-control" name="filename" required type="text">
    </div>

    <div class="form-group form-check">
      <label class="form-check-label">
        <input [(ngModel)]="exportSymbolsOnly" class="form-check-input" name="export" type="checkbox"> Export symbols
        only
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" type="submit">Export</button>
    <button (click)="modal.dismiss(); $event.stopPropagation()" class="btn btn-default btn-sm">Cancel</button>
  </div>

</form>
