<div class="view">
  <div *ngIf="project != null" class="view-body">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <project-details-widget [project]="project" class="d-block mb-4"></project-details-widget>
        </div>

        <div class="col-lg-4 col-md-6">
          <learner-status-widget [project]="project" class="d-block mb-4"></learner-status-widget>
          <latest-learner-result-widget [project]="project" class="d-block mb-4"></latest-learner-result-widget>
        </div>

        <div class="col-lg-4 col-md-6">
          <latest-test-report-widget [project]="project"></latest-test-report-widget>
        </div>

      </div>
    </div>
  </div>
</div>
