<div class="card">
  <div class="card-header">
    <strong>Generate test suite</strong>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label>Name</label>
      <input
          type="text"
          required
          minlength="1"
          ng-model="vm.config.name"
          class="form-control"
          placeholder="The name of the generated test suite"
      >
    </div>
    <div class="form-group">
      <label>Step No</label>
      <input
          type="number"
          required
          min="1"
          max="{{vm.result.steps.length}}"
          ng-model="vm.config.stepNo"
          class="form-control"
      >
    </div>

    <div class="form-group">
      <label>Strategy</label>
      <select class="form-control" ng-model="vm.config.method">
        <option ng-value="'DT'">Discrimination tree</option>
        <option ng-value="'W_METHOD'">W-Method</option>
        <option ng-value="'WP_METHOD'">Wp-Method</option>
      </select>
    </div>

    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" ng-model="vm.config.includeParameterValues"> Include parameter
        values
      </label>
    </div>

    <div class="form-group">
      <label>Test suite to update</label>
      <div class="card">
        <div class="card-body">
          <test-suite-tree test-suite="vm.rootTestSuite" on-selected="vm.handleTestSuiteSelected(testSuite)" selected-test-suite="vm.selectedTestSuite"></test-suite-tree>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer text-right">
    <button class="btn btn-primary btn-sm" ng-click="vm.generateTestSuite()">Generate</button>
  </div>
</div>
