<div class="view">

  <action-bar>
    <div class="d-flex">
      <div class="ml-auto">
        <a
          class="btn btn-info btn-sm"
          [routerLink]="['..']"
          [queryParams]="{testNo: latestLearnerResult.testNo}"
          *ngIf="latestLearnerResult != null"
        >
          Continue learning
        </a>
        <div class="btn-group btn-group-sm ml-2">
          <button (click)="startLearning()" class="btn btn-primary" [disabled]="pResetSymbol == null || pSymbols.length === 0">
            Start learning
          </button>
          <button (click)="openLearnerConfigurationModal()" class="btn btn-primary">
            <i class="fas fa-cog"></i>
          </button>
        </div>
      </div>
    </div>
  </action-bar>

  <div class="view-body">
    <div class="container-fluid">

      <div *ngIf="groups.length > 0" class="row">
        <div class="col-md-4 col-lg-3">
          <div class="card mb-4">
            <div class="card-header">
              <strong>Symbols</strong>
            </div>
            <div class="card-body">
              <div class="mb-2">
                <symbol-search-form
                  (selected)="handleSymbolSelected($event)"
                  [groups]="groups"
                >
                </symbol-search-form>
              </div>

              <simple-symbol-group-tree
                (groupSelected)="handleSymbolGroupSelected($event)"
                (symbolSelected)="handleSymbolSelected($event)"
                [groups]="groups"
              >
              </simple-symbol-group-tree>
            </div>
          </div>

          <symbols-data-context [parametrizedSymbols]="allParametrizedSymbols"></symbols-data-context>
        </div>

        <div class="col-md-4 col-lg-6">

          <h5><strong>Reset</strong></h5>
          <hr class="hr-sm">
          <div *ngIf="pResetSymbol == null" class="alert alert-info d-flex flex-row">
            <div class="w-100">
              Select a reset symbol <em>(required)</em>
            </div>
            <div class="flex-shrink-0">
              <button (click)="selectResetSymbol()" class="btn btn-sm btn-info float-right flex-shrink-0">
                Select symbol
              </button>
            </div>
          </div>

          <div *ngIf="pResetSymbol != null" class="list-group">
            <div class="d-flex flex-row list-group-item">
              <div class="w-100">
                <div>
                  <a [routerLink]="['/app', 'projects', project.id, 'symbols', pResetSymbol.symbol.id]">
                    <strong>{{pResetSymbol.symbol.name}}</strong>
                  </a>
                </div>
                <symbol-input-values
                  [parameterizedSymbol]="pResetSymbol"
                >
                </symbol-input-values>
              </div>
              <div class="flex-shrink-0">
                <button (click)="selectResetSymbol()" class="btn btn-sm btn-default">
                  Select symbol
                </button>
              </div>
            </div>
          </div>

          <h5 style="margin-top: 3rem"><strong>Input alphabet</strong></h5>
          <hr class="hr-sm">
          <div *ngIf="pSymbols.length > 0" class="list-group">
            <div *ngFor="let pSymbol of pSymbols; let i = index"
                 class="list-group-item d-flex flex-row">
              <div class="w-100">
                <div class="d-flex flex-row">
                  <a class="flex-shrink-0" [routerLink]="['/app', 'projects', project.id, 'symbols', pSymbol.symbol.id]">
                    <strong>{{pSymbol.symbol.name}}</strong>
                  </a>
                  <span class="text-muted w-100 d-flex flex-row ml-1">
                    <em>as</em> <input class="symbol-alias w-100 ml-1" [placeholder]="pSymbol.getAliasOrComputedName()" type="text" [(ngModel)]="pSymbol.alias" [name]="'alias-' + i">
                  </span>
                </div>
                <symbol-input-values [parameterizedSymbol]="pSymbol"></symbol-input-values>
              </div>
              <div style="flex-shrink: 0">
                <i (click)="pSymbols.splice(i, 1)"
                   class="fas fa-fw fa-times text-muted cursor-pointer"></i>
              </div>
            </div>
          </div>

          <div *ngIf="pSymbols.length === 0" class="alert alert-info">
            Select symbols to create an input alphabet.
          </div>

          <h5 style="margin-top: 3rem"><strong>Post</strong></h5>
          <hr class="hr-sm">
          <div *ngIf="pPostSymbol == null" class="alert alert-info d-flex flex-row">
            <div class="w-100">
              Select a post symbol <em>(optional)</em>
            </div>
            <div class="flex-shrink-0">
              <button (click)="selectPostSymbol()" class="btn btn-sm btn-info float-right flex-shrink-0">
                Select symbol
              </button>
            </div>
          </div>

          <div *ngIf="pPostSymbol != null" class="list-group">
            <div class="d-flex flex-row list-group-item">
              <div class="w-100">
                <div>
                  <a [routerLink]="['/app', 'projects', project.id, 'symbols', pPostSymbol.symbol.id]">
                    <strong>{{pPostSymbol.symbol.name}}</strong>
                  </a>
                </div>
                <symbol-input-values
                  [parameterizedSymbol]="pPostSymbol"
                >
                </symbol-input-values>
              </div>
              <div class="flex-shrink-0">
                <div class="btn btn-group btn-group-sm">
                  <button (click)="selectPostSymbol()" class="btn btn-default">
                    Select symbol
                  </button>
                  <button (click)="pPostSymbol = null" class="btn  btn-default">
                    <i class="fas fa-fw fa-times"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-3">
          <div class="card mb-4">
            <div class="card-header">
              <strong>Reuse a previous configuration</strong>
            </div>
            <div *ngIf="learnerResults.length > 0" class="list-group list-group-flush">
              <div
                class="list-group-item list-group-item-action cursor-pointer"
                (click)="reuseConfigurationFromResult(result); $event.preventDefault()"
                *ngFor="let result of getFirstNLearnerResults(5)"
              >
                <span *ngIf="result.error" class="badge badge-danger float-right">Failed</span>
                <span>TestNo {{result.testNo}}</span> <span class="text-muted"></span>

                <div>
                  <em class="text-muted">
                    {{result.statistics.startDate | date : 'EEE, dd.MM.yyyy, HH:mm'}}
                  </em>
                </div>
                <div>
                  <span *ngFor="let env of result.environments" class="badge badge-secondary mr-1">{{env.name}}</span>
                </div>
              </div>
              <div class="list-group-item">
                <button class="btn btn-default d-block w-100" (click)="selectLearnerResult()">More</button>
              </div>
            </div>
            <div *ngIf="learnerResults.length === 0" class="card-body">
              <div class="alert alert-info mb-0">
                There are no learner results yet.
              </div>
            </div>
          </div>

          <learner-status-widget></learner-status-widget>
        </div>

      </div>

      <div *ngIf="groups.length === 0" class="alert alert-info">
        There aren't any symbols in this project yet.
      </div>

    </div>
  </div>
</div>
