input.symbol-alias {
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  background: none;
  color: #797979;

  &:active, &:focus, &:hover {
    box-shadow: none;
  }
}
