body {
    line-height: 1.5em;
}

a {
    color: #87b82b;
}

a:hover,
a:active,
a:focus {
    color: #7ba827;
}

ul, ol {
    line-height: 2em;
}

kbd {
    padding: 4px 8px;
}

h2 {
    border-bottom: 4px solid rgba(0, 0, 0, .05);
    padding-bottom: 6px;
    margin-bottom: 30px;
}

.navbar {
    margin-bottom: 0
}

.navbar .nav li > a:focus,
.navbar .nav li > a:hover {
    background: #7ba827;
}

.btn.btn-download {
    padding: 18px 48px;
    font-size: 21px;
    background-color: #212121;
    border-color: #000;
}

.btn.btn-download:active {
    background: #000;
    border-color: #000;
    outline: none;
}

.btn.btn-download small {
    font-size: 14px;
    display: block;
    color: rgba(255, 255, 255, 0.75)
}

.text-slogan {
    color: #fff;
    font-size: 24px;
    line-height: 1.5em;
    padding:24px 0;
    text-shadow: 0 1px 2px rgba(0,0,0,.4);
}

#installation,
#requirements,
#how,
#header {
    padding-top: 54px;
    padding-bottom: 54px;
}

#header {
    background: #729c24;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 0;
}

#header .row {
    margin-top: 120px;
}

#header h1 {
    color: #fff;
    font-size: 72px;
    margin-bottom: 14px;
    font-weight: 700;
}

#slideshow {
    background: #729c24;
}

#installation,
#how {
    background: #f2f2f2;
}

#installation h3,
#how h3 {
    color: #ababab
}

#footer {
    background: #87b82b;
}

