.content-section {
    padding: 4rem 0;
}

.section-title {
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    border-bottom: 3px solid rgba(0,0,0,0.1);
}

#header {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

#how,
#publications {
    background: #efefef;
}

#header {
    padding-bottom: 0;
    padding-top: 6rem;
}

.navbar-toggler {
    border: none;
}

.btn-dark {
    color: #fff;
    background-color: #262726;
    border-color: #262726;
}

.bg-dark {
    background-color: #262726 !important;
}

.visually-hidden {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute!important;
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
    clip: rect(1px,1px,1px,1px);
}

a {
    color: #86b82c;
}

a:hover {
    color: #75a520;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}