@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* general styling */

html, body {
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

.navbar-brand span {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background: #598d4b;
    background: linear-gradient(135deg, #598d4b, #7ba22d);
    border-radius: .25rem;
    text-align: center;
    margin-right: .125rem;
}

.content-section {
    padding: 4rem 0;
}

.section-title {
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

#header {
    background-image: url("../images/background.jpg");
    background-size: cover;
    padding: 6rem 0;
}

#logo {
    max-width: 380px;
}

#download-button:hover {
    box-shadow: 0 0 4px #c1ff00;
}

#how,
#publications {
    background: #efefef;
}

.navbar-toggler {
    border: none;
}

.btn-dark {
    color: #fff;
    background-color: #262726;
    border-color: #262726;
}

.bg-dark {
    background-color: #262726 !important;
}

.visually-hidden {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
}

a {
    color: #86b82c;
}

a:hover {
    color: #75a520;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

.card-feature .step {
    color: #fff;
    min-width: 2rem;
    max-width: 2rem;
    margin-right: 1rem;
    height: 2rem;
    line-height: 2rem;
    background: #0d6efd;
    border-radius: 2rem;
    display: block;
    text-align: center;
    font-size: .875rem;
    font-weight: bold;
}

.img-feature {
    display: block;
    max-width: 100%;
    height: auto;
}

hr.feature-separator {
    border: none;
    height: 2px !important;
    opacity: .1;
}