.hypothesis {
  text, tspan {
    fill: #000;
    font-size: 11px;
  }
  .node {
    fill: #fff;
    stroke: #000;
    stroke-width: 1;
    .label {
      text {
        stroke-width: 0;
      }
    }
  }
  
  .edgePath {
    .path {
      stroke: rgba(0, 0, 0, 0.3);
      stroke-width: 3;
      fill: none;
    }
  }
  
  .edgeLabel tspan {
    &:hover {
      cursor: pointer;
      fill: #428bca;    
    }
  }
}