<div sub-navigation>
    <div ng-show="files.length > 0">
        <checkbox-multiple model="files" class="pull-left"></checkbox-multiple>
        <button class="btn btn-default btn-sm" ng-click="deleteSelectedFiles()">Delete</button>
    </div>
</div>

<div class="view-body has-sub-nav">
    <div class="alx-container-fluid">

        <div ngf-drop ngf-select class="alert alert-info" ng-model="filesToUpload" ng-show="!filesToUpload.length"
             ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="false">
            Drag & Drop files here or click to upload
        </div>

        <div ng-show="filesToUpload.length">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-primary"
                        ng-click="upload()">
                    <span class="label label-info" ng-bind="filesToUpload.length"></span>&nbsp; Upload Files
                </button>
                <button class="btn btn-primary">
                    <span ng-bind="progress"></span>%
                </button>
            </div>

            <button class="btn btn-default btn-sm pull-right"
                    ng-click="filesToUpload = null">
                <i class="fa fa-fw fa-close"></i> Cancel
            </button>
        </div>

        <hr>

        <div class="file-list">
            <div class="file-list-item"
                 ng-repeat="file in files"
                 selection-model
                 selection-model-selected-items="selectedFiles">

                <checkbox selection-model-ignore class="pull-left" model="file"></checkbox>

                <div class="file-list-item-content">
                    <span ng-bind="file.name"></span>
                    <button class="btn btn-icon btn-xs pull-right"
                            ng-click="deleteFile(file)">
                        <i class="fa fa-fw fa-trash"></i> Delete
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>