<div sub-navigation>
    <div ng-show="symbols.length > 0">
        <checkbox-multiple model="symbols" class="pull-left"></checkbox-multiple>

        <div class="btn-group btn-group-sm">
            <button class="btn btn-primary" ng-click="uploadSelectedSymbols()">
                <i class="fa fa-upload fa-fw"></i> Upload
            </button>
            <div class="btn-group btn-group-sm" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-gear"></i>
                </button>
                <ul class="dropdown-menu pull-left" role="menu">
                    <li>
                        <a href ng-click="adjustReferences = !adjustReferences">
                            <i class="fa fa-fw" ng-class="adjustReferences ? 'fa-check' : 'fa-close'"></i>
                            Adjust References
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="view-body has-sub-nav">
    <div class="alx-container-fluid">

        <div file-dropzone on-loaded="fileLoaded" class="alert alert-info" ng-if="symbols.length === 0">
            Drag and drop *.json file here or click to upload
        </div>

        <symbol-list>
            <symbol-list-item ng-repeat="symbol in symbols"
                              selection-model
                              selection-model-selected-items="selectedSymbols"
                              symbol="symbol">

                <button class="btn btn-xs btn-default btn-icon pull-right"
                        symbol-edit-modal-handle symbol="symbol" on-updated="updateSymbol" update-on-server="false">
                    <i class="fa fa-edit"></i> Edit
                </button>

            </symbol-list-item>
        </symbol-list>

    </div>
</div>