<div view-heading
     title="Symbols"
     sub-title="Manage all symbols of the project">
</div>

<div sub-navigation>
    <div class="pull-left selection-checkbox">
        <input type="checkbox" selection-checkbox-all items="getAllSymbols">
    </div>

    <div class="btn-group btn-group-xs">

        <div class="btn-group btn-group-xs" dropdown dropdown-hover>
            <button class="btn btn-primary">
                Create
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href symbol-create-modal-handle project-id="{{project.id}}" on-created="addSymbol">
                        Symbol
                    </a>
                </li>
                <li>
                    <a href symbol-group-create-modal-handle project-id="{{project.id}}" on-created="addGroup">
                        Group
                    </a>
                </li>
            </ul>
        </div>

        <button class="btn btn-default" ng-class="selectedSymbols.length === 1 ? '' : 'disabled'"
                symbol-edit-modal-handle symbol="selectedSymbols[0]" on-updated="updateSymbol">
            Edit
        </button>
        <button class="btn btn-default" symbol-move-modal-handle groups="groups" symbols="selectedSymbols"
                on-moved="moveSymbolsToGroup" ng-class="selectedSymbols.length > 0 ? '' : 'disabled'">
            Move
        </button>
        <button class="btn btn-default" ng-class="selectedSymbols.length > 0 ? '' : 'disabled'"
                ng-click="deleteSelectedSymbols()">
            Delete
        </button>

    </div>

    <div class="btn-group btn-group-xs" dropdown dropdown-hover>
        <button class="btn btn-default btn-xs btn-dropdown"> More
            <i class="fa fa-fw fa-caret-down"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href ng-click="exportSelectedSymbols()">
                    <i class="fa fa-download"></i>&nbsp; Export as JSON
                </a>
            </li>
        </ul>
    </div>

    <div class="pull-right">
        <button class="btn btn-xs btn-default" ng-click="toggleCollapseAllGroups()">
            <i class="fa fa-fw" ng-class="groupsCollapsed ? 'fa-chevron-down': 'fa-chevron-right'"></i>
        </button>
    </div>
</div>

<div class="view-body">
    <div class="container">

        <symbol-group-list>
            <symbol-group-list-item ng-repeat="group in groups | orderBy:'-name':true"
                                    group="group">

                <symbol-group-list-item-header>
                    <a href symbol-group-edit-modal-handle
                       group="group" on-updated="updateGroup" on-deleted="deleteGroup"
                            tooltip="Edit this group" tooltip-placement="left">
                        <i class="fa fa-fw fa-gear"></i>
                    </a>
                </symbol-group-list-item-header>

                <symbol-group-list-item-content>

                    <symbol-list>
                        <symbol-list-item ng-repeat="symbol in group.symbols | orderBy:'-name':true"
                                          selection-model
                                          selection-model-selected-items="selectedSymbols"
                                          show-actions-link
                                          symbol="symbol">

                            <div class="btn-group btn-group-xs pull-right" dropdown dropdown-hover>
                                <button type="button" class="btn btn-default btn-icon dropdown-toggle" dropdown-toggle>
                                    <i class="fa fa-bars"></i>
                                </button>
                                <ul class="dropdown-menu pull-left" role="menu">
                                    <li>
                                        <a href symbol-edit-modal-handle symbol="symbol" on-updated="updateSymbol">
                                            <i class="fa fa-edit fa-fw"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a href symbol-move-modal-handle groups="groups" symbols="[symbol]"
                                           on-moved="moveSymbolsToGroup">
                                            <i class="fa fa-exchange fa-fw"></i> Move
                                        </a>
                                    </li>
                                    <li>
                                        <a href ng-click="deleteSymbol(symbol)">
                                            <i class="fa fa-trash fa-fw"></i> Delete
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ui-sref="symbols.actions({symbolId:symbol.id})">
                                            <i class="fa fa-list-ol fa-fw"></i> Actions
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ui-sref="symbols.history({symbolId:symbol.id})">
                                            <i class="fa fa-history fa-fw"></i> Restore
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </symbol-list-item>
                    </symbol-list>

                </symbol-group-list-item-content>

            </symbol-group-list-item>
        </symbol-group-list>

    </div>
</div>