<div sub-navigation>
    <div ng-show="symbols.length > 0">

        <checkbox-multiple model="symbols" class="pull-left"></checkbox-multiple>

        <div class="pull-left">
            <button class="btn btn-sm btn-primary" ng-click="recoverSelectedSymbols()">
                <i class="fa fa-rotate-left fa-fw"></i> Recover
            </button>
        </div>
    </div>
</div>

<div class="view-body has-sub-nav">
    <div class="alx-container-fluid">

        <div class="alert alert-info" ng-show="symbols.length === 0">
            There aren't any deleted symbols.
        </div>

        <symbol-list>
            <symbol-list-item ng-repeat="symbol in symbols | orderBy:'-name':true"
                              selection-model
                              selection-model-selected-items="selectedSymbols"
                              symbol="symbol">

                <a class="btn btn-default btn-icon" ng-click="recoverSymbol(symbol)">
                    <i class="fa fa-rotate-left fa-fw"></i>
                    Recover
                </a>

            </symbol-list-item>
        </symbol-list>

    </div>
</div>