<div class="view view-test-case">
  <action-bar>
    <button (click)="save()" [disabled]="active" class="btn btn-sm btn-success mr-2">
      <i class="fas fa-fw fa-save"></i> Save
    </button>
    <div class="btn-group btn-group-sm float-right mr-0">
      <button (click)="execute()" [disabled]="active" class="btn btn-primary">
        Execute
      </button>
      <button (click)="openTestConfigModal()" [disabled]="active" class="btn btn-primary">
        <i class="fas fa-fm fa-cog"></i>
      </button>
    </div>
  </action-bar>
  <div class="view-body">
    <div class="container-fluid">

      <div *ngIf="result">
        <div *ngIf="!result.passed" class="alert alert-danger">
          <i (click)="result = null" class="fas fa-fw fa-times float-right"></i>
          <i class="fas fa-fw fa-exclamation-circle"></i> <strong>The test case failed.</strong>
          <a *ngIf="testConfig.createReport"
             href="{{'#!/projects/' + project.id + '/tests/reports/' + report.id}}">(Show report)</a>
        </div>
        <div *ngIf="result.passed" class="alert alert-success">
          <i (click)="result = null" class="fas fa-fw fa-times float-right"></i>
          <i class="fas fa-fw fa-check"></i> <strong>The test case passed.</strong>
          <a
            *ngIf="testConfig.createReport"
            [routerLink]="['/app', 'projects', project.id, 'tests', 'reports', report.id]"
          >
            (Show report)
          </a>
        </div>
        <hr>
      </div>

      <div *ngIf="active">
        <div class="alert alert-info">
          <i class="fas fa-fw fa-circle-notch fa-spin"></i> The test is being executed.
        </div>
        <hr>
      </div>

      <div class="d-flex align-items-center">
        <div class="mr-1">
          <a
            class="btn btn-sm btn-default"
            [routerLink]="['..', testCase.parent]"
          >
            <i class="fas fa-fw fa-level-up-alt"></i>
          </a>
        </div>
        <h4 class="w-100 m-0">
          <strong>
            <i class="fas fa-fw fa-file"></i> {{testCase.name}}
          </strong>
        </h4>
        <div>
          <div class="btn-group btn-group-sm" ngbDropdown>
            <button class="btn btn-default" ngbDropdownToggle type="button">
              <i class="fas fa-cogs"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu role="menu">
              <div (click)="options.showSymbolOutputs = !options.showSymbolOutputs" ngbDropdownItem>
                <i [ngClass]="{'fa-check': options.showSymbolOutputs}" class="fas fa-fw"></i> Show symbol outputs
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-3 col-sm-5">

          <div class="card">
            <div class="card-header">
              <strong>Symbols</strong>
            </div>
            <div class="card-body">
              <div class="mb-2" style="height: 31px; position: relative; z-index: 10">
                <symbol-search-form (selected)="addSymbolStep($event)" [groups]="groups"></symbol-search-form>
              </div>

              <simple-symbol-group-tree
                (symbolSelected)="addSymbolStep($event)"
                [groups]="groups"
              >
              </simple-symbol-group-tree>
            </div>
          </div>

        </div>
        <div class="col-md-9 col-sm-7">

          <test-case-table
            *ngIf="testCase != null"
            [options]="options"
            [result]="result"
            [symbolMap]="symbolMap"
            [testCase]="testCase"
          >
          </test-case-table>

        </div>
      </div>
    </div>
  </div>
</div>
