<div class="view">
    <view-header title="Learner Process Setup"></view-header>

    <action-bar>
        <div ng-if="vm.selectedSymbols != null">
            <selectable-checkbox-multiple selectable="vm.selectedSymbols" class="pull-left"></selectable-checkbox-multiple>

            <div class="btn-group btn-group-sm pull-right">
                <button class="btn btn-primary" ng-click="vm.startLearning()">
                    Start learning
                </button>
                <button class="btn btn-primary" learner-setup-settings-modal-handle
                        learn-configuration="vm.learnConfiguration"
                        on-update="vm.setLearnConfiguration(config)">
                    <i class="fa fa-gear"></i>
                </button>
            </div>

            <div class="pull-right" style="margin-right: 6px">
                <a
                  ui-sref="learnerStart({projectId: vm.project.id, result: vm.latestLearnerResult})"
                  class="btn btn-info btn-sm"
                  ng-if="vm.latestLearnerResult != null"
                >
                    Continue learning
                </a>
            </div>
        </div>
    </action-bar>

    <div class="view-body has-sub-nav">
        <div class="alx-container-fluid">

            <div class="alert alert-info alert-condensed clearfix">
                <i class="fa fa-fw fa-info-circle"></i>

                Use the <strong ng-bind="(vm.learnConfiguration.algorithm.name | formatAlgorithm)"></strong> algorithm
                with the <strong ng-bind="(vm.learnConfiguration.eqOracle.type | formatEqOracle)"></strong> equivalence oracle
                in the <strong ng-bind="vm.learnConfiguration.driverConfig.name | formatWebBrowser"></strong> browser.
            </div>

            <hr>

            <div class="row" ng-if="vm.groups.length > 0">
                <div class="col-sm-8 col-md-9">

                    <div ng-repeat="group in vm.groups | orderBy:'-name':true" style="margin-bottom: 2rem">
                        <learner-setup-symbol-group-tree
                            group="group"
                            selected-symbols="vm.selectedSymbols"
                            reset-symbol="vm.resetSymbol"
                            on-reset-symbol-selected="vm.setResetSymbol(symbol)"
                        >
                        </learner-setup-symbol-group-tree>
                    </div>

                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong class="text-muted">Reuse a previous configuration</strong>
                        </div>
                        <div class="panel-body panel-body-list">
                            <div class="list-group">
                                <a
                                    href=""
                                    class="list-group-item"
                                    ng-repeat="result in vm.learnResults | orderBy:'-testNo':false | limitTo:5"
                                    ng-click="vm.reuseConfigurationFromResult(result)"
                                >
                                    <span class="label label-danger pull-right" ng-show="result.error">Failed</span>
                                    TestNo <span ng-bind="result.testNo"></span>

                                    <div>
                                        <i class="text-muted"
                                           ng-bind="(result.statistics.startDate | date : 'EEE, dd.MM.yyyy, HH:mm')"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="alert alert-info" ng-if="vm.groups.length === 0">
                There aren't any symbols in this project yet.
            </div>
        </div>
    </div>
</div>
