<div class="view">
    <view-header title="Learner Process Setup"></view-header>

    <action-bar>
        <div class="btn-group btn-group-sm float-right">
            <button class="btn btn-primary" ng-click="vm.startLearning()">
                Start learning
            </button>
            <button class="btn btn-primary" ng-click="vm.openLearnerConfigurationModal()">
                <i class="fas fa-cog"></i>
            </button>
        </div>

        <div class="float-right mr-1">
            <a
              ui-sref="learnerStart({projectId: vm.project.id, result: vm.latestLearnerResult})"
              class="btn btn-info btn-sm"
              ng-if="vm.latestLearnerResult != null"
            >
                Continue learning
            </a>
        </div>
    </action-bar>

    <div class="view-body has-sub-nav">
        <div class="container-fluid">

            <div class="alert alert-info alert-condensed clearfix">
                <i class="fas fa-fw fa-info-circle"></i>

                Use the <strong ng-bind="(vm.learnConfiguration.algorithm.name | formatAlgorithm)"></strong> algorithm
                with the <strong ng-bind="(vm.learnConfiguration.eqOracle.type | formatEqOracle)"></strong> equivalence oracle
                in the <strong ng-bind="vm.learnConfiguration.driverConfig.name | formatWebBrowser"></strong> browser.
            </div>

            <hr>

            <div class="row" ng-if="vm.groups.length > 0">
                <div class="col-md-4 col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <strong class="text-muted">Symbols</strong>
                        </div>
                        <div class="card-body p-2">
                            <simple-symbol-group-tree
                              groups="vm.groups"
                              on-symbol-selected="vm.handleSymbolSelected(symbol)"
                              on-symbol-group-selected="vm.handleSymbolGroupSelected(group)"
                            >
                            </simple-symbol-group-tree>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-6">

                    <h5><strong>Pre</strong></h5>
                    <hr class="hr-small">
                    <div class="alert alert-info d-flex flex-row" ng-if="vm.pResetSymbol == null">
                        <div class="w-100">
                            Select a reset symbol <em>(required)</em>
                        </div>
                        <div class="flex-shrink-0">
                            <symbol-select-dropdown
                                groups="vm.groups"
                                on-symbol-selected="vm.setResetSymbol(symbol)"
                                variant="btn-xs btn-info"
                                class="float-right flex-shrink-0"
                            >
                            </symbol-select-dropdown>
                        </div>
                    </div>

                    <div class="list-group" ng-if="vm.pResetSymbol != null">
                        <div class="d-flex flex-row list-group-item">
                            <div class="w-100">
                                <div>
                                    <strong>{{vm.pResetSymbol.symbol.name}}</strong>
                                </div>
                                <symbol-parameters
                                  parameter-values="vm.pResetSymbol.parameterValues"
                                >
                                </symbol-parameters>
                            </div>
                            <div class="flex-shrink-0">
                                <symbol-select-dropdown
                                  groups="vm.groups"
                                  on-symbol-selected="vm.setResetSymbol(symbol)"
                                  variant="btn-xs btn-default"
                                >
                                </symbol-select-dropdown>
                            </div>
                        </div>
                    </div>

                    <h5 style="margin-top: 3rem"><strong>Input alphabet</strong></h5>
                    <hr class="hr-small">
                    <div class="list-group" ng-if="vm.pSymbols.length > 0">
                        <div ng-repeat="pSymbol in vm.pSymbols track by $index"
                             class="list-group-item d-flex flex-row">
                            <div class="w-100">
                                <div>
                                    <strong>{{pSymbol.symbol.name}}</strong>
                                </div>
                                <symbol-parameters parameter-values="pSymbol.parameterValues"></symbol-parameters>
                            </div>
                            <div style="flex-shrink: 0">
                                <i class="fas fa-fw fa-times text-muted cursor-pointer"
                                   ng-click="vm.pSymbols.splice($index, 1)"></i>
                            </div>
                        </div>
                    </div>

                    <div ng-if="vm.pSymbols.length === 0" class="alert alert-info">
                        Select symbols to create an input alphabet.
                    </div>

                    <h5 style="margin-top: 3rem"><strong>Post</strong></h5>
                    <hr class="hr-small">
                    <div class="alert alert-info d-flex flex-row" ng-if="vm.pPostSymbol == null">
                        <div class="w-100">
                            Select a post symbol <em>(optional)</em>
                        </div>
                        <div class="flex-shrink-0">
                            <symbol-select-dropdown
                                groups="vm.groups"
                                on-symbol-selected="vm.setPostSymbol(symbol)"
                                variant="btn-xs btn-info"
                                class="float-right flex-shrink-0"
                            >
                            </symbol-select-dropdown>
                        </div>
                    </div>

                    <div class="list-group" ng-if="vm.pPostSymbol != null">
                        <div class="d-flex flex-row list-group-item">
                            <div class="w-100">
                                <div>
                                    <strong>{{vm.pPostSymbol.symbol.name}}</strong>
                                </div>
                                <symbol-parameters
                                  parameter-values="vm.pPostSymbol.parameterValues"
                                >
                                </symbol-parameters>
                            </div>
                            <div class="flex-shrink-0">
                                <symbol-select-dropdown
                                  groups="vm.groups"
                                  on-symbol-selected="vm.setResetSymbol(symbol)"
                                  variant="btn-xs btn-default"
                                  class="d-inline-block"
                                >
                                </symbol-select-dropdown>
                                <button class="btn btn-xs btn-default" ng-click="vm.pPostSymbol = null">
                                    <i class="fas fa-fw fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3">
                    <div class="card">
                        <div class="card-header">
                            <strong class="text-muted">Reuse a previous configuration</strong>
                        </div>
                        <div class="list-group list-group-flush" ng-if="vm.learnResults.length > 0">
                            <a
                                href=""
                                class="list-group-item"
                                ng-repeat="result in vm.learnResults | orderBy:'-testNo':false | limitTo:5"
                                ng-click="vm.reuseConfigurationFromResult(result)"
                            >
                                <span class="badge badge-danger float-right" ng-show="result.error">Failed</span>
                                TestNo <span ng-bind="result.testNo"></span>

                                <div>
                                    <i class="text-muted"
                                       ng-bind="(result.statistics.startDate | date : 'EEE, dd.MM.yyyy, HH:mm')"></i>
                                </div>
                            </a>
                        </div>
                        <div class="card-body p-0" ng-if="vm.learnResults.length === 0">
                            <div class="alert alert-info mb-0">
                                There are no learner results yet.
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="alert alert-info" ng-if="vm.groups.length === 0">
                There aren't any symbols in this project yet.
            </div>

        </div>
    </div>
</div>
