<div class="view view-test-reports">
    <view-header [title]="'Test Report'">
        <a ui-sref="testReports({projectId: vm.report.project})" class="btn btn-sm btn-default btn-icon"
           uib-tooltip="Back to reports" tooltip-placement="right">
            <i class="fas fa-reply"></i>
        </a>
    </view-header>
    <action-bar>

        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" ng-click="vm.deleteReport()">Delete</button>
        </div>

        <div class="btn-group btn-group-sm">
            <button class="btn btn-default" ng-click="vm.downloadReport()">Download</button>
        </div>

    </action-bar>
    <div class="view-body">
        <div class="container-fluid">

            <h4 class="d-flex">
                <strong>{{vm.report.startDate | date : 'EEE, dd.MM.yyyy, HH:mm'}}</strong>

                <span class="badge badge-secondary ml-auto">
                    {{vm.report.environment.name}}
                </span>
            </h4>

            <hr>

            <div class="d-flex justify-content-center">
                <report-charts report="vm.report" ng-if="vm.report != null"></report-charts>
            </div>

            <hr>

            <table class="table table-striped">
                <thead>
                <tr>

                    <th>Status</th>
                    <th>Name</th>
                    <th>Output</th>
                    <th>Message</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in vm.report.testResults" ng-if="result.test.type === 'case'">
                    <td width="1%">
                        <span class="badge badge-success" ng-if="result.passed">Passed</span>
                        <span class="badge badge-danger" ng-if="!result.passed">Failed</span>
                    </td>
                    <td>
                        <a ui-sref="test({projectId: result.project, testId: result.test.id})">{{result.test.name}}</a>
                    </td>
                    <td>
                        <report-outputs-column outputs="result.outputs" project="vm.project"></report-outputs-column>
                    </td>
                    <td>
                        <em ng-if="result.failureMessage">{{result.failureMessage}}</em>
                    </td>
                    <td style="min-width: 68px">
                        {{result.time | formatMilliseconds}}
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

