<div style="position: relative" ng-class="{'focused': vm.focused}">
    <div class="wrapper">
        <div class="form-group mb-0">
            <i class="fa fa-fw fa-search text-muted"></i>
            <input class="form-control"
                   type="text"
                   ng-focus="vm.handleFocus()"
                   ng-model="vm.value"
                   ng-model-options='{debounce: 500}'
                   ng-change='vm.updateActionList()' placeholder="Search an action">
        </div>

        <div class="list-group list-group-condensed mb-0" ng-if="vm.focused">
            <div class="list-group-item"
                 ng-repeat="action in vm.actionList"
                 ng-click="vm.selectAction(action)">
                {{action.text}}
            </div>
        </div>
    </div>
</div>