.learn-result-panel {
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;

  .learn-result-panel-header {
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    padding: .5rem 1rem;

    .learn-result-panel-close-button,
    .learn-result-panel-resume-button {
      margin-left: 5px;
    }
  }

  .learn-result-panel-body {
    height: 100%;
  }
}

.right-sidebar {
  background: #f2f2f2;
  min-width: 340px;
  border-left: 1px solid #ddd;
  position: relative;
  overflow: auto;
  padding: 1rem;
}
