<div class="modal-header">
  <h4 class="modal-title">Edit parameter {{::vm.parameter.name}}</h4>
  <a class="btn btn-default btn-icon float-right" ng-click="vm.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form ng-submit="vm.update()" name="vm.form">
  <div class="modal-body">
    <div class="alert alert-danger" ng-if="vm.errorMessage != null">
      {{vm.errorMessage}}
    </div>

    <symbol-parameter-form-groups parameter="vm.parameter" form="vm.form"></symbol-parameter-form-groups>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="submit">Update</button>
    <a href class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</a>
  </div>
</form>
