<div class="modal-header">

    <a class="btn btn-default btn-icon pull-right" ng-click="vm.dismiss()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Create a new action</h3>
</div>

<div class="alert alert-info alert-condensed" style="margin: 15px 15px 0 15px;">
    <strong>Selector:</strong> {{vm.modalData.selector}}
</div>

<form ng-submit="vm.createAction()" id="action-create-form">

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-4">

                <action-search-form actions="vm.actions" on-selected="vm.selectNewActionType(type)">
                </action-search-form>

                <div style="margin-top: 36px;"></div>

                <uib-accordion close-others="true" class="action-types-accordion">
                    <div uib-accordion-group class="panel-default" is-open="true">
                        <uib-accordion-heading>
                            <div><strong>Web</strong></div>
                        </uib-accordion-heading>

                        <a href="" ng-repeat="action in vm.actions.web" ng-click="vm.selectNewActionType(action.type)">{{action.text}}</a>
                    </div>
                    <div uib-accordion-group class="panel-default" is-open="false">
                        <uib-accordion-heading>
                            <div><strong>Misc</strong></div>
                        </uib-accordion-heading>

                        <a href="" ng-repeat="action in vm.actions.misc" ng-click="vm.selectNewActionType(action.type)">{{action.text}}</a>
                    </div>
                </uib-accordion>

            </div>
            <div class="col-xs-8">

                <div class="alert alert-info alert-condensed" ng-show="vm.action === null">
                    Select the action you want to create.
                </div>

                <action-form action="vm.action" symbols="vm.symbols" ng-if="vm.action !== null"></action-form>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default btn-sm" type="submit" ng-click="vm.dismiss()">Dismiss</button>
        <button class="btn btn-primary btn-sm" type="submit">Ok</button>
    </div>

</form>