<div class="modal-header">

    <a class="btn btn-default btn-icon pull-right" ng-click="vm.dismiss()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Create a new action</h3>
</div>

<div class="alert alert-info alert-condensed" style="margin: 15px 15px 0 15px;">
    <strong>Selector:</strong> {{vm.modalData.selector}}
</div>

<form ng-submit="vm.createAction()" id="action-create-form">

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-4">

                <uib-accordion close-others="true" class="action-types-accordion">
                    <div uib-accordion-group class="panel-default" is-open="true">
                        <uib-accordion-heading>
                            <div><strong>Select an action</strong></div>
                        </uib-accordion-heading>

                        <a href="" ng-click="vm.selectNewActionType('web_clear')">Clear input</a>
                        <a href="" ng-click="vm.selectNewActionType('web_click')">Click element</a>
                        <a href="" ng-click="vm.selectNewActionType('web_clickLinkByText')">Click link by text</a>
                        <a href="" ng-click="vm.selectNewActionType('web_fill')">Fill input</a>
                        <a href="" ng-click="vm.selectNewActionType('web_checkForText')">Search for text</a>
                        <a href="" ng-click="vm.selectNewActionType('web_checkForNode')">Search element</a>
                        <a href="" ng-click="vm.selectNewActionType('web_checkNodeAttributeValue')">Check attribute value</a>
                        <a href="" ng-click="vm.selectNewActionType('web_goto')">Open URL</a>
                        <a href="" ng-click="vm.selectNewActionType('web_submit')">Submit form</a>
                        <a href="" ng-click="vm.selectNewActionType('web_select')">Select from list</a>
                        <a href="" ng-click="vm.selectNewActionType('web_moveMouse')">Move mouse</a>
                        <a href="" ng-click="vm.selectNewActionType('web_pressKey')">Press key</a>
                        <a href="" ng-click="vm.selectNewActionType('web_waitForNode')">Wait for an element</a>
                        <a href="" ng-click="vm.selectNewActionType('web_waitForText')">Wait for text</a>
                    </div>
                </uib-accordion>

            </div>
            <div class="col-xs-8">

                <div class="alert alert-info alert-condensed" ng-show="vm.action === null">
                    Please select an action you want to create
                </div>

                <action-form action="vm.action" symbols="vm.symbols" ng-if="vm.action !== null"></action-form>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default btn-sm" type="submit" ng-click="vm.dismiss()">Dismiss</button>
        <button class="btn btn-primary btn-sm" type="submit">Ok</button>
    </div>

</form>