<h4><strong>Check attribute</strong></h4>

<p class="text-muted">
    Checks the value of a nodes attribute.
</p>
<hr>

<node-form-group node="vm.action.node"></node-form-group>

<div class="form-group">
    <label class="control-label">Attribute</label>
    <input class="form-control" type="text" placeholder="The name of the attribute" ng-model="vm.action.attribute" required
           minlength="1">
</div>

<div class="form-group">
    <label class="control-label">Value</label>
    <input class="form-control" type="text" placeholder="The expected value" ng-model="vm.action.value">
</div>

<div class="form-group">
    <label class="control-label">Value check method</label>
    <select class="form-control" ng-model="vm.action.checkMethod" required>
        <option ng-repeat="method in vm.checkMethods" value="{{method}}">{{method}}</option>
    </select>
</div>
