<div style="position: relative; z-index: 10" [class.focused]="focused">
  <div class="wrapper">
    <div class="form-group mb-0">
      <i class="fas fa-fw fa-search text-muted"></i>
      <input
        class="form-control"
        type="text"
        (focus)="handleFocus()"
        [(ngModel)]="value"
        (input)='updateItemList()' [placeholder]="placeholder"
      >
    </div>

    <div class="list-group list-group-condensed mb-0" *ngIf="focused">
      <div
        class="list-group-item"
        *ngFor="let item of itemList"
        (click)="selectItem(item)"
      >
        {{displayFn()(item)}}
      </div>
    </div>
  </div>
</div>
