<div class="view view-about">
  <div class="view-body">
    <div class="container">

      <div class="section">
        <h4>ALEX</h4>
        <hr>

        <p>
          Version: {{version}}
        </p>
      </div>

      <div class="section">
        <h4>Maintainers</h4>
        <hr>

        <p>
          <strong>Alexander Bainczyk</strong><br>
          <a href="mailto:alexander.bainczyk@tu-dortmund.de">
            <i class="fas fa-envelope fa-fw"></i>
            alexander.bainczyk@tu-dortmund.de
          </a>
        </p>
      </div>

      <div class="section">
        <h4>Related links</h4>
        <hr>

        <ul>
          <li>
            <a href="https://learnlib.github.io/alex/">Homepage</a>
          </li>
          <li>
            <a href="https://learnlib.github.io/alex/book/1.7.0/index.html">Documentation</a>
          </li>
          <li>
            <a href="https://github.com/LearnLib/alex">ALEX @ GitHub</a>
          </li>
        </ul>
      </div>

      <div class="section">
        <h4>Copyright</h4>
        <hr>

        <p>
          This project is open source and licensed under the
          <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2 license</a>.
        </p>
        <p>
          Copyright 2015 - 2019 TU Dortmund
        </p>
      </div>

    </div>
  </div>
</div>
