<div class="form-group">
  <label class="control-label">Web Driver</label>
  <select
    class="form-control"
    name="browser"
    (change)="selectWebDriver()"
    [(ngModel)]="driverName"
  >
    <option [value]="null" disabled>Select a WebDriver</option>
    <option *ngFor="let wd of supportedWebDrivers | keyvalue" [value]="wd.value">{{wd.value | formatWebBrowser}}</option>
  </select>
</div>

<div *ngIf="['chrome', 'firefox', 'remote'].indexOf(config.name) > -1" class="form-group form-check">
  <label class="form-check-label">
    <input [(ngModel)]="config.headless" class="form-check-input" type="checkbox">
    <strong>Use headless mode</strong>
    <span class="d-block form-text text-muted">Make sure your browser version supports running in headless mode</span>
  </label>
</div>

<div *ngIf="config.name === 'remote'">
  <div class="form-group">
    <label class="control-label">Platform</label>
    <select [(ngModel)]="config.platform" class="form-control" required>
      <option [value]="" disabled>Select a platform</option>
      <optgroup label="Defaults">
        <option *ngFor="let item of platforms.any | keyvalue" [value]="item.v">{{item.k}}</option>
      </optgroup>
      <optgroup label="Windows">
        <option *ngFor="let item of platforms.windows | keyvalue" [value]="item.v">{{item.k}}</option>
      </optgroup>
      <optgroup label="Mac OS">
        <option *ngFor="let item of platforms.mac | keyvalue" [value]="item.v">{{item.k}}</option>
      </optgroup>
      <optgroup label="Unix">
        <option *ngFor="let item of platforms.unix | keyvalue" [value]="item.v">{{item.k}}</option>
      </optgroup>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label">Browser</label>
    <select [(ngModel)]="config.browser" class="form-control" required>
      <option [value]="null" disabled>Select a browser</option>
      <option *ngFor="let item of browsers" [value]="item.v">{{item.k}}</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label">Version</label>
    <input
      [(ngModel)]="config.version"
      class="form-control"
      placeholder="The version of the browser"
      type="text"
    >
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label class="control-label">Width</label>
      <input
        class="form-control"
        placeholder="Browser width in px"
        required
        type="number"
        name="browser_width"
        [(ngModel)]="config.width"
      >
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label class="control-label">Height</label>
      <input
        class="form-control"
        placeholder="Browser height in px"
        required
        type="number"
        name="browser_height"
        [(ngModel)]="config.height"
      >
    </div>
  </div>
</div>

<hr>
<p>
  <button (click)="timeoutsCollapsed = !timeoutsCollapsed; $event.preventDefault()" class="btn btn-sm btn-default">
    Timeouts <i [ngClass]="{'fa-caret-right' : timeoutsCollapsed, 'fa-caret-down': !timeoutsCollapsed}"
                class="fas fa-fw"></i>
  </button>
</p>
<div [ngbCollapse]="timeoutsCollapsed">
  <div class="form-group">
    <label class="control-label">Implicitly wait <em class="text-muted">(seconds)</em></label>
    <input [(ngModel)]="config.implicitlyWait" class="form-control" min="0" placeholder="Implicit wait time" required
           type="number">
  </div>
  <div class="form-group">
    <label class="control-label">Page load timeout <em class="text-muted">(seconds)</em></label>
    <input [(ngModel)]="config.pageLoadTimeout" class="form-control" min="0" placeholder="Page load timeout" required
           type="number">
  </div>
  <div class="form-group">
    <label class="control-label">Script timeout <em class="text-muted">(seconds)</em></label>
    <input [(ngModel)]="config.scriptTimeout" class="form-control" min="0" placeholder="Script timeout" required
           type="number">
  </div>
</div>

