<div view-heading
     title="Symbol Groups"
     sub-title="Manage all symbol groups">
</div>

<div class="sub-nav" fix-on-scroll="{top:120,class:'fixed'}">
    <div class="container">

        <div class="pull-left">
            <button class="btn btn-primary btn-xs">
                Create
            </button>
            <button class="btn btn-xs btn-default">
                Edit
            </button>
            <button class="btn btn-xs btn-default">
                Delete
            </button>
        </div>

    </div>
</div>

<div class="view-body">
    <div class="container">

        <div ng-repeat="group in groups track by $index">
            {{group.name}}

            <ul>
                <li ng-repeat="symbol in group.symbols track by symbol.id">
                    {{symbol.name}}
                </li>
            </ul>
        </div>

    </div>
</div>