<div style="position: absolute; width: 100%; top: 42px; bottom: 0; overflow: auto;">

    <div ng-if="active == true" class="container" style="margin-top: 54px">
        <div class="alert alert-info">
            <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp; Application is learning ... <br>
        </div>
        <hr>
        <button class="btn btn-default btn-xs pull-right" ng-click="abort()">
            <i class="fa fa-close fa-fw"></i> Abort
        </button>
    </div>

    <div ng-if="!active && results.length > 0">

        <div class="panel-sidebar">

            <p>
                <br>
                <button class="btn btn-primary btn-sm btn-block" ng-click="resumeLearning()">Resume</button>
            </p>

            <div widget widget-title="Configuration" collapsed="false">
                <div widget-test-resume-settings configuration="_.last(results).configuration"></div>
            </div>

            <div widget widget-title="Counter Examples" collapsed="true"
                 ng-if="_.last(results).configuration.eqOracle.type === 'sample'">
                <div widget-counter-examples counter-examples="_.last(results).configuration.eqOracle.counterExamples"
                     counter-example="counterExample"></div>
            </div>

        </div>

        <div learn-results-panel results="results" counter-example="counterExample"></div>

    </div>

</div>
