<div class="container">
    <h2>Symbols Trash - <span ng-bind="(type|capitalize)"></span></h2>

    <p class="text-muted">
        View deleted <span ng-bind="type"></span> symbols and recover them
    </p>

    <hr>
</div>

<div class="sub-nav" fix-on-scroll="{top:124,class:'fixed'}">
    <div class="container">
        <div class="pull-left" style="margin-right: 16px">
            <input type="checkbox" select-all-items-checkbox items="symbols">
        </div>
        <div class="pull-left">
            <button class="btn btn-xs btn-default" ng-class="(symbols|selected).length > 0 ? '' : 'disabled'"
                    ng-click="recoverSelected()">
                <i class="fa fa-rotate-left fa-fw"></i> Recover
            </button>
        </div>
    </div>
</div>

<div class="container">

    <div selectable-list ng-model="symbols">
        <div selectable-list-item ng-repeat="symbol in symbols">

            <div class="btn-group btn-group-xs pull-right" dropdown dropdown-hover>
                <button type="button" class="btn btn-default btn-icon dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="dropdown-menu pull-left" role="menu">
                    <li>
                        <a href ng-click="recover(symbol)">
                            <i class="fa fa-rotate-left fa-fw"></i> Recover
                        </a>
                    </li>
                </ul>
            </div>

            <strong ng-bind="symbol.name"></strong> [<span ng-bind="symbol.abbreviation"></span>]
            <span class="text-muted">Rev. <span ng-bind="symbol.revision"></span></span>
            <p class="text-muted">
            	<span ng-bind="symbol.actions.length"></span> Actions
            </p>
        </div>
    </div>

    <div class="alert alert-info" ng-show="symbols.length == 0">
        There are no symbols in the trash
    </div>

</div>