<div view-heading
     title="Symbols"
     sub-title="Manage all symbols of the project">
</div>

<div class="sub-nav" fix-on-scroll="{top:120,class:'fixed'}">
    <div class="container">

        <div class="pull-left" style="margin-right: 16px" selectable items="allSymbols">
            <input type="checkbox" selectable-item-checkbox>
        </div>

        <div class="pull-left">

            <div class="btn-group btn-group-xs" dropdown dropdown-hover>
                <button class="btn btn-primary">
                    Create
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href symbol-create-modal-handle project-id="{{project.id}}" on-created="addSymbol">
                            Symbol
                        </a>
                    </li>
                    <li>
                        <a href symbol-group-create-modal-handle project-id="{{project.id}}" on-created="addGroup">
                            Group
                        </a>
                    </li>
                </ul>
            </div>

            <button class="btn btn-xs btn-default" ng-class="(allSymbols|selected).length == 1 ? '' : 'disabled'"
                    symbol-edit-modal-handle symbol="(allSymbols | selected | first)" on-updated="updateSymbol">
                Edit
            </button>
            <button class="btn btn-xs btn-default" symbol-move-modal-handle groups="groups"
                    ng-class="(allSymbols|selected).length > 0 ? '' : 'disabled'">
                Move
            </button>
            <button class="btn btn-xs btn-default" ng-class="(allSymbols|selected).length > 0 ? '' : 'disabled'"
                    ng-click="deleteSelectedSymbols()">
                Delete
            </button>

        </div>

        <div class="pull-right">
            <button class="btn btn-xs btn-default" ng-click="toggleCollapseAllGroups()">
                <i class="fa fa-fw" ng-class="collapseAll ? 'fa-chevron-down': 'fa-chevron-right'"></i>
            </button>
        </div>

    </div>
</div>

<div class="view-body">
    <div class="container symbol-group-list">

        <div ng-repeat="group in groups track by group.id" class="symbol-group"
             ng-class="group._isCollapsed ? 'collapsed' :''">

            <div class="selectable-list symbol-group-header">
                <div class="selectable-list-heading">
                    <div class="selectable-list-control" selectable items="group.symbols">
                        <input type="checkbox" selectable-item-checkbox>
                    </div>
                    <div class="selectable-list-content">

                        <span class="pull-right" ng-click="group._isCollapsed = !group._isCollapsed">
                            <i class="fa fa-fw"
                               ng-class="group._isCollapsed ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                        </span>

                        <a href class="pull-right" style="margin-right: 15px" symbol-group-edit-modal-handle
                           group="group" on-updated="updateGroup" on-deleted="deleteGroup">
                            <i class="fa fa-fw fa-gear"></i>
                        </a>

                        <h3 class="symbol-group-title" ng-bind="group.name"
                            ng-click="group._isCollapsed = !group._isCollapsed"></h3>

                        <p class="text-muted">
                            <span ng-bind="group.symbols.length"></span> Symbols
                        </p>

                    </div>
                </div>
            </div>

            <div class="symbol-group-body" collapse="group._isCollapsed">

                <div selectable items="group.symbols">
                    <div selectable-list>
                        <div selectable-list-item item="symbol" ng-repeat="symbol in group.symbols">

                            <div class="btn-group btn-group-xs pull-right" dropdown dropdown-hover>
                                <button type="button" class="btn btn-default btn-icon dropdown-toggle" dropdown-toggle>
                                    <i class="fa fa-bars"></i>
                                </button>
                                <ul class="dropdown-menu pull-left" role="menu">
                                    <li>
                                        <a href symbol-edit-modal-handle symbol="symbol" on-updated="updateSymbol">
                                            <i class="fa fa-edit fa-fw"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a href symbol-move-modal-handle groups="groups">
                                            <i class="fa fa-exchange fa-fw"></i> Move
                                        </a>
                                    </li>
                                    <li>
                                        <a href ng-click="deleteSymbol(symbol)">
                                            <i class="fa fa-trash fa-fw"></i> Delete
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ui-sref="symbols.actions({symbolId:symbol.id})">
                                            <i class="fa fa-list-ol fa-fw"></i> Actions
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ui-sref="symbols.history({symbolId:symbol.id})">
                                            <i class="fa fa-history fa-fw"></i> Restore
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <strong ng-bind="symbol.name"></strong> [<span ng-bind="symbol.abbreviation"></span>]<br>

                            <a ui-sref="symbols.actions({symbolId:symbol.id})">
                                <span ng-bind="symbol.actions.length"></span> Actions <i class="fa fa-edit"></i>
                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>