<div class="container">
    <h2>Symbol Editor</h2>

    <p class="text-muted">
        Create and edit symbols and manage its actions
    </p>
    <hr>
</div>

<div class="sub-nav" fix-on-scroll="{top:124,class:'fixed'}">
    <div class="container">
        <div class="pull-left" style="margin-right: 16px">
            <input type="checkbox" select-all-items-checkbox items="symbols">
        </div>
        <div class="pull-left">
            <button class="btn btn-xs btn-primary"
                    open-symbol-create-modal symbol-type="{{type}}" project-id="{{project.id}}" on-created="addSymbol">
                Create
            </button>
            <button class="btn btn-xs btn-default" ng-class="(symbols|selected).length == 1 ? '' : 'disabled'"
                    open-symbol-edit-modal symbol="(symbols | selected | first)" on-updated="updateSymbol">
                Edit
            </button>
            <button class="btn btn-xs btn-default" ng-class="(symbols|selected).length > 0 ? '' : 'disabled'"
                    ng-click="deleteSelectedSymbols()">
                Delete
            </button>
        </div>
        <div class="pull-right">
            <a ui-sref="symbols.{{type}}.trash" class="btn btn-xs btn-default">
                <i class="fa fa-trash fa-fw"></i>Trash
            </a>
        </div>
    </div>
</div>

<div class="container">

    <div selectable-list ng-model="symbols">
        <div selectable-list-item ng-repeat="symbol in symbols">

            <div class="btn-group btn-group-xs pull-right" dropdown dropdown-hover>
                <button type="button" class="btn btn-default btn-icon dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="dropdown-menu pull-left" role="menu">
                    <li>
                        <a href open-symbol-edit-modal symbol="symbol" on-updated="updateSymbol">
                            <i class="fa fa-edit fa-fw"></i> Edit
                        </a>
                    </li>
                    <li>
                        <a href ng-click="deleteSymbol(symbol)">
                            <i class="fa fa-trash fa-fw"></i> Delete
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ui-sref="symbols.actions({symbolId:symbol.id})">
                            <i class="fa fa-list-ol fa-fw"></i> Actions
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ui-sref="symbols.history({symbolId:symbol.id})">
                            <i class="fa fa-history fa-fw"></i> Restore
                        </a>
                    </li>
                </ul>
            </div>

            <strong ng-bind="symbol.name"></strong> [<span ng-bind="symbol.abbreviation"></span>]

            <p class="text-muted">
                <a ui-sref="symbols.actions({symbolId:symbol.id})">
                    <span ng-bind="symbol.actions.length"></span> Actions <i class="fa fa-edit"></i>
                </a>
            </p>

        </div>
    </div>

    <div class="alert alert-info" ng-show="symbols.length == 0">
        You haven't created any symbols yet.
    </div>

</div>

