<div view-heading
     title="Export Symbols"
     sub-title="Select symbols you want to download as *.json">
</div>

<div class="sub-nav" fix-on-scroll="{top:120,class:'fixed'}">
    <div class="container">

        <div class="pull-left" style="margin-right: 16px" selectable items="allSymbols">
            <input type="checkbox" selectable-item-checkbox>
        </div>

        <div class="pull-right">
            <button class="btn btn-xs btn-primary" download-as-json data="getSelectedSymbols">
                <i class="fa fa-download fa-fw"></i> Download
            </button>
        </div>

    </div>
</div>

<div class="view-body">
    <div class="container symbol-group-list">

        <div ng-repeat="group in groups track by group.id" class="symbol-group"
             ng-class="group._isCollapsed ? 'collapsed' :''">

            <div class="selectable-list symbol-group-header">
                <div class="selectable-list-heading">
                    <div class="selectable-list-control" selectable items="group.symbols">
                        <input type="checkbox" selectable-item-checkbox>
                    </div>
                    <div class="selectable-list-content">

                        <span class="pull-right" ng-click="group._isCollapsed = !group._isCollapsed">
                            <i class="fa fa-fw"
                               ng-class="group._isCollapsed ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                        </span>

                        <h3 class="symbol-group-title" ng-bind="group.name"
                            ng-click="group._isCollapsed = !group._isCollapsed"></h3>

                        <p class="text-muted">
                            <span ng-bind="group.symbols.length"></span> Symbols
                        </p>

                    </div>
                </div>
            </div>

            <div class="symbol-group-body" collapse="group._isCollapsed">

                <div selectable items="group.symbols">
                    <div selectable-list>
                        <div selectable-list-item item="symbol" ng-repeat="symbol in group.symbols">

                            <strong ng-bind="symbol.name"></strong> [<span ng-bind="symbol.abbreviation"></span>]<br>

                            <a ui-sref="symbols.actions({symbolId:symbol.id})">
                                <span ng-bind="symbol.actions.length"></span> Actions <i class="fa fa-edit"></i>
                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>