<div view-heading
     title="Symbol Upload"
     sub-title="If you already have a *.json file with symbols, you can import them here to this project">
</div>

<div class="sub-nav" fix-on-scroll="{top:120,class:'fixed'}" ng-if="symbols.length > 0">
    <div class="container">

        <div class="pull-left" style="margin-right: 16px" selectable items="symbols">
            <input type="checkbox" selectable-item-checkbox>
        </div>

        <div class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="uploadSelectedSymbols()">
                <i class="fa fa-upload fa-fw"></i> Upload
            </button>
        </div>

    </div>
</div>

<div class="view-body">
    <div class="container">

        <div file-dropzone on-loaded="fileLoaded" class="alert alert-info">
            Drag and drop *.json file here
        </div>

        <hr>

        <div selectable items="symbols" ng-if="symbols.length > 0">
            <div selectable-list>
                <div selectable-list-item ng-repeat="symbol in symbols">

                    <strong ng-bind="symbol.name"></strong> [<span ng-bind="symbol.abbreviation"></span>]

                    <div class="text-muted">
                        <span ng-bind="symbol.actions.length"></span> Actions <i class="fa fa-edit"></i>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">