<div view-heading
     title="Symbol Trash"
     sub-title="Restore deleted symbols">
</div>

<div class="sub-nav" fix-on-scroll="{top:120,class:'fixed'}">
    <div class="container">

        <div class="pull-left" style="margin-right: 16px" selectable items="symbols">
            <input type="checkbox" selectable-item-checkbox>
        </div>

        <div class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="recoverSelectedSymbols()">
                <i class="fa fa-rotate-left fa-fw"></i> Recover
            </button>
        </div>

    </div>
</div>

<div class="view-body">
    <div class="container">

        <div selectable items="symbols" ng-if="symbols.length > 0">
            <div selectable-list>
                <div selectable-list-item ng-repeat="symbol in symbols track by $index">

                    <a class="btn btn-default btn-icon pull-right" ng-click="recoverSymbol(symbol)">
                        <i class="fa fa-rotate-left fa-fw"></i>
                    </a>

                    <strong ng-bind="symbol.name"></strong> [<span ng-bind="symbol.abbreviation"></span>]

                    <div class="text-muted">
                        <span ng-bind="symbol.actions.length"></span> Actions
                    </div>

                </div>
            </div>
        </div>

        <div class="alert alert-info" ng-if="symbols.length === 0">
            There are no deleted symbols
        </div>

    </div>
</div>