<h4><strong>Upload file</strong></h4>

<p class="text-muted">
  Uploads a file to an <strong>input[type="file"]</strong> element.
</p>
<hr>

<div class="alert alert-info" ng-if="vm.files.length === 0">
  There are not uploaded files in ALEX yet.
</div>

<div ng-if="vm.files.length > 0">
  <node-form-group node="vm.action.node"></node-form-group>

  <div class="form-group">
    <label>File to upload</label>
    <select class="form-control" ng-model="vm.action.fileName">
      <option selected value="">Select a file to upload</option>
      <option ng-repeat="file in vm.files" value="{{file.name}}">{{file.name}}</option>
    </select>
  </div>
</div>
