<div class="d-flex flex-row">
  <div class="w-100" *ngIf="collapse">
    <span
      class="badge d-inline-block"
      style="margin-left: 3px"
      *ngFor="let output of outputs"
      [ngClass]="{'badge-success': output.success,'badge-danger':!output.success}"
    >
        {{output.output}}
    </span>
  </div>
  <div class="w-100" *ngIf="!collapse">
    <table class="table table-hollow">
      <tbody>
      <tr *ngFor="let output of outputs">
        <td style="width: 1px" class="text-right">
          <a
            [href]="'#!/projects/' + project.id + '/symbols/' + output.symbol.id"
            class="badge badge-default cursor-pointer"
          >
            {{output.symbol.name}}
          </a>
        </td>
        <td class="w-100">
          <span
            class="badge"
            [ngClass]="{'badge-success': output.success,'badge-danger':!output.success}"
          >
            {{output.output}}
          </span>
          <output-error-trace [output]="output" [showFirst]="false"></output-error-trace>
        </td>
        <td style="width: 1px">
          <i
            class="fa fa-fw fa-search cursor-pointer result-details-icon"
            ngbTooltip="Details"
            placement="left"
            (click)="showResultDetails(output)"
          >
          </i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <i
      class="fas fa-fw cursor-pointer"
      [ngClass]="{'fa-caret-square-down': !collapse, 'fa-caret-square-right': collapse}"
      (click)="toggleCollapse()"
      ngbTooltip="Details"
      placement="left"
    >
    </i>
  </div>
</div>
