<div view-heading
     title="Export Symbols"
     sub-title="Select symbols you want to download as *.json">
</div>

<div class="sub-nav" fix-on-scroll="{top:120,class:'fixed'}">
    <div class="container">

        <div class="pull-left" style="margin-right: 16px">
            <input type="checkbox" selection-checkbox-all items="allSymbols">
        </div>

        <div class="pull-left">
            <button class="btn btn-xs btn-primary" download-as-json data="getDownloadableSymbols">
                <i class="fa fa-download fa-fw"></i> Download
            </button>
        </div>

    </div>
</div>

<div class="view-body">
    <div class="container">

        <symbol-group-list>
            <symbol-group-list-item ng-repeat="group in groups track by $index | orderBy:'-name':true"
                                    group="group">

                <symbol-group-list-item-header></symbol-group-list-item-header>

                <symbol-group-list-item-content>

                    <symbol-list>
                        <symbol-list-item ng-repeat="symbol in group.symbols | orderBy:'-name':true"
                                          selection-model
                                          selection-model-selected-items="selectedSymbols"
                                          symbol="symbol">

                        </symbol-list-item>
                    </symbol-list>

                </symbol-group-list-item-content>

            </symbol-group-list-item>
        </symbol-group-list>

    </div>
</div>