<div view-heading
     title="Symbols Upload"
     sub-title="If you already have a *.json file with symbols, you can import them here to this project">
</div>

<div sub-navigation ng-if="symbols.length > 0">
    <div class="pull-left selection-checkbox">
        <input type="checkbox" selection-checkbox-all items="symbols">
    </div>

    <div class="btn-group btn-group-xs">
        <button class="btn btn-primary" ng-click="uploadSelectedSymbols()">
            <i class="fa fa-upload fa-fw"></i> Upload
        </button>
        <div class="btn-group btn-group-xs" dropdown>
            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                <i class="fa fa-gear"></i>
            </button>
            <ul class="dropdown-menu pull-left" role="menu">
                <li>
                    <a href ng-click="adjustReferences = !adjustReferences">
                        <i class="fa fa-fw" ng-class="adjustReferences ? 'fa-check' : 'fa-close'"></i>
                        Adjust References
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="view-body">
    <div class="container">

        <div ng-if="symbols.length === 0">
            <div file-dropzone on-loaded="fileLoaded" class="alert alert-info">
                Drag and drop *.json file here or click to upload
            </div>
            <hr>
        </div>

        <symbol-list>
            <symbol-list-item ng-repeat="symbol in symbols"
                              selection-model
                              selection-model-selected-items="selectedSymbols"
                              symbol="symbol">

                <button class="btn btn-xs btn-default btn-icon pull-right"
                        symbol-edit-modal-handle symbol="symbol" on-updated="updateSymbol" update-on-server="false">
                    <i class="fa fa-edit"></i> Edit
                </button>

            </symbol-list-item>
        </symbol-list>

    </div>
</div>