<div class="symbol-io-panel card">
  <div class="card-header">
    <strong>Input & output parameters</strong>
  </div>
  <div class="px-3 py-2 border-bottom">
    <button type="button" class="btn btn-default btn-sm mr-2" (click)="addInput()">
      Add input
    </button>
    <button type="button" class="btn btn-default btn-sm" (click)="addOutput()">
      Add output
    </button>
  </div>
  <div class="card-body">

    <div class="d-flex">
      <div class="d-flex" style="margin: auto">

        <div>
          <ng-container *ngIf="symbol.inputs.length > 0">
            <div *ngFor="let input of symbol.inputs; let i = index">
              <div class="d-flex py-2 px-0">
                <div class="input w-100">
                  <span class="btn-close float-right ml-1" (click)="removeInput(i)">
                    <i class="fas fa-times"></i>
                  </span>

                  <i class="fas fa-fw fa-lock mr-2"
                     [ngClass]="{'fa-lock': input.private, 'fa-unlock': !input.private}"></i>
                  <strong class="cursor-pointer" (click)="editInput(input, i)">{{input.name}}</strong>:
                  <em>{{input.parameterType | normalizeUpperCase}}</em>
                </div>
                <div class="d-flex align-items-center">
                  <svg width="68px" height="14px" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0" y1="7" x2="50" y2="7" stroke="#000" stroke-width="2"/>
                    <polygon points="50,13 50,1 68,7" style="fill:#000"/>
                  </svg>
                </div>
              </div>
            </div>
          </ng-container>

          <div *ngIf="symbol.inputs.length === 0" class="d-flex align-items-center h-100">
            <div class="alert alert-info mr-1 mb-0">
              There are no inputs defined.
            </div>
          </div>
        </div>

        <div>
          <div class="symbol h-100 d-flex align-items-center">
            <strong>{{symbol.name}}</strong>
          </div>
        </div>

        <div>
          <ng-container *ngIf="symbol.outputs.length > 0">
            <div *ngFor="let output of symbol.outputs; let i = index">
              <div class="d-flex py-2 px-0">
                <div class="d-flex align-items-center">
                  <svg width="68px" height="14px" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0" y1="7" x2="50" y2="7" stroke="#000" stroke-width="2"/>
                    <polygon points="50,13 50,1 68,7" style="fill:#000"/>
                  </svg>
                </div>
                <div class="output w-100">
                  <span class="btn-close float-right ml-1" (click)="removeOutput(i)">
                    <i class="fas fa-times"></i>
                  </span>

                  <strong class="cursor-pointer" (click)="editOutput(output, i)">{{output.name}}</strong>:
                  <em>{{output.parameterType | normalizeUpperCase}}</em>
                </div>
              </div>
            </div>
          </ng-container>

          <div *ngIf="symbol.outputs.length === 0" class="d-flex align-items-center h-100">
            <div class="alert alert-info ml-1 mb-0">
              There are no outputs defined.
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
