<div class="modal-header">

    <a class="btn btn-default btn-icon pull-right" ng-click="vm.closeModal()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Update Action</h3>
    <span class="text-muted">Update an existing action for a symbol</span>
</div>

<form ng-submit="vm.updateAction()" id="action-create-form">

    <div class="modal-body">
        <action-create-edit-form action="vm.action" symbols="vm.symbols" ng-if="vm.action !== null">
        </action-create-edit-form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit">Update</button>
    </div>

</form>