<div class="modal-header">

    <a class="btn btn-default btn-icon pull-right" ng-click="closeModal()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Update Action</h3>
    <span class="text-muted">Update an existing action for a symbol</span>
</div>

<form ng-submit="updateAction()" id="action-create-form">

    <div class="modal-body">

        <ng-include src="paths.views.INCLUDES + '/action-forms.html'"></ng-include>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit">Update</button>
    </div>

</form>