<div class="modal-header">
    <a class="btn btn-default btn-icon pull-right" ng-click="vm.close()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Test Settings</h3>
    <span class="text-muted">Manually set some parameters for the Test</span>
</div>

<form name="learn_config_form" ng-submit="vm.ok()">
    <div class="modal-body">

        <div class="form-group">
            <label class="control-label">Algorithm</label> <br>
            <span class="text-muted">Select an algorithm that will be used for the learn process</span>
            <select class="form-control" ng-model="vm.learnConfiguration.algorithm"
                    ng-options="(k|formatAlgorithm) for (k,v) in vm.learnAlgorithms">
                <option value="" disabled>select an algorithm</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">EQ Oracle</label><br>
            <span class="text-muted">Select how counter examples should be found</span>
            <select class="form-control" ng-model="vm.selectedEqOracle" ng-change="vm.setEqOracle()"
                    ng-options="(v|formatEqOracle) for (k,v) in vm.eqOracles">
                <option value="" disabled>select an EQ-Oracle</option>
            </select>
        </div>

        <!-- BEGIN: EQ Oracle: RANDOM -->
        <div class="form-horizontal form-condensed" ng-if="vm.learnConfiguration.eqOracle.type === vm.eqOracles.RANDOM">
            <div class="form-group">
                <div class="col-sm-9">
                    <input class="form-control" name="eq_oracle_random_min_length"
                           ng-model="vm.learnConfiguration.eqOracle.minLength" type="number"
                           required min="0"
                           placeholder="0">
                </div>
                <label class="col-sm-3 control-label">min length</label>
            </div>

            <div class="alert alert-danger alert-condensed"
                 ng-show="learn_config_form.eq_oracle_random_min_length.$dirty && learn_config_form.eq_oracle_random_min_length.$invalid">
                <small ng-show="learn_config_form.eq_oracle_complete_min_depth.$error.required">
                    The field must not be empty.
                </small>
            </div>

            <div class="form-group">
                <div class="col-sm-9">
                    <input class="form-control" name="eq_oracle_random_max_length"
                           ng-model="vm.learnConfiguration.eqOracle.maxLength" type="number"
                           required min="0"
                           placeholder="0">
                </div>
                <label class="col-sm-3 control-label">max length</label>
            </div>

            <div class="alert alert-danger alert-condensed"
                 ng-show="learn_config_form.eq_oracle_random_max_length.$dirty && learn_config_form.eq_oracle_random_max_length.$invalid">
                <small ng-show="learn_config_form.eq_oracle_random_max_length.$error.required">
                    The field must not be empty.
                </small>
            </div>

            <div class="form-group">
                <div class="col-sm-9">
                    <input class="form-control" name="eq_oracle_random_no_words"
                           ng-model="vm.learnConfiguration.eqOracle.maxNoOfTests" type="number"
                           required min="0"
                           placeholder="0">
                </div>
                <label class="col-sm-3 control-label">no of random words</label>
            </div>

            <div class="alert alert-danger alert-condensed"
                 ng-show="learn_config_form.eq_oracle_random_no_words.$dirty && learn_config_form.eq_oracle_random_no_words.$invalid">
                <small ng-show="learn_config_form.eq_oracle_random_no_words.$error.required">
                    The field must not be empty.
                </small>
            </div>
        </div>
        <!-- END: EQ Oracle: RANDOM -->

        <!-- BEGIN: EQ Oracle: COMPLETE -->
        <div class="form-horizontal form-condensed"
             ng-if="vm.learnConfiguration.eqOracle.type === vm.eqOracles.COMPLETE">
            <div class="form-group">
                <div class="col-sm-9">
                    <input class="form-control" name="eq_oracle_complete_min_depth"
                           ng-model="vm.learnConfiguration.eqOracle.minDepth" type="number"
                           required min="0"
                           placeholder="0">
                </div>
                <label class="col-sm-3 control-label">min depth</label>
            </div>

            <div class="alert alert-danger alert-condensed"
                 ng-show="learn_config_form.eq_oracle_complete_min_depth.$dirty && learn_config_form.eq_oracle_complete_min_depth.$invalid">
                <small ng-show="learn_config_form.eq_oracle_complete_min_depth.$error.required">
                    The field must not be empty.
                </small>
            </div>

            <div class="form-group">
                <div class="col-sm-9">
                    <input class="form-control" name="eq_oracle_complete_max_depth"
                           ng-model="vm.learnConfiguration.eqOracle.maxDepth" type="number"
                           required min="0"
                           placeholder="0">
                </div>
                <label class="col-sm-3 control-label">max depth</label>
            </div>

            <div class="alert alert-danger alert-condensed"
                 ng-show="learn_config_form.eq_oracle_complete_max_depth.$dirty && learn_config_form.eq_oracle_complete_max_depth.$invalid">
                <small ng-show="learn_config_form.eq_oracle_complete_max_depth.$error.required">
                    The field must not be empty.
                </small>
            </div>

        </div>
        <!-- END: EQ Oracle: COMPLETE -->

        <!-- BEGIN: EQ Oracle: WMETHOD -->
        <div class="form-horizontal form-condensed"
             ng-if="vm.learnConfiguration.eqOracle.type === vm.eqOracles.WMETHOD">
            <div class="form-group">
                <div class="col-sm-9">
                    <input class="form-control" name="eq_oracle_wmethod_max_depth"
                           ng-model="vm.learnConfiguration.eqOracle.maxDepth" type="number"
                           required min="0"
                           placeholder="0">
                </div>
                <label class="col-sm-3 control-label">max depth</label>
            </div>

            <div class="alert alert-danger alert-condensed"
                 ng-show="learn_config_form.eq_oracle_wmethod_max_depth.$dirty && learn_config_form.eq_oracle_wmethod_max_depth.$invalid">
                <small ng-show="learn_config_form.eq_oracle_wmethod_max_depth.$error.required">
                    The field must not be empty.
                </small>
            </div>
        </div>
        <!-- END: EQ Oracle: WMETHOD -->

        <hr>
        <div class="form-group">
            <label class="control-label">Max Amount of Steps to Learn (-1 := learn until no counter example can be found)</label>
            <input name="max_steps" required min="-1" ng-model="vm.learnConfiguration.maxAmountOfStepsToLearn"
                   class="form-control" type="number" placeholder="-1">
        </div>

        <div class="alert alert-danger alert-condensed"
             ng-show="learn_config_form.max_steps.$dirty && learn_config_form.max_steps.$invalid">
            <small ng-show="learn_config_form.max_steps.$error.required">
                The field must not be empty.
            </small>
        </div>

        <div class="form-group">
            <label class="control-label">Web Driver</label>
            <select class="form-control" ng-options="(v|formatWebBrowser) for (k,v) in vm.webBrowser"
                    ng-model="vm.learnConfiguration.browser">
                <option value="" disabled>Select a Webdriver</option>
            </select>
        </div>

        <div class="form-group">
            <label>Comment</label>
            <textarea class="form-control" placeholder="Enter a short description of the test"
                      ng-model="vm.learnConfiguration.comment">
            </textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" type="submit">Save</button>
    </div>
</form>