<div class="modal-header">

    <a class="btn btn-default btn-icon pull-right" ng-click="closeModal()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Update a Symbol</h3>
    <span class="text-muted">Update an existing symbol</span>

</div>

<form id="symbol-edit-form" name="symbol_edit_form" ng-submit="updateSymbol()">

    <div class="modal-body">

        <div class="form-group">
            <label>Symbol Name</label>
            <input class="form-control" name="name" type="text" placeholder="name" required ng-model="symbol.name">
        </div>
        <div class="alert alert-danger alert-condensed"
             ng-show="symbol_edit_form.name.$dirty && symbol_edit_form.name.$invalid">
            <small ng-show="symbol_edit_form.name.$error.required"> The field must not be empty.</small>
        </div>

        <div class="form-group">
            <label>Symbol Abbreviation</label>
            <input class="form-control" name="abbreviation" type="text" placeholder="abbreviation" required
                   ng-model="symbol.abbreviation">
        </div>
        <div class="alert alert-danger alert-condensed"
             ng-show="symbol_edit_form.abbreviation.$dirty && symbol_edit_form.abbreviation.$invalid">
            <small ng-show="symbol_edit_form.abbreviation.$error.required"> The field must not be empty.</small>
        </div>

        <div class="alert alert-danger alert-condensed" ng-show="errorMsg" ng-bind="errorMsg"></div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit">Update</button>
    </div>

</form>