<div class="modal-header">
    <a class="btn btn-default btn-icon pull-right" ng-click="vm.close()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Edit User</h3>
    <span class="text-muted">Edit an existing user</span>
</div>

<div class="modal-body">

    <h4>Email</h4>
    <form name="vm.mailForm" ng-submit="vm.changeEmail()">
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="mail" ng-model="vm.email" placeholder="Enter an email address" required />
            <div class="help-block" ng-messages="vm.mailForm.mail.$error" ng-if="vm.mailForm.mail.$touched">
                <div class="alert alert-danger alert-condensed" ng-message="required">
                    The email is required
                </div>
                <div class="alert alert-danger alert-condensed" ng-message="email">
                    You have to enter a valid email address
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-sm">Change Email</button>
    </form>

    <hr>
    <h4><strong>Role</strong></h4>
    <div ng-if="vm.user.role === vm.userRole.ADMIN">
        <p class="text-muted">
            <em>Note: if you take your own admin rights, you will be logged out automatically.</em>
        </p>
        <p>
            <button class="btn btn-primary btn-sm" ng-click="vm.demoteUser()">
                Remove admin rights
            </button>
        </p>
    </div>
    <div ng-if="vm.user.role === vm.userRole.REGISTERED" ng-click="vm.promoteUser()">
        <button class="btn btn-primary btn-sm">
            Give admin rights
        </button>
    </div>

    <hr>
    <h4><strong>Account</strong></h4>
    <button class="btn btn-danger btn-sm" ng-click="vm.deleteUser()">
        Delete profile
    </button>

    <div ng-if="vm.error !== null">
        <hr/>
        <div class="alert alert-condensed alert-danger">
            <strong>Updating the user went wrong!</strong> <br/>
            <span ng-bind="vm.error"></span>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="vm.close()">Close</button>
</div>
