<div class="modal-header">
    <a class="btn btn-default btn-icon pull-right" ng-click="vm.close()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Edit User</h3>
    <span class="text-muted">Edit an existing user</span>
</div>

<div class="modal-body">

    <h4><strong>Role</strong></h4>

    <div ng-if="vm.user.role === vm.userRole.ADMIN">
        <p class="text-muted">
            <em>Note: if you take your own admin rights, you will be logged out automatically.</em>
        </p>
        <p>
            <button class="btn btn-primary btn-sm" ng-click="vm.devoteUser()">
                Remove admin rights
            </button>
        </p>
    </div>
    <div ng-if="vm.user.role === vm.userRole.REGISTERED" ng-click="vm.promoteUser()">
        <button class="btn btn-primary btn-sm">
            Give admin rights
        </button>
    </div>

    <hr>
    <h4><strong>Account</strong></h4>
    <button class="btn btn-danger btn-sm" ng-click="vm.deleteUser()">
        Delete profile
    </button>

    <div ng-if="vm.error !== null">
        <hr/>
        <div class="alert alert-condensed alert-danger">
            <strong>Updating the user went wrong!</strong> <br/>
            <span ng-bind="vm.error"></span>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="vm.close()">Ok</button>
</div>
