.hypothesis text {
  font-size: 12px;
}

.hypothesis .node {
  fill: #fff;
  stroke: #000;
  stroke-width: 1;
}

.hypothesis .node .label text {
  fill: #000;
  stroke: #000;
  stroke-width: 1;
}

.hypothesis .edgePath .path {
  stroke: rgba(0, 0, 0, 0.3);
  stroke-width: 3;
  fill: none;
}

.hypothesis .edgeLabel {
  &:hover {
    cursor: pointer;
    text {
      fill: #428bca;
    }
  }
  text {
    fill: #555;
  }
}