<div class="modal-header">
  <h4 class="modal-title">Edit the user</h4>
  <a class="btn btn-default btn-icon float-right" ng-click="vm.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<div class="modal-body">

  <div class="alert alert-danger" ng-if="vm.error != null">
    <strong class="d-block">Could not update the user!</strong>
    <span>{{vm.error}}</span>
  </div>

  <h5><strong>Email</strong></h5>
  <form name="vm.mailForm" ng-submit="vm.changeEmail()">
    <div class="form-group">
      <input type="email" class="form-control" name="mail" ng-model="vm.email" placeholder="Enter an email address"
             required/>
      <div class="help-block" ng-messages="vm.mailForm.mail.$error" ng-if="vm.mailForm.mail.$touched">
        <div class="alert alert-danger alert-condensed" ng-message="required">
          The email is required
        </div>
        <div class="alert alert-danger alert-condensed" ng-message="email">
          You have to enter a valid email address
        </div>
      </div>
    </div>
    <button class="btn btn-primary btn-sm">Change email</button>
  </form>

  <hr>
  <h5><strong>Role</strong></h5>
  <div ng-if="vm.user.role === vm.userRole.ADMIN">
    <p class="text-muted">
      <em>Note: if you take your own admin rights, you will be logged out automatically.</em>
    </p>
    <p>
      <button class="btn btn-primary btn-sm" ng-click="vm.demoteUser()">
        Remove admin rights
      </button>
    </p>
  </div>
  <div ng-if="vm.user.role === vm.userRole.REGISTERED" ng-click="vm.promoteUser()">
    <button class="btn btn-primary btn-sm">
      Give admin rights
    </button>
  </div>

  <hr>
  <h5><strong>Account</strong></h5>
  <button class="btn btn-danger btn-sm" ng-click="vm.deleteUser()">
    Delete profile
  </button>

</div>

<div class="modal-footer">
  <button class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</button>
</div>
