<div class="symbol-list-item" ng-class="{'selectable': vm.selectable}">

    <checkbox selection-model-ignore model="vm.symbol" class="pull-left" ng-if="vm.selectable"></checkbox>

    <div class="symbol-list-item-content">
        <div class="pull-right" ng-transclude></div>

        <div>
            <h4 class="symbol-title" ng-bind="vm.symbol.name"></h4>
        </div>

        <a ui-sref="symbolsActions({symbolId:vm.symbol.id})" ng-if="vm.symbol.id && !vm.symbol.hidden">
            <span ng-bind="vm.symbol.countEnabledActions()"></span> Actions &nbsp;<i class="fa fa-edit"></i>
        </a>

        <span class="text-muted" ng-if="!vm.symbol.id || vm.symbol.hidden">
            <span ng-bind="vm.symbol.countEnabledActions()"></span> Actions
        </span>

        <a href="" ng-click="vm.toggleCollapsed()" selection-model-ignore>
            <i class="fa fa-fw" ng-class="vm.collapsed ? 'fa-chevron-down': 'fa-chevron-right'"></i>
        </a>

        <div uib-collapse="!vm.collapsed">
            <div class="panel panel-default" style="margin-top: 5px;">
                <div class="panel-heading clearfix">
                    <button class="btn btn-xs btn-icon pull-right" ng-click="vm.toggleCollapsed()">
                        <i class="fa fa-close"></i>
                    </button>
                    <a class="btn btn-xs btn-default" ui-sref="symbolsActions({symbolId:vm.symbol.id})"
                       ng-if="vm.symbol.id">
                        Edit Actions
                    </a>
                </div>
                <ul class="list-group list-group-condensed">
                    <li class="list-group-item" ng-repeat="action in vm.symbol.actions" ng-if="!action.disabled">

                        <span class="label label-info pull-right" ng-if="action.negated">
                            Negate
                        </span>

                        <span class="label label-danger pull-right" ng-if="action.ignoreFailure">
                            Ignore Failure
                        </span>

                        <span ng-bind="action.toString()"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>