<h4>
    <strong>Search for Text</strong>
</h4>

<p class="text-muted">
    Search for a piece of text or a regular expression in the document or an element.
</p>
<hr>

<node-form-group node="vm.action.node" on-selected="vm.handleSelected(data)" label="Container element"></node-form-group>

<div class="form-group">
    <label class="control-label">Value</label>
    <input class="form-control" type="text" placeholder="value" ng-model="vm.action.value">
</div>

<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="vm.action.regexp"> Use regular expression
    </label>
</div>
