<h4>
    <strong>Search for Text</strong>
</h4>

<p class="text-muted">
    Search on a page for a piece of text or a regular expression
</p>
<hr>

<div class="form-group">
    <label class="control-label">Value</label>
    <input class="form-control" type="text" placeholder="value" ng-model="vm.action.value">
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="vm.action.regexp"> Use regular expression
    </label>
</div>
<a class="btn btn-default btn-sm" ng-click="vm.openPicker()">
    <i class="fa fa-magic fa-fw"></i>&nbsp; Element Picker
</a>
