<h4>
    <strong>Move Mouse</strong>
</h4>

<p class="text-muted">
    Move the mouse to an element or a specific position of the page, e.g. in order to make elements visible.
    Can also be used to scroll.
</p>
<hr>

<node-form-group node="vm.action.node"></node-form-group>

<hr>

<h4>
    <strong>Offset</strong>
</h4>

<p class="text-muted">
    If a selector is specified, the offset is relative to the element position.
    Otherwise relative to the current position.
</p>

<div class="form-group">
    <label class="control-label">Offset X (px)</label>
    <input class="form-control" type="number" min="0" ng-model="vm.action.offsetX">
</div>

<div class="form-group">
    <label class="control-label">Offset Y (px)</label>
    <input class="form-control" type="number" min="0" ng-model="vm.action.offsetY">
</div>