<h4><strong>Send keys</strong></h4>

<p class="text-muted">
    Send user input to an element (eg. input or contenteditable element)
</p>
<hr>

<div class="row">
    <div class="col-xs-9">
        <div class="form-group">
            <label class="control-label">Selector</label>
            <input class="form-control" type="text" placeholder="CSS selector" ng-model="vm.action.node.selector">
        </div>
    </div>
    <div class="col-xs-3 no-padding-left">
        <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <select class="form-control" ng-options="m for m in ['CSS', 'XPATH']" ng-model="vm.action.node.type">
                <option value="" disabled>Select a type</option>
            </select>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label">The value to fill the element with</label>
            <input class="form-control" type="text" placeholder="value" ng-model="vm.action.value">
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <a class="btn btn-default btn-sm" html-element-picker-handle model="vm.action.node.selector" text="vm.action.value">
                <i class="fa fa-magic fa-fw"></i>&nbsp; Element Picker
            </a>
        </div>
    </div>
</div>