<div class="view">
    <view-header [title]="vm.symbol.name" ng-if="vm.symbol">
        <a
          href="{{'#!/projects/' + vm.project.id + '/symbols'}}"
          class="btn btn-sm btn-default btn-icon"
          uib-tooltip="Back to symbols"
          tooltip-placement="right"
        >
            <i class="fas fa-reply"></i>
        </a>
    </view-header>

    <action-bar>
        <button class="btn btn-success btn-sm float-right" ng-click="vm.saveChanges()">
            Save
        </button>
    </action-bar>

    <div class="view-body has-sub-nav">
        <div class="container-fluid">

            <div class="card mb-4" ng-if="vm.symbol.description != null && vm.symbol.description !== ''">
                <div class="card-header">
                    <strong>Description</strong>
                </div>
                <div class="card-body">
                    <strong>Description</strong>
                    <p class="text-muted" style="white-space:pre-wrap;">{{vm.symbol.description}}</p>
                    <strong>Expected result</strong>
                    <p class="text-muted mb-0 pb-0" style="white-space:pre-wrap;">{{vm.symbol.expectedResult}}</p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <strong>Actions</strong>
                </div>
                <div class="px-3 py-2 border-bottom d-flex flex-row align-items-center">
                    <div>
                        <selectable-checkbox-multiple
                            [selectable]="vm.selectedSteps"
                            class="float-left"
                            style="margin-top: 7px"
                            ng-if="vm.selectedSteps != null"
                        >
                        </selectable-checkbox-multiple>
                    </div>
                    <div class="w-100 ml-3">

                        <div class="btn-group btn-group-sm mr-2" uib-dropdown>
                            <button class="btn btn-primary btn-dropdown" uib-dropdown-toggle>
                                Add
                            </button>
                            <div uib-dropdown-menu class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="" ng-click="vm.openActionCreateModal()">
                                  Action
                                </a>
                                <a class="dropdown-item" href="" ng-click="vm.addSymbolStep()">
                                  Symbol
                                </a>
                            </div>
                        </div>

                        <div class="btn-group btn-group-sm mr-2">
                            <button
                                class="btn btn-default"
                                ng-class="{'disabled': vm.selectedSteps.getSelected().length !== 1}"
                                on-updated="vm.updateAction(action)"
                                ng-click="vm.editSelectedAction()"
                            >
                                Edit
                            </button>
                            <button
                                class="btn btn-default"
                                ng-click="vm.deleteSelectedSteps()"
                                ng-class="{'disabled': vm.selectedSteps.getSelected().length === 0}"
                            >
                                Delete
                            </button>
                        </div>

                        <div class="btn-group btn-group-sm" uib-dropdown>
                            <button class="btn btn-default" uib-tooltip="Copy" tooltip-placement="bottom"
                                    ng-click="vm.copySelectedSteps()">
                                <i class="fas fa-copy fa-fw"></i>
                            </button>
                            <button class="btn btn-default" uib-tooltip="Cut" tooltip-placement="bottom" ng-click="vm.cutSelectedSteps()">
                                <i class="fas fa-cut fa-fw"></i>
                            </button>
                            <button class="btn btn-default" uib-tooltip="Paste" tooltip-placement="bottom" ng-click="vm.pasteSteps()">
                                <i class="fas fa-paste fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="padding: 0">
                    <div class="action-list" dragula='"actionList"' dragula-model="vm.symbol.steps" ng-if="vm.symbol.steps.length > 0">
                        <div class="action-list-item" ng-repeat="step in vm.symbol.steps track by $index"
                             ng-class="{'disabled': step.disabled}">

                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <selectable-checkbox
                                      [item]="step"
                                      [selectable]="vm.selectedSteps"
                                    >
                                    </selectable-checkbox>
                                </div>

                                <div style="padding: 0 10px" class="text-muted">
                                    <span>{{$index + 1}})</span>
                                </div>

                                <div class="w-100 action-step">
                                    <div class="action-description" ng-if="step.type === 'action'" ng-bind="step.action.toString()"></div>
                                    <div class="symbol-description" ng-if="step.type === 'symbol'">
                                        <span class="symbol-description">
                                            Execute symbol
                                            <a href="{{'#!/projects/' + vm.project.id + '/symbols/' + step.pSymbol.symbol.id}}">
                                                <strong>{{step.pSymbol.symbol.name}}</strong>
                                            </a>
                                        </span>
                                        <br>
                                        <symbol-parameters [parameter-values]="step.pSymbol.parameterValues"></symbol-parameters>
                                    </div>

                                    <div class="step-labels">
                                        <span class="badge badge-info" ng-if="step.negated">Negate</span>
                                        <span class="badge badge-danger" ng-if="step.ignoreFailure">Ignore Failure</span>
                                    </div>
                                    <div class="step-output text-muted d-flex">
                                        <div style="flex-shrink: 0">
                                            <em>Output on error:&nbsp;</em>
                                        </div>
                                        <div class="w-100 input-parameter-value" style="position: relative">
                                            <i class="fas fa-fw fa-times cursor-pointer"
                                               ng-click="step.errorOutput = null"></i>
                                            <em>
                                                <input
                                                  class="w-100 d-block"
                                                  type="text"
                                                  ng-model="step.errorOutput"
                                                  placeholder="Failed ({{$index + 1}})"
                                                >
                                            </em>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <span class="btn btn-sm" ng-click="vm.toggleDisableAction(step)">
                                        <span ng-if="!step.disabled" tooltip-placement="left" uib-tooltip="Disable">
                                            <i class="fas fa-toggle-on fa-fw text-success"></i>
                                        </span>
                                        <span ng-if="step.disabled" tooltip-placement="left" uib-tooltip="Enable">
                                            <i class="fas fa-toggle-off fa-fw text-danger"></i>
                                        </span>
                                    </span>
                                </div>

                                <div>
                                    <div class="btn-group btn-group-sm" uib-dropdown>
                                        <button type="button" class="btn btn-default btn-icon dropdown-toggle no-caret" uib-dropdown-toggle>
                                            <i class="fas fa-bars"></i>
                                        </button>
                                        <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu">
                                            <a class="dropdown-item" href="" ng-click="vm.editActionStep(step)" ng-if="step.type === 'action'">
                                                <i class="fas fa-edit fa-fw"></i> Edit
                                            </a>
                                            <a class="dropdown-item" href="" ng-click="vm.editSymbolStep(step)" ng-if="step.type === 'symbol'">
                                                <i class="fas fa-edit fa-fw"></i> Edit
                                            </a>
                                            <a class="dropdown-item" href="" ng-click="vm.deleteStep($index)">
                                                <i class="fas fa-trash fa-fw"></i> Delete
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="" ng-click="vm.cutStep($index)">
                                                <i class="fas fa-cut fa-fw"></i> Cut
                                            </a>
                                            <a class="dropdown-item" href="" ng-click="vm.copyStep($index)">
                                                <i class="fas fa-copy fa-fw"></i> Copy
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="" ng-click="step.negated = !step.negated">
                                                <i class="fas fa-fw" ng-class="{'fa-check': step.negated}"></i>
                                                Negate result
                                            </a>
                                            <a class="dropdown-item" href="" ng-click="step.ignoreFailure = !step.ignoreFailure">
                                                <i class="fas fa-fw" ng-class="{'fa-check': step.ignoreFailure}"></i>
                                                Ignore failure
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="alert alert-info" ng-if="vm.symbol.steps.length === 0" style="margin: 15px">
                        You haven't created any steps for this symbol.
                    </div>
                </div>
            </div>

            <symbol-parameters-panel
              ng-if="vm.symbol != null"
              class="d-block mb-4"
              [symbol]="vm.symbol"
              (inputs-change)="vm.symbol.inputs = $event"
              (outputs-change)="vm.symbol.outputs = $event"
            >
            </symbol-parameters-panel>

            <div class="card">
                <div class="card-header">
                    <strong>Output on success</strong>
                </div>
                <div class="card-body" style="padding-bottom: 0">
                    <div class="form-group">
                        <input
                          class="form-control"
                          type="text"
                          ng-model="vm.symbol.successOutput"
                          placeholder="Ok"
                          ng-change="vm.hasChanged = true"
                        >
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
