<div class="modal-header">

  <a class="btn btn-default btn-icon pull-right" ng-click="vm.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>

  <h3 class="modal-title">Edit the layout of the hypothesis</h3>

</div>

<form ng-submit="vm.update()">

  <div class="modal-body">

    <div class="form-group">
      <label>Node Separation</label>
      <input type="number" min="1" max="200" class="form-control" placeholder="nodesep"
             ng-model="vm.layoutSettings.nodesep">

      <p class="help-block">Number of pixels that separate nodes horizontally in the layout.</p>
    </div>

    <div class="form-group">
      <label>Edge Separation</label>
      <input type="number" min="1" max="200" class="form-control" placeholder="edgesep"
             ng-model="vm.layoutSettings.edgesep">

      <p class="help-block">Number of pixels that separate edges horizontally in the layout.</p>
    </div>

    <div class="form-group">
      <label>Rank Separation</label>
      <input type="number" min="1" max="200" class="form-control" placeholder="ranksep"
             ng-model="vm.layoutSettings.ranksep">

      <p class="help-block">Number of pixels between each rank in the layout.</p>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm">Update</button>
    <a href class="btn btn-default btn-sm" ng-click="vm.defaultLayoutSettings()">Default</a>
  </div>

</form>
