<div class="panel panel-default">
  <div class="panel-heading d-flex flex-row">
    <div class="w-100">
      <div>
        {{vm.text}}:
        <em class="text-muted" ng-if="vm.steps.length === 0">none</em>
        <strong ng-if="vm.steps.length > 0">
          <a
            class="text-black"
            ui-sref="symbol({project: vm.steps[0].pSymbol.symbol.project, symbolId: vm.steps[0].pSymbol.symbol.id})"
          >
            {{vm.steps[0].pSymbol.symbol.name}}
          </a>
        </strong>
      </div>
      <div ng-if="vm.steps.length > 0">
        <symbol-parameters parameter-values="vm.steps[0].pSymbol.parameterValues"></symbol-parameters>
      </div>
    </div>
    <div style="flex-shrink: 0">
      <symbol-select-dropdown
        groups="vm.groups"
        variant="btn-default btn-xs"
        on-symbol-selected="vm.selectSymbol(symbol)"
        style="display: inline-block"
      >
      </symbol-select-dropdown>
      <button class="btn btn-xs btn-default" ng-click="vm.removeStep()">Remove</button>
    </div>
  </div>
</div>
