.modal-screenshot .modal-dialog {
  display: flex;
  max-width: none;
  margin: 1.75rem;
}

.modal-screenshot .modal-content {
  margin: auto;
  display: inline-block;
  width: auto;
}

.modal-screenshot img {
  max-width: 100%;
}

