@import "src/scss/variables";
@import "src/scss/mixins";

#sidebar {
  width: $sidebar-width;
  background: $color-blue-dark;
  display: flex;
  flex-direction: column;

  .sidebar-group-title {
    color: #fff;
    padding: .75rem 1rem;
    display: block;
    font-size: 1.25rem;
  }

  .sidebar-group {
    a {
      display: block;
      color: rgba(255,255,255,.7);
      padding: .75rem 1rem;

      i {
        margin-right: .5rem;
      }

      &.active {
        background: #337ab7;
        color: #fff;
      }

      &:hover {
        text-decoration: none;

        &:not(.active) {
          background: rgba(0,0,0,0.1);
          color: #fff;
        }
      }
    }
  }
}

#sidebar-body {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
