@import "~bootstrap/scss/bootstrap";
@import "../../../scss/mixins";

.view-header {
  height: 42px;
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
  padding-top: 4px;
  overflow: hidden;

  .view-header-title-pre {
    display: inline-block;
    margin-top: 2px;
  }

  .view-header-title {
    display: inline-block;
    margin: 0;
    padding-top: 9px;
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);

    @media all and (max-width: map_get($grid-breakpoints, 'sm')) {
      @include text-overflow-ellipsis();
      max-width: 240px;
    }
  }
}
