<div class="modal-header">
    <a class="btn btn-default btn-icon pull-right" ng-click="vm.dismiss()">
        <i class="fa fa-close fa-fw"></i>
    </a>
    <h3 class="modal-title">Import symbols</h3>
</div>

<div class="modal-body">

    <div ng-if="vm.errorMessage != null">
        <div class="alert alert-danger">{{vm.errorMessage}}</div>
        <hr>
    </div>

    <file-dropzone on-loaded="vm.fileLoaded.bind(vm)">
        Drag and drop *.json file here or click to upload
    </file-dropzone>

    <div ng-if="vm.symbols.length">
        <label>Symbols</label>
        <div class="list-group" style="max-height: 380px; overflow: auto">
            <div class="list-group-item" ng-repeat="symbol in vm.symbols">
                <symbol-list-item symbol="symbol" ng-if="symbol !== vm.symbolToEdit">
                    <div class="btn-group btn-group-sm" uib-dropdown>
                        <button type="button" class="btn btn-default btn-icon" uib-dropdown-toggle>
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul uib-dropdown-menu class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href ng-click="vm.symbolToEdit = symbol">
                                    <i class="fa fa-fw fa-edit"></i> Edit
                                </a>
                            </li>
                            <li>
                                <a href ng-click="vm.symbols.splice($index, 1)">
                                    <i class="fa fa-fw fa-trash"></i> Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </symbol-list-item>
                <div class="panel panel-default mt-1 mb-1" ng-if="symbol === vm.symbolToEdit">
                    <div class="panel-heading">
                        <strong>Update symbol</strong>
                    </div>
                    <div class="panel-body pb-0">
                        <symbol-edit-form
                            symbol="symbol"
                            on-aborted="vm.symbolToEdit = null"
                            on-updated="vm.updateSymbol(symbol)"
                        >
                        </symbol-edit-form>
                    </div>
                </div>
            </div>
        </div>

        <label>Group</label>
        <div class="panel panel-default">
            <div class="panel-body" style="padding: .5rem; max-height: 240px; overflow: auto">
                <simple-symbol-group-tree
                    groups="vm.groups"
                    selected-symbol-group="vm.selectedGroup"
                    on-symbol-group-selected="vm.selectGroup(group)"
                >
                </simple-symbol-group-tree>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="vm.importSymbols()" ng-if="vm.symbols.length">Import</button>
    <a href="" class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</a>
</div>
