/* A bit of workaround for links being not clickable due to :before element in headings */
.project-alex-parent.page-index h2[id]:before {
    height: 30px;
    margin-top: -30px;
}

/* visually separate sections from other sections and their paragraphs */
h2, h3, h4, h5, h6 {
    margin-top: 32px;
    font-weight: 700
}

video {
    width: 100%    !important;
    height: auto   !important;
    margin-bottom: 10px;
}

dl dd {
    margin-bottom: 10px;
}

/*
a {
    color: #89bf04;
}
a:hover,
a:focus,
navbar .nav>li>a:hover
.navbar .nav>li>a:focus {
    color: #537402 !important;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
    background-color: #89bf04;
}
*/

/** Frontpage stuff */
.page-index .main-body > div:first-child {
    text-align: center;
    margin-bottom: 30px;
}

.page-index .main-body > div:first-child p {
    max-width: 800px;
    margin: 20px auto;
}