<div class="modal-header">
  <h4 class="modal-title">Create a base URL for the environments</h4>
  <a (click)="modal.dismiss()" class="btn btn-default btn-icon float-right">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form (ngSubmit)="createUrl()" [formGroup]="form">

  <div class="modal-body">
    <div *ngIf="errorMessage != null" class="alert alert-danger">
      {{errorMessage}}
    </div>

    <project-url-form-groups [form]="form" [url]="url"></project-url-form-groups>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="submit" [disabled]="form.invalid">Create</button>
    <button (click)="modal.dismiss(); $event.stopPropagation()" class="btn btn-default btn-sm">Cancel</button>
  </div>

</form>
