<div class="symbol-group-tree">
    <symbol-group-header group="vm.group" selected-symbols="vm.selectedSymbols" collapse="vm.collapse">
        <div class="btn-group btn-group-xs float-right" uib-dropdown>
            <button type="button" class="btn btn-default btn-icon no-caret" uib-dropdown-toggle>
                <i class="fas fa-bars"></i>
            </button>
            <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu">
                <a class="dropdown-item" href="" ng-click="vm.editGroup()">
                    <i class="fas fa-edit fa-fw"></i> Edit
                </a>
                <a class="dropdown-item" href="" ng-click="vm.moveGroup()">
                    <i class="fas fa-exchange-alt fa-fw"></i> Move
                </a>
                <a class="dropdown-item" href="" ng-click="vm.deleteGroup()">
                    <i class="fas fa-trash fa-fw"></i> Delete
                </a>
            </div>
        </div>
    </symbol-group-header>
    <div uib-collapse="vm.collapse">
        <div class="children" ng-if="vm.group.groups.length > 0">
            <symbols-symbol-group-tree
                ng-repeat="group in vm.group.groups | orderBy:'-name':true"
                group="group"
                symbols="vm.symbols"
                level="{{vm.level + 1}}"
                selected-symbols="vm.selectedSymbols"
            >
            </symbols-symbol-group-tree>
        </div>
        <div class="symbol-list" ng-if="vm.group.symbols.length > 0">
            <symbol-item
                ng-repeat="symbol in vm.group.symbols | orderBy:'-name':true"
                selectable="true"
                symbol="symbol"
                selected-symbols="vm.selectedSymbols"
            >

                <div class="btn-group btn-group-xs float-right" uib-dropdown>
                    <button type="button" class="btn btn-default btn-icon dropdown-toggle no-caret" uib-dropdown-toggle>
                        <i class="fas fa-bars"></i>
                    </button>
                    <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="" ng-click="vm.openSymbolEditModal(symbol)">
                            <i class="fas fa-edit fa-fw"></i> Edit
                        </a>
                        <a class="dropdown-item" href="" ng-click="vm.copySymbol(symbol)">
                            <i class="fas fa-copy fa-fw"></i> Copy
                        </a>
                        <a class="dropdown-item" href="" ng-click="vm.openSymbolsMoveModal([symbol])">
                            <i class="fas fa-exchange-alt fa-fw"></i> Move
                        </a>
                        <a class="dropdown-item" href="" ng-click="vm.showUsages(symbol)">
                            <i class="fas fa-search fa-fw"></i> Usages
                        </a>
                        <a class="dropdown-item" href="" ng-click="vm.deleteSymbol(symbol)">
                            <i class="fas fa-trash fa-fw"></i> Delete
                        </a>
                    </div>
                </div>

            </symbol-item>
        </div>
    </div>
</div>


