<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <MarkerFilter marker="FLOW" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Console name="Tracer" target="SYSTEM_OUT">
            <MarkerFilter marker="FLOW" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %C.%M (%L) - %msg%n"/>
        </Console>
        <Routing name="LearnerAppender">
            <Filters>
                <MarkerFilter marker="LEARNER" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Routes pattern="${ctx:userId}">
                <Route>
                    <RollingFile
                            name="LearnerFile-${ctx:userId}"
                            fileName="logs/${date:yyyy-MM-dd}/user-${ctx:userId}/logs.txt"
                            filePattern="logs/${date:yyyy-MM-dd}/user-${ctx:userId}/logs-archive-%i.log.gz"
                    >
                        <PatternLayout alwaysWriteExceptions="true">
                            <pattern>%d{HH:mm:ss.SSS} \t %marker | %level \t %msg%n</pattern>
                        </PatternLayout>
                        <Policies>
                            <OnStartupTriggeringPolicy/>
                            <SizeBasedTriggeringPolicy size="50 MB"/>
                        </Policies>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <!-- Loggers of the dependencies. -->
        <Logger name="com.gargoylesoftware.htmlunit" level="warn"/>
        <Logger name="hsqldb.db" level="warn"/>
        <Logger name="org.hibernate" level="warn"/>
        <Logger name="org.glassfish" level="warn"/>

        <!-- Change the level of the following 2 Loggers to 'all' to get an inside view of Hibernates work,
             or to 'off' to keep the output clean. -->
        <Logger name="org.hibernate.SQL" level="off"/>
        <Logger name="org.hibernate.type.descriptor.sql" level="off"/>

        <!-- Our own logger. -->
        <Root level="trace">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="Tracer"/>
            <AppenderRef ref="LearnerAppender"/>
        </Root>
    </Loggers>
</Configuration>
