<div class="modal-header">
  <h4 class="modal-title">Create a new action</h4>
  <a (click)="modal.dismiss()" class="btn btn-default btn-icon float-right">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form (ngSubmit)="createAction()">

  <div class="modal-body">
    <div class="row">
      <div class="col-4">

        <action-search-form
          (selected)="selectNewActionType($event)"
          [actions]="actions"
        >
        </action-search-form>

        <div style="margin-top: 36px;"></div>

        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="Web">
            <ng-template ngbPanelContent>

              <div class="list-group list-group-condensed list-group-flush">
                <div
                  (click)="selectNewActionType(a.type); $event.preventDefault()"
                  *ngFor="let a of actions.web"
                  [ngClass]="{'active': a.type === action?.type}"
                  class="list-group-item list-group-item-action"
                >
                  {{a.text}}
                </div>
              </div>

            </ng-template>
          </ngb-panel>
          <ngb-panel title="REST">
            <ng-template ngbPanelContent>

              <div class="list-group list-group-condensed list-group-flush">
                <div
                  (click)="selectNewActionType(a.type); $event.preventDefault()"
                  *ngFor="let a of actions.rest"
                  [ngClass]="{'active': a.type === action?.type}"
                  class="list-group-item list-group-item-action"
                >
                  {{a.text}}
                </div>
              </div>

            </ng-template>
          </ngb-panel>
          <ngb-panel title="Misc">
            <ng-template ngbPanelContent>

              <div class="list-group list-group-condensed list-group-flush">
                <div
                  (click)="selectNewActionType(a.type); $event.preventDefault()"
                  *ngFor="let a of actions.misc"
                  [ngClass]="{'active': a.type === action?.type}"
                  class="list-group-item list-group-item-action"
                >
                  {{a.text}}
                </div>
              </div>

            </ng-template>
          </ngb-panel>
        </ngb-accordion>

      </div>
      <div class="col-8">

        <div *ngIf="action == null" class="alert alert-info alert-condensed">
          Select the action you want to create.
        </div>

        <action-form *ngIf="action != null" [action]="action" [symbols]="symbols"></action-form>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button (click)="createActionAndContinue(); $event.preventDefault()" class="btn btn-info btn-sm">Create and
      continue
    </button>
    <button class="btn btn-primary btn-sm" type="submit">Create</button>
    <button (click)="modal.dismiss(); $event.preventDefault()" class="btn btn-default btn-sm">Cancel</button>
  </div>

</form>
