<h4><strong>Execute Symbol</strong></h4>
<p class="text-muted">
    Execute the actions of another symbol
</p>
<hr>

<div class="form-group" ng-if="action.getModel().name">
    <div class="panel panel-default">
        <div class="panel-body clearfix" style="padding: 5px 10px;">
            <a href="" class="btn btn-default btn-sm pull-right" tooltip="Update to latest revision"
               tooltip-placement="left" ng-click="action.updateRevision(symbols)">
                <i class="fa fa-refresh"></i>
            </a>
            <strong ng-bind="action.getModel().name"></strong> <br>
            <em class="text-muted">Revision <span ng-bind="action.symbolToExecute.revision"></span></em>
        </div>
    </div>
    <hr>
</div>

<div class="row">
    <div class="col-xs-8 no-padding-right">
        <div class="form-group">
            <label>Choose a symbol</label>
            <input class="form-control" list="symbolsList" type="text" placeholder="The name of the symbol"
                   ng-model="map.name" ng-change="action.setSymbol(map.name, symbols)">
            <datalist id="symbolsList">
                <option ng-repeat="symbol in symbols" value="{{symbol.name}}"></option>
            </datalist>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group" ng-if="map.name">
            <label>Rev.</label>
            <input class="form-control" type="number" min="1" ng-model="action.symbolToExecute.revision"
                   max="{{action.getModel().maxRevision}}">
        </div>
    </div>
</div>