<h4><strong>Call Url</strong></h4>

<p class="text-muted">Make a HTTP request to an URL (relative to your projects base url)</p>
<hr>

<div class="form-group">
    <input class="form-control" type="text" placeholder="url" ng-model="vm.action.url">
</div>

<div class="form-group">
    <select class="form-control" ng-options="m for m in ['DELETE', 'GET', 'POST', 'PUT']"
            ng-model="vm.action.method">
        <option value="" disabled>Select a Method</option>
    </select>
</div>

<div class="form-group">
    <label>Data</label>

    <div ng-model="vm.action.data"
         ui-ace="{useWrapMode : true, showGutter: true, theme:'eclipse', mode: 'json', workerPath: '/bower_components/ace-builds/src-min/'}"></div>
</div>

<tabset>
    <tab heading="HTTP Headers">

        <br>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-5 no-padding-right">
                    <input class="form-control" type="text" ng-model="vm.map.headerName" placeholder="Header Name">
                </div>
                <div class="col-xs-5 no-padding-right">
                    <input class="form-control" type="text" ng-model="vm.map.headerValue" placeholder="Header Value">
                </div>
                <div class="col-xs-2">
                    <a class="btn btn-default btn-block btn-sm"
                       ng-click="vm.action.addHeader(vm.map.headerName, vm.map.headerValue); vm.map = {}">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <br>
            <ul class="list-group list-group-condensed">
                <li class="list-group-item" ng-repeat="(key, value) in vm.action.headers">
                    <i class="fa fa-trash fa-fw pull-right" ng-click="vm.action.removeHeader(key)"></i>
                    <strong ng-bind="key"></strong>: <span ng-bind="vm.action.headers[key]"></span>
                </li>
            </ul>
        </div>

    </tab>
    <tab heading="Cookies">

        <br>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-5 no-padding-right">
                    <input class="form-control" type="text" ng-model="vm.map.cookieName" placeholder="Cookie Name">
                </div>
                <div class="col-xs-5 no-padding-right">
                    <input class="form-control" type="text" ng-model="vm.map.cookieValue" placeholder="Cookie Value">
                </div>
                <div class="col-xs-2">
                    <a class="btn btn-default btn-block btn-sm"
                       ng-click="vm.action.addCookie(vm.map.cookieName, vm.map.cookieValue); vm.map = {}">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <br>
            <ul class="list-group list-group-condensed">
                <li class="list-group-item" ng-repeat="(key, value) in vm.action.cookies">
                    <i class="fa fa-trash fa-fw pull-right" ng-click="vm.action.removeCookie(key)"></i>
                    <strong ng-bind="key"></strong>: <span ng-bind="vm.action.cookies[key]"></span>
                </li>
            </ul>
        </div>

    </tab>
</tabset>