<h4><strong>Check Header Field</strong></h4>

<p class="text-muted">Check a HTTP response header field to have a specific value</p>
<hr>

<div class="form-group">
    <input class="form-control" type="text" placeholder="http header field, e.g. Content-Type"
           ng-model="vm.action.key">
</div>
<div class="form-group">
    <input class="form-control" type="text"
           placeholder="http header field value, e.g. application/json" ng-model="vm.action.value">
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="vm.action.regexp">is regular expression
    </label>
</div>