<h4><strong>Set Variable By Cookie Value</strong></h4>

<p class="text-muted">
    Set the value of a variable to the value of a cookie
</p>
<hr>
<label>Name</label>

<div class="form-group">
    <input type="text" class="form-control" ng-model="action.name"
           placeholder="The name of the variable">
</div>
<label>Cookie Name</label>

<div class="form-group">
    <input class="form-control" ng-model="action.value" placeholder="The name of the cookie">
</div>

<div class="checkbox">
    <label>
        <input type="radio" name="cookieType" ng-model="action.cookieType" value="WEB"> Browser Cookie
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="radio" name="cookieType" ng-model="action.cookieType" value="REST"> Request Cookie
    </label>
</div>