<div class="view">
    <view-header title="Projects"></view-header>

    <div class="view-body">
        <div class="container">

            <div class="row">
                <div class="col-md-4 col-sm-5">
                    <h4>Create a new project</h4>
                    <hr>
                    <project-create-form></project-create-form>
                </div>
                <div class="col-md-8 col-sm-7">
                    <h4>All projects</h4>
                    <hr>
                    <project-list projects="vm.projects">
                    </project-list>
                </div>
            </div>

        </div>
    </div>
</div>
