<div class="modal-header">
  <h4 class="modal-title">Create a new project</h4>
  <a (click)="modal.dismiss()" class="btn btn-icon float-right">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form (ngSubmit)="createProject()" [formGroup]="form">

  <div class="modal-body">
    <div *ngIf="errorMessage != null" class="alert alert-danger">
      {{errorMessage}}
    </div>

    <project-form-groups [form]="form" [project]="project"></project-form-groups>

    <div class="form-group">
      <label>URL*</label>
      <input
        [class.is-invalid]="formUtils.isInvalidFormControl(form.controls.url)"
        [formControl]="form.controls.url"
        class="form-control"
        pattern="^https?://.*?"
        required
        type="text"
      >
      <div class="invalid-feedback">
        Please provide a valid URL.
      </div>
    </div>

    <hr>
    <div class="text-muted">
      <em>* These fields are required</em>
    </div>
  </div>

  <div class="modal-footer">
    <button [disabled]="form.invalid" class="btn btn-primary btn-sm" type="submit">Create</button>
    <button (click)="modal.dismiss(); $event.preventDefault()" class="btn btn-default btn-sm">Cancel</button>
  </div>

</form>
