<div class="view">
    <view-header title="Counters"></view-header>

    <action-bar>
        <div class="d-flex flex-row align-items-center">
            <selectable-checkbox-multiple selectable="vm.selectedCounters"></selectable-checkbox-multiple>

            <div class="w-100 ml-3">
                <button class="btn btn-sm btn-primary" ng-click="vm.createCounter()">
                    Create
                </button>

                <button class="btn btn-sm btn-default" ng-click="vm.deleteSelectedCounters()">
                    Delete
                </button>
            </div>
        </div>
    </action-bar>

    <div class="view-body">
        <div class="container-fluid">

            <div class="alert alert-info alert-condensed" ng-show="vm.counters.length">
                <i class="fas fa-info fa-fw"></i>
                Deleted counters will be created as soon as they are used in a learning process, starting with value 0.
            </div>

            <div class="list-group" ng-if="vm.counters.length">
                <div class="list-group-item" ng-repeat="counter in vm.counters">
                    <div class="d-flex" ng-if="counter.id !== vm.counterUnderEdit.id">
                        <selectable-checkbox item="counter" selectable="vm.selectedCounters"></selectable-checkbox>
                        <div class="flex-grow-1 mx-3">
                            <strong ng-bind="counter.name"></strong><br>
                            <span class="text-muted">Value: <span ng-bind="counter.value"></span></span>
                        </div>
                        <div>
                            <div class="btn-group btn-group-sm" uib-dropdown>
                                <button class="btn btn-icon btn-dropdown no-caret" uib-dropdown-toggle>
                                    <i class="fas fa-fw fa-bars"></i>
                                </button>
                                <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a class="dropdown-item" href="" ng-click="vm.setCounterUnderEdit(counter)">
                                        <i class="fas fa-fw fa-edit"></i> Edit
                                    </a>
                                    <a class="dropdown-item" href="" ng-click="vm.deleteCounter(counter)">
                                        <i class="fas fa-fw fa-trash"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div ng-if="counter.id === vm.counterUnderEdit.id">

                        <div class="card">
                            <div class="card-header">
                                <strong>Edit counter: {{counter.name}}</strong>
                            </div>
                            <div class="card-body">
                                <form ng-submit="vm.updateCounter()" class="d-flex">
                                    <div class="form-group flex-grow-1 mb-0" style="margin-right: 8px">
                                        <input class="form-control" type="number" min="0" placeholder="The value of the counter"
                                               ng-model="vm.counterUnderEdit.value">
                                    </div>
                                    <div class="form-group mb-0" style="margin-right: 8px">
                                        <input class="btn btn-primary" type="submit" value="Update">
                                    </div>
                                    <div class="form-group mb-0">
                                        <a href="" class="btn btn-default" ng-click="vm.counterUnderEdit = null">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="alert alert-info" ng-if="!vm.counters.length">
                There aren't any counters yet
            </div>

        </div>
    </div>
</div>
