#web-element-picker-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1200;
  background: rgba(0, 0, 0, 0.75);
}

#web-element-picker {
  position: absolute;
  top: 25px;
  bottom: 25px;
  left: 25px;
  right: 25px;
  border: 3px solid #555;
  box-shadow: 0px 2px 10px #000;
  z-index: 1210;

  .navbar {
    border-radius: 0;
    display: flex;
    flex-flow: row wrap;

    .url-bar, .selection-bar, .button-bar {
      flex: 1 100%;
    }

    .url-bar {
      flex: 0 0 auto;
      order: 1;
    }
    .selection-bar {
      flex: 1 0 0px;
      order: 2;
      padding-right: 15px;

      .btn-group {
        display: flex;
        flex-flow: row wrap;

        .selection-bar-toggle-btn {
          flex: 0 0 auto;
          order: 1
        }
        .selection-bar-selector {
          flex: 1 0 0px;
          order: 2;
          text-align: left;
        }
      }

    }
    .button-bar {
      flex: 0 0 auto;
      order: 3;
      padding-right: 15px
    }
  }

  .iframe-wrapper {
    position: absolute;
    overflow: hidden;
    background: #fff;
    top: 52px;
    bottom: 0;
    width: 100%;
    iframe {
      border: none;
    }
  }
}