#load-screen {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1100
}

#load-screen-indicator {
  position: absolute;
  top: 50%;
  width: 100%
}