.navbar-application {
  $navbar-height: 42px;
  $navbar-color: #2E3842;
  $navbar-offscreen-width: 280px;

  border-radius: 0;
  max-height: $navbar-height;
  min-height: $navbar-height;
  background: $navbar-color;
  border-bottom: 1px darken($navbar-color, 10);

  .project-title {
    max-width: 50px;
    white-space: nowrap;
    display: inline-flex;
    overflow: hidden;
  }

  .navbar-nav > li > a, .navbar-brand {
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255, 255, 255, 0.7);
    &:hover, &[aria-expanded=true] {
      background: darken($navbar-color, 10);
    }
  }

  .navbar-brand {
    height: $navbar-height;
  }

  .navbar-offscreen-header, .navbar-menu-handle {
    display: none;
    color: #fff;
  }

  .navbar-offscreen-header {
    .navbar-menu-handle {
      display: inline-block;
      height: 42px;
      width: 42px;
      text-align: center;
      line-height: 42px;
      &:hover {
        background: darken($navbar-color, 10)
      }
    }
  }

  @media screen and (max-width: $screen-sm) {
    .navbar-header, .navbar-menu-handle {
      display: inline-block;
    }

    .navbar-header {
      float: left;
      margin-right: 0
    }
    .navbar-menu-handle {
      margin: 0
    }

    .navbar-offscreen {
      position: fixed;
      left: -280px;
      width: $navbar-offscreen-width;
      top: 0;
      bottom: 0;
      overflow: auto;
      background: $navbar-color;
      border-right: 1px solid darken($navbar-color, 10);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      transition: transform 200ms;

      &.show {
        transform: translate(280px, 0);
      }

      .navbar-nav {
        margin: 0;
        border-bottom: 1px solid darken($navbar-color, 3);
        border-top: 1px solid lighten($navbar-color, 3);
      }
    }
    .navbar-offscreen-header {
      display: block;
      height: 42px;
      background: darken($navbar-color, 5);
    }

    .dropdown-menu > li > a {
      color: #fff;
      &:hover {
        background: darken($navbar-color, 5)
      }
    }
  }

}

body {
  padding-top: 42px;
}

.sub-nav {
  height: 38px;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

  .selection-checkbox {
    padding-right: 16px;
  }

  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 42px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    z-index: 300;
  }

  &.absolute {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid #e7e7e7;
    z-index: 300;
  }

  .container {
    padding: 10px 23px;
  }

  .container-fluid {
    padding: 10px;
  }
}