$sidebarWidth: 270px;
$sidebarWidthCollapsed: 54px;
$sidebarColor: #244061;

#sidebar-header {
  height: 42px;
  background: darken($sidebarColor, 5);

  .logo-button {
    height: 42px;
    padding: 12px 18px;
    display: inline-block;
    color: #b1e4b1;
    font-size: 12px;
    text-decoration: none;

    strong {
      vertical-align: middle;
      line-height: 0
    }
  }

  .toggle-button {
    height: 42px;
    width: 54px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    display: block;
    float: right;
    font-size: 1.35em;
  }

  .logo-button, .toggle-button {
    &:hover {
      background: darken($sidebarColor, 10);
    }
  }
}

#sidebar-body {
  position: absolute;
  top: 42px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: $sidebarWidth;
  background: $sidebarColor;
  transition: width 200ms;

  &.collapsed {
    width: $sidebarWidthCollapsed;

    #sidebar-header {
      .logo-button {
        display: none;
      }
    }

    #sidebar-body {
      overflow: inherit;
    }

    .sidebar-group {
      .sidebar-group-title {
        visibility: hidden;
        padding: 0;
        margin-top: 0;
      }
      .sidebar-group-item {
        height: 42px;
        padding: 9px 0;
        position: relative;

        .sidebar-group-item-icon {
          font-size: 1.35em;
        }
        .sidebar-group-item-label {
          display: none;
        }
      }
    }
  }

  .sidebar-group {

    .sidebar-group-title {
      color: #fff;
      padding: 7px 20px;
      font-size: 1.25em;
      margin-top: 14px;
      transition: padding 200ms;
    }

    .sidebar-group-item {
      color: rgba(255, 255, 255, 0.75);
      display: block;
      padding: 7px 0;
      text-decoration: none;
      transition: padding 200ms, height 200ms, background 100ms;
      height: 31px;
      cursor: pointer;

      &:hover {
        background: darken($sidebarColor, 5)
      }

      &.active {
        background: #337ab7;
        color: #fff;
      }

      .sidebar-group-item-icon {
        width: 54px;
        text-align: center;
        float: left;
        transition: font-size 200ms;
      }

      .sidebar-group-item-label {
      }
    }
  }
}