@import "variables";
@import "mixins";

#sidebar-header {
  height: 42px;
  background: $color-blue-darker;

  .sidebar-header-button {
    height: 42px;
    display: inline-block;
    text-decoration: none;
    text-align: center;

    &.logo-button {
      padding: 12px 18px;
      color: #b1e4b1;
      font-size: 12px;

      strong {
        vertical-align: middle;
        line-height: 0
      }
    }

    &.toggle-button, &.about-button {
      width: 42px;
      color: #fff;
      line-height: 42px;
      float: right;
      font-size: 1.35em;

      &:hover {
        background: $color-blue-darkest
      }
    }

    &.about-button {
      color: rgba(255, 255, 255, 0.5);
      &:hover {
        color: #fff;
      }
    }
  }
}

#sidebar-body {
  @include position(absolute, 42px, 0, 0, 0);

  overflow-y: auto;
  overflow-x: hidden;
}

#sidebar {
  @include position(fixed, 0, null, 0, 0);

  width: $sidebar-width;
  float: left;
  background: $color-blue-dark;
  transition: width 200ms;
  z-index: 100;

  &.layout-collapsed {
    width: $sidebar-width-collapsed;

    #sidebar-header {
      .logo-button, .about-button {
        display: none;
      }
      .toggle-button {
        width: $sidebar-width-collapsed;
      }
    }

    #sidebar-body {
      overflow: inherit;
    }

    .sidebar-group {
      .sidebar-group-title {
        visibility: hidden;
        padding: 0;
        margin-top: 0;
      }
      .sidebar-group-item {
        height: 42px;
        padding: 9px 0;
        position: relative;

        .sidebar-group-item-icon {
          font-size: 1.35em;
        }
        .sidebar-group-item-label {
          display: none;
        }
      }
    }
  }

  .sidebar-group {

    .sidebar-group-title {
      color: #fff;
      padding: 7px 20px;
      font-size: 1.25em;
      margin-top: 14px;
      transition: padding 200ms;
    }

    .sidebar-group-item {
      color: rgba(255, 255, 255, 0.75);
      display: block;
      padding: 7px 0;
      text-decoration: none;
      transition: padding 200ms, height 200ms, background 100ms;
      height: 31px;
      cursor: pointer;

      &:hover {
        background: $color-blue-darker;
      }

      &.active {
        background: #337ab7;
        color: #fff;
      }

      .sidebar-group-item-icon {
        width: $sidebar-width-collapsed;
        text-align: center;
        float: left;
        transition: font-size 200ms;
      }
    }
  }
}