@import "bootstrap";
@import "font-awesome";
@import "hypothesis";
@import "html-element-picker";
@import "sidebar";

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.alx-container {
  margin: auto;
  padding: 0 15px;
  max-width: 1280px;
}

.alx-container-fluid {
  @extend .alx-container;
  max-width: 100%;
}

#view {
  position: absolute;
  left: 270px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  min-width: 320px;
  transition: left 200ms;
}

.view-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px 0;
  overflow: auto;

  &.has-sub-nav {
    top: 42px;
  }
}

#logo {
  max-width: 320px;
  margin: 50px 25px;
}

.sub-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  background: #fff;
  padding-top: 7px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: left 200ms;

  .selection-checkbox {
    padding-top: 4px;
    padding-right: 16px;
  }

  &.absolute {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid #e7e7e7;
    z-index: 300;
  }
}

#load-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1100
}

/* Helper classes
============================================================================= */

.inline-block {
  display: inline-block;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0;
}

.panel#alert-list {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2000;
  height: auto;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  max-height: 320px;
  overflow: auto;

  .panel-body {
    padding-bottom: 0;

    .close {
      opacity: 0.6;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}

/* Animations
============================================================================= */

/* fade out and zoom back*/
@keyframes scaleOut {
  from {
    opacity: 1.0
  }
  to {
    opacity: 0;
    transform: scale(0.9)
  }
}

/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.0
  }
}

@keyframes fadeOut {
  from {
    opacity: 1.0
  }
  to {
    opacity: 0.0
  }
}

.animate-view.ng-enter {
  overflow: hidden;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  animation: scaleUp .15s both ease-in;
  z-index: 8888;
}

.animate-view.ng-leave {
  overflow: hidden;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  animation: scaleOut .25s both ease-in;
  z-index: 9999;
}

/* Libraries
============================================================================== */

// ace editor
.ace_editor {
  height: 150px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

// ng-sortable
.as-sortable-item, .as-sortable-placeholder {
  display: block;
}

.as-sortable-item {
  touch-action: none;
}

.as-sortable-item-handle {
  cursor: move;
}

.as-sortable-drag {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.as-sortable-hidden {
  display: none !important;
}

// ng-toast
.ng-toast {
  margin-top: 75px;
  .alert {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    max-width: 450px;
  }
}

/* Bootstrap Extensions & Modifications
============================================================================== */

.list-group-minimal {
  .list-group-item {

    border-radius: 0;
    border-right: 0;
    border-top: 0;
    background: none;

    &.active {
      background: #fff;
      color: #333;
      border-bottom: 1px solid #ddd;

      &:hover {
        background: #fff;
      }
    }

    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.02)
    }
  }
}

.form-condensed {
  .form-group {
    margin-bottom: 5px;
  }
}

.alert-condensed {
  padding: 5px 15px;
}

.btn {
  &.btn-icon {
    background: none;
    border: 0;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &:active {
      box-shadow: none;
      outline: none;
    }
  }
}

.btn-dropdown {
  border-radius: 3px !important;
}

.list-group-condensed {
  .list-group-item {
    padding: 6px 15px;
  }
}

/* Model Lists
============================================================================== */

@mixin selection-list-item() {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background 200ms;
  &:hover, &.selected {
    background: #f2f2f2
  }
  &.ng-enter {
    animation: fadeIn 0.2s both ease-in;
  }
  &.ng-leave {
    animation: fadeOut 0.2s both ease-in;
  }
}

.symbol-list {
  .symbol-list-item {
    @include selection-list-item();
    &.selectable {
      .symbol-list-item-content {
        margin-left: 30px;
      }
    }
    .symbol-list-item-content {
      margin-left: 0;
    }
    .symbol-title {
      display: inline-block;
      font-weight: 700;
      font-size: 12px;
      margin: 0;
    }
  }
}

.action-list {
  user-select: none;
  -webkit-user-select: none;
  .action-list-item {
    @include selection-list-item();
    user-select: none;
    -webkit-user-select: none;
    .action-list-item-content {
      margin-left: 30px;
      user-select: none;
      -webkit-user-select: none;
    }
    &.disabled {
      .action-description {
        text-decoration: line-through;
        opacity: 0.5;
      }
    }
  }
}

.file-list {
  .file-list-item {
    @include selection-list-item();
    .file-list-item-content {
      margin-left: 30px;
    }
  }
}

.project-list {
  .project-list-item {
    &:hover {
      cursor: pointer;
      background: #f2f2f2;
    }
  }
}

.learn-result-list {
  .learn-result-list-item {
    @include selection-list-item();
    .learn-result-list-item-content {
      margin-left: 30px;
    }
    .comment {
      padding: 4px 0 0 8px;
      border-left: 2px solid #ddd;
    }
    .label-danger {
      margin-top: 3px;
      margin-right: 8px;
    }
  }
}

.counter-list {
  .counter-list-item {
    @include selection-list-item();
    .counter-list-item-content {
      margin-left: 30px;
    }
  }
}

.symbol-group-list {
  .symbol-group-list-item {
    padding: 10px 0;
    margin-bottom: 30px;
    transition: opacity, margin 100ms;

    &.collapsed {
      opacity: 0.5;
      margin-bottom: 0;
    }

    .symbol-group-list-item-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;

      .collapse-button {
        margin-right: 8px;
      }

      .buttons {
        margin-right: 15px;
      }

      .content {
        margin-left: 30px;
      }
    }

    .symbol-group-list-item-content {
      padding-left: 20px;
    }

    .symbol-group-title {
      font-size: 16px;
      display: inline-block;
      margin: 0;
    }
  }
}

/* Other Stuff
============================================================================== */

.separator-small {
  margin: 12px 0;
}

.observation-table {
  .line {
    border-top: 2px solid #666;
  }
}

.learn-results-panel {
  border-right: 1px solid #ddd;

  .close-button {
    margin-left: 5px
  }

  .learn-results-panel-navigation {
    margin-right: 7px;
  }
}

.panel-sidebar {
  position: absolute;
  right: 0;
  transform: translate(320px, 0);
  bottom: 0;
  top: 42px;
  width: 320px;
  background: #f2f2f2;
  border: 1px solid #e7e7e7;
  z-index: 1;
  overflow: auto;
  padding: 10px;
  transition: transform 200ms;

  &.show {
    transform: translate(0, 0);
  }

  .panel {
    border-radius: 0;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-bottom: 2px solid #ddd;

    .panel-heading {
      padding: 10px 15px;
    }

    .panel-body {
      padding: 10px 15px;
    }
  }
}

.action-types-accordion {
  margin-bottom: 0;

  .panel-title {
    font-size: 12px;
  }
  .panel-body {
    padding: 0;

    a {
      display: block;
      padding: 5px 15px;
      color: $text-color;
      border-bottom: 1px solid #eee;

      &:hover {
        background: #f2f2f2;
        text-decoration: none;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

.add-panel-button {
  position: absolute;
  z-index: 1000;
  right: 12px;
  bottom: 12px;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  color: #fff;
  background: #5cb85c;
  padding-top: 11px;
  cursor: pointer;
  opacity: 0.75;
  &:hover {
    opacity: 1.0;
  }
}

#load-screen-indicator {
  position: absolute;
  top: 50%;
  width: 100%
}

.absolute-panel {
  $absolute-panel-header-height: 42px;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  .absolute-panel-header {
    position: relative;
    z-index: 50;
    width: 100%;
    height: $absolute-panel-header-height;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 6px 15px;
  }
  .absolute-panel-body {
    position: absolute;
    top: $absolute-panel-header-height;
    bottom: 0;
    width: 100%;
    overflow: auto;
  }
}

.alert-container {
  margin-top: 25px;
}

.learn-results-compare-wrapper,
.learn-start-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.learn-results-compare-wrapper {
  .learn-results .absolute-panel-body {
    padding: 25px;
    .list-group {
      max-width: 1170px;
      margin: auto;
    }
  }
}

.learn-loading-indicator {
  margin-top: 54px;
}