<div class="modal-header">
  <a class="btn btn-default btn-icon pull-right" ng-click="vm.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
  <h3 class="modal-title">Update webhook <em>{{::vm.webhook.name}}</em></h3>
  <p class="text-muted mb-0">{{::vm.webhook.url}}</p>
</div>

<div class="modal-body">
  <webhook-form webhook="vm.webhook" events="vm.events"></webhook-form>

  <div ng-if="vm.errorMessage != null">
    <hr/>
    <div class="alert alert-condensed alert-danger mb-0">
      <strong class="d-block">The webhook could not be updated.</strong>
      <span ng-bind="vm.errorMessage"></span>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary btn-sm" ng-click="vm.updateWebhook()">Update</button>
  <button class="btn btn-default btn-sm" ng-click="vm.dismiss()">Cancel</button>
</div>
