<div ng-if="vm.action !== null">
    <div ng-switch on="vm.action.type">

        <!-- web actions -->
        <alert-accept-dismiss-action-form action="vm.action" ng-switch-when="web_alertAcceptDismiss"></alert-accept-dismiss-action-form>
        <alert-get-text-action-form action="vm.action" ng-switch-when="web_alertGetText"></alert-get-text-action-form>
        <alert-send-keys-action-form action="vm.action" ng-switch-when="web_alertSendKeys"></alert-send-keys-action-form>
        <browser-action-form action="vm.action" ng-switch-when="web_browser"></browser-action-form>
        <check-for-node-action-form action="vm.action" ng-switch-when="web_checkForNode"></check-for-node-action-form>
        <check-for-text-action-form action="vm.action" ng-switch-when="web_checkForText"></check-for-text-action-form>
        <check-page-title-action-form action="vm.action" ng-switch-when="web_checkPageTitle"></check-page-title-action-form>
        <clear-input-action-form action="vm.action" ng-switch-when="web_clear"></clear-input-action-form>
        <click-action-form action="vm.action" ng-switch-when="web_click"></click-action-form>
        <click-element-by-text-action-form action="vm.action" ng-switch-when="web_clickElementByText"></click-element-by-text-action-form>
        <click-link-by-text-action-form action="vm.action" ng-switch-when="web_clickLinkByText"></click-link-by-text-action-form>
        <execute-script-action-form action="vm.action" ng-switch-when="web_executeScript"></execute-script-action-form>
        <move-mouse-action-form action="vm.action" ng-switch-when="web_moveMouse"></move-mouse-action-form>
        <open-action-form action="vm.action" ng-switch-when="web_goto"></open-action-form>
        <select-action-form action="vm.action" ng-switch-when="web_select"></select-action-form>
        <send-keys-action-form action="vm.action" ng-switch-when="web_fill"></send-keys-action-form>
        <submit-action-form action="vm.action" ng-switch-when="web_submit"></submit-action-form>
        <wait-for-node-action-form action="vm.action" ng-switch-when="web_waitForNode"></wait-for-node-action-form>
        <wait-for-node-attribute-action-form action="vm.action" ng-switch-when="web_waitForNodeAttribute"></wait-for-node-attribute-action-form>
        <wait-for-title-action-form action="vm.action" ng-switch-when="web_waitForTitle"></wait-for-title-action-form>
        <wait-for-text-action-form action="vm.action" ng-switch-when="web_waitForText"></wait-for-text-action-form>
        <press-key-action-form action="vm.action" ng-switch-when="web_pressKey"></press-key-action-form>
        <check-node-attribute-value-action-form action="vm.action" ng-switch-when="web_checkNodeAttributeValue"></check-node-attribute-value-action-form>
        <switch-to-action-form action="vm.action" ng-switch-when="web_switchTo"></switch-to-action-form>
        <switch-to-frame-action-form action="vm.action" ng-switch-when="web_switchToFrame"></switch-to-frame-action-form>

        <!-- rest actions -->
        <request-action-form action="vm.action" ng-switch-when="rest_call"></request-action-form>
        <check-attribute-exists-action-form action="vm.action" ng-switch-when="rest_checkAttributeExists"></check-attribute-exists-action-form>
        <check-attribute-type-action-form action="vm.action" ng-switch-when="rest_checkAttributeType"></check-attribute-type-action-form>
        <check-attribute-value-action-form action="vm.action" ng-switch-when="rest_checkAttributeValue"></check-attribute-value-action-form>
        <check-header-field-action-form action="vm.action" ng-switch-when="rest_checkHeaderField"></check-header-field-action-form>
        <check-http-body-action-form action="vm.action" ng-switch-when="rest_checkForText"></check-http-body-action-form>
        <check-status-action-form action="vm.action" ng-switch-when="rest_checkStatus"></check-status-action-form>
        <validate-json-action-form action="vm.action" ng-switch-when="rest_validateJson"></validate-json-action-form>

        <!-- general actions -->
        <assert-counter-action-form action="vm.action" ng-switch-when="assertCounter"></assert-counter-action-form>
        <assert-variable-action-form action="vm.action" ng-switch-when="assertVariable"></assert-variable-action-form>
        <increment-counter-action-form action="vm.action" ng-switch-when="incrementCounter"></increment-counter-action-form>
        <set-counter-action-form action="vm.action" ng-switch-when="setCounter"></set-counter-action-form>
        <set-variable-action-form action="vm.action" ng-switch-when="setVariable"></set-variable-action-form>
        <set-variable-by-cookie-action-form action="vm.action" ng-switch-when="setVariableByCookie"></set-variable-by-cookie-action-form>
        <set-variable-by-html-action-form action="vm.action" ng-switch-when="setVariableByHTML"></set-variable-by-html-action-form>
        <set-variable-by-json-action-form action="vm.action" ng-switch-when="setVariableByJSON"></set-variable-by-json-action-form>
        <set-variable-by-node-attribute-action-form action="vm.action" ng-switch-when="setVariableByNodeAttribute"></set-variable-by-node-attribute-action-form>
        <set-variable-by-node-count-action-form action="vm.action" ng-switch-when="setVariableByNodeCount"></set-variable-by-node-count-action-form>
        <set-variable-by-regex-group-action-form action="vm.action" ng-switch-when="setVariableByRegexGroup"></set-variable-by-regex-group-action-form>
        <wait-action-form action="vm.action" ng-switch-when="wait"></wait-action-form>
    </div>
    <hr>
    <div class="form-group">
        <label>Output on failure <span class="text-muted">(optional)</span></label>
        <input class="form-control" type="text" ng-model="vm.action.errorOutput" placeholder="Failed">
    </div>
    <hr>
    <p>
        <a href="" ng-click="vm.showOptions = !vm.showOptions">
            <i class="fa fa-gear fa-fw"></i> More options
        </a>
    </p>
    <div uib-collapse="!vm.showOptions">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="vm.action.negated"> Negate
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="vm.action.ignoreFailure"> Ignore failure
            </label>
        </div>
    </div>
</div>
