<div class="symbol-group-tree">
    <symbol-group-header
        group="vm.group"
        selected-symbols="vm.selectedSymbols"
        collapse="vm.collapse"
    >
    </symbol-group-header>
    <div uib-collapse="vm.collapse">
        <div class="children" ng-if="vm.group.groups.length > 0">
            <learner-setup-symbol-group-tree
                ng-repeat="group in vm.group.groups | orderBy:'-name':true"
                group="group"
                level="{{vm.level + 1}}"
                selected-symbols="vm.selectedSymbols"
                reset-symbol="vm.resetSymbol"
                on-reset-symbol-selected="vm.resetSymbolSelected(symbol)"
            >
            </learner-setup-symbol-group-tree>
        </div>
        <div class="symbol-list" ng-if="vm.group.symbols.length > 0">
            <div
                ng-repeat="symbol in vm.group.symbols | orderBy:'-name':true"
                ng-class="{'bg-info': vm.resetSymbol === symbol}"
            >
                <symbol-item
                    selectable="symbol !== vm.resetSymbol"
                    symbol="symbol"
                    selected-symbols="vm.selectedSymbols"
                >

                <span
                    class="label cursor-pointer"
                    ng-class="{'label-outline-default' : vm.resetSymbol !== symbol, 'label-primary': vm.resetSymbol === symbol}"
                    ng-click="vm.resetSymbolSelected(symbol)"
                >
                    Reset
                </span>

                </symbol-item>
            </div>
        </div>
    </div>
</div>


