<aside id="sidebar">

    <header id="sidebar-header">
        <a href="#home" class="sidebar-header-button logo-button">
            <img src="assets/images/favicon.png" height="18" width="18"> <strong>LEX</strong>
        </a>
        <a href="" class="sidebar-header-button toggle-button" ng-click="vm.toggleCollapse()">
            <i class="fa" ng-class="vm.collapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
        </a>
        <a ui-sref="about" class="sidebar-header-button about-button">
            <i class="fa fa-question-circle"></i>
        </a>
    </header>

    <div id="sidebar-body">
        <div class="sidebar-group" ng-if="vm.user">
            <div class="sidebar-group-title">
                <strong>User</strong>
            </div>
            <a ui-sref="usersSettings" class="sidebar-group-item" uib-tooltip="Settings" tooltip-placement="right"
               ng-class="{'active':vm.isState('usersSettings')}">
                <div class="sidebar-group-item-icon">
                    <i class="fa fa-fw fa-user"></i>
                </div>
                <div class="sidebar-group-item-label">Settings</div>
            </a>
            <a href class="sidebar-group-item" uib-tooltip="Logout" tooltip-placement="right"
               ng-click="vm.logout()">
                <div class="sidebar-group-item-icon">
                    <i class="fa fa-fw fa-sign-out"></i>
                </div>
                <div class="sidebar-group-item-label">Logout</div>
            </a>
        </div>

        <div class="sidebar-group" ng-if="vm.user.role === 'ADMIN'">
            <div class="sidebar-group-title">
                <strong>Admin</strong>
            </div>
            <a ui-sref="settings" class="sidebar-group-item" uib-tooltip="App Settings" tooltip-placement="right"
               ng-class="{'active':vm.isState('settings')}">
                <div class="sidebar-group-item-icon">
                    <i class="fa fa-fw fa-gears"></i>
                </div>
                <div class="sidebar-group-item-label">App settings</div>
            </a>
            <a ui-sref="adminUsers" class="sidebar-group-item" uib-tooltip="User Management" tooltip-placement="right"
               ng-class="{'active':vm.isState('adminUsers')}">
                <div class="sidebar-group-item-icon">
                    <i class="fa fa-fw fa-users"></i>
                </div>
                <div class="sidebar-group-item-label">Manage users</div>
            </a>
        </div>

        <div class="sidebar-group" ng-if="vm.user && !vm.project">
            <div class="sidebar-group-title">
                <strong>Projects</strong>
            </div>
            <a ui-sref="projects" class="sidebar-group-item" uib-tooltip="Projects" tooltip-placement="right"
               ng-class="{'active':vm.isState('projects')}">
                <div class="sidebar-group-item-icon">
                    <i class="fa fa-fw fa-briefcase"></i>
                </div>
                <div class="sidebar-group-item-label">Overview</div>
            </a>
        </div>

        <div ng-if="vm.project && vm.user">
            <div class="sidebar-group">
                <div class="sidebar-group-title">
                    <strong ng-bind="vm.project.name"></strong>
                </div>
                <a ui-sref="projectsDashboard" class="sidebar-group-item" ng-class="{'active':vm.isState('projectsDashboard')}"
                   uib-tooltip="Dashboard" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-dashboard"></i>
                    </div>
                    <div class="sidebar-group-item-label">Dashboard</div>
                </a>
                <a ui-sref="files" class="sidebar-group-item" ng-class="{'active':vm.isState('files')}"
                   uib-tooltip="Files" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-file"></i>
                    </div>
                    <div class="sidebar-group-item-label">Files</div>
                </a>
                <a class="sidebar-group-item" ng-click="vm.closeProject()"
                   uib-tooltip="Close Project" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-sign-out"></i>
                    </div>
                    <div class="sidebar-group-item-label">Close {{vm.project.name}}</div>
                </a>
            </div>

            <div class="sidebar-group">
                <div class="sidebar-group-title">Symbols</div>
                <a ui-sref="symbols" class="sidebar-group-item"
                   ng-class="{'active':vm.isState('symbols', 'symbolsActions', 'symbolsHistory')}"
                   uib-tooltip="Manage Symbols" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-list-alt"></i>
                    </div>
                    <div class="sidebar-group-item-label">Manage</div>
                </a>
                <a ui-sref="symbolsTest" class="sidebar-group-item"
                   ng-class="{'active':vm.isState('symbolsTest')}"
                   uib-tooltip="Test Symbols" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-bug"></i>
                    </div>
                    <div class="sidebar-group-item-label">Test</div>
                </a>
                <a ui-sref="symbolsTrash" class="sidebar-group-item" ng-class="{'active':vm.isState('symbolsTrash')}"
                   uib-tooltip="Symbols Trash" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-trash"></i>
                    </div>
                    <div class="sidebar-group-item-label">Trash</div>
                </a>
            </div>

            <div class="sidebar-group">
                <div class="sidebar-group-title">Learning</div>
                <a ui-sref="learnerSetup" class="sidebar-group-item"
                   ng-class="{'active':vm.isState('learnerSetup', 'learnerStart')}"
                   uib-tooltip="Learn Setup" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-play"></i>
                    </div>
                    <div class="sidebar-group-item-label">Setup</div>
                </a>
                <a ui-sref="results" class="sidebar-group-item"
                   ng-class="{'active':vm.isState('results', 'resultsCompare', 'statisticsCompare')}"
                   uib-tooltip="Learn Results" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-sitemap"></i>
                    </div>
                    <div class="sidebar-group-item-label">Results</div>
                </a>
                <a ui-sref="counters" class="sidebar-group-item" ng-class="{'active':vm.isState('counters')}"
                   uib-tooltip="Manage Counters" tooltip-placement="right">
                    <div class="sidebar-group-item-icon">
                        <i class="fa fa-fw fa-list-ol"></i>
                    </div>
                    <div class="sidebar-group-item-label">Counters</div>
                </a>
            </div>
        </div>
    </div>
</aside>
