<div class="list-group">
    <div class="list-group-item" ng-if="vm.projects.length > 0" ng-repeat="project in vm.projects | orderBy:'-name':true">
        <div class="btn-group btn-group-xs pull-right" uib-dropdown>
            <button type="button" class="btn btn-default btn-icon dropdown-toggle" uib-dropdown-toggle>
                <i class="fas fa-bars"></i>
            </button>
            <ul uib-dropdown-menu class="dropdown-menu pull-left" role="menu">
                <li>
                    <a href="" ng-click="vm.openProject(project)">
                        <i class="far fa-fw fa-external-alt"></i> Open
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="" ng-click="vm.editProject(project)">
                        <i class="fas fa-edit fa-fw"></i> Edit
                    </a>
                </li>
                <li>
                    <a href="" ng-click="vm.deleteProject(project)">
                        <i class="fas fa-trash fa-fw"></i> Delete
                    </a>
                </li>
            </ul>
        </div>
        <h4 class="list-group-item-heading">
            <strong>
                <a href="" ng-bind="project.name" ng-click="vm.openProject(project)"></a>
            </strong>
        </h4>
        <p class="list-group-item-text">
            <span ng-bind="project.getDefaultUrl().url"></span> <br>
            <span class="text-muted" ng-if="project.description" ng-bind="project.description"></span>
        </p>
    </div>
    <div class="alert alert-info" ng-if="vm.projects.length == 0">
        You haven't created a project yet.
    </div>
</div>
