<div class="list-group">
    <div class="list-group-item d-flex flex-row" ng-if="vm.projects.length > 0" ng-repeat="project in vm.projects | orderBy:'-name':true">
        <div class="w-100">
            <a ui-sref="project({projectId: project.id})">
                <h5 class="list-group-item-heading mb-0">
                    <strong>{{project.name}}</strong>
                </h5>
            </a>
            <p class="text-muted mb-0">
                {{project.getDefaultEnvironment().urls[0].url}}
            </p>
        </div>
        <div>
            <div class="btn-group btn-group-xs" uib-dropdown>
                <button type="button" class="btn btn-default btn-icon dropdown-toggle no-caret" uib-dropdown-toggle>
                    <i class="fas fa-bars"></i>
                </button>
                <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu">
                    <a class="dropdown-item" href="" ng-click="vm.openProject(project)">
                        <i class="fas fa-fw fa-external-link-alt"></i> Open
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="" ng-click="vm.editProject(project)">
                        <i class="fas fa-edit fa-fw"></i> Edit
                    </a>
                    <a class="dropdown-item" href="" ng-click="vm.deleteProject(project)">
                        <i class="fas fa-trash fa-fw"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-info" ng-if="vm.projects.length == 0">
        You haven't created a project yet.
    </div>
</div>
