<div class="d-flex flex-row">
    <div class="w-100" ng-if="vm.collapse">
        <span
            class="badge d-inline-block"
            style="margin-left: 3px"
            ng-repeat="output in vm.outputs track by $index"
            ng-class="{'badge-success': output.success,'badge-danger':!output.success}"
        >
            {{output.output}}
        </span>
    </div>
    <div class="w-100" ng-if="!vm.collapse">
        <table class="table table-hollow">
            <tbody>
            <tr ng-repeat="output in vm.outputs track by $index">
                <td style="width: 1px" class="text-right">
                    <a
                        ui-sref="symbol({projectId: vm.project.id, symbolId: output.symbol.id})"
                        class="badge badge-default cursor-pointer"
                    >
                        {{output.symbol.name}}
                    </a>
                </td>
                <td class="w-100">
                    <span
                        class="badge"
                        ng-class="{'badge-success': output.success,'badge-danger':!output.success}"
                    >
                        {{output.output}}
                    </span>
                    <output-error-trace [output]="output" [show-first]="false"></output-error-trace>
                </td>
                <td style="width: 1px">
                    <i
                        class="fa fa-fw fa-search cursor-pointer result-details-icon"
                        uib-tooltip="Details"
                        tooltip-placement="left"
                        ng-click="vm.showResultDetails(output)"
                    >
                    </i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <i
            class="fas fa-fw cursor-pointer"
            ng-class="{'fa-caret-square-down': !vm.collapse, 'fa-caret-square-right': vm.collapse}"
            ng-click="vm.toggleCollapse()"
            uib-tooltip="Show details" tooltip-placement="left"
        >
        </i>
    </div>
</div>
