<div class="view">
    <view-header title="Manage Users"></view-header>

    <action-bar>
        <div ng-if="vm.users.length > 0">
            <checkbox-multiple model="vm.users" class="pull-left"></checkbox-multiple>

            <div class="pull-left">
                <button class="btn btn-sm btn-primary" ng-click="vm.deleteSelectedUsers()"
                        ng-class="{'disabled': vm.selectedUsers.length === 0}">
                    Delete
                </button>
            </div>
        </div>
    </action-bar>

    <div class="view-body">
        <div class="alx-container">

            <h3>{{ vm.users.length}} Registered Users</h3>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th width="1">&nbsp;</th>
                    <th width="1">ID</th>
                    <th width="1">Email</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.users"
                    ng-class="{'success': user.id === vm.user.id, 'info': user.role === 'ADMIN' && user.id !== vm.user.id}"
                    selection-model
                    selection-model-selected-items="vm.selectedUsers">
                    <td>
                        <checkbox selection-model-ignore class="pull-left" ng-if="user.role !== 'ADMIN'" model="user"></checkbox>
                    </td>
                    <td ng-bind="user.id"></td>
                    <td ng-bind="user.email"></td>
                    <td>
                        <span class="label"
                              ng-class="user.role === 'ADMIN' ? 'label-danger' : 'label-primary'"
                              ng-bind="user.role | formatUserRole"></span>
                    </td>
                    <td>
                        <button class="btn btn-icon btn-xs pull-right" user-edit-modal-handle user="user">
                            <i class="fa fa-edit fa-fw"></i> Edit
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>