<div class="view">
    <view-header title="ALEX is learning"></view-header>

    <div class="learn-start-wrapper flex-column" ng-if="vm.active">
        <div class="alx-container-fluid learn-loading-indicator">
            <div>
                <div class="alert alert-info">
                    <button class="btn btn-info btn-xs pull-right" ng-click="vm.abort()">
                        <i class="fa fa-close fa-fw"></i> Abort
                    </button>
                    <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp; Application is
                    <span ng-if="!vm.learnerPhase">...</span>
                    <strong ng-if="vm.learnerPhase === 'LEARNING'">learning</strong>
                    <strong ng-if="vm.learnerPhase === 'EQUIVALENCE_TESTING'">equivalence testing</strong>
                </div>
            </div>

            <div ng-if="vm.statistics">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th width="140">&nbsp;</th>
                            <th>Total</th>
                            <th>Learner</th>
                            <th>EQ Oracle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Time passed</strong></td>
                            <td ng-bind="(vm.duration | formatMilliseconds)"></td>
                            <td ng-bind="(vm.statistics.duration.learner | formatMilliseconds)"></td>
                            <td ng-bind="(vm.statistics.duration.eqOracle | formatMilliseconds)"></td>
                        </tr>
                        <tr>
                            <td><strong>MQs executed</strong></td>
                            <td ng-bind="vm.statistics.mqsUsed.total"></td>
                            <td ng-bind="vm.statistics.mqsUsed.learner"></td>
                            <td ng-bind="vm.statistics.mqsUsed.eqOracle"></td>
                        </tr>
                        <tr>
                            <td><strong>Symbols executed</strong></td>
                            <td ng-bind="vm.statistics.symbolsUsed.total"></td>
                            <td ng-bind="vm.statistics.symbolsUsed.learner"></td>
                            <td ng-bind="vm.statistics.symbolsUsed.eqOracle"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <view-header title="Current hypothesis" ng-if="vm.result" style="border-top: 1px solid #ddd"></view-header>
        <learn-result-panel result="vm.result" ng-if="vm.result"></learn-result-panel>
    </div>

    <div class="learn-start-wrapper flex-row" ng-if="!vm.active">
        <learn-result-panel result="vm.result" ng-if="vm.result">
            <div class="btn-group btn-group-sm learn-result-panel-resume-button">
                <button class="btn btn-success" ng-click="vm.resumeLearning()">Resume</button>
                <button class="btn btn-success" ng-click="vm.toggleSidebar()"
                        uib-tooltip="{{vm.showSidebar ? 'Close settings' : 'Show settings'}}"
                        tooltip-placement="left">
                    <i class="fa fa-fw" ng-class="vm.showSidebar ? 'fa-close' : 'fa-gear'"></i>
                </button>
            </div>
        </learn-result-panel>

        <div class="panel-sidebar" ng-class="{'show': vm.showSidebar}" ng-if="vm.resumeConfig !== null">
            <learn-resume-settings-widget configuration="vm.resumeConfig">
            </learn-resume-settings-widget>

            <counterexamples-widget
                    ng-if="vm.resumeConfig.eqOracle.type === 'sample'"
                    counterexamples="vm.resumeConfig.eqOracle.counterExamples"
                    result="vm.result">
            </counterexamples-widget>
        </div>
    </div>
</div>