<div class="view">
    <view-header title="Statistics"></view-header>

    <action-bar>
        <div ng-if="vm.results.length > 0">
            <checkbox-multiple model="vm.results" class="pull-left"></checkbox-multiple>

            <div class="btn-group btn-group-sm pull-left" uib-dropdown>
                <button class="btn btn-primary btn-dropdown"
                        uib-dropdown-toggle dropdown-hover
                        ng-class="{'disabled': vm.selectedResults.length === 0}">
                    Create Chart
                </button>
                <ul uib-dropdown-menu class="dropdown-menu" role="menu" ng-if="vm.selectedResults.length === 1">
                    <li>
                        <a href="" ng-click="vm.createChartFinalResult(vm.selectedResults[0])">
                            <i class="fa fa-fw fa-bar-chart"></i> Cumulated Result
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="vm.createChartCompleteResult(vm.selectedResults[0])">
                            <i class="fa fa-fw fa-area-chart"></i> Complete Result
                        </a>
                    </li>
                </ul>
                <ul uib-dropdown-menu class="dropdown-menu" role="menu" ng-if="vm.selectedResults.length > 1">
                    <li>
                        <a href="" ng-click="vm.createChartSelectedFinalResults()">
                            <i class="fa fa-fw fa-bar-chart"></i> Cumulated Results
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="vm.createChartSelectedCompleteResults()">
                            <i class="fa fa-fw fa-area-chart"></i> Complete Results
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <button class="btn btn-sm btn-default" style="margin-left: 4px;"
                ng-class="{'disabled':vm.selectedResults.length === 0}"
                ng-click="vm.exportSelectedAsCSV()">
            <i class="fa fa-fw fa-download"></i> Export as CSV
        </button>
    </action-bar>

    <div class="view-body has-sub-nav">
        <div class="alx-container-fluid">

            <div class="learn-result-list" ng-if="vm.results.length > 0">
                <learn-result-list-item ng-repeat="result in vm.results | orderBy:'-testNo':false" result="result"
                                        selection-model selection-model-selected-items="vm.selectedResults"
                                        link-to="statistics">

                    <div class="btn-group btn-group-xs" uib-dropdown>
                        <button type="button" class="btn btn-default btn-icon dropdown-toggle" uib-dropdown-toggle dropdown-hover>
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul uib-dropdown-menu class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="" ng-click="vm.createChartFinalResult(result)">
                                    <i class="fa fa-fw fa-bar-chart"></i> Chart for cumulated step
                                </a>
                            </li>
                            <li>
                                <a href="" ng-click="vm.createChartCompleteResult(result)">
                                    <i class="fa fa-fw fa-area-chart"></i> Chart for all steps
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="" ng-click="vm.exportAsCSV(result)">
                                    <i class="fa fa-fw fa-download"></i> Export as CSV
                                </a>
                            </li>
                        </ul>
                    </div>

                </learn-result-list-item>
            </div>

            <div class="alert alert-info" ng-if="vm.results.length === 0">
                You have not run any tests yet.
            </div>

        </div>
    </div>
</div>