<div class="alert alert-condensed alert-warning mb-3" *ngIf="config.browser != null && config.browser !== '' && !availableBrowsersList.includes(config.browser)">
  The browser you selected is currently not available: <strong>{{config.browser | formatWebBrowser}}</strong>.
  Please select another one.
</div>

<div class="form-group">
  <label class="control-label">Browser</label>
  <select [(ngModel)]="config.browser" class="form-control" required>
    <option [value]="''" disabled>Select a browser</option>
    <option *ngFor="let item of availableBrowsers | keyvalue" [value]="item.key">{{item.key | formatWebBrowser}}</option>
  </select>
</div>

<div class="form-group">
  <label class="control-label">Width</label>
  <input
    class="form-control"
    placeholder="Browser width in px"
    required
    type="number"
    name="browser_width"
    [(ngModel)]="config.width"
  >
</div>

<div class="form-group">
  <label class="control-label">Height</label>
  <input
    class="form-control"
    placeholder="Browser height in px"
    required
    type="number"
    name="browser_height"
    [(ngModel)]="config.height"
  >
</div>

<hr>
<p>
  <button (click)="timeoutsCollapsed = !timeoutsCollapsed; $event.preventDefault()" class="btn btn-sm btn-default">
    Timeouts
    <i [ngClass]="{'fa-caret-right' : timeoutsCollapsed, 'fa-caret-down': !timeoutsCollapsed}" class="fas fa-fw"></i>
  </button>
</p>
<div [ngbCollapse]="timeoutsCollapsed">
  <div class="form-group">
    <label class="control-label">Implicitly wait <em class="text-muted">(seconds)</em></label>
    <input [(ngModel)]="config.implicitlyWait" class="form-control" min="0" placeholder="Implicit wait time" required
           type="number">
  </div>
  <div class="form-group">
    <label class="control-label">Page load timeout <em class="text-muted">(seconds)</em></label>
    <input [(ngModel)]="config.pageLoadTimeout" class="form-control" min="0" placeholder="Page load timeout" required
           type="number">
  </div>
  <div class="form-group">
    <label class="control-label">Script timeout <em class="text-muted">(seconds)</em></label>
    <input [(ngModel)]="config.scriptTimeout" class="form-control" min="0" placeholder="Script timeout" required
           type="number">
  </div>
</div>

