<div class="view">
  <action-bar>
    <div class="container d-flex">
      <button (click)="updateSettings()" class="btn btn-sm btn-success ml-auto">
        <i class="fas fa-save fa-fw"></i> Save
      </button>
    </div>
  </action-bar>

  <div class="view-body settings">
    <div *ngIf="settings != null" class="container">

      <div class="card mb-4">
        <div class="card-header">
          <h5>Web drivers</h5>
        </div>
        <div class="card-body p-0">
          <div class="list-group-flush">

            <div class="list-group-item d-flex flex-row">
              <div class="w-100 pr-3">
                <div class="form-group mb-0">
                  <label><strong>Chrome</strong></label>
                  <input [(ngModel)]="settings.driver.chrome" class="form-control" placeholder="Enter the absolute path to the chromedriver executable"
                         type="text">
                  <p class="form-text text-muted mb-0">
                    You can find the latest ChromeDriver
                    <a href="https://sites.google.com/a/chromium.org/chromedriver/downloads" rel="nofollow"
                       target="_blank">
                      here
                    </a>.
                  </p>
                </div>
              </div>
              <div class="flex-shrink-0">
                <button
                  (click)="makeDriverDefault(webBrowsers.CHROME)"
                  [ngClass]="getDefaultButtonClass(webBrowsers.CHROME)"
                  class="btn btn-sm"
                >
                  Default
                </button>
              </div>
            </div>

            <div class="list-group-item d-flex flex-row">
              <div class="w-100 pr-3">
                <div class="form-group mb-0">
                  <label><strong>Firefox</strong></label>
                  <input [(ngModel)]="settings.driver.firefox" class="form-control" placeholder="Enter the absolute path to the geckodriver executable"
                         type="text">

                  <p class="form-text text-muted mb-0">
                    You can find the latest driver
                    <a href="https://github.com/mozilla/geckodriver/releases" rel="nofollow" target="_blank">
                      here
                    </a>.
                  </p>
                </div>
              </div>
              <div class="flex-shrink-0">
                <button
                  (click)="makeDriverDefault(webBrowsers.FIREFOX)"
                  [ngClass]="getDefaultButtonClass(webBrowsers.FIREFOX)"
                  class="btn btn-sm"
                >
                  Default
                </button>
              </div>
            </div>

            <div class="list-group-item d-flex flex-row">
              <div class="w-100 pr-3">
                <div class="form-group mb-0">
                  <label><strong>Edge</strong></label>
                  <input [(ngModel)]="settings.driver.edge" class="form-control" placeholder="Enter the absolute path to the edgedriver executable"
                         type="text">

                  <p class="form-text text-muted mb-0">
                    You can find the latest driver
                    <a href="https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/" rel="nofollow"
                       target="_blank">
                      here
                    </a>.
                  </p>
                </div>
              </div>
              <div class="flex-shrink-0">
                <button
                  (click)="makeDriverDefault(webBrowsers.EDGE)"
                  [ngClass]="getDefaultButtonClass(webBrowsers.EDGE)"
                  class="btn btn-sm"
                >
                  Default
                </button>
              </div>
            </div>

            <div class="list-group-item d-flex flex-row">
              <div class="w-100 pr-3">
                <div class="form-group mb-0">
                  <label><strong>Internet Explorer</strong></label>
                  <input [(ngModel)]="settings.driver.ie" class="form-control" placeholder="Enter the absolute path to the IEDriver executable"
                         type="text">

                  <p class="form-text text-muted mb-0">
                    You can find the driver for Selenium 3.11.0
                    <a href="http://selenium-release.storage.googleapis.com/index.html?path=3.11/" rel="nofollow"
                       target="_blank">
                      here
                    </a>.
                  </p>
                </div>
              </div>
              <div class="flex-shrink-0">
                <button
                  (click)="makeDriverDefault(webBrowsers.IE)"
                  [ngClass]="getDefaultButtonClass(webBrowsers.IE)"
                  class="btn btn-sm"
                >
                  Default
                </button>
              </div>
            </div>

            <div class="list-group-item d-flex flex-row">
              <div class="w-100 pr-3">
                <div class="form-group mb-0">
                  <label><strong>Remote Selenium Server</strong></label>
                  <input [(ngModel)]="settings.driver.remote" class="form-control" placeholder="Enter the URL to the remote Selenium Server"
                         type="text">

                  <p class="form-text text-muted mb-0">
                    You can find Selenium server 3.11.0
                    <a href="http://selenium-release.storage.googleapis.com/index.html?path=3.11/" rel="nofollow"
                       target="_blank">
                      here
                    </a>.
                  </p>
                </div>
              </div>
              <div class="flex-shrink-0">
                <button
                  (click)="makeDriverDefault(webBrowsers.REMOTE)"
                  [ngClass]="getDefaultButtonClass(webBrowsers.REMOTE)"
                  class="btn btn-sm"
                >
                  Default
                </button>
              </div>
            </div>

            <div class="list-group-item d-flex flex-row">
              <div class="w-100 pr-3">
                <div class="form-group mb-0">
                  <label><strong>HTML Unit</strong></label>
                </div>
              </div>
              <div class="flex-shrink-0">
                <button
                  (click)="makeDriverDefault(webBrowsers.HTML_UNIT)"
                  [ngClass]="getDefaultButtonClass(webBrowsers.HTML_UNIT)"
                  class="btn btn-sm"
                >
                  Default
                </button>
              </div>
            </div>

            <div class="list-group-item d-flex flex-row">
              <div class="w-100 pr-3">
                <div class="form-group mb-0">
                  <label><strong>Safari</strong></label>
                </div>
              </div>
              <div class="flex-shrink-0">
                <button
                  (click)="makeDriverDefault(webBrowsers.SAFARI)"
                  [ngClass]="getDefaultButtonClass(webBrowsers.SAFARI)"
                  class="btn btn-sm"
                >
                  Default
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5>User registration</h5>
        </div>
        <div class="card-body p-0">
          <div class="list-group list-group-flush">
            <div class="list-group-item d-flex flex-row">
              <div class="w-100 pr-3">
                <strong>Allow public user registration</strong><br>
                <div class="text-muted">
                  If disabled, no new user account can be created.
                </div>
              </div>
              <div>
                <div class="form-group form-check">
                  <label class="form-check-label">
                    <input [(ngModel)]="settings.allowUserRegistration" class="form-check-input" type="checkbox">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
