<h4><strong>Check Attribute Value</strong></h4>

<p class="text-muted">Check a JSON attribute of the response body to be a specific value</p>
<hr>

<div class="form-group">
    <input class="form-control" type="text" placeholder="json attribute, e.g. myobj.attr[1].obj"
           ng-model="action.attribute">
</div>
<div class="form-group">
    <input class="form-control" type="text" placeholder="the attribute value"
           ng-model="action.value">
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="action.regexp"> is regular expression
    </label>
</div>