<h4><strong>Set Variable By Node Value</strong></h4>

<p class="text-muted">
    Set the value of a variable to the content of a HTML element
</p>
<hr>
<label>Name</label>

<div class="form-group">
    <input type="text" class="form-control" ng-model="action.name"
           placeholder="The name of the variable">
</div>
<label>Selector</label>

<div class="form-group">
    <input class="form-control" ng-model="action.value" placeholder="The CSS3 selector to the element">
</div>

<a class="btn btn-default btn-sm" html-element-picker model="action.value">
    <i class="fa fa-magic fa-fw"></i>&nbsp; WebPicker
</a>