<div class="view view-test-case">
    <view-header [title]="'Test Management'"></view-header>
    <action-bar>
        <button class="btn btn-sm btn-success mr-2" ng-disabled="vm.active" ng-click="vm.save()">
            <i class="fas fa-fw fa-save"></i> Save
        </button>
        <div class="btn-group btn-group-sm float-right mr-0">
            <button class="btn btn-primary" ng-click="vm.execute()" ng-disabled="vm.active">
                Execute
            </button>
            <button class="btn btn-primary" ng-click="vm.openTestConfigModal()" ng-disabled="vm.active">
                <i class="fas fa-fm fa-cog"></i>
            </button>
        </div>
    </action-bar>
    <div class="view-body">
        <div class="container-fluid">

            <div ng-if="vm.result">
                <div class="alert alert-danger" ng-if="!vm.result.passed">
                    <i class="fas fa-fw fa-times float-right" ng-click="vm.result = null"></i>
                    <i class="fas fa-fw fa-exclamation-circle"></i> <strong>The test case failed.</strong>
                    <a ng-if="vm.testConfig.createReport"
                       href="{{'#!/projects/' + vm.project.id + '/tests/reports/' + vm.report.id}}">(Show report)</a>
                </div>
                <div class="alert alert-success" ng-if="vm.result.passed">
                    <i class="fas fa-fw fa-times float-right" ng-click="vm.result = null"></i>
                    <i class="fas fa-fw fa-check"></i> <strong>The test case passed.</strong>
                    <a ng-if="vm.testConfig.createReport"
                       href="{{'#!/projects/' + vm.project.id + '/tests/reports/' + vm.report.id}}">(Show report)</a>
                </div>
                <hr>
            </div>

          <div ng-if="vm.active">
            <div class="alert alert-info" >
              <i class="fas fa-fw fa-circle-notch fa-spin"></i> The test is being executed.
            </div>
            <hr>
          </div>

            <div class="d-flex align-items-center">
                <div class="mr-1">
                  <a
                    class="btn btn-sm btn-default"
                    href="{{'#!/projects/' + vm.testCase.project + '/tests/' + vm.testCase.parent}}"
                  >
                    <i class="fas fa-fw fa-level-up-alt"></i>
                  </a>
                </div>
                <h4 class="w-100 m-0">
                  <strong>
                    <i class="fas fa-fw fa-file"></i> {{vm.testCase.name}}
                  </strong>
                </h4>
                <div>
                  <div class="btn-group btn-group-sm" uib-dropdown>
                    <button type="button" class="btn btn-default" uib-dropdown-toggle>
                      <i class="fas fa-cogs"></i>
                    </button>
                    <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="" ng-click="vm.options.showSymbolOutputs = !vm.options.showSymbolOutputs">
                          <i class="fas fa-fw" ng-class="{'fa-check': vm.options.showSymbolOutputs}"></i> Show symbol outputs
                        </a>
                    </div>
                  </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 col-sm-5">

                    <div class="card">
                      <div class="card-header">
                        <strong class="text-muted">Symbols</strong>
                      </div>
                      <div class="card-body">
                        <div style="height: 31px; position: relative; z-index: 10" class="mb-2">
                          <symbol-search-form groups="vm.groups" on-selected="vm.addSymbolStep(symbol)"></symbol-search-form>
                        </div>

                        <simple-symbol-group-tree groups="vm.groups" on-symbol-selected="vm.addSymbolStep(symbol)"></simple-symbol-group-tree>
                      </div>
                    </div>

                </div>
                <div class="col-md-9 col-sm-7">

                  <test-case-table
                    *ngIf="vm.testCase != null"
                    [test-case]="vm.testCase"
                    [symbol-map]="vm.symbolMap"
                    [options]="vm.options"
                    [result]="vm.result"
                  >
                  </test-case-table>

                </div>
            </div>
        </div>
    </div>
</div>
