<div class="view view-test-case">
    <view-header title="Test Management"></view-header>
    <action-bar>
        <button class="btn btn-sm btn-success mr-2" ng-disabled="vm.active" ng-click="vm.save()">
            <i class="fas fa-fw fa-save"></i> Save
        </button>
        <button class="btn btn-sm btn-default" ng-disabled="vm.active"
                ui-sref="test({projectId: vm.testCase.project, testId: vm.testCase.parent})">
            <i class="fas fa-fw fa-times"></i> Cancel
        </button>
        <div class="btn-group btn-group-sm float-right mr-0">
            <button class="btn btn-primary" ng-click="vm.execute()" ng-disabled="vm.active">
                Execute
            </button>
            <button class="btn btn-primary" ng-click="vm.openTestConfigModal()" ng-disabled="vm.active">
                <i class="fas fa-fm fa-cog"></i>
            </button>
        </div>
    </action-bar>
    <div class="view-body">
        <div class="container-fluid">

            <div ng-if="vm.result">
                <div class="alert alert-danger" ng-if="!vm.result.passed">
                    <i class="fas fa-fw fa-times float-right" ng-click="vm.result = null"></i>
                    <i class="fas fa-fw fa-exclamation-circle"></i> <strong>The test case failed.</strong>
                    <a ng-if="vm.testConfig.createReport"
                       ui-sref="testReport({projectId: vm.project.id, reportId: vm.report.id})">(Show report)</a>
                </div>
                <div class="alert alert-success" ng-if="vm.result.passed">
                    <i class="fas fa-fw fa-times float-right" ng-click="vm.result = null"></i>
                    <i class="fas fa-fw fa-check"></i> <strong>The test case passed.</strong>
                    <a ng-if="vm.testConfig.createReport"
                       ui-sref="testReport({projectId: vm.project.id, reportId: vm.report.id})">(Show report)</a>
                </div>
                <hr>
            </div>

          <div ng-if="vm.active">
            <div class="alert alert-info" >
              <i class="fas fa-fw fa-circle-notch fa-spin"></i> The test is being executed.
            </div>
            <hr>
          </div>


            <div class="d-flex align-items-center">
                <div class="mr-1">
                  <button class="btn btn-sm btn-default"
                          ui-sref="test({projectId: vm.testCase.project, testId: vm.testCase.parent})">
                    <i class="fas fa-fw fa-level-up-alt"></i>
                  </button>
                </div>
                <h4 class="w-100 m-0">
                  <strong>
                    <i class="fas fa-fw fa-file"></i> {{vm.testCase.name}}
                  </strong>
                </h4>
                <div>
                  <div class="btn-group btn-group-sm" uib-dropdown>
                    <button type="button" class="btn btn-default" uib-dropdown-toggle>
                      <i class="fas fa-cogs"></i>
                    </button>
                    <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="" ng-click="vm.options.showSymbolOutputs = !vm.options.showSymbolOutputs">
                          <i class="fas fa-fw" ng-class="{'fa-check': vm.options.showSymbolOutputs}"></i> Show symbol outputs
                        </a>
                    </div>
                  </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 col-sm-5">

                    <div class="card">
                      <div class="card-header">
                        <strong class="text-muted">Symbols</strong>
                      </div>
                      <div class="card-body">
                        <div style="height: 31px; position: relative; z-index: 10" class="mb-2">
                          <symbol-search-form groups="vm.groups" on-selected="vm.addSymbolStep(symbol)"></symbol-search-form>
                        </div>

                        <simple-symbol-group-tree groups="vm.groups" on-symbol-selected="vm.addSymbolStep(symbol)"></simple-symbol-group-tree>
                      </div>
                    </div>

                </div>
                <div class="col-md-9 col-sm-7">

                    <pre-post-test-case-step
                      text="Pre"
                      groups="vm.groups"
                      steps="vm.testCase.preSteps"
                    >
                    </pre-post-test-case-step>
                    <hr>

                    <table class="table" ng-if="vm.testCase.steps.length > 0">
                      <thead>
                        <tr>
                          <th width="1">&nbsp;</th>
                          <th>Symbol</th>
                          <th>Expected output</th>
                          <th>Actual output</th>
                          <th width="1">&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody dragula='"testSymbols"' dragula-model="vm.testCase.steps">
                        <tr ng-repeat="step in vm.testCase.steps track by $index" ng-class="{'table-danger': vm.result && vm.result.failedStep === $index}">
                          <td>
                            <i class="fas fa-grip-vertical handle text-muted cursor-grabbing"></i>
                          </td>

                          <td>
                            <div>
                              <strong>
                                <a
                                  class="text-black"
                                  ui-sref="symbol({project: vm.project.id, symbolId: step.pSymbol.symbol.id})"
                                >
                                  {{step.pSymbol.symbol.name}}
                                </a>
                              </strong>
                              <span ng-if="vm.symbolMap[step.pSymbol.symbol.id].steps.length === 0"
                                    class="badge badge-info">
                                Not implemented
                              </span>
                              <div ng-if="step.pSymbol.parameterValues.length > 0" style="margin-top: .5rem">
                                <symbol-parameters parameter-values="step.pSymbol.parameterValues"></symbol-parameters>
                              </div>
                              <div ng-if="vm.options.showSymbolOutputs && step.pSymbol.symbol.outputs.length > 0"
                                   style="margin-top: .25rem">
                                <div ng-repeat="output in step.pSymbol.symbol.outputs" style="margin-bottom: 4px">
                                  <i class="fas fa-fw fa-level-up-alt fa-rotate-90"></i>
                                  <span class="output">
                                    <strong>{{output.name}}</strong>: <em>{{output.parameterType}}</em>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="flex-shrink-0">
                              <span ng-click="step.expectedOutputSuccess = !step.expectedOutputSuccess">{{step.expectedOutputSuccess ? 'Ok' : 'Failed'}}</span>
                              <span ng-class="{'visibility-hidden': step.expectedOutputMessage === ''}">(</span>
                              <input type="text" ng-model="step.expectedOutputMessage" style="max-width: 60px; margin: 0; padding: 0; border: 0; background: none; outline: none">
                              <span ng-class="{'visibility-hidden': step.expectedOutputMessage === ''}">)</span>
                            </div>
                          </td>
                          <td>
                            <div ng-if="vm.result.outputs[$index]">
                                <div>{{vm.result.outputs[$index].output}}</div>
                                <output-error-trace output="vm.result.outputs[$index]" show-first="false"></output-error-trace>
                            </div>
                          </td>
                          <td>
                            <i class="fas fa-times cursor-pointer" ng-click="vm.testCase.steps.splice($index, 1)"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="alert alert-info" ng-if="!vm.testCase.steps.length">
                        Select a symbol to model the test case.
                    </div>

                    <hr>
                    <pre-post-test-case-step
                      text="Post"
                      groups="vm.groups"
                      steps="vm.testCase.postSteps"
                    >
                    </pre-post-test-case-step>

                </div>
            </div>
        </div>
    </div>
</div>
