<div class="modal-header">

    <a class="btn btn-default btn-icon pull-right" ng-click="vm.closeModal()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Create Action</h3>
    <span class="text-muted">Create a new action for a symbol</span>
</div>

<form ng-submit="vm.createAction()" id="action-create-form">

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-4">

                <uib-accordion close-others="true" class="action-types-accordion">
                    <div uib-accordion-group class="panel-default" is-open="true">
                        <uib-accordion-heading>
                            <div><strong>Web</strong></div>
                        </uib-accordion-heading>

                        <a href="" ng-click="vm.selectNewActionType('web_clear')">Clear input</a>
                        <a href="" ng-click="vm.selectNewActionType('web_click')">Click element</a>
                        <a href="" ng-click="vm.selectNewActionType('web_clickLinkByText')">Click link by text</a>
                        <a href="" ng-click="vm.selectNewActionType('web_fill')">Fill input</a>
                        <a href="" ng-click="vm.selectNewActionType('web_checkForText')">Search for text</a>
                        <a href="" ng-click="vm.selectNewActionType('web_checkForNode')">Search element</a>
                        <a href="" ng-click="vm.selectNewActionType('web_checkNodeAttributeValue')">Check attribute value</a>
                        <a href="" ng-click="vm.selectNewActionType('web_checkPageTitle')">Check page title</a>
                        <a href="" ng-click="vm.selectNewActionType('web_submit')">Submit form</a>
                        <a href="" ng-click="vm.selectNewActionType('web_goto')">Open URL</a>
                        <a href="" ng-click="vm.selectNewActionType('web_select')">Select from list</a>
                        <a href="" ng-click="vm.selectNewActionType('web_moveMouse')">Move mouse</a>
                        <a href="" ng-click="vm.selectNewActionType('web_pressKey')">Press key</a>
                        <a href="" ng-click="vm.selectNewActionType('web_waitForTitle')">Wait for the title</a>
                        <a href="" ng-click="vm.selectNewActionType('web_waitForNode')">Wait for an element</a>
                        <a href="" ng-click="vm.selectNewActionType('web_executeScript')">Execute JavaScript</a>
                    </div>

                    <div uib-accordion-group class="panel-default">
                        <uib-accordion-heading>
                            <div><strong>REST</strong></div>
                        </uib-accordion-heading>

                        <a href="" ng-click="vm.selectNewActionType('rest_call')">Make request</a>
                        <a href="" ng-click="vm.selectNewActionType('rest_checkStatus')">Check status</a>
                        <a href="" ng-click="vm.selectNewActionType('rest_checkHeaderField')">Check header field</a>
                        <a href="" ng-click="vm.selectNewActionType('rest_checkForText')">Search in body</a>
                        <a href="" ng-click="vm.selectNewActionType('rest_checkAttributeExists')">Check attribute</a>
                        <a href="" ng-click="vm.selectNewActionType('rest_checkAttributeValue')">Check attribute value</a>
                        <a href="" ng-click="vm.selectNewActionType('rest_checkAttributeType')">Check attribute type</a>
                    </div>

                    <div uib-accordion-group class="panel-default">
                        <uib-accordion-heading>
                            <div><strong>Misc</strong></div>
                        </uib-accordion-heading>

                        <a href="" ng-click="vm.selectNewActionType('assertCounter')">Assert counter</a>
                        <a href="" ng-click="vm.selectNewActionType('assertVariable')">Assert variable</a>
                        <a href="" ng-click="vm.selectNewActionType('executeSymbol')">Execute symbol</a>
                        <a href="" ng-click="vm.selectNewActionType('incrementCounter')">Increment counter</a>
                        <a href="" ng-click="vm.selectNewActionType('setCounter')">Set counter</a>
                        <a href="" ng-click="vm.selectNewActionType('setVariable')">Set variable</a>
                        <a href="" ng-click="vm.selectNewActionType('setVariableByCookie')">Set variable by cookie</a>
                        <a href="" ng-click="vm.selectNewActionType('setVariableByJSON')">Set variable by JSON</a>
                        <a href="" ng-click="vm.selectNewActionType('setVariableByHTML')">Set variable by HTML</a>
                        <a href="" ng-click="vm.selectNewActionType('setVariableByNodeAttribute')">Set variable by node attribute</a>
                        <a href="" ng-click="vm.selectNewActionType('wait')">Wait</a>
                    </div>
                </uib-accordion>

            </div>
            <div class="col-xs-8">

                <div class="alert alert-info alert-condensed" ng-show="vm.action === null">
                    Please select an action type
                </div>

                <action-form action="vm.action" symbols="vm.symbols" ng-if="vm.action !== null"></action-form>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="" class="btn btn-info btn-sm" ng-click="vm.createActionAndContinue()">Create and Continue</a>
        <button class="btn btn-primary btn-sm" type="submit">Create</button>
    </div>

</form>