<div class="modal-header">

    <a class="btn btn-default btn-icon pull-right" ng-click="vm.close()">
        <i class="fa fa-close fa-fw"></i>
    </a>

    <h3 class="modal-title">Move Symbols</h3>
    <span class="text-muted">Move Symbols into another group</span>

</div>

<div class="modal-body">

    <div class="alert alert-info alert-condensed">
        <span ng-bind="vm.symbols.length"></span> symbols selected
    </div>

    <ul class="list-group no-margin-bottom">
        <li class="list-group-item" ng-repeat="group in vm.groups"
            ng-class="{'active': vm.selectedGroup === group}"
            ng-click="vm.selectGroup(group)">
            <span ng-bind="group.name"></span>
        </li>
    </ul>

</div>

<div class="modal-footer">
    <button class="btn btn-sm btn-primary" ng-click="vm.moveSymbols()">Move</button>
</div>

