<h4><strong>Open URL</strong></h4>

<p class="text-muted">
    Open a URL that is <strong>relative</strong> to your projects' base URL
</p>
<hr>

<div class="form-group">
    <label class="control-label">Url</label>
    <input class="form-control" type="text" placeholder="url" ng-model="vm.action.url">
</div>

<hr>

<h4><strong>Authentication</strong></h4>
<p class="text-muted">
    Use Basic HTTP authentication (optional)
</p>
<div class="form-group">
    <label class="control-label">Name</label>
    <input class="form-control" type="text" ng-model="vm.action.credentials.name" placeholder="Name">
</div>
<div class="form-group">
    <label class="control-label">Password</label>
    <input class="form-control" type="text" ng-model="vm.action.credentials.password" placeholder="Password">
</div>
