<div>
  <small *ngIf="groups" class="text-muted">{{getSymbolPath(pSymbol.symbol)}}</small>
  <br>
  <strong>
    <a
      class="text-black"
      [routerLink]="['/app', 'projects', appStore.project.id, 'symbols', pSymbol.symbol.id]"
    >
      {{pSymbol.symbol.name}}
    </a>
  </strong>
  <span
    *ngIf="symbolMap[pSymbol.symbol.id]?.steps.length === 0"
    class="badge badge-info"
  >
    Not implemented
  </span>
  <div>
    <symbol-input-values [parameterizedSymbol]="pSymbol"></symbol-input-values>
  </div>
</div>
