<div class="modal-header">
  <h4 class="modal-title">Create a new counter</h4>
  <a class="btn btn-default btn-icon float-right" (click)="modal.dismiss()">
    <i class="fas fa-times fa-fw"></i>
  </a>
</div>

<form [formGroup]="createForm" (ngSubmit)="createCounter()">

  <div class="modal-body">

    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <div class="form-group">
      <label>Name</label>
      <input
        class="form-control"
        type="text"
        placeholder="The name of the counter"
        required
        [formControl]="createForm.controls.name"
        [class.is-invalid]="isInvalidFormControl(createForm.controls.name)"
      >
      <div class="invalid-feedback">
        Please provide a name for the counter.
      </div>
    </div>

    <div class="form-group">
      <label>Value</label>
      <input
        class="form-control"
        name="value"
        type="number"
        placeholder="The value of the counter"
        required
        min="0"
        [formControl]="createForm.controls.value"
        [class.is-invalid]="isInvalidFormControl(createForm.controls.value)"
      >
      <div class="invalid-feedback">
        Please a value greater than 0.
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" type="submit" [disabled]="createForm.invalid">Create</button>
    <button class="btn btn-default btn-sm" (click)="modal.dismiss(); $event.stopPropagation()">Cancel</button>
  </div>

</form>
