<div class="view">
    <view-header title="Counters"></view-header>

    <action-bar>
        <checkbox-multiple model="vm.counters" class="pull-left"></checkbox-multiple>

        <div class="pull-left">
            <button class="btn btn-sm btn-primary" ng-click="vm.createCounter()">
                Create
            </button>

            <button class="btn btn-sm btn-default" ng-click="vm.deleteSelectedCounters()">
                Delete
            </button>
        </div>
    </action-bar>

    <div class="view-body">
        <div class="alx-container-fluid">

            <div class="alert alert-info alert-condensed" ng-show="vm.counters.length">
                <i class="fa fa-info fa-fw"></i>
                Deleted counters will be created as soon as they are used in a learning process, starting with value 0.
            </div>

            <div class="list-group" ng-if="vm.counters.length">
                <div class="list-group-item" ng-repeat="counter in vm.counters">
                    <div class="d-flex" ng-if="counter.name !== vm.counterUnderEdit.name">

                        <checkbox selection-model-ignore model="counter" style="margin-right: 12px"></checkbox>
                        <div class="flex-grow-1">
                            <strong ng-bind="counter.name"></strong><br>
                            <span class="text-muted">Value: <span ng-bind="counter.value"></span></span>
                        </div>
                        <div>
                            <div class="btn-group btn-group-sm" uib-dropdown>
                                <button class="btn btn-icon btn-dropdown" uib-dropdown-toggle>
                                    <i class="fa fa-fw fa-bars"></i>
                                </button>
                                <ul uib-dropdown-menu class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a href="" ng-click="vm.setCounterUnderEdit(counter)">
                                            <i class="fa fa-fw fa-edit"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="vm.deleteCounter(counter)">
                                            <i class="fa fa-fw fa-trash"></i> Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div ng-if="counter.name === vm.counterUnderEdit.name">

                        <div class="panel panel-default no-margin-bottom">
                            <div class="panel-heading">
                                <strong>Edit counter: {{counter.name}}</strong>
                            </div>
                            <div class="panel-body">
                                <form ng-submit="vm.updateCounter()" class="d-flex">
                                    <div class="form-group flex-grow-1 no-margin-bottom" style="margin-right: 8px">
                                        <input class="form-control" type="number" min="0" placeholder="The value of the counter"
                                               ng-model="vm.counterUnderEdit.value">
                                    </div>
                                    <div class="form-group no-margin-bottom" style="margin-right: 8px">
                                        <input class="btn btn-primary" type="submit" value="Update">
                                    </div>
                                    <div class="form-group no-margin-bottom">
                                        <a href="" class="btn btn-default" ng-click="vm.counterUnderEdit = null">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="alert alert-info" ng-if="!vm.counters.length">
                There aren't any counters yet
            </div>

        </div>
    </div>
</div>