<div class="view">
    <view-header title="Files"></view-header>

    <action-bar>
        <div ng-if="vm.files.length > 0">
            <checkbox-multiple model="vm.files" class="pull-left"></checkbox-multiple>
            <button class="btn btn-default btn-sm" ng-click="vm.deleteSelectedFiles()">Delete</button>
        </div>
    </action-bar>

    <div class="view-body">
        <div class="alx-container-fluid">

            <div ngf-drop ngf-select class="alert alert-info" ng-model="vm.filesToUpload" ng-if="!vm.filesToUpload.length"
                 ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="false">
                Drag & drop files here or click to upload
            </div>

            <div ng-show="vm.filesToUpload.length">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-primary" ng-click="vm.upload()">
                        <span class="label label-info" ng-bind="vm.filesToUpload.length"></span>&nbsp; Upload Files
                    </button>
                    <button class="btn btn-primary">
                        <span ng-bind="vm.progress"></span>%
                    </button>
                </div>

                <button class="btn btn-default btn-sm pull-right"
                        ng-click="vm.filesToUpload = null">
                    <i class="fa fa-fw fa-close"></i> Cancel
                </button>
            </div>

            <hr>

            <div class="list-group" ng-if="vm.files.length > 0">
                <div class="list-group-item d-flex"
                     ng-repeat="file in vm.files"
                     selection-model
                     selection-model-selected-items="vm.selectedFiles">

                    <checkbox selection-model-ignore class="pull-left" model="file"></checkbox>
                    <div class="flex-grow-1 ml-1 mr-1">
                        <span ng-bind="file.name"></span>
                    </div>
                    <button class="btn btn-icon btn-xs pull-right"
                            ng-click="vm.deleteFile(file)">
                        <i class="fa fa-fw fa-trash"></i> Delete
                    </button>
                </div>
            </div>

            <div class="alert alert-info" ng-if="vm.files.length === 0">
                There are no uploaded files
            </div>

        </div>
    </div>
</div>