<div class="alx-container" id="view-home">
    <img id="logo" src="images/logo.png">

    <div class="row">
        <div class="col-lg-4 col-lg-push-4 col-md-6 col-md-push-3 col-sm-6 col-sm-push-3">

            <div class="panel panel-default">
                <div class="panel-body">
                    <uib-tabset justified="true">
                        <uib-tab heading="Login">
                            <br>
                            <user-login-form></user-login-form>
                        </uib-tab>
                        <uib-tab heading="Create account">
                            <br>
                            <user-register-form></user-register-form>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>

        </div>
    </div>

</div>