<div class="view">
    <view-header title="Projects"></view-header>

    <div class="view-body">
        <div class="alx-container">

            <div class="row">
                <div class="col-md-4 col-sm-5">
                    <h3>Create a new project</h3>
                    <hr>
                    <project-create-form on-created="vm.projects.push(project)"></project-create-form>
                </div>
                <div class="col-md-8 col-sm-7">
                    <h3>All projects</h3>
                    <hr>
                    <project-list projects="vm.projects"></project-list>
                </div>
            </div>

        </div>
    </div>
</div>