<div class="view">
    <view-header title="Settings"></view-header>

    <div class="view-body settings">
        <div class="alx-container">

            <form ng-submit="vm.updateSettings()">
                <h3>Driver</h3>
                <p class="text-muted">
                    Configure web drivers that can be used for learning.
                    As soon as a path has been entered, it will appear in the learn config modal.
                    Make sure the drivers are executable on the system.
                </p>

                <hr>

                <div class="form-group">
                    <label>ChromeDriver path</label>
                    <input class="form-control" ng-model="vm.settings.driver.chrome"
                           placeholder="Enter the absolute path to the chromedriver executable">

                    <p class="help-block">
                        You can find the latest ChromeDriver over at the
                        <a href="https://sites.google.com/a/chromium.org/chromedriver/downloads" target="_blank">
                        ChromeDriver download page</a>.
                    </p>
                </div>

                <div class="form-group">
                    <label>Geckodriver path</label>
                    <input class="form-control" ng-model="vm.settings.driver.firefox"
                           placeholder="Enter the absolute path to the geckodriver executable">

                    <p class="help-block">
                        You can find the latest driver over at the
                        <a href="https://github.com/mozilla/geckodriver/releases" target="_blank">Mozilla Geckodriver
                        Github Repository</a>.
                    </p>
                </div>

                <div class="form-group">
                    <label>Edgedriver path</label>
                    <input class="form-control" ng-model="vm.settings.driver.edge"
                           placeholder="Enter the absolute path to the edgedriver executable">

                    <p class="help-block">
                        You can find the latest driver over at the
                        <a href="https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/" target="_blank">
                            Edge developer page
                        </a>.
                    </p>
                </div>

                <hr>

                <div class="form-group">
                    <label>Per default, use</label>
                    <select class="form-control" ng-options="(v|formatWebBrowser) for (k,v) in vm.webBrowsers"
                            ng-model="vm.settings.driver.defaultDriver">
                    </select>
                </div>

                <button class="btn btn-sm btn-primary">Save settings</button>
            </form>

        </div>
    </div>
</div>