<div class="view">
    <view-header title="Manage Symbols"></view-header>

    <action-bar>
        <div ng-if="vm.groups.length > 0">
            <checkbox-multiple model-fn="vm.getAllSymbols()" class="pull-left"></checkbox-multiple>

            <div class="btn-group btn-group-sm" uib-dropdown>
                <button class="btn btn-primary btn-dropdown" uib-dropdown-toggle>
                    Create <i class="fa fa-fw fa-caret-down"></i>
                </button>
                <ul uib-dropdown-menu class="dropdown-menu" role="menu">
                    <li>
                        <a href="" symbol-create-modal-handle>Symbol</a>
                    </li>
                    <li>
                        <a href="" symbol-group-create-modal-handle>Group</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group btn-group-sm">
                <button class="btn btn-default"
                        symbol-edit-modal-handle symbol="vm.selectedSymbols[0]"
                        ng-class="{'disabled' : !(vm.selectedSymbols.length === 1)}">
                    Edit
                </button>
                <button class="btn btn-default"
                        symbol-move-modal-handle symbols="vm.selectedSymbols"
                        ng-class="{'disabled' : vm.selectedSymbols.length === 0}">
                    Move
                </button>
                <button class="btn btn-default"
                        ng-class="{'disabled' : vm.selectedSymbols.length === 0}"
                        ng-click="vm.deleteSelectedSymbols()">
                    Delete
                </button>
            </div>

            <div class="btn-group btn-group-sm" uib-dropdown>
                <button class="btn btn-default" symbols-import-modal-handle on-imported="vm.addSymbols(symbols)" uib-tooltip="Import" tooltip-placement="bottom">
                    <i class="fa fa-fw fa-upload"></i>
                </button>
                <button class="btn btn-default" ng-click="vm.exportSelectedSymbols()" uib-tooltip="Export" tooltip-placement="bottom" ng-class="{'disabled': vm.selectedSymbols.length === 0}">
                    <i class="fa fa-fw fa-download"></i>
                </button>
            </div>

            <button class="btn btn-sm btn-default" ng-click="vm.copySelectedSymbol()" uib-tooltip="Copy" tooltip-placement="bottom" ng-class="{'disabled': vm.selectedSymbols.length !== 1}">
                <i class="fa fa-fw fa-copy"></i>
            </button>
        </div>
    </action-bar>

    <div class="view-body">
        <div class="alx-container-fluid">

            <div class="symbol-group-list">
                <symbol-group-list-item ng-repeat="group in vm.groups | orderBy:'-name':true"
                                        group="group" editable="true">

                    <div class="symbol-list">
                        <symbol-list-item ng-repeat="symbol in group.symbols | orderBy:'-name':true" symbol="symbol"
                                          selection-model selection-model-selected-items="vm.selectedSymbols"
                                          selectable="true">

                            <div class="btn-group btn-group-xs pull-right" uib-dropdown>
                                <button type="button" class="btn btn-default btn-icon dropdown-toggle" uib-dropdown-toggle>
                                    <i class="fa fa-bars"></i>
                                </button>
                                <ul uib-dropdown-menu class="dropdown-menu pull-left" role="menu">
                                    <li>
                                        <a href="" symbol-edit-modal-handle symbol="symbol">
                                            <i class="fa fa-edit fa-fw"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="vm.copySymbol(symbol)">
                                            <i class="fa fa-copy fa-fw"></i> Copy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="vm.deleteSymbol(symbol)">
                                            <i class="fa fa-trash fa-fw"></i> Delete
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" symbol-move-modal-handle symbols="[symbol]">
                                            <i class="fa fa-exchange fa-fw"></i> Move
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ui-sref="symbolsActions({symbolId:symbol.id})">
                                            <i class="fa fa-list-ol fa-fw"></i> Actions
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </symbol-list-item>
                    </div>

                </symbol-group-list-item>
            </div>

        </div>
    </div>
</div>