<div class="view">
    <view-header title="Test Symbols"></view-header>

    <div class="view-body">
        <div class="alx-container">

            <div class="row">
                <div class="col-sm-9">

                    <uib-tabset>
                        <uib-tab heading="Create">
                            <br>

                            <test-case-create-form groups="vm.groups"
                                                   on-created="vm.testCases.push(testCase)"
                                                   browser-config="vm.browserConfig">
                            </test-case-create-form>
                        </uib-tab>
                        <uib-tab heading="Manage">
                            <br>

                            <div style="padding: 10px 16px 10px 16px; margin-bottom: 10px; border-bottom: 1px solid #ddd">
                                <checkbox-multiple model="vm.testCases"></checkbox-multiple>
                                <button style="margin-left: 6px" class="btn btn-sm btn-primary" ng-click="vm.executeTestCases()">Execute</button>
                            </div>

                            <div class="list-group" ng-if="vm.testCases.length">
                                <div class="list-group-item" ng-repeat="testCase in vm.testCases">
                                    <div class="d-flex">
                                        <checkbox model="testCase"></checkbox>
                                        <div class="flex-grow-1" style="padding: 0 10px;">
                                            <strong>{{testCase.name}}</strong>
                                        </div>
                                        <div>
                                            <div class="btn-group btn-group-xs" uib-dropdown>
                                                <button type="button" class="btn btn-default btn-icon dropdown-toggle" uib-dropdown-toggle>
                                                    <i class="fa fa-bars"></i>
                                                </button>
                                                <ul uib-dropdown-menu class="dropdown-menu pull-right" role="menu">
                                                    <li>
                                                        <a href="" ng-click="vm.testCaseUnderEdit = testCase">
                                                            <i class="fa fa-edit fa-fw"></i> Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="" ng-click="vm.deleteTestCase(testCase)">
                                                            <i class="fa fa-trash fa-fw"></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="testCase === vm.testCaseUnderEdit">
                                        <hr>
                                        <test-case-edit-form groups="vm.groups"
                                                             test-case="testCase"
                                                             browser-config="vm.browserConfig"
                                                             on-updated="vm.updateTestCase(testCase)"
                                                             on-dismiss="vm.testCaseUnderEdit = null">
                                        </test-case-edit-form>
                                    </div>
                                </div>
                            </div>

                            <div class="alert alert-info" ng-if="!vm.testCases.length">
                                There are no saved test cases yet.
                            </div>

                        </uib-tab>
                    </uib-tabset>

                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Config
                        </div>
                        <div class="panel-body">
                            <browser-config-form config="vm.browserConfig"></browser-config-form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>