<div class="view">
    <view-header title="Test Management"></view-header>
    <action-bar>
        <div class="alx-container">
            <checkbox-multiple model="vm.tests" class="pull-left"></checkbox-multiple>
            <div class="btn-group btn-group-sm" uib-dropdown>
                <button class="btn btn-default" uib-dropdown-toggle>
                    Create <i class="fa fa-fw fa-caret-down"></i>
                </button>
                <ul uib-dropdown-menu class="dropdown-menu pull-left" role="menu">
                    <li>
                        <a href="" ng-click="vm.createTestSuite()">
                            Test suite
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="vm.createTestCase()">
                            Test case
                        </a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-default btn-sm" ng-click="vm.deleteSelected()">
                Delete
            </button>
            <button class="btn btn-primary btn-sm pull-right" ng-click="vm.executeSelected()">
                Execute
            </button>
        </div>
    </action-bar>
    <div class="view-body">
        <div class="alx-container">

            <div class="d-flex" style="align-items: center">
                <button class="btn btn-sm btn-default" ui-sref="tests({testId:vm.test.parent})"
                        ng-if="vm.test.parent !== null && vm.test.name" style="margin-right: 12px">
                    <i class="fa fa-fw fa-level-up"></i>
                </button>
                <h4 ng-if="vm.test.name" style="margin: 0;">
                    <strong><i class="fa fa-fw fa-folder-o"></i> {{vm.test.name}}</strong>
                </h4>
                <h4 ng-if="!vm.test.name" style="margin: 0; margin-top: 4px">
                    <strong><i class="fa fa-fw fa-folder-o"></i> Root</strong>
                </h4>
            </div>

            <hr>

            <div class="row">
                <div class="col-xs-9">

                    <div class="list-group test-list" ng-if="vm.tests.length">
                        <div class="list-group-item test-list-item" ng-repeat="test in vm.tests">

                            <div class="d-flex flex-row" ng-if="test.tests || test.type === 'suite'">
                                <div style="padding-right: 12px">
                                    <checkbox model="test"></checkbox>
                                </div>
                                <div style="padding-right: 12px">
                                    <i class="fa fa-fw fa-folder-o"></i>
                                </div>
                                <div class="test-list-item-content" style="width: 100%"
                                     ui-sref="tests({testId:test.id})">
                                    <div>
                                        <strong class="test-name">{{test.name}}</strong>
                                    </div>
                                    <test-result result="vm.results[test.id]" ng-if="vm.results[test.id]"></test-result>
                                </div>
                                <div>
                                    <div class="btn-group btn-group-sm" uib-dropdown>
                                        <button class="btn btn-icon btn-dropdown" uib-dropdown-toggle>
                                            <i class="fa fa-fw fa-bars"></i>
                                        </button>
                                        <ul uib-dropdown-menu class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="" ng-click="vm.editTest(test)">
                                                    <i class="fa fa-fw fa-edit"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" ng-click="vm.deleteTest(test)">
                                                    <i class="fa fa-fw fa-trash"></i> Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-row" ng-if="test.symbols || test.type === 'case'">
                                <div style="padding-right: 12px">
                                    <checkbox model="test"></checkbox>
                                </div>
                                <div style="padding-right: 12px">
                                    <i class="fa fa-fw fa-file-o"></i>
                                </div>
                                <div class="test-list-item-content" style="width: 100%"
                                     ui-sref="tests({testId:test.id})">
                                    <div>
                                        <strong class="test-name">{{test.name}}</strong>
                                    </div>
                                    <test-result result="vm.results[test.id]" ng-if="vm.results[test.id]"></test-result>
                                </div>
                                <div>
                                    <div class="btn-group btn-group-sm" uib-dropdown>
                                        <button class="btn btn-icon btn-dropdown" uib-dropdown-toggle>
                                            <i class="fa fa-fw fa-bars"></i>
                                        </button>
                                        <ul uib-dropdown-menu class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="" ng-click="vm.editTest(test)">
                                                    <i class="fa fa-fw fa-edit"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" ng-click="vm.deleteTest(test)">
                                                    <i class="fa fa-fw fa-trash"></i> Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div ng-if="vm.overallResult !== null" style="margin-top: 32px">
                        <h4><strong>Results</strong></h4>
                        <hr>

                        <div class="alert alert-success"
                             ng-if="vm.overallResult.testCasesRun > 0 && vm.overallResult.testCasesFailed === 0">
                            <i class="fa fa-fw fa-check"></i> All tests passed
                        </div>

                        <div class="alert alert-warning"
                             ng-if="vm.overallResult.testCasesFailed * vm.overallResult.testCasesPassed !== 0">
                            <i class="fa fa-fw fa-info"></i> Some tests failed
                        </div>

                        <div class="alert alert-danger"
                             ng-if="vm.overallResult.testCasesRun > 0 && vm.overallResult.testCasesPassed === 0">
                            <i class="fa fa-fw fa-warning"></i> All tests failed
                        </div>

                        <test-result result="vm.overallResult"></test-result>
                    </div>

                    <div class="alert alert-info" ng-if="!vm.tests.length">
                        There are no test suites or test cases in this test suite.
                    </div>

                </div>
                <div class="col-xs-3">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Configuration
                        </div>
                        <div class="panel-body">
                            <browser-config-form config="vm.browserConfig"></browser-config-form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>